<table class="table table-striped table-condensed">
	<thead>
	<tr ng-if="setA.attributes.length > 0 && !setB.attributes ">
		<th></th>
		<th colspan=2 class="refinery-workflow-input-label-{{setA.color}}"><b>{{setA["name"]}}</b></th>
	</tr>
	<tr ng-if="setB.attributes.length > 0 && !setA.attributes ">
		<th></th>
		<th colspan=2 class="refinery-workflow-input-label-{{setB.color}}"><b>{{setB["name"]}}</b></th>
	</tr>
	<tr ng-if="diffAttributes.length > 0">
		<th></th>
		<th class="refinery-workflow-input-label-{{setA.color}}"><b>{{setA["name"]}}</b></th>
		<th class="refinery-workflow-input-label-{{setB.color}}"><b>{{setB["name"]}}</b></th>
	</tr>
	<tr ng-if="diffAttributes.length == 0 && commonAttributes.length > 0 && setA.attributes.length > 0 && setB.attributes.length > 0">
		<th></th>
		<th colspan=2><b class="refinery-workflow-input-label-{{setA.color}}">{{setA["name"]}}</b> &amp; <b class="refinery-workflow-input-label-{{setB.color}}">{{setB["name"]}}</b> (identical files)</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-if="diffAttributes.length > 0" ng-repeat="attribute in diffAttributes">
		<td>{{attribute.name}}</td>
		<td><b>{{attribute.valueSetA}}</b></td>
		<td><b>{{attribute.valueSetB}}</b></td>
	</tr>
	<tr ng-if="commonAttributes.length > 0">
		<td>Shared</td>
		<td colspan="2"> <span ng-repeat="attribute in commonAttributes">{{attribute.name}}: <b>{{attribute.value}}</b>,&nbsp;</span>
	</tr>
	</tbody>
</table>