body {
    margin-top: 20px;
    margin-left: 30px;  
    margin-right: 30px; 
    margin-bottom: 20px;    
    background-color: #2b2d2d;
}

#header {
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
    color: #ff3391;
}

#header h1 {
    /*
    text-shadow: rgba(0,0,0,0.5) 0px 0px 2px;
    */
}

#subheader h3 {
	/*
    text-shadow: rgba(0,0,0,0.5) 0px 0px 2px;
    */
}

#subheader {
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    color: #ddde52;
}

#subheader a {
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    color: #ddde52;
    text-decoration: none;
    border-bottom: 1px solid #ddde52;
}

#footer {
    color: #fff;
    text-transform: none;   
    font: normal normal small "Lucida Grande", Lucida, Verdana, sans-serif;
    text-align: left;
    padding-top: 5px;
}

#content {
    border-top: 3px dotted #ff3391;
    border-bottom: 3px dotted #ff3391;      
    margin-bottom: 5px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #c8c2b1;
    font: small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#content a {
    color: #fffeff;
    font: small "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}


