<div ng-switch on="AMCtrl.analysesLoadingFlag">

  <span ng-switch-when="EMPTY">
    <em>No analyses performed. </em>
  </span>
  <span ng-switch-when="LOADING">
      <span class="refinery-spinner analyses-view"></span>
      &nbsp;<em>Retrieving analyses list.</em>
  </span>
  <span ng-switch-default>
    <div class="row analysis-header">
      <div class="col-md-1 analysis-icon" id="header">
        <a class="analysis-header" ng-click="order('status')">
          <strong>Status</strong>
          <span class="sortorder" ng-show="predicate === 'status'"
            ng-class="{reverse:reverse}">
             <i ng-class="analysisIcon"></i>
          </span>
        </a>
      </div>

      <div class="col-md-5 analysis-name">
        <a class="analysis-header" ng-click="order('name')">
          <strong>Name</strong>
          <span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}">
            <i ng-class="analysisIcon"></i>
          </span>
        </a>
      </div>

      <div class="col-md-1">
       <a class="analysis-header" ng-click="order('time_start')">
         <strong>Start Time</strong>
         <span class="sortorder" ng-show="predicate === 'time_start'"
           ng-class="{reverse:reverse}">
            <i ng-class="analysisIcon"></i>
         </span>
       </a>
      </div>

      <div class="col-md-1">
        <a class="analysis-header" ng-click="order('elapseTime')">
          <strong>Elapsed Time</strong>
          <span class="sortorder" ng-show="predicate === 'elapseTime'"
            ng-class="{reverse:reverse}">
             <i ng-class="analysisIcon"></i>
          </span>
        </a>
      </div>

      <div class="col-md-1">
        <a class="analysis-header" ng-click="order('time_end')">
          <strong>End Time</strong>
          <span class="sortorder" ng-show="predicate === 'time_end'"
            ng-class="{reverse:reverse}">
             <i ng-class="analysisIcon"></i>
          </span>
        </a>
      </div>

      <div class="col-md-2">
        <strong>Owner Name</strong>
      </div>

    </div>

    <ul class="analysesList">
      <li class="analysesListItems" ng-repeat="analysis in AMCtrl.analysesList |
       orderBy:predicate:reverse |
       analysisMonitorOffset:currentPage*itemsPerPage |
       limitTo: itemsPerPage track by
      analysis.uuid">

        <div class="row">
          <div class="col-md-1 analysis-icon">
            <a id="collapse-analysis-run"
              ng-click="isCollapsed = !isCollapsed"
              data-target=" #{{analysis.uuid}}"
              data-ng-show="analysis.status=='RUNNING' ||
               analysis.status=='INITIALIZED'">
              <i ng-class="{'fa fa-caret-right fa-lg analyses-collapse':
                 isCollapsed,'fa fa-caret-down fa-lg
                 analyses-collapse':!isCollapsed}">
              </i>
            </a>

            &nbsp;
            <span class="spinner">
              <i class="{{analysis.status | analysisStatusIcon}} analyses-status"
                 refinery-tooltip
                 refinery-tooltip-container="body"
                 refinery-tooltip-placement="bottom"
                 title="{{ analysis.status | analysisStatusTitle }}">
              </i>
            </span>
          </div>
          <div class="col-md-5 analysis-name">
            <span ng-switch on="analysis.status">
              <span ng-switch-when="SUCCESS">
                <a
                  ng-href='/data_sets/{{analysis.data_set__uuid}}/#/files/?{"{{analysis.facet_name}}":"{{analysis.name}}"}'
                  target='_blank'>
                  {{ analysis.name }}
                </a>
              </span>
              <span ng-switch-default>
                  {{ analysis.name }}
              </span>
            </span>
            <span ng-show="analysis.is_owner && (analysis.status=='RUNNING' ||
             analysis.status=='INITIALIZED' || analysis.status=='UNKNOWN')"
              class="analysis-cancel-col">
              &nbsp;
              <a rp-analysis-monitor-cancel-confirm
                 confirmed-click="AMCtrl.cancelAnalysis(analysis.uuid)"
                 refinery-tooltip
                 refinery-tooltip-container="body"
                 refinery-tooltip-placement="right"
                 title="Cancel Analysis">
                <i class="fa fa-times-circle analyses-cancel"></i>
              </a>
            </span>
           </div>

          <div class="col-md-1">
            <span rp-analysis-monitor-start-time-tooltip>
              {{analysis.humanizeStartTime }}
            </span>
          </div>

          <div class="col-md-1">
            {{analysis.elapseTime | analysisMonitorFormatMilliTime}}
          </div>

          <div class="col-md-1">
            <span rp-analysis-monitor-end-time-tooltip>
               {{analysis.humanizeEndTime }}
            </span>
          </div>
           <div class="col-md-2">
             <span rp-analysis-owner-name>
              <a ng-href="/users/{{ analysis.owner }}">
                {{ ownerName }}
              </a>
             </span>
          </div>

        </div>

        <span ng-if="analysis.status=='RUNNING' ||
                     analysis.status=='INITIALIZED' ||
                     analysis.status=='UNKNOWN'">
          <div class="row" id="{{analysis.uuid}}" uib-collapse="isCollapsed">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-11 analysis-running">

              <div ng-hide="AMCtrl.isAnalysisDetailLoaded(analysis.uuid)"
                  class="ng-hide">
                <div class = "analysis-retrieving">
                  <span class="refinery-spinner analyses-view"></span>
                  &nbsp;Retrieving analysis details.
                </div>
              </div>

              <div ng-show="AMCtrl.isAnalysisDetailLoaded(analysis.uuid)">
                <ul class="analysisRunningList">
                  <span ng-if="AMCtrl.analysesDetail[analysis.uuid].cancelingAnalyses == true ||
                               AMCtrl.initializedFlag[analysis.uuid] == true">
                    <li id="analyses-cancel-notice">
                      <div class="alert alert-warning">Canceling...</div>
                    </li>
                  </span>

                  <div ng-repeat="(stage, value) in AMCtrl.analysesDetail[analysis.uuid]">
                    <div ng-if="!(stage=='cancelingAnalyses' || stage=='overall')">
                      <li class="analysisRunningListItem">
                        {{ stage | camelCaseToTitle}}
                        <span refinery-tooltip
                              refinery-tooltip-container="body"
                              refinery-tooltip-placement="bottom"
                              title={{stageTooltipInfo[stage]}}>
                          <i class="fa fa-question-circle"></i>
                        </span>
                        <div ng-switch on="value.state">
                          <div ng-switch-when="SUCCESS">
                            <div class="alert alert-success">
                              {{value.state}}</div>
                          </div>
                          <div ng-switch-when="PROGRESS">
                            <div class="progress progress-analysis-bg">
                              <div
                                class="progress-bar progress-bar-striped active"
                                role="progressbar"
                                id="rf-import-{{analysis.uuid}}"
                                style="width:{{value.percent_done}}%">
                                <span class="progress-analyses-text">
                                  {{value.percent_done}}%
                                </span>
                              </div>
                            </div>
                          </div>
                          <div ng-switch-when="FAILURE">
                            <div class="alert alert-warning">
                              {{value.state}}
                            </div>
                          </div>
                          <div ng-switch-default>
                            <span ng-if="analysis.status=='UNKNOWN' &&
                            value.percent_done > 0">
                              <div class="progress progress-analysis-bg">
                                <div
                                    class="progress-bar progress-bar-striped active"
                                    role="progressbar"
                                    id="rf-import-{{analysis.uuid}}"
                                    style="width:{{value.percent_done}}%">
                                    <span class="progress-analyses-text">
                                      {{value.percent_done}}%
                                    </span>
                                </div>
                              </div>
                               <span
                                refinery-tooltip
                                refinery-tooltip-container="body"
                                refinery-tooltip-placement="bottom"
                                title="UNKNOWN status, due to possible
                                connection error.">
                                <i class="fa fa-exclamation-triangle"></i>
                              </span>
                            </span>
                            <span ng-if="value.percent_done == 0">
                              <div class="alert alert-info">PENDING</div>
                            </span>
                          </div>
                        </div>
                       </li>
                    </div>
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </span>
      </li>
    </ul>

    <br>
    <br>

    <div ng-if="AMCtrl.analysesList.length > itemsPerPage">
      <ul class="pagination analyses">
        <li ng-class="prevPageDisabled()">
          <a ng-click="prevPage()">«</a>
        </li>
        <li ng-repeat="pageNum in range()" ng-class="{active:pageNum==currentPage}"
          ng-click="setPage(pageNum)">
          <a> {{pageNum + 1}}  </a>
        </li>
        <li ng-class="nextPageDisabled()">
          <a ng-click="nextPage()">»</a>
        </li>
      </ul>
    </div>

  </span>
</div>
