<div ng-switch on="PopAMCtrl.analysesGlobalLoadingFlag">
  <div ng-switch-when="EMPTY">
    <p>
      No analyses performed.
    </p>
  </div>
  <div ng-switch-when="LOADING">
    <span class="refinery-spinner analyses-view"></span>
    &nbsp;<em>Retrieving recent analyses.</em>
  </div>
  <div ng-switch-default>
    <ul id="analyses-popover"
      ng-repeat ="analysis in PopAMCtrl.analysesGlobalList track by $index">
      <li>
        &nbsp;
        <span ng-switch on="analysis.status">
          <span ng-switch-when="UNKNOWN">
             <div ng-if="(PopAMCtrl.isAnalysesRunningGlobal())"
               class="analysis-running-percentage">
              &nbsp;
            </div>
            <div class="analyses-global-text-icon">
              <i class="{{analysis.status | analysisStatusIcon}} analyses-status"></i>
              &nbsp;
            </div>
            <div class="analyses-global-text">
              {{ analysis.name }}
            </div>
          </span>
          <span ng-switch-when="RUNNING">
            <div ng-if="(PopAMCtrl.isAnalysesRunningGlobal())"
              class="analysis-running-percentage">
              {{ PopAMCtrl.analysesGlobalDetail[analysis.uuid]|
                analysisMonitorRunningStatusPercent }}%
            </div>
            <div class="analyses-global-text-icon">
               <i class="{{PopAMCtrl.analysesGlobalDetail[analysis
                 .uuid]|analysisMonitorRunningStatusBtn}}"></i>
                &nbsp;
            </div>
            <div class="analyses-global-text">
              <a id="analyses-popover-links" ng-href="/data_sets/{{analysis.data_set__uuid}}/#/analyses">
                {{ analysis.name }}
              </a>
            </div>
          </span>
          <span ng-switch-default>
            <div ng-if="(PopAMCtrl.isAnalysesRunningGlobal())"
              class="analysis-running-percentage">
              &nbsp;
            </div>
            <div class="analyses-global-text-icon">
            <i class="{{analysis.status | analysisStatusIcon}} analyses-status"></i>
            &nbsp;
            </div>
            <div class="analyses-global-text">
              <span ng-if="analysis.status === 'SUCCESS'">
                <a id="analyses-popover-links" ng-href="/data_sets/{{analysis.data_set__uuid}}/analysis/{{analysis.uuid}}">
                  {{ analysis.name }}
                </a>
              </span>
              <span ng-if="analysis.status !== 'SUCCESS'">
                <a id="analyses-popover-links" ng-href="/data_sets/{{ analysis.data_set__uuid }}/#/analyses/">
                  {{ analysis.name }}
                </a>
              </span>
              </div>
          </span>
        </span>
      </li>
    </ul>
  </div>
</div>
