<span id="analysesCogIcon">
  <span ng-if="AMCtrl.isAnalysesRunningGlobal() ||
   AMCtrl.launchAnalysisFlag">
    <span class="spinner" id="global-analysis-status-run-div"
      refinery-tooltip
      refinery-tooltip-container="body"
      refinery-tooltip-placement="left"
      title="View Recent Analyses">
      <i class="fa fa-cog" id="global-analysis-status-run"></i>
      {{ AMCtrl.analysesRunningGlobalListCount }}
    </span>
  </span>
   <span ng-if="!(AMCtrl.isAnalysesRunningGlobal()||
    AMCtrl.launchAnalysisFlag)">
    <i class="fa fa-cog" id="global-analysis-status"
      refinery-tooltip
      refinery-tooltip-container="body"
      refinery-tooltip-placement="left"
      title="View Recent Analyses"></i>
  </span>
</span>
