<!-- this partial is unused but should be reused once the navbar is angularized -->
<span id="analysesCogIcon" class="pointer">
  <a
    uib-popover-template="'analysesgloballist.html'"
    popover-trigger="'outsideClick'"
    popover-title="Recent Analyses"
    popover-append-to-body="true"
    popover-placement="left"
    popover-class="global-analysis-popover">
    <i class="fa fa-cogs" id="global-analysis-status"
      refinery-tooltip
      refinery-tooltip-container="body"
      refinery-tooltip-placement="left"
      title="View Recent Analyses"></i>
    Analyses
  </a>
</span>


<!-- Script for popup content in the tool status and analyses icon-->
<script type="text/ng-template" id="analysesgloballist.html">
  <div>
    <rp-analysis-monitor-global-status-popover>
    </rp-analysis-monitor-global-status-popover>
  </div>
</script>
