{% extends "base.html" %}
{% load static %}
{% block title %}
{{ block.super }} - Search
{% endblock %}

{% block subheader %}
<div class="page-header">
  <h1>Search</h1>
</div>
{% endblock %}

{% block head_html %}
<script language="javascript" type="text/javascript" src="{% static "js/bootstrap/js/typeahead.js" %}"></script>


{% endblock %}

{% block content %}
    <form method="GET" action=".">
    	<table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>

<div class="row">
 <div class="col-md-2">

    <!-- Begin faceting. -->
    <h4>By Measurement</h4>
    <div>
        <dl>
            {% if facets.fields.measurement %}
                {% for measurement in facets.fields.measurement %}
                    <dd><a href="{{ request.get_full_path }}&amp;selected_facets=measurement_exact:{{ measurement.0|urlencode }}">{{ measurement.0 }}</a> ({{ measurement.1 }})</dd>
                {% endfor %}
            {% else %}
                <p>No measurement facets.</p>
            {% endif %}
        </dl>
    </div>

    <h4>By Technology</h4>
    <div>
        <dl>
            {% if facets.fields.technology %}
                {% for technology in facets.fields.technology %}
                    <dd><a href="{{ request.get_full_path }}&amp;selected_facets=technology_exact:{{ technology.0|urlencode }}">{{ technology.0 }}</a> ({{ technology.1 }})</dd>
                {% endfor %}
            {% else %}
                <p>No techology facets.</p>
            {% endif %}
        </dl>
    </div>
        

</div>
<div class="col-md-10">
        {% if query %}
        
            <h3>Results: {{ page.object_list|length }}</h3>

	<table class="table table-striped table-condensed table-bordered search-result">
		<thead>
			<tr>
				<th>
					Name
				</th>    
				<!--
				<th>
					Owner
				</th>
				-->    
			</tr>
		</thead>
		<tbody>
            {% for result in page.object_list %}
        <tr>
        	<td>
				<i class="fa fa-file"></i> <a href="{% url "data_set" result.object.uuid %}">{{ result.object.name }}</a><br>... {{ result.highlighted.text.0|safe }} ...
        	</td>
        </tr>
    {% empty %}
		No data sets available.  
    {% endfor %}
		</tbody>		
	</table>
	 
</div>

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
    
</div>
</div>    

<script>

// typeahead based investigation id
$(document).ready(function() {
    $("#id_q").typeahead({
		ajax: {
			url: "/typeahead/",
			//displayField: "name",
			triggerLength: 1,
			preDispatch: function (query) {
				//showLoadingMask(true);
	        	return {
	        		csrfmiddlewaretoken: "{{ csrf_token }}",
	            	search: query,
	            }
	   		},
	   		preProcess: function (data) {
	   			//showLoadingMask(false);
            	if (data.success === false) {
                	// Hide the list, there was some error
                	//console.log("false");
                	return false;
            	}
            	return data;
        	}
       	}
    });
});

</script>
{% endblock %}
