{% extends "base.html" %}

{% block title %}
{{ block.super }} - About
{% endblock %}

{% block subheader %}
<div class="page-header">
<h1>About {{site_name}} <small>The idea, the team, the funders</small></h1>	
</div>
{% endblock %}

{% block content %}
<div class="row-fluid">
		<div class="span8">
			<div class="row-fluid">
				<div class="refinery-panel refinery-panel-content scrollable">				
					<div class="refinery-header">
						<span class="refinery-header-left">
							<h3>Background</h3>							
						</span>
					</div>
					
					<p>
						{{site_name}} is a web-based data visualization and analysis system powered by an ISA-Tab-compatible data repository for public and private data sets. Analyses are implemented as Galaxy workflows and executed through the Galaxy API. 						
					</p>
	
					<div class="refinery-header">
						<span class="refinery-header-left">
							<h3>Contact</h3>							
						</span>
					</div>
					<p>
						You can reach the {{site_name}} team at <a href="mailto:refinery@hms.harvard.edu">refinery@hms.harvard.edu</a>.
					</p>
										
					<div class="refinery-header">
						<span class="refinery-header-left">
							<h3>Funding</h3>							
						</span>
					</div>
					<p>
						{{site_name}} is in part funded by an <b>Agilent Technologies</b> Emerging Insights Grant.
					</p>
	
				</div>
			</div>
		</div>				
		<div class="span4">
			<div class="row-fluid">
				<div class="refinery-panel refinery-panel-content scrollable">

					<div class="refinery-header">
						<span class="refinery-header-left">
							<h3>Team</h3>							
						</span>
					</div>
					
					<p>
						{{site_name}} is a project of the <a href="http://compbio.med.harvard.edu">Park Lab</a> at <a href="http://cbmi.med.harvard.edu">Harvard Medical School</a> in collaboration with the <a href="http://www.hsph.harvard.edu/faculty/winston-hide">Hide Lab</a> at <a href="http://hsph.harvard.edu">Harvard School of Public Health</a>.						
					</p>					

					<span class="refinery-subheader">
						<h4>Harvard Medical School</h4>
					</span>

					<p>
			      		<i class="icon-user"></i> Nils Gehlenborg			
					</p>
					<p>
			      		<i class="icon-user"></i> Richard Park			
					</p>
					<p>
			      		<i class="icon-user"></i> Psalm Haseley			
					</p>
					<p>
			      		<i class="icon-user"></i> Peter J Park, <i>Principal Investigator</i>			
					</p>
			
					<span class="refinery-subheader">
						<h4>Harvard School of Public Health</h4>
					</span>
					
					<p>
			      		<i class="icon-user"></i> Ilya Sytchev			
					</p>
					<p>
			      		<i class="icon-user"></i> Shannan Ho Sui			
					</p>
					<p>
			      		<i class="icon-user"></i> Winston Hide			
					</p>				
				</div>
			</div>
		</div>
</div>
{% endblock %}
