{% extends "base.html" %}

{% block title %}
{{ block.super }} - About
{% endblock %}

{% block subheader %}
<div class="page-header">
	<h1>
  		About Refinery
	</h1>
</div>
{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span8">
		<h2>Park Lab <small>Harvard Medical School</small></h2>
	</div>
	<div class="span4">
		<h2>Park Lab <small>Harvard Medical School</small></h2>
		<ul class="thumbnails">
  			<li class="span6">
    			<div class="thumbnail">
      				<img src="http://placehold.it/260x180" alt="">
	    			<div class="caption">
      					<h5>Nils Gehlenborg</h5>
      				</div>
    			</div>
  			</li>
  			<li class="span6">
    			<div class="thumbnail">
      				<img src="http://placehold.it/260x180" alt="">
	    			<div class="caption">
      					<h5>Richard Park</h5>
      				</div>
    			</div>
  			</li>
  		</ul>
  		<ul class="thumbnails">  		
  			<li class="span6">
    			<div class="thumbnail">
      				<img src="http://placehold.it/260x180" alt="">
	    			<div class="caption">
      					<h5>Psalm Haseley</h5>
      				</div>
    			</div>
  			</li>
  			<li class="span6">
    			<div class="thumbnail">
      				<img src="http://placehold.it/260x180" alt="">
	    			<div class="caption">
      					<h5>Peter J Park</h5>
      				</div>
    			</div>
  			</li>
  		</ul>
		
		<h2>Hide Lab <small>Harvard School of Public Health</small></h2>
		<ul class="thumbnails">
  			<li class="span6">
    			<div class="thumbnail">
      				<img src="http://placehold.it/260x180" alt="">
	    			<div class="caption">
      					<h5>Shannan Ho Sui</h5>
      				</div>
    			</div>
  			</li>
  			<li class="span6">
    			<div class="thumbnail">
      				<img src="http://placehold.it/260x180" alt="">
	    			<div class="caption">
      					<h5>Ilya Sytchev</h5>
      				</div>
    			</div>
  			</li>
  		</ul>
  		<ul class="thumbnails">
  			<li class="span6">
    			<div class="thumbnail">
      				<img src="http://placehold.it/260x180" alt="">
	    			<div class="caption">
      					<h5>Winston Hide</h5>
      				</div>
    			</div>
  			</li>
		</ul>
 	</div>
</div>
{% endblock %}
