{% extends "base.html" %}
{% load markup %}
{% load flatblocks %}


{% block title %}
{{ block.super }} - About
{% endblock %}

{% block subheader %}
<div class="page-header">
<h1>About {{site_name}}</h1>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    <div class="refinery-panel refinery-panel-content scrollable jquery-full-height">
					<div class="refinery-header">
						<span class="refinery-header-left">
							<h3>Background</h3>
						</span>
					</div>

					<p>

						{% flatblock "about.website.background" evaluated=True %}
					</p>

					<div class="refinery-header">
						<span class="refinery-header-left">
							<h3>Contact</h3>
						</span>
					</div>
					<p>
						{% flatblock "about.website.contact" evaluated=True %}
					</p>

					<div class="refinery-header">
						<span class="refinery-header-left">
							<h3>Funding</h3>
						</span>
					</div>
					<p>
						{% flatblock "about.website.funding" evaluated=True %}
					</p>

                    <div class="refinery-header">
                        <span class="refinery-header-left">
                            <h3>Most Recent Code for this Instance</h3>
                        </span>
                    </div>

                    <p class="CURRENT_COMMIT">{{ CURRENT_COMMIT }}</p>

			</div>
  </div>
  <div class="col-md-4">
    <div class="refinery-panel refinery-panel-content scrollable jquery-full-height">

      <div class="refinery-header">
        <span class="refinery-header-left">
          <h3>Team</h3>
        </span>
      </div>

      <p>
        {% flatblock "about.website.team" evaluated=True %}
      </p>
    </div>
  </div>
</div>
{% endblock %}
