{% extends "base.html" %}

{% load static %}

{% block head_html %}
  <link rel="stylesheet" href="{% static "vendor/select2/select2.css" %}" />
  <link rel="stylesheet" href="{% static "styles/refinery.css" %}" />
{% endblock %}

{% block title %} - Angular test{% endblock %}

{% block ng_app %}refineryApp{% endblock %}

{% block subheader %}
  <div class="page-header">
  <h1>Angular test page</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="refinery-panel refinery-panel-content scrollable">
    <div class="row-fluid">
      <div class="refinery-header">
        <span class="refinery-header-left">
          <h3>Workflows</h3>
        </span>
      </div>
    </div>
    <div ng-view></div>
  </div>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    var dataSetUuid = "{{ data_set.uuid }}";
    var externalStudyUuid = "{{ study_uuid }}";
    var externalAssayUuid = "{{ assay_uuid }}";
  </script>
  <!-- Note that jquery must be loaded before angular so that it doesn't use jqLite internally -->
  <script type="text/javascript" src="{% static "vendor/angular/angular.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/select2/select2.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/angular-ui-select2/src/select2.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/angular-resource/angular-resource.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/angular-route/angular-route.js" %}"></script>
  <script type="text/javascript" src="{% static "js/refinery.js" %}"></script>
  <script type="text/javascript" src="{% static "js/controllers.js" %}"></script>
  <script type="text/javascript" src="{% static "js/services.js" %}"></script>
{% endblock %}
