{% extends "base.html" %}

{% load static %}

{% block head_html %}
  <link rel="stylesheet" href="{% static "vendor/select2/select2.css" %}" />
  <link rel="stylesheet" href="{% static "styles/test.css" %}" />
{% endblock %}

{% block title %} - Angular test{% endblock %}

{% block ng_app %}refineryApp{% endblock %}

{% block subheader %}
  <div class="page-header">
  <h1>Angular test page</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="refinery-panel refinery-panel-content scrollable">
    <div class="row-fluid">
      <div class="refinery-header">
        <span class="refinery-header-left">
          <h3>Workflows</h3>
        </span>
      </div>
    </div>
    {% verbatim %}
    <div ng-controller="WorkflowListApiCtrl">
      <select ui-select2 ng-model="index" style="width:25%" data-placeholder="Select a workflow">
        <option value=""></option>  <!-- required for showing placeholder text -->
        <option ng-repeat="w in workflowList" value="{{$index}}">{{w.name}}</option>
      </select>
      <div>
        <strong>Name:</strong><br/>
        {{workflowList[index].name}}
      </div>
      <div>
        <strong>Inputs:</strong><br/>
        Sample mapping: {{workflowList[index].input_relationships[0].category}}<br/>
        {{workflowList[index].input_relationships[0].set1}}<br/>
        {{workflowList[index].input_relationships[0].set2}}<br/>
      </div>
    </div>
    {% endverbatim %}
  </div>
{% endblock %}

{% block script %}
<!--
  <script type="text/javascript" src="{% static "vendor/jquery/jquery.js" %}"></script>
-->
  <!-- Note that jquery must be loaded before angular so that it doesn't use jqLite internally -->
  <script type="text/javascript" src="{% static "vendor/angular/angular.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/select2/select2.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/angular-ui-select2/src/select2.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/angular-resource/angular-resource.js" %}"></script>
  <script type="text/javascript" src="{% static "js/refinery.js" %}"></script>
  <script type="text/javascript" src="{% static "js/controllers/workflows.js" %}"></script>
{% endblock %}
