{% extends "base.html" %}

{% load static %}

{% block head_html %}
  <link rel="stylesheet" href="{% static "vendor/select2/select2.css" %}" />
  <link rel="stylesheet" href="{% static "styles/refinery.css" %}" />
{% endblock %}

{% block title %} - Angular test{% endblock %}

{% block ng_app %}refineryApp{% endblock %}

{% block subheader %}
  <div class="page-header">
  <h1>Angular test page</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="refinery-panel refinery-panel-content scrollable">
    <div class="row-fluid">
      <div class="refinery-header">
        <span class="refinery-header-left">
          <h3>Workflows</h3>
        </span>
      </div>
    </div>
    {% verbatim %}
    <div ng-controller="WorkflowListApiCtrl">
      <select ui-select2 ng-model="workflowIndex" style="width:25%" data-placeholder="Select a workflow">
        <option value=""></option>  <!-- required for showing placeholder text -->
        <option ng-repeat="workflow in workflowList" value="{{$index}}">{{workflow.name}}</option>
      </select>
      <div ng-cloak ng-show="isWorkflowSelected()">
        <p><strong>Name:</strong></p>
        <p>{{workflowList[workflowIndex].name}}</p>
        <p><strong>Inputs:</strong></p>
        Sample mapping: {{getWorkflowInputRelationship().category}}<br/>
        {{getWorkflowInputRelationship().set1}}<br/>
        {{getWorkflowInputRelationship().set2}}<br/>
        <strong>Summary:</strong><br/>
        <p>{{workflowList[workflowIndex].summary}}</p>
        <strong>Author:</strong>
        <p>{{workflowList[workflowIndex].author}}</p>
        <hr />
        <div ng-controller="NodeSetListApiCtrl" ng-show="isWorkflowSingleInput()">
          <h4>Sets</h4>
          <select ui-select2 ng-model="nodesetIndex" style="width:25%" data-placeholder="Choose input set">
            <option value=""></option>  <!-- required for showing placeholder text -->
            <option ng-repeat="nodeset in nodesetList" value="{{$index}}">{{nodeset.name}}</option>
          </select>
        </div>
      </div>
    </div>
    {% endverbatim %}
  </div>
{% endblock %}

{% block script %}
  <!-- Note that jquery must be loaded before angular so that it doesn't use jqLite internally -->
  <script type="text/javascript" src="{% static "vendor/angular/angular.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/select2/select2.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/angular-ui-select2/src/select2.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/angular-resource/angular-resource.js" %}"></script>
  <script type="text/javascript" src="{% static "js/refinery.js" %}"></script>
  <script type="text/javascript" src="{% static "js/controllers/workflows.js" %}"></script>
{% endblock %}
