{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}
{{ block.super }} - Collaborate
{% endblock %}

{% block subheader %}
<div class="page-header">
  <h1>
      Group Information for
      {% if user.is_authenticated %}
        <small>
          {% if user.first_name != "" or user.last_name != "" %}
            {{ user.first_name }} {{ user.last_name }}
          {% else %}
            {{ user.username }}
        {% endif %}
        </small>
      {% endif %}
  </h1>
</div>
{% endblock %}

{% block content %}
    <div
        class="row refinery-dashboard"
        ui-view>
    </div>
{% endblock %}

