{% extends "base.html" %}

{% load static %}

{% block title %}
{{ block.super }} - Collaborate
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ STATIC_URL }}js/bootbox/bootbox.min.js"></script>
{% endblock %}

{% block subheader %}
<div class="page-header">
  <h1>
      Group Information for 
      {% if user.is_authenticated %}
        <small>
          {% if user.first_name != "" or user.last_name != "" %}
            {{ user.first_name }} {{ user.last_name }}
          {% else %}
            {{ user.username }}       
        {% endif %}
        </small>
      {% endif %}
  </h1>
</div>
{% endblock %}

{% block content %}
<div ng-controller="refineryCollaborationController">
  <div collaborate-display></div>
</div>
{% endblock %}

