{% extends "base.html" %}

{% block title %}
{{ block.super }} - Contact
{% endblock %}

{% block subheader %}
<div class="page-header">
	<h1>
  		Contact <small>Get in touch with us</small>
	</h1>
</div>
{% endblock %}

{% block content %}
<div class="row">
	<div class="refinery-panel refinery-panel-content scrollable jquery-full-height">
		<div class="col-md-12">
			<p>
			  <button class="btn btn-primary" type="button">Default button</button>
			  <button class="btn btn-info" type="button">Default button</button>
			  <button class="btn btn-success" type="button">Default button</button>
			  <button class="btn btn-warning" type="button">Default button</button>
			  <button class="btn btn-danger" type="button">Default button</button>
			  <button class="btn btn-inverse" type="button">Default button</button>
			  <button class="btn" type="button">Default button</button>
			</p>

			<p>
			<span class="label">Default</span>
			<span class="label label-info">Default</span>
			<span class="label label-success">Default</span>
			<span class="label label-warning">Default</span>
			<span class="label label-important">Default</span>
			<span class="label label-inverse">Default</span>
			</p>

	 	</div>

	</div>
</div>
{% endblock %}
