{% extends "base.html" %}

{% block title %}
{{ block.super }} - Data Sets
{% endblock %}

{% block subheader %}
<div class="page-header">
	<h1>
  		Data Sets
	</h1>
</div>
{% endblock %}

{% block content %}
{% if datasets %}
    <table class="table table-striped table-condensed table-bordered">
    	<thead>
    		<tr>
    			<th>Name</th>
    			<th>Title</th>
    			<th>Studies</th>
    			<th>Assays</th>
    		</tr>
    	</thead>
    	<tbody>
    	{% for dataset in datasets.object_list %}
    		<tr>
        		<td style="vertical-align: top">
        			<a href="/data_sets/{{ dataset.0.uuid }}/">
        				{{dataset.0.name}}
        			</a>
        		</td>
        		<td style="vertical-align: top">
        			<a href="/data_sets/{{ dataset.0.uuid }}/">
	        			<p>{{dataset.1}}</p>
        			</a>
        		</td>
        		<td>
        			<p>{{dataset.2}}</p>
        		</td>
        		<td>
        			<p>{{dataset.3}}</p>
        		</td>
        	</tr>
    	{% endfor %}
    	</tbody>
    </table>
    <div class="pagination">
    	<span class="step-links">
        {% if datasets.has_previous %}
            <a href="?page={{datasets.previous_page_number}}">previous</a>
        {% endif %}

        <span class="current">
            Page {{datasets.number}} of {{datasets.paginator.num_pages}}
        </span>

        {% if datasets.has_next %}
            <a href="?page={{datasets.next_page_number}}">next</a>
        {% endif %}
    	</span>
	</div>
{% else %}
    <p>No data sets are available.</p>
{% endif %}
{% endblock %}
