{% extends "base.html" %}

{% block title %}
{{ block.super }} - Data Sets
{% endblock %}

{% block subheader %}
<div class="page-header">
	<h1>
  		Data Sets
	</h1>
</div>
{% endblock %}

{% block content %}
{% if datasets %}
    <table>
    {% for dataset in datasets %}
    	<tr>
        	<td style="vertical-align: top">
        		<a href="/data_sets/{{ dataset.uuid }}/">
        			{{dataset.name}}
        		</a>
        	</td>
        	<td style="vertical-align: top">
        	{% if dataset.get_investigation.get_title %}
        		<p>{{dataset.get_investigation.get_title}}</p>
        	{% else %}
        		<p>--</p>
        	{% endif %}
        	</td>
        	<td>
        	{% if dataset.get_investigation.get_study_count > 1 %}
        		<p>{{dataset.get_investigation.get_study_count}} studies</p>
        	{% else %}
        		{% if dataset.get_investigation.get_study_count == 1 %}
        		<p>1 study</p>
        		{% else %}
        			<p>--</p>
        		{% endif %}
        	{% endif %}
        	</td>
        	<td>
        	{% if dataset.get_investigation.get_assay_count > 1 %}
        		<p>{{dataset.get_investigation.get_assay_count}} assays</p>
        	{% else %}
        		{% if dataset.get_investigation.get_assay_count == 1 %}
        		<p>1 assay</p>
        		{% else %}
        		<p>--</p>
        		{% endif %}
        	{% endif %}
        	</td>
        </tr>
    {% endfor %}
    </table>
    <div class="pagination">
    	<span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}">previous</a>
        {% endif %}

        <span class="current">
            Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">next</a>
        {% endif %}
    	</span>
	</div>
{% else %}
    <p>No data sets are available.</p>
{% endif %}
{% endblock %}
