{% extends "base.html" %}

{% load humanize %}
{% load markup %}
{% load static %}


{% block head_html %}
  <link rel="stylesheet" href="{% static "vendor/spectrum/spectrum.css" %}" />
  <link rel="stylesheet" href="{% static "styles/provenance-visualization.css" %}" />
  <link rel="stylesheet" href="{% static "styles/file-browser.css" %}" />
  <link rel="stylesheet" href="{% static "vendor/tipsy/src/stylesheets/tipsy.css" %}" />
  <link rel="stylesheet" href="{% static "vendor/select2/select2.css" %}" />
  <link rel="styleSheet" href="{% static "vendor/angular-ui-grid/ui-grid.min.css" %}"/>
  <link rel="stylesheet" href="{% static "vendor/ui-select/dist/select.min.css" %}" />
{% endblock head_html %}

{% block title %} - Data Set
  {{ data_set.accession }}:
  {{ data_set.title }} {% endblock %}

{% block subheader %}
  <div class="page-header">
    <h1>Data Set
      <small>
        {{ data_set.accession }}: {{ data_set.title }}
      </small>
    </h1>
  </div>

{% endblock %}

{% block content %}
  <!-- tab headers -->

<div ng-controller="DataSetNavCtrl" ng-cloak>
  <div ng-controller="DataSetUiModeCtrl">

    <div class="refinery-panel-tabs">
      <div class="row">
        <div class="col-md-9 col-md-offset-3">
          <ul class="nav nav-tabs float-right" id="tabs">
            <li ui-sref-active="active" id="filesTab">
              <a ui-sref="files" class="dataSetTabs">
                Files
              </a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="analyses" id="analyze-tab" class="dataSetTabs">
                <span ng-controller="AnalysisMonitorCtrl">
                  <span rp-analysis-monitor-running-tab-icon></span>
                </span>
                Analyses
              </a>
            </li>
             <li ui-sref-active="active">
              <a ui-sref="about" class="dataSetTabs" >
                Details
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="refinery-panel refinery-panel-content jquery-full-height
    handle-overflow" id="data-set-view">
      {% if data_set %}
        <!-- tabs -->
        <form id="sampleForm" method="post" class="form-inline" hidden>
          {% csrf_token %}
          <!-- pass study information into the receiving view when posting -->
          <input type="hidden" name="study_uuid" value="{{ study_uuid }}"/>
        </form>
        <!-- Tab views -->
        <div ui-view></div>
     {% else %}
        <p>No valid data set.</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block vendor_scripts %}
  <script type="text/javascript" src="{% static "js/d3/fisheye.js" %}"></script>
  <script type="text/javascript" src="{% static "js/underscore/underscore-min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/backbone/backbone-min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/backbone-marionette/backbone.marionette.js" %}"></script>
  <script type="text/javascript" src="{% static "js/bootbox/bootbox.min.js" %}"></script>

  <!-- adding spinner -->
  <script language="javascript" type="text/javascript" src="{% static "js/spin/spin.min.js" %}"></script>

  <script language="javascript" type="text/javascript">
    var opts = {
      lines: 13, // The number of lines to draw
      length: 4, // The length of each line
      width: 2, // The line thickness
      radius: 6, // The radius of the inner circle
      corners: 1, // Corner roundness (0..1)
      rotate: 0, // The rotation offset
      color: '#000', // #rgb or #rrggbb
      speed: 1, // Rounds per second
      trail: 60, // Afterglow percentage
      shadow: false, // Whether to render a shadow
      hwaccel: false, // Whether to use hardware acceleration
      className: 'spinner', // The CSS class to assign to the spinner
      zIndex: 2e9, // The z-index (defaults to 2000000000)
      top: 'top', // Top position relative to parent in px
      left: 'top' // Left position relative to parent in px
    };
  </script>

{% endblock %}

{% block script %}


  <!-- Refinery libraries -->
  <script type="text/javascript">
    var REFINERY_BASE_URL = document.location.host;
    var REFINERY_API_BASE_URL = "/api/v1/";
    var REFINERY_SOLR_BASE_URL = "{{ REFINERY_SOLR_BASE_URL }}";
    var externalAssayUuid = "{{ assay_uuid }}";
    var externalStudyUuid = "{{ study_uuid }}";
    var externalAssayId = "{{ assay_id }}";
    var externalStudyId = "{{ study_id }}";
    var dataSetUuid = "{{ data_set.uuid }}";
    var analysisUuid = "{{ analysis_uuid }}";

    {% if REFINERY_REPOSITORY_MODE %}
      var REFINERY_REPOSITORY_MODE = true;
    {% else %}
      var REFINERY_REPOSITORY_MODE = false;
    {% endif %}

    {% if user.is_authenticated %}
      var REFINERY_USER_AUTHENTICATED = true;
    {% else %}
      var REFINERY_USER_AUTHENTICATED = false;
    {% endif %}

    var csrf_token = "{{ csrf_token }}";
  </script>

  <script type="text/javascript" src="{% static "js/refinery/solr/solr_utilities.js" %}"></script>
  <script type="text/javascript" src="{% static "js/refinery/solr/solr_client.js" %}"></script>
  <script type="text/javascript" src="{% static "js/refinery/solr/solr_query.js" %}"></script>
  <script type="text/javascript" src="{% static "js/refinery/solr/solr_response.js" %}"></script>
  <script type="text/javascript" src="{% static "js/refinery/solr/solr_document_table.js" %}"></script>
  <script type="text/javascript" src="{% static "js/refinery/solr/solr_facet_view.js" %}"></script>
  <script type="text/javascript" src="{% static "js/refinery/solr/solr_analysis_view.js" %}"></script>
  <script type="text/javascript" src="{% static "js/refinery/solr/solr_document_count_view.js" %}"></script>
  <script type="text/javascript" src="{% static "js/refinery/solr/solr_pivot_matrix.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/tipsy/src/javascripts/jquery.tipsy.js" %}"></script>

  <script type="text/javascript" src="{% static "js/refinery/contents.js" %}">var query;</script>
  <script type="text/javascript" src="{% static "js/refinery/data_set_manager/data_set_configurator.js" %}"></script>
  <script type="text/javascript" src="{% static "js/refinery/core/node_set_manager.js" %}"></script>
  <script type="text/javascript" src="{% static "js/refinery/core/analysis_api_client.js" %}"></script>
  <script type="text/javascript" src="{% static "js/refinery/core/data_set_monitor.js" %}"></script>

  <script type="text/javascript" src="{% static "vendor/floatThead/dist/jquery.floatThead.min.js" %}"></script>

  <!-- provenance visualization -->
  <script type="text/javascript" src="{% static "vendor/lodash/lodash.min.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/graphlib/dist/graphlib.core.min.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/dagre/dist/dagre.core.min.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/spectrum/spectrum.js" %}"></script>

  <script type="text/javascript" src="{% static "js/provvis/provvis-helpers.js" %}"></script>
  <script type="text/javascript" src="{% static "js/provvis/provvis-decl.js" %}"></script>
  <script type="text/javascript" src="{% static "js/provvis/provvis-init.js" %}"></script>
  <script type="text/javascript" src="{% static "js/provvis/provvis-layout.js" %}"></script>
  <script type="text/javascript" src="{% static "js/provvis/provvis-motifs.js" %}"></script>
  <script type="text/javascript" src="{% static "js/provvis/provvis-render.js" %}"></script>
  <script type="text/javascript" src="{% static "js/provvis/provvis.js" %}"></script>

  <script type="application/javascript">
    setTimeout(function() {
          sizing();
      }, 750);
    $(document).ready(function () {
      $("#navigation-tabs a").on('shown', function (e) {
        sizing();
        $(window).trigger('refinery/floatThead/reflow');
      })

      $("[rel=tooltip]").tooltip();
    });

    /*
     * Sticky table header using floatThead.js
     */
    (function(window, $, undefined){
      'use strict';

      var $solrTable = $('#assay-files-table'),
          $table = $('#table_matrix'),
          $window = $(window);

      /**
       * Debounce / Throttle
       * Call a function with a delay after some calling.
       * @param  {Function} fn    Function to be called.
       * @param  {Int}      delay Delay in milliseconds.
       * @return {Function}       Function to be called.
       */
      function debounce(fn, delay) {
        var timer = null;
        return function () {
          var context = this, args = arguments;
          clearTimeout(timer);
          timer = setTimeout(function () {
            fn.apply(context, args);
          }, delay);
        };
      }

      /*
       * Initialize floatThead with all its magic.
       */
      function initFloatThead () {
        /*
         * Start floatThead
         */
        $table.floatThead({
          autoReflow: true,
          scrollContainer: function($table){
            return $table.closest('.scrollable-floatThead');
          },
          zIndex: 2
        });

        /*
         * Reflow floatThead when the browser's window size changes
         */
        $window.on('resize.floatThead orientationchange.floatThead',
          debounce(function () {
            if ($table.is(":visible")) {
              $table.floatThead('reflow');
            }
          }, 250)
        );

        /*
         * Reflow floatThead when an custom script makes changes that change
         * the tables layout.
         */
        $window.on('refinery/floatThead/reflow', debounce(function () {
          if ($table.is(":visible")) {
            $table.floatThead('reflow');
          }
        }, 100));

        $solrTable.on('refinery/solrTable/destroy', destroyFloatThead);
      }

      function destroyFloatThead () {
        $table.floatThead('destroy');
        $window.off('refinery/floatThead/reflow');
        $window.off('resize.floatThead orientationchange.floatThead');
      }

      /*
       * The table might not have been created when this code runs so we have to
       * listen to a custom event to tell us that we are all set. We make sure
       * to only listen to that event once!
       */
      if (!$table.length) {
        $solrTable.on('refinery/solrTable/created', function () {
          $table = $('#table_matrix');
          initFloatThead();
        })
      } else {
        initFloatThead();
      }
    }
    )(window, jQuery);

  </script>

{% endblock %}

