{% extends "base.html" %}

{% load humanize %}
{% load markup %}
{% load static from staticfiles %}


{% block head_html %}
  <link rel="stylesheet" href="{% static "styles/file-browser.css" %}" />
  <link rel="stylesheet" href="{% static "vendor/tipsy/src/stylesheets/tipsy.css" %}" />
  <link rel="stylesheet" href="{% static "vendor/select2/select2.css" %}" />
  <link rel="styleSheet" href="{% static "vendor/angular-ui-grid/ui-grid.min.css" %}"/>
  <link rel="stylesheet" href="{% static "vendor/ui-select/dist/select.min.css" %}" />
{% endblock head_html %}

{% block title %} - Data Set
  {{ data_set.accession }}:
  {{ data_set.title }} {% endblock %}

{% block subheader %}
  <div class="page-header">
    <h1>Data Set
      <small>
        {{ data_set.accession }}: {{ data_set.title }}
      </small>
    </h1>
  </div>

{% endblock %}

{% block content %}
  <!-- tab headers -->

<div ng-controller="DataSetNavCtrl" ng-cloak>
  <div ng-controller="DataSetUiModeCtrl">

    <div class="refinery-panel-tabs">
      <div class="row">
        <div class="col-md-9 col-md-offset-3">
          <ul class="nav nav-tabs float-right" id="tabs">
            <li ui-sref-active="active" id="filesTab">
              <a ui-sref="files" class="dataSetTabs">
                Files
              </a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="analyses" id="analyze-tab" class="dataSetTabs">
                <span ng-controller="AnalysisMonitorCtrl">
                  <span rp-analysis-monitor-running-tab-icon></span>
                </span>
                Analyses
              </a>
            </li>
             <li ui-sref-active="active">
              <a ui-sref="about" class="dataSetTabs" >
                Details
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="refinery-panel refinery-panel-content jquery-full-height
    handle-overflow" id="data-set-view">
      {% if data_set %}
        <!-- tabs -->
        <form id="sampleForm" method="post" class="form-inline" hidden>
          {% csrf_token %}
          <!-- pass study information into the receiving view when posting -->
          <input type="hidden" name="study_uuid" value="{{ study_uuid }}"/>
        </form>
        <!-- Tab views -->
        <div ui-view></div>
     {% else %}
        <p>No valid data set.</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block vendor_scripts %}

  <script language="javascript" type="text/javascript">
    var opts = {
      lines: 13, // The number of lines to draw
      length: 4, // The length of each line
      width: 2, // The line thickness
      radius: 6, // The radius of the inner circle
      corners: 1, // Corner roundness (0..1)
      rotate: 0, // The rotation offset
      color: '#000', // #rgb or #rrggbb
      speed: 1, // Rounds per second
      trail: 60, // Afterglow percentage
      shadow: false, // Whether to render a shadow
      hwaccel: false, // Whether to use hardware acceleration
      className: 'spinner', // The CSS class to assign to the spinner
      zIndex: 2e9, // The z-index (defaults to 2000000000)
      top: 'top', // Top position relative to parent in px
      left: 'top' // Left position relative to parent in px
    };
  </script>

{% endblock %}

{% block script %}


  <!-- Refinery libraries -->
  <script type="text/javascript">
    var REFINERY_BASE_URL = document.location.host;
    var REFINERY_API_BASE_URL = "/api/v1/";
    var REFINERY_SOLR_BASE_URL = "{{ REFINERY_SOLR_BASE_URL }}";
    var externalAssayUuid = "{{ assay_uuid }}";
    var externalStudyUuid = "{{ study_uuid }}";
    var externalAssayId = "{{ assay_id }}";
    var externalStudyId = "{{ study_id }}";
    var dataSetUuid = "{{ data_set.uuid }}";
    var analysisUuid = "{{ analysis_uuid }}";

    {% if REFINERY_REPOSITORY_MODE %}
      var REFINERY_REPOSITORY_MODE = true;
    {% else %}
      var REFINERY_REPOSITORY_MODE = false;
    {% endif %}

    {% if user.is_authenticated %}
      var REFINERY_USER_AUTHENTICATED = true;
    {% else %}
      var REFINERY_USER_AUTHENTICATED = false;
    {% endif %}

    var csrf_token = "{{ csrf_token }}";
  </script>

  <!-- Scripts for popup content in the ui-grid-->
  <script type="text/ng-template" id="nodeselectionpopover.html">
    <rp-node-selection-popover-detail>
    </rp-node-selection-popover-detail>
  </script>

{% endblock %}

