{% extends "base.html" %}

{% load url from future %}

{% block title %}
{{ block.super }} - Edit
{% endblock %}

{% block subheader %}
<div class="page-header">
	<h1>Edit Your User Information</h1>
</div>
{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
    	{% if 'safe' in message.tags %}
    		<p>{{message|safe}}</p>
    	{% endif %}
    {% endfor %}
{% endif %}
<div class="refinery-panel refinery-panel-content scrollable jquery-full-height">
	<div class="row">
		<form method="post" action="" class="wide" id="user-edit-form">
		{% csrf_token %}
		<div class="refinery-header">
			<span class="refinery-header-left">
				<h3>Profile for {{profile_user.username}}</h3>
			</span>
		</div>
		{% if uform.errors %}
  		<div class="alert alert-danger">
        Please correct the errors below.
        {{ uform.non_field_errors }}
      </div>
  		{% endif %}
		<div class="refinery-subheader">
			<h4>First Name</h4>
		</div>
		<p>{{ uform.first_name }}</p>

		<div class="refinery-subheader">
			<h4>Last Name</h4>
		</div>
		<p>{{ uform.last_name }}</p>

		<div class="refinery-subheader">
			<h4>Email</h4>
		</div>
		{% if uform.email.errors %}
			<p class="errors">{{ uform.email.errors.as_text }}</p>
		{% endif %}
		<p>{{ uform.email }}</p>

		<div class="refinery-subheader">
			<h4>Affiliation</h4>
		</div>
		<p>{{ pform.affiliation }}</p>

		<div class="refinery-subheader">
			<h4>Profile Visibility</h4>
		</div>

		{% if profile_user.groups.count > 0 %}
			<div class="refinery-header">
				<span class="refinery-header-left">
					<h3>Groups</h3>
				</span>
			</div>
		    <p>
			{% for group in profile_user.groups.all %}
	        	<a href="{% url 'group' group.extendedgroup.uuid %}">{{ group.name }}</a></br>
	    	{% endfor %}
		    </p>
		{% endif %}

		<div class="refinery-header">
			<span class="refinery-header-left">
				<h3>History</h3>
			</span>
		</div>
		<p>Joined on {{ profile_user.date_joined }} Last login on {{ profile_user.last_login }}</p>

		<a href="#" class="btn btn-primary" id="submit-link">Save</a>
		<a href="{% url 'user' profile_user.profile.uuid %}" class="btn">Cancel</a>

		</form>
	</div>
</div>
{% endblock %}

{% block script %}
	<script>
		$( "#submit-link" ).click( function() { $( "#user-edit-form" ).submit();});
	</script>
{% endblock %}
