{% extends "base.html" %}

{% block title %}
{{ block.super }} - Group Invitation
{% endblock %}

{% block subheader %}
<div class="page-header">
	<h1>Group Invitation</h1>
</div>
{% endblock %}

{% block content %}
  <div class="refinery-panel refinery-panel-content scrollable jquery-full-height">
    <div class="row">
      <div class="refinery-header">
       <span class="refinery-header-left"><h3>Group Invitation</h3></span>
      </div>
      <div>
        <p>{{message}}</p>
      </div>

      <div>
        <p>
          <a href="http://{{site}}/collaboration/#/{{ext_group.uuid}}/">View group information</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
