{% extends "base.html" %}

{% block title %}
{{ block.super }} - Home
{% endblock %}

{% block subheader %}
	{% if user.is_authenticated  %}
		Launch Pad for {{ user.first_name }}
	{% endif %} 
{% endblock %}

{% block content %}
{% if users %}
	<!-- only super users get to see this -->
	<h2>Users ({{ users|length}})</h2> 
    <ul>
    {% for user in users %}
        <li><a href="users/{{ user.username }}">{{ user.username }}</a>: {{ user.first_name }} {{ user.last_name }} ({{ user.get_profile.affiliation }}): {{ user.email }}</li>
    {% endfor %}
    </ul>
{% endif %}

{% if projects %}
	<h2>Projects ({{ projects|length }})</h2> 
    <ul>
    {% for project in projects %}
        <li><a href="projects/{{ project.uuid }}">{{ project.name }}</a>        	
		    <ul>
		    {% for analysis in project.analyses.all %}
		        <li>{{  analysis.name }}: {{ analysis.summary }}
		        	<ul>
						<li><i>Data Set</i>: {{ analysis.data_set.name }}
						<li><i>Workflow</i>: {{ analysis.workflow.name }}
							<ul>
							    {% for map in analysis.workflow_data_input_maps.all %}
							    	<li>{{ map }}</li>
							    {% endfor %}						
							</ul>
						</li>				
		        	</ul>
		    	</li>
		    {% endfor %}
		    </ul>	        
        </li>                
    {% endfor %}
    </ul>
{% else %}
    <h2>No projects available.</h2>
{% endif %}

{% if workflow_engines %}
	<h2>Workflow Engines ({{ workflow_engines|length }})</h2> 
    <ul>
    {% for workflow_engine in workflow_engines %}
        <li><a href="workflow_engines/{{ workflow_engine.uuid }}">{{ workflow_engine.name }}</a> ({{workflow_engine.workflow_set.all|length}}): Owned by {{workflow_engine.get_owner.username}}</li>
        <ul>
        	{% for workflow in workflow_engine.workflow_set.all %}
        		<li><a href="workflows/{{ workflow.uuid }}">{{ workflow.name }}</a></li>
    		{% endfor %}
        </ul>
    {% endfor %}
    </ul>
{% endif %}

{% if workflows %}
	<h2>Workflows ({{ workflows|length }})</h2> 
    <ul>
    {% for workflow in workflows %}
        <li><a href="workflows/{{ workflow.uuid }}">{{ workflow.name }}</a> ({{workflow.workflow_engine.name}})</li>
    {% endfor %}
    </ul>
{% else %}
    <h2>No workflows available.</h2>
{% endif %}


{% if data_sets %}
	<h2>Data Sets ({{ data_sets|length }})</h2> 
    <ul>
    {% for data_set in data_sets %}
        <li><a href="data_sets/{{ data_set.uuid }}">{{ data_set.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <h2>No data sets available.</h2>
{% endif %}

{% endblock %}
