{% extends "base.html" %}
{% load markup %}

{% block title %}
{{ block.super }} - Project {{ project.name }}
{% endblock %}

{% block subheader %}
<div class="page-header">
	<h1>Project&nbsp;<small>{{ project.name }}</small></h1>
</div>
{% endblock %}

{% block content %}
{% if project %}
<div class="refinery-panel refinery-panel-content scrollable jquery-full-height">
	<div class="row">

		<div class="refinery-header">
			<span class="refinery-header-left">
				<h3>{{project.name}}</h3>
			</span>
		</div>

		<div class="refinery-subheader">
			<h4>Summary</h4>
		</div>
		<p>{% if project.summary %} {{ project.summary }} {% else %} <i>None provided.</i>{% endif %}</p>

		<div class="refinery-subheader">
			<h4>Description</h4>
		</div>
		<p>{% if project.description %} {{ project.description|markdown:"safe" }} {% else %} <i>None provided.</i>{% endif %}</p>

		<div class="refinery-subheader">
			<h4>Shortcut Name</h4>
		</div>
		<p>{% if project.slug %} {{ project.slug }} {% else %} <i>None provided.</i>{% endif %}</p>

		<div class="refinery-subheader">
			<h4>UUID</h4>
		</div>
		<p>{{ project.uuid }}</p>

		<div class="refinery-header">
			<span class="refinery-header-left">
				<h3>Sharing</h3>
			</span>
		</div>

		<div class="refinery-subheader">
			<h4>Owner</h4>
		</div>
		<p><i class="fa fa-user"></i>&nbsp;<a href="{%
		url 'user' project.get_owner.profile.uuid %}">{% if project.get_owner.get_full_name %}{{ project.get_owner.get_full_name }}{% else %}{{ project.get_owner }}{%endif%}</a></p>

		{% if project.get_groups|length > 0 %}
		<div class="refinery-subheader">
			<h4>Groups</h4>
		</div>
			<p>
			{% for perm in project.get_groups %}
				{% if perm.group.is_managed %}
					<a href="{% url 'group' perm.group.uuid %}">{{ perm.group.name }}</a>&nbsp;
					{% if perm.read %}
						<i class="fa fa-eye"></i>
					{% endif %}
					{% if perm.change %}
						<i class="fa fa-pencil"></i>
					{% endif %}
				</br>
				{% endif %}
			{% endfor %}
			</p>
		{% endif %}

		<div class="refinery-header">
			<span class="refinery-header-left">
				<h3>History</h3>
			</span>
		</div>
		<p>Created: {{ project.creation_date }} | Last Modified: {{ project.modification_date }}</p>

		{% if project.analyses.count > 0 %}
		<div class="refinery-header">
			<span class="refinery-header-left">
				<h3>Analyses</h3>
			</span>
		</div>
		<table class="table table-striped table-condensed table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Last Modified</th>
				</tr>
			</thead>
			<tbody>
			{% for analysis in project.analyses.all %}
				<tr>
			    	<td>
					    <a href="{% url 'analysis' project.uuid analysis.uuid %}">{{ analysis.name }}</a>
					</td>
					<td>{{ analysis.modification_date }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		{% endif %}
		<a class="refinery-base btn btn-default" href=
      "{% url 'project_edit' project.uuid %}">Edit</a>
	{% else %}
	    <p>No valid project.</p>
	{% endif %}
<div>
{% endblock %}
