{% extends "base.html" %}

{% block title %}
{{ block.super }} - Project {{ project.name }}
{% endblock %}

{% block subheader %}
 Project: <i>{{ project.name }}</i>
{% endblock %}

{% block content %}
{% if project %}
	<div class="label">Summary</div>
	<p>{{ project.summary }}</p>
	
	<div class="label">Description</div>
	<p>{{ project.description }}</p>

	<div class="label">Permissions</div>
	{% if permissions|length > 0 %}
		<ul>
		{% for user, permission in permissions.items %}
		    <li>{{ user }}: {{ permission|join:" | " }}</li>
		{% endfor %}
		</ul>
	{% else %}
		No permissions.
	{% endif %}
	
	<div class="label">History</div>	
	<p>Created: {{ project.creation_date }} | Last Modified: {{ project.modification_date }} </p>

	<div class="label">UUID</div>
	<p class="fixed">{{ project.uuid }}</p>
	<a href="/projects/{{ project.uuid }}/analyses/">Analyses</a>
{% else %}
    <p>No valid project.</p>
{% endif %}

{% endblock %}
