{% extends "base.html" %}

{% load humanize %}
{% load markup %}
{% load static from staticfiles %}


{% block head_html %}
  <link rel="stylesheet" href="{% static "vendor/spectrum/spectrum.css" %}" />
  <link rel="stylesheet" href="{% static "styles/provenance-visualization.css" %}" />
  <link rel="stylesheet" href="{% static "vendor/select2/select2.css" %}" />
  <link rel="stylesheet" href="{% static "vendor/ui-select/dist/select.min.css" %}" />

{% endblock head_html %}

{% block title %} - Data Set
  {{ data_set.accession }}:
  {{ data_set.title }} {% endblock %}

{% block subheader %}
  <div class="page-header">
    <h1>Data Set
      <small>
        {{ data_set.accession }}: {{ data_set.title }}
      </small>
    </h1>
  </div>

{% endblock %}

{% block content %}
  <!-- tab headers -->

<div class="refinery-panel-tabs">
  <div class="row">
    <div class="col-md-9 col-md-offset-3">
      <ul class="nav nav-tabs float-right" id="tabs">
        <li>
          <a href="/data_sets/{{ data_set.uuid }}/#/files/">Files</a>
        </li>
        <li>
          <a href="/data_sets/{{ data_set.uuid }}/#/analyses/">Analyses</a>
        </li>
        <li>
          <a href="/data_sets/{{ data_set.uuid }}/#/about/">Details</a>
        </li>
        <li class="active">
          <a href="/provenance/{{ data_set.uuid }}">Provenance</a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="refinery-panel refinery-panel-content jquery-full-height handle-overflow">
  {% if data_set %}
    <!-- tabs -->
    <form id="sampleForm" method="post" class="form-inline" hidden>
      {% csrf_token %}
      <!-- pass study information into the receiving view when posting -->
      <input type="hidden" name="study_uuid" value="{{ study_uuid }}"/>
    </form>

      <div class="dataSetTabContent ng-cloak" id="files">
        <!-- <div ng-controller="FileMappingCtrl"> -->
        <div class="row">
              <div class="row">
              {% verbatim %}
                <div class="col-md-12" id="main-area">
              {% endverbatim %}

                <div class="row" style="margin-bottom: 5px;">

                  <div class="col-md-12">

                  </div>
                </div>

                <div class="row">
                  <div class="tabbable">
                    <div class="tab-content">
                      <div class="tab-pane active fade in"
                           id="provenance-view-tab"
                           style="overflow: hidden;">
                          <div class="refinery-panel-content">
                            <div id="provenance-visualization">
                              <div id="provvis-nav-bar"
                                   ng-controller="provvisNavbarController">
                                  <div provvis-nav-bar></div>
                              </div>
                              <div id="provvis-canvas"
                                   ng-controller="provvisCanvasController">
                                  <div provvis-canvas></div>
                              </div>
                              <!-- the provenance graph -->
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
        </div>
        <!-- </div> --> <!-- FileMappingCtrl -->
      </div>
  {% else %}
    <p>No valid data set.</p>
  {% endif %}
</div>

{% endblock %}

{% block vendor_scripts %}
  <script type="text/javascript" src="{% static "js/d3/fisheye.js" %}"></script>
  <script type="text/javascript" src="{% static "js/underscore/underscore-min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/backbone/backbone-min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/backbone-marionette/backbone.marionette.js" %}"></script>
  <script type="text/javascript" src="{% static "js/bootbox/bootbox.min.js" %}"></script>

  <!-- adding spinner -->
  <script language="javascript" type="text/javascript" src="{% static "js/spin/spin.min.js" %}"></script>

  <script language="javascript" type="text/javascript">
    var opts = {
      lines: 13, // The number of lines to draw
      length: 4, // The length of each line
      width: 2, // The line thickness
      radius: 6, // The radius of the inner circle
      corners: 1, // Corner roundness (0..1)
      rotate: 0, // The rotation offset
      color: '#000', // #rgb or #rrggbb
      speed: 1, // Rounds per second
      trail: 60, // Afterglow percentage
      shadow: false, // Whether to render a shadow
      hwaccel: false, // Whether to use hardware acceleration
      className: 'spinner', // The CSS class to assign to the spinner
      zIndex: 2e9, // The z-index (defaults to 2000000000)
      top: 'top', // Top position relative to parent in px
      left: 'top' // Left position relative to parent in px
    };
  </script>


  <!-- Refinery libraries -->
  <script type="text/javascript">
    var REFINERY_BASE_URL = document.location.host;
    var REFINERY_API_BASE_URL = "/api/v1/";
    var REFINERY_SOLR_BASE_URL = "{{ REFINERY_SOLR_BASE_URL }}";
    var externalAssayUuid = "{{ assay_uuid }}";
    var externalStudyUuid = "{{ study_uuid }}";
    var externalAssayId = "{{ assay_id }}";
    var externalStudyId = "{{ study_id }}";
    var dataSetUuid = "{{ data_set.uuid }}";
    var analysisUuid = "{{ analysis_uuid }}";

    {% if REFINERY_REPOSITORY_MODE %}
      var REFINERY_REPOSITORY_MODE = true;
    {% else %}
      var REFINERY_REPOSITORY_MODE = false;
    {% endif %}

    {% if user.is_authenticated %}
      var REFINERY_USER_AUTHENTICATED = true;
    {% else %}
      var REFINERY_USER_AUTHENTICATED = false;
    {% endif %}

    var csrf_token = "{{ csrf_token }}";
  </script>

{% endblock %}

{% block script %}

  <script type="text/javascript" src="{% static "js/refinery/solr/solr_utilities.js" %}"></script>
  <script type="text/javascript" src="{% static "js/refinery/solr/solr_client.js" %}"></script>
  <script type="text/javascript" src="{% static "js/refinery/solr/solr_query.js" %}"></script>
  <script type="text/javascript" src="{% static "js/refinery/solr/solr_response.js" %}"></script>

  <script type="text/javascript" src="{% static "js/refinery/contents.js" %}"></script>
  <script type="text/javascript" src="{% static "js/refinery/data_set_manager/data_set_configurator.js" %}"></script>
  <script type="text/javascript" src="{% static "js/refinery/core/node_set_manager.js" %}"></script>
  <script type="text/javascript" src="{% static "js/refinery/core/analysis_api_client.js" %}"></script>
  <script type="text/javascript" src="{% static "js/refinery/core/data_set_monitor.js" %}"></script>

  <!-- provenance visualization -->
  <script type="text/javascript" src="{% static "vendor/lodash/lodash.min.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/graphlib/dist/graphlib.core.min.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/dagre/dist/dagre.core.min.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/spectrum/spectrum.js" %}"></script>

  <script type="text/javascript" src="{% static "js/provvis/provvis-helpers.js" %}"></script>
  <script type="text/javascript" src="{% static "js/provvis/provvis-decl.js" %}"></script>
  <script type="text/javascript" src="{% static "js/provvis/provvis-init.js" %}"></script>
  <script type="text/javascript" src="{% static "js/provvis/provvis-layout.js" %}"></script>
  <script type="text/javascript" src="{% static "js/provvis/provvis-motifs.js" %}"></script>
  <script type="text/javascript" src="{% static "js/provvis/provvis-render.js" %}"></script>
  <script type="text/javascript" src="{% static "js/provvis/provvis.js" %}"></script>

<!-- end spinner -->
{% endblock %}
