{% extends "base.html" %}

{% load humanize %}
{% load markup %}
{% load static from staticfiles %}


{% block head_html %}
  <link rel="stylesheet" href="{% static "vendor/spectrum/spectrum.css" %}" />
  <link rel="stylesheet" href="{% static "styles/provenance-visualization.css" %}" />
  <link rel="stylesheet" href="{% static "vendor/tipsy/src/stylesheets/tipsy.css" %}" />
  <link rel="stylesheet" href="{% static "vendor/select2/select2.css" %}" />
  <link rel="stylesheet" href="{% static "vendor/ui-select/dist/select.min.css" %}" />

  <style type="text/css">
    /*svg {
      background-color: none;
      padding: 5px;
      margin-top: 15px;
      margin-bottom: 15px;
    }*/

    .background {
      fill: #FD0;
    }

    line {
    /* stroke : #eee;*/
    }

    text.active {
      fill: red;
    }

    text.matrix-label {
      fill: #222222;
    }

    text.matrix-label-selected {
      fill: #136382;
      font-weight: bold;
    }
    th.field-header-sort{
       white-space: nowrap;
       min-width: 70px;
    }
    rect.frame {
      stroke: #f0f0f0;
    }

    rect.active {
      fill: red;
    }

    .pivot-matrix {
    //background-color: #f00;
    }

    .facet-title {
      cursor:pointer;
    }

    .facet-value {
      cursor:pointer;
    }

    tr th {
      cursor:pointer;
    }

    .field-name {
      cursor:pointer;
    }

    #facet-view .active {
      cursor:pointer;
      background-color: #3A87AD;
      color: #fff;
      font-weight: bold;
    }

    #pager-view {
      text-align:right;
    }

    #statistics-view {
    //text-align:right;
    }
    #url-view {
      text-align:right;
    }

    .facet-value-list td {
      padding: 2px;
    }
    .facet-value-list tr {
      padding: 2px;
    }

    .facet-value-count {
      white-space: nowrap;
    }

    .facet-value-list.selected {
    }

    .facet-title {
      margin-top: 10px;
    }
  </style>
{% endblock head_html %}

{% block title %} - Data Set
  {{ data_set.accession }}:
  {{ data_set.title }} {% endblock %}

{% block subheader %}
  <div class="page-header">
    <h1>Data Set
      <small>
        {{ data_set.accession }}: {{ data_set.title }}
      </small>
    </h1>
  </div>

{% endblock %}

{% block content %}
  <!-- tab headers -->

<div class="refinery-panel-tabs">
  <div class="row">
    <div class="col-md-9 col-md-offset-3">
      <ul class="nav nav-tabs float-right" id="tabs">
        <li>
          <a href="/data_sets/{{ data_set.uuid }}/#/files/">Files</a>
        </li>
        <li>
          <a href="/data_sets/{{ data_set.uuid }}/#/analyses/">Analyses</a>
        </li>
        <li>
          <a href="/data_sets/{{ data_set.uuid }}/#/about/">Details</a>
        </li>
        <li class="active">
          <a href="/provenance/{{ data_set.uuid }}">Provenance</a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="refinery-panel refinery-panel-content jquery-full-height handle-overflow">
  {% if data_set %}
    <!-- tabs -->
    <form id="sampleForm" method="post" class="form-inline" hidden>
      {% csrf_token %}
      <!-- pass study information into the receiving view when posting -->
      <input type="hidden" name="study_uuid" value="{{ study_uuid }}"/>
    </form>

      <div class="dataSetTabContent ng-cloak" id="files">
        <!-- <div ng-controller="FileMappingCtrl"> -->
        <div class="row">
              <div class="row">
              {% verbatim %}
                <div class="col-md-12" id="main-area">
              {% endverbatim %}

                <div class="row" style="margin-bottom: 5px;">

                  <div class="col-md-12">

                  </div>
                </div>

                <div class="row">
                  <div class="tabbable">
                    <div class="tab-content">
                      <div class="tab-pane active fade in"
                           id="provenance-view-tab"
                           style="overflow: hidden;">
                          <div class="refinery-panel-content">
                            <div id="provenance-visualization">
                              <div id="provvis-nav-bar"
                                   ng-controller="provvisNavbarController">
                                  <div provvis-nav-bar></div>
                              </div>
                              <div id="provvis-canvas"
                                   ng-controller="provvisCanvasController">
                                  <div provvis-canvas></div>
                              </div>
                              <!-- the provenance graph -->
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
        </div>
        <!-- </div> --> <!-- FileMappingCtrl -->
      </div>
  {% else %}
    <p>No valid data set.</p>
  {% endif %}
</div>

{% endblock %}

{% block vendor_scripts %}
  <script type="text/javascript" src="{% static "js/d3/fisheye.js" %}"></script>
  <script type="text/javascript" src="{% static "js/underscore/underscore-min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/backbone/backbone-min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/backbone-marionette/backbone.marionette.js" %}"></script>
  <script type="text/javascript" src="{% static "js/bootbox/bootbox.min.js" %}"></script>

  <!-- adding spinner -->
  <script language="javascript" type="text/javascript" src="{% static "js/spin/spin.min.js" %}"></script>

  <script language="javascript" type="text/javascript">
    var opts = {
      lines: 13, // The number of lines to draw
      length: 4, // The length of each line
      width: 2, // The line thickness
      radius: 6, // The radius of the inner circle
      corners: 1, // Corner roundness (0..1)
      rotate: 0, // The rotation offset
      color: '#000', // #rgb or #rrggbb
      speed: 1, // Rounds per second
      trail: 60, // Afterglow percentage
      shadow: false, // Whether to render a shadow
      hwaccel: false, // Whether to use hardware acceleration
      className: 'spinner', // The CSS class to assign to the spinner
      zIndex: 2e9, // The z-index (defaults to 2000000000)
      top: 'top', // Top position relative to parent in px
      left: 'top' // Left position relative to parent in px
    };
  </script>


  <!-- Refinery libraries -->
  <script type="text/javascript">
    var REFINERY_BASE_URL = document.location.host;
    var REFINERY_API_BASE_URL = "/api/v1/";
    var REFINERY_SOLR_BASE_URL = "{{ REFINERY_SOLR_BASE_URL }}";
    var externalAssayUuid = "{{ assay_uuid }}";
    var externalStudyUuid = "{{ study_uuid }}";
    var externalAssayId = "{{ assay_id }}";
    var externalStudyId = "{{ study_id }}";
    var dataSetUuid = "{{ data_set.uuid }}";
    var analysisUuid = "{{ analysis_uuid }}";

    {% if REFINERY_REPOSITORY_MODE %}
      var REFINERY_REPOSITORY_MODE = true;
    {% else %}
      var REFINERY_REPOSITORY_MODE = false;
    {% endif %}

    {% if user.is_authenticated %}
      var REFINERY_USER_AUTHENTICATED = true;
    {% else %}
      var REFINERY_USER_AUTHENTICATED = false;
    {% endif %}

    var csrf_token = "{{ csrf_token }}";
  </script>

{% endblock %}

{% block script %}

  <script type="text/javascript" src="{% static "js/refinery/solr/solr_utilities.js" %}"></script>
  <script type="text/javascript" src="{% static "js/refinery/solr/solr_client.js" %}"></script>
  <script type="text/javascript" src="{% static "js/refinery/solr/solr_query.js" %}"></script>
  <script type="text/javascript" src="{% static "js/refinery/solr/solr_response.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/tipsy/src/javascripts/jquery.tipsy.js" %}"></script>

  <script type="text/javascript" src="{% static "js/refinery/contents.js" %}"></script>
  <script type="text/javascript" src="{% static "js/refinery/data_set_manager/data_set_configurator.js" %}"></script>
  <script type="text/javascript" src="{% static "js/refinery/core/node_set_manager.js" %}"></script>
  <script type="text/javascript" src="{% static "js/refinery/core/analysis_api_client.js" %}"></script>
  <script type="text/javascript" src="{% static "js/refinery/core/data_set_monitor.js" %}"></script>

  <!-- provenance visualization -->
  <script type="text/javascript" src="{% static "vendor/lodash/lodash.min.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/graphlib/dist/graphlib.core.min.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/dagre/dist/dagre.core.min.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/spectrum/spectrum.js" %}"></script>

  <script type="text/javascript" src="{% static "js/provvis/provvis-helpers.js" %}"></script>
  <script type="text/javascript" src="{% static "js/provvis/provvis-decl.js" %}"></script>
  <script type="text/javascript" src="{% static "js/provvis/provvis-init.js" %}"></script>
  <script type="text/javascript" src="{% static "js/provvis/provvis-layout.js" %}"></script>
  <script type="text/javascript" src="{% static "js/provvis/provvis-motifs.js" %}"></script>
  <script type="text/javascript" src="{% static "js/provvis/provvis-render.js" %}"></script>
  <script type="text/javascript" src="{% static "js/provvis/provvis.js" %}"></script>


  <script type="application/javascript">
    setTimeout(function() {
          sizing();
      }, 750);
    $(document).ready(function () {
      $( "#view-selector" ).select2({minimumResultsForSearch: -1});
      $( "#view-selector" ).on("change", function(event) {
        $( '#navigation-tabs a[href="#' + event.added.element[0].value + '"]').tab('show');
      });

      $("#navigation-tabs a").on('shown', function (e) {
        sizing();
        $(window).trigger('refinery/floatThead/reflow');
      })

      $("[rel=tooltip]").tooltip();

      $("#help-igv-button").click( function(event) {
        bootbox.alert(
            "<h3><i class=\"fa fa-bar-chart-o\"></i>&nbsp;&nbsp;View in " +
            "IGV</h3>" +
            "<p>" +
            "The selected files can be viewed in IGV (<a href=\"http://www.broadinstitute.org/igv\">Integrative Genomics Viewer</a>) along with the meta data shown in the table. " +
            "IGV is launched through <a href=\"http://www.java.com/en/download/faq/java_webstart.xml\">Java WebStart</a>. This means that the software will be launched even if IGV is not installed on your computer. <b>Java needs to be installed for Java WebStart to be available</b>." +
            "</p>" +
            "<p>" +
            "Once you have selected a of files and the clicked the \"View in IGV\" button (and selected a genome build) a <b>JNLP</b> file named \"igv.jnlp\" will be downloaded to your computer." +
            "</p>" +
            "<p>" +
            "Many browsers will automatically open the downloaded JNLP file to launch the Java WebStart application. <b>If IGV is not launched by your browser after the file was downloaded, you need to launch IGV manually by double-clicking the downloaded JNLP file</b>." +
            "</p>"
        );
      });

      $("#help-download-button").click( function(event) {
        bootbox.alert(
            "<h3><i class=\"fa fa-arrow-circle-o-down\"></i>&nbsp;&nbsp;Download as " +
            "Archive</h3>" +
            "<p>" +
            "The selected files can be bulk downloaded as an archive file if you are logged in and if you have selected 20 or less files." +
            "</p>" +
            "<p>" +
            "Archives are created on demand and will require some time to be processed. After clicking the \"Download as Archive\" button you will be taken to a progress page. You can leave this page at any time." +
            "</p>" +
            "<p>" +
            "You will receive an email once the archive is ready for downloading. You can also monitor progress on the homepage in the \"Downloads\" section if you are logged in." +
            "</p>"
        );
      });

      $("#help-data-annotation-button").click( function(event) {
        bootbox.alert(
            "<h3>Showing Data or Annotation Files</h3>" +
            "<p>" +
            "Data sets can have associated \"annotation\" files that will be included when you launch IGV with a set of selected data files. " +
            "To view available annotation files select \"Annotation\". To switch back to the data files select \"Data\"." +
            "</p>"
        );
      });

      $("#help-view-selector-button").click( function(event) {
        bootbox.alert(
            "<h3>Select File Display Mode</h3>" +
            "<p>" +
            "The collection of files in this data set can be displayed using different representations." +
            "</p>"
        );
      });

      $("#help-selection-button").click( function(event) {
        bootbox.alert(
            "<h3>Current File Selection</h3>" +
            "<p>" +
            "The number of files currently selected. Use facet attribute filters and individual file selection check boxes to modify the current selection." +
            "</p>"
        );
      });

    });

  $("#isa-import-button").on( "click", function() {
    $("#import-errors").html( "");
    var target = document.getElementById('isa-spinner');
    var spinner = new Spinner(opts).spin();
    target.appendChild(spinner.el);
    $("#import-message").html( "Running ...")
  });
</script>
<!-- end spinner -->
{% endblock %}
