{% extends "base.html" %}
{% load static %}
{% block title %}
{{ block.super }} - Assays for Data Set {{ data_set.name }}
{% endblock %}

{% block subheader %}
<div class="page-header">
	<h1>
		Available Samples  <small>Data Set: <i>{{ data_set.name }}</i></small>
	</h1>
			<button class="btn btn-danger pull-right" id="update_workflow_btn">
			Update Workflow(s)
		</button>

</div>
{% endblock %}

{% block head_html %}

{% endblock %}

{% block content %}



<form id="sampleForm" method="post">
    {% csrf_token %}
    
    	<div class="row">
    		<div class="col-md-6">
    		<div class="btn-group">
			<div class="refinery-base btn btn-default">
				Choose Workflow
			</div>

			<select class="combobox" name="workflow_choice" id="workflow_choice">
				<option></option>
				{% for work in workflows %}
					<option value="{{work.uuid}}">{{work.name}}</option>
				{% endfor %}
			</select>
		</div>
		</div>
		
		<div class="col-md-6">

	   <button class="btn btn-primary pull-right" id="submitSamplesBtn">
    	<i class="fa fa-road"></i>
    	Run Workflow
    	</button>
    	</div>
    	</div>
    
    <!--
	<table class="table table-striped table-bordered table-condensed dataTable" id="samples1">
	
	<thead>
		<tr>
			<th>Options</th>
			<th>Assay</th>

			{% for attrib in matrix.meta.attributes %}
			<th>{{attrib.subtype}}</th>
			{% endfor %}
		</tr>
	</thead>

	<tbody>
		{% for k,v in matrix.data.items %}
		<tr>
			<td>
				<select name="assay_{{ v.file_uuid }}" id="webmenu" class="OGcombobox">
    				<option></option>
  				</select>
  				<input type="hidden" name="fileurl_{{v.file_uuid}}" value="{{v.name}}">
  			</td>
			
			<td>{{v.assay}}</td>

			{% for v_attrib in v.attributes %}
			<td> {{v_attrib}} </td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>
-->


</form>


<div class="row">
	<!-- FACETED SIDE BAR -->
	<div class="col-md-3">
		<div class="well sidebar">
			<ul class = "nav nav-list">
				<div id="facets">
					
				</div> 
			</ul>
		</div>
	</div>
	
	<div class="col-md-9">
		<!-- SEARCH BAR -->
		<div class="row">
		<form class="well form-search" id="search_form">
      		<input id="search_box" type="text" class="input-large search-query">
      		<button id="search_btn" type="submit" onclick="AddSearchTerm();
      		return false;" class="refinery-base btn btn-default">Search</button>
    	</form>
    	</div>
    	<div class="row">

	    		<div id="results">
			
	    	</div>
    	</div>
	</div>
	
</div>	


<link href="{%  static "js/bootstrap/css/bootstrap-combobox.css" %}" rel="stylesheet">
<script language="javascript" type="text/javascript" src="{% static "js/bootstrap/js/bootstrap-combobox.js" %}"></script>
<link href="{% static "js/datatables/css/DT_bootstrap.css" %}" rel="stylesheet">
<script language="javascript" type="text/javascript" src="{% static "js/datatables/js/DT_bootstrap.js" %}"></script>

<SCRIPT language="javascript">
	// GLOBAL VARIABLES 
	var facets = [];
	var col_head = [];
	
	// function for updating available workflows
	$("#workflow_choice").change(function(  ) {
		//var temp_url = "/refinery_repository/workflow_inputs/" + $("#workflow_choice").val() + "/";
		var temp_url = "/analysis_manager/workflow_inputs/" + $("#workflow_choice").val() + "/";
		
		 $.ajax({
		     url:temp_url,
		     type:"POST",
		     dataType: "json",
		     data: {csrfmiddlewaretoken: "{{ csrf_token }}" },
		     success: function(result){
		     	// emptys all dropdown menus with current inputs
		     	$(".OGcombobox").empty();
		     	$('.OGcombobox').append('<option></option>');
		     	// adds options for the specified workflow
		     	for (var i = 0; i < result.length; i++) { 
              		$('.OGcombobox').append('<option value="'+ result[i].fields["name"] + '">' + result[i].fields["name"] + '</option>');
          		}
			}
			});
	});
	
	// Button to update available workflows from galaxy
	$("#update_workflow_btn").click(function() {
		$.ajax({
			url : "/analysis_manager/update_workflows/",
			type : "POST",
			dataType : "json",
			data : {
				csrfmiddlewaretoken : "{{ csrf_token }}"
			},
			success : function(result) {
				console.log(result);
				//$("#workflow_choice").empty();
				//$('.dropdown-menu').empty();
				//$('.combobox').combobox();

				/*
				 for (var i = 0; i < result.length; i++) {
				 console.log(result[i].fields.name);
				 console.log(result[i].fields.uuid);
				 }
				 */
				//$(".dropdown-menu").empty();
				alert("SUCCESSFULLY UPDATED WORKFLOWS");
			}
		});
	});
	
	// validate form inputs: To ensure a workflow is chosen
	$("#submitSamplesBtn").click( function() {
		event.preventDefault(); // cancel default behavior
		// getting currently selected workflow
		var temp_value = $("#workflow_choice").val();
		if (temp_value != "") {
			document.getElementById('sampleForm').action='/analysis_manager/analysis_run/'; // Where to go
			document.getElementById('sampleForm').submit(); // Send POST data and go there
		}
		else { 
			alert("Please Select a Workflow");
		}
  	});
  	
	function getSearch(face1) { 
		var facet_query = "{{solr_url}}/solr/data_set_manager/select?indent=on&version=2.2&q=django_ct:data_set_manager.node&facet=true&fq=assay_uuid:{{assay_uuid}}&fq=study_uuid:{{study_uuid}}&fq=type:Raw&Data%File&wt=json&json.wrf=?&start=0&rows=25";
		
		// adding found facets to query string
		for (var j in face1) {
			facet_query += "&facet.field=" + face1[j];
		}
		
		// retrieves first set of results
		$.ajax({
			url : facet_query,
			type : "GET",
			dataType : "jsonp",
			
			success : function(data) {
				var iter_facets = data;
				var temp_facets = data.facet_counts.facet_fields;
				var facet_html; 
				for (key in temp_facets) {	
					var n=key.replace("_Characteristics_s","");
					var n_div_id = n.replace(" ", "_");
					n_div_id = n_div_id.replace(" ", "_");
					n_div_id = n_div_id.replace("/", "_");
					console.log(n_div_id);
					//<a href="#" onclick="collapseFacet();">Click</a>
					facet_html = '<li class="nav-header">' + '<a href="javascript:void(0);" onclick="collapseFacet(' + n_div_id + ');">' + n + '</a>' + '</li>' + '<div id=' + n_div_id + '>';
					curr_facets = temp_facets[key];
					for (val in curr_facets) {
						// IF EVEN 
						if (val%2 == 0) {
							curr_val = curr_facets[val].trim();
							if (curr_val) {
								var val_next = parseInt(val) + 1;
								var checkbox_string = '<input type="checkbox" id="'+ curr_val + '" name="' + curr_val + '"/>';
								facet_html += '\t <li>' + checkbox_string + "\t" + curr_val + '\t (' + curr_facets[val_next] + ')' + '</li>';
							}
						}
					}
					facet_html += '</div><br>';	
					$('#facets ').append(facet_html);	
				}
				var docs = data.response.docs;
	            
	            $.each(docs, function(i, item) {
	               var temp_item = new Array();

	               // adding items according to available column headers
	               for (k in col_head) {
	               		temp_item.push(item[(col_head[k])]);
	               }
	               
	               $('#samples1').dataTable().fnAddData(temp_item);
              	});
	
				var total = 'Found ' + data.response.numFound + ' results';
	            $('#results').prepend('<div>' + total + '</div>');
			}
		});
	
	}
	
	function getFacets() {
		// GET INITIAL QUERY FOR FACETS
		//http://127.0.0.1:8983/solr/data_set_manager/select?indent=on&version=2.2&q=django_ct:data_set_manager.node&facet=true&fq=assay_uuid:e3ec91ba-d47b-11e1-ab21-002332b1159e&fq=study_uuid:e3de3c33-d47b-11e1-a634-002332b1159e&fq=type:Raw&Data%File&wt=json&start=0&rows=1
		var facet_query = "{{solr_url}}/solr/data_set_manager/select?indent=on&version=2.2&q=django_ct:data_set_manager.node&facet=true&fq=assay_uuid:{{assay_uuid}}&fq=study_uuid:{{study_uuid}}&fq=type:Raw&Data%File&wt=json&json.wrf=?&start=0&rows=1";
		
		$.ajax({
			url : facet_query,
			type : "POST",
			dataType : "jsonp",
			success : function(result) {
				var iter_facets;
				iter_facets = result.response.docs[0];
				facets = [];
				
				$('#results').empty();
				var table_string = '<table class="table table-striped table-bordered table-condensed dataTable" id="samples1"><thead><tr>';
				
				// iterating over available facets
				for (var key in iter_facets) {
					
					// check for characteristics_s to see if its query
					var n=key.indexOf("_Characteristics_s");
					var m=key.indexOf("_Comment_s");
					
					if (n>-1){
						var ns=key.replace("_Characteristics_s","");
						//$('#samples1').append('<th>'+ns+'</th>');
						col_head.push(key);
						table_string += '<th>'+ns+'</th>';
						facets.push(key);
					}
				}
				table_string += '</tr></thead><tbody></tbody></table>'
				$('#results').append(table_string);
				initTable();
				
				//get actual search results now
				getSearch(facets);
			}
		});
	}
	
	function initTable() {
			
		$('#samples1').dataTable({
			"sDom" : "<'row'<'col-md-6'l><'col-md-6'f>r>t<'row'<'col-md-6'i><'col" +
      "-md-6" +
      "'p>>",
			"bFilter":false,
			"sPaginationType" : "bootstrap",
			"oLanguage" : {
				"sLengthMenu" : "_MENU_ records per page"
			}
			//,
			//"aoColumnDefs":[
	 		//	{"aTargets":[0],"bSortable":false}]
		});
	}	
	
	// search button functionality 
	function AddSearchTerm() { 
		//alert("search called");
		var values = {};
		$.each($('#search_form').serializeArray(), function(i, field) {
    		values[field.name] = field.value;
		});
		//console.log(values);
	}
	
	// search button functionality 
	function collapseFacet(div_id) { 
		//alert("search called");
		console.log("collapseFacet:" + div_id);
		$(div_id).slideToggle("slow");
	}

	
	/* Table initialisation */
	$(document).ready(function() {
		getFacets();	
		//console.log(solr_query);
	
		// initializies combobox
		$('.combobox').combobox();
	});

</SCRIPT>

{% endblock %}
