{% extends "base.html" %}

{% block title %}
{{ block.super }} - About
{% endblock %}

{% block subheader %}
<div class="page-header">
	<h1>
  		Statistics <small>{{ base_url }}</small>
	</h1>
</div>
{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span4 well">
		<h1>{{ users }}</h1><h3>users</h3>
	</div>
	<div class="span4 well">
		<h1>{{ groups }}</h1><h3>groups</h3>
	</div>
	<div class="span4 well">
		<h1>{{ projects }}</h1><h3>projects</h3>
	</div>
</div>
<div class="row-fluid">
	<div class="span4 well">
		<h1>{{ data_sets }}</h1><h3>data sets</h3>
	</div>
	<div class="span4 well">
		<h1>{{ workflows }}</h1><h3>workflows</h3>
	</div>
	<div class="span4 well">
		<h1>{{ files }}</h1><h3>files</h3>
	</div>
</div>
{% endblock %}
