{% extends "base.html" %}

{% load static %}
{% block head_html %}
    <link rel="stylesheet" href="{% static "vendor/c3/c3.css" %}" />
{% endblock %}

{% block title %}
{{ block.super }} - Statistics
{% endblock %}

{% block subheader %}
<div class="page-header">
	<h1>
  		Statistics <small>{{ base_url }}</small>
	</h1>
</div>
{% endblock %}

{% block content %}
<div class="refinery-panel refinery-panel-content scrollable" ng-controller="refineryStatisticsController">
	<div class="row-fluid">
		<div class="span4 well">
			<h1>{{ users }}</h1><h3>users</h3>
		</div>
		<div class="span4 well">
			<h1>{{ groups }}</h1><h3>groups</h3>
		</div>
		<div class="span4 well">
			<h1>{{ files }}</h1><h3>files</h3>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span4 well">
			<h1>{{ data_sets }}</h1><h3>data sets</h3>
      <div id="dataSetChart"></div>
		</div>
		<div class="span4 well">
			<h1>{{ workflows }}</h1><h3>workflows</h3>
      <div id="workflowsChart"></div>
		</div>
		<div class="span4 well">
			<h1>{{ projects }}</h1><h3>projects</h3>
      <div id="projectsChart"></div>
		</div>
	</div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/vendor/d3/d3.min.js"></script>
<script type="text/javascript" src="/static/vendor/c3/c3.min.js"></script>
{% endblock %}
