{% extends "base.html" %}

{% block title %}
{{ block.super }} - User {{ user.name }}
{% endblock %}

{% block content %}
{% if user %}
	<h2>{{ user.first_name }} {{ user.last_name }}: {{ user.username }} ({{ user.id }})</h2>
	
	<small>Created: {{ user.creation_date }} | Last Modified: {{ user.modification_date }} </small>
	
    <h3>Projects</h3>
    
	{% if projects|length > 0 %}	
	    {% for project in projects %}	    		    	
	        <li>{{ project.name }} ({{ project.uuid }})</li>
	    {% endfor %}
	{% else %}
		No projects.
	{% endif %}
	
{% else %}
    <p>No valid user.</p>
{% endif %}

{% endblock %}
