{% extends "base.html" %}

{% block title %}
{{ block.super }} - User {{ profile_user.username }}
{% endblock %}

{% block subheader %}
<div class="page-header">
<h1>User&nbsp;<small>{{ profile_user.username }}</small></h1>	
</div>
{% endblock %}


{% block content %}
<div class="refinery-panel refinery-panel-content scrollable">
	<div class="row-fluid">		
	{% if user %}
		<div class="refinery-header">
			<span class="refinery-header-left">
				<h3>Profile</h3>				
			</span>			
		</div>		
		
		<div class="refinery-subheader">
			<h4>First Name</h4>
		</div>		
		<p>{{ profile_user.first_name }}</p>
	
		<div class="refinery-subheader">
			<h4>Last Name</h4>
		</div>		
		<p>{{ profile_user.last_name }}</p>
		
		<div class="refinery-subheader">
			<h4>Email</h4>
		</div>		
		<p>{{ profile_user.email }}</p>
		
		<div class="refinery-subheader">
			<h4>Affiliation</h4>
		</div>		
		<p>{{ profile_user.get_profile.affiliation }}</p>
		
		<div class="refinery-header">
			<span class="refinery-header-left">
				<h3>Groups</h3>				
			</span>			
		</div>		
		    <p>   
			{% for group in profile_user.groups.all %}
		        <a href="{% url group group.extendedgroup.uuid %}">{{ group.name }}</a></br>
		    {% endfor %}
		    </p>

		<div class="refinery-header">
			<span class="refinery-header-left">
				<h3>History</h3>				
			</span>			
		</div>		
		<p>Joined on {{ profile_user.date_joined }} Last login on {{ profile_user.last_login }}</p>
			
	{% else %}
	    <p>No valid user.</p>
	{% endif %}	
			
	</div>	
</div>

{% endblock %}

