{% extends "base.html" %}

{% block title %}
{{ block.super }} - Edit Workflow
{% endblock %}

{% block subheader %}
<div class="page-header">
	<h1>Edit Workflow Information</h1>
</div>
{% endblock %}

{% block content %}
<div class="refinery-panel refinery-panel-content scrollable jquery-full-height">
	<div class="row">
		<form method="post" action="" class="wide" id="workflow-edit-form">
		{% csrf_token %}
			{% if form.errors %}
  				<div class="alert alert-danger">
            Please correct the errors below.
            {{ form.non_field_errors }}
          </div>
  			{% endif %}
  			<div class="refinery-subheader">
				<h4>Name</h4>
			</div>
  			{% if form.name.errors %}
				<p class="errors">{{ form.name.errors.as_text }}</p>
			{% endif %}
			<p>{{ form.name }}</p>

			<div class="refinery-subheader">
				<h4>Summary</h4>
			</div>
			{% if form.summary.errors %}
				<p class="errors">{{ form.summary.errors.as_text }}</p>
			{% endif %}
			<p>{{form.summary}}</p>

			<div class="refinery-subheader">
				<h4>Description (Supports Markdown)</h4>
			</div>
			{% if form.description.errors %}
				<p class="errors">{{ form.description.errors.as_text }}</p>
			{% endif %}
			<p>{{form.description}}</p>

			<div class="refinery-subheader">
				<h4>Shortcut Name</h4>
			</div>
			{% if form.slug.errors %}
				<p class="errors">{{ form.slug.errors.as_text }}</p>
			{% endif %}
			<p>{{form.slug}}</p>

            <div class="refinery-subheader">
				<h4>Workflow Visibility (visible if checked)</h4>
			</div>
			{% if form.is_active.errors %}
				<p class="errors">{{ form.is_active.errors.as_text }}</p>
			{% endif %}
            <input type="checkbox" name="is_active" value={{form.is_active}}
            <br>
            <br>
			<div class="refinery-header">
				<span class="refinery-header-left">
					<h3>Workflow Engine</h3>
				</span>
			</div>
			<div class="refinery-subheader">
				<h4>Name</h4>
			</div>
			{{ workflow.workflow_engine.name }}

			<div class="refinery-subheader">
				<h4>Workflow Id</h4>
			</div>
			<p>{{ workflow.internal_id }} (<a href="{% url 'workflow-graph' workflow.uuid %}">Download</a>)</p>

			<div class="refinery-header">
				<span class="refinery-header-left">
					<h3>Sharing</h3>
				</span>
			</div>

			{% if workflow.get_groups|length > 0 %}
				<div class="refinery-subheader">
					<h4>Groups</h4>
				</div>
				<p>
				{% for perm in workflow.get_groups %}
					{% if perm.group.is_managed %}
						<a href="{% url 'group' perm.group.uuid %}">{{ perm.group.name }}</a>&nbsp;
						{% if perm.read %}
							<i class="fa fa-eye"></i>
						{% endif %}
						{% if perm.change %}
							<i class="fa fa-pencil"></i>
						{% endif %}
						</br>
					{% endif %}
				{% endfor %}
				</p>
			{% endif %}

			<div class="refinery-header">
				<span class="refinery-header-left">
					<h3>History</h3>
				</span>
			</div>
			<p>Created: {{ workflow.creation_date }} | Last Modified: {{ workflow.modification_date }}</p>
			<a href="#" class="btn btn-primary" id="submit-link">Save</a>
			<a href="{% url 'workflow' workflow.uuid %}" class="refinery-base btn btn-default">
        Cancel
      </a>
		</form>
	</div>
</div>
{% endblock %}

{% block script %}
	<script>
		$( "#submit-link" ).click( function() { $( "#workflow-edit-form" ).submit();});
	</script>
{% endblock %}
