{% extends "base.html" %}
{% load markup %}

{% load static %}
{% block head_html %}
	<!-- Le styles -->
    {% for css_file in REFINERY_CSS %}
    <link href="{{ STATIC_URL }}{{ css_file }}" rel="stylesheet">
   	{% endfor %}

   	<!-- custom visualization styles -->
	<link rel="stylesheet" type="text/css" href="{% static "styles/css/workflow_visualization.css" %}" />
{% endblock %}

{% block title %}
{{ block.super }} - Workflow {{ workflow.name }}
{% endblock %}

{% block subheader %}
<div class="page-header">
	<h1>Workflow&nbsp;<small>{{ workflow.name }}</small></h1>
</div>
{% endblock %}

{% block content %}
{% if workflow %}	
<div class="refinery-panel refinery-panel-content scrollable">
	<div class="row-fluid">		
		<div class="refinery-header">
			<span class="refinery-header-left">
				<h3>{{ workflow.name }}</h3>
			</span>
		</div>

		<div class="refinery-subheader">
			<h4>Summary</h4>
		</div>
		<p>{% if workflow.summary %} {{ workflow.summary|markdown:"safe" }} {% else %} <i>None provided.</i>{% endif %}</p>

		<div class="refinery-subheader">
			<h4>Description</h4>
		</div>
		<p>{% if workflow.description %} {{ workflow.description|markdown:"safe" }} {% else %} <i>None provided.</i>{% endif %}</p>

		<div class="refinery-subheader">
			<h4>Shortcut Name</h4>
		</div>
		<p>{% if workflow.slug %} {{ workflow.slug }} {% else %} <i>None provided.</i>{% endif %}</p>

		<div class="refinery-subheader">
			<h4>Structure</h4>
		</div>
		<p><div id="vis_workflow"></div></p>

		<!--<p><img src="{{ workflow_graph_url }}"></a></p>-->

		<div class="refinery-header">
			<span class="refinery-header-left">
				<h3>Workflow Engine</h3>
			</span>
		</div>
		<div class="refinery-subheader">
			<h4>Name</h4>
		</div>
		{{ workflow.workflow_engine.name }}

		<div class="refinery-subheader">
			<h4>Workflow Id</h4>
		</div>
		<p>{{ workflow.internal_id }} (<a href="{% url 'download_workflow' workflow.uuid %}">Download</a>)</p>

		<div class="refinery-header">
			<span class="refinery-header-left">
				<h3>Sharing</h3>
			</span>
		</div>

		{% if workflow.get_groups|length > 0 %}
		<div class="refinery-subheader">
			<h4>Groups</h4>
		</div>
			<p>
			{% for perm in workflow.get_groups %}
				{% if perm.group.is_managed %}
					<a href="{% url 'group' perm.group.uuid %}">{{ perm.group.name }}</a>&nbsp;
					{% if perm.read %}
						<i class="icon-eye-open"></i>
					{% endif %}
					{% if perm.change %}
						<i class="icon-pencil"></i>
					{% endif %}
				</br>
				{% endif %}
			{% endfor %}
			</p>
		{% endif %}

		<div class="refinery-header">
			<span class="refinery-header-left">
				<h3>History</h3>
			</span>
		</div>
		<p>Created: {{ workflow.creation_date }} | Last Modified: {{ workflow.modification_date }}</p>
		<a class="btn" href="{% url 'workflow_edit' workflow.uuid %}">Edit</a>
	{% else %}
	    <p>No valid workflow.</p>
	{% endif %}
	</div>

	<!-- docked visualization toolbar-->
	<div id="toolbarDetails">
		<div class="refinery-subheader"> 
				<!--<a href="#" onclick="toggle_visibility('toolbar_container');"><h4>Visualization Toolbar &raquo; </h4></a>-->
				<h4>Visualization Toolbar &raquo; </h4>
		</div>

		<div id="toolbar_container" style="display:block;">
			<form action="#" class="form-horizontal" role="form">
	  			<div class="form-group">
					<select id="cb_layout_kind">
						<option value="0" onclick="reload_workflow()">Galaxy Layout</option>
						<option value="1" onclick="reload_workflow()" selected>Custom Layout</option>
						<option value="2" onclick="reload_workflow()">Force-directed Layout</option>
					</select> 
		      		<input id="cb_scale_wf" type="checkbox" onclick="reload_workflow()" checked> <i> Scale </i>
				</div>
			</form>
		</div>

	</div>

	<!-- docked and selected tool (node) table -->
	<div id="selectionDetails">
		<div class="refinery-subheader">
			<a href="#" onclick="toggle_visibility('node_table');"><h4>Toggle Selection Details &raquo; </h4></a>
		</div>
		<div id="node_table" style="display:block;">
    </div>

</div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/d3/d3.v3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/refinery/core/workflow_visualization.js"></script>

	<script>



// TODO: encapsulate into namespace as well as a separate file	
		// #################################################################
		// ########## TOOLBAR RELATED ######################################
		// #################################################################

		/*
		 * deletes the svg elements and current displayed table
		 */
		function clear_svg () {
			if (canvas) {
				d3.selectAll(".link").remove();
				d3.selectAll(".node").remove();
				d3.selectAll("svg").remove();		
			}
			d3.select("#workflowtbl").remove();
			
			canvas 		= null,
			//zoom_canvas = null,
		    shape_dim 	= null,
		    layout_prop = null,
		    table 		= null, // properties table
		    dataset 	= null, // actual dataset
		    layout 		= document.getElementById("cb_layout_kind").value,
		    scale_wf	= document.getElementById("cb_scale_wf").checked;
			// null typeError in console if uncommented
			// shape_dim = null;
		}


		/*
		 * reloads the whole workflow visualization from scratch through the visualize_workflow function
		 */
		function reload_workflow () {
			clear_svg();

			canvas 		= init_canvas("#vis_workflow", document.documentElement.clientWidth-100, document.documentElement.clientHeight-100);
			shape_dim 	= init_dimensions(60, 30, 50, 11, 50, 6);	
			layout_prop = init_force_layout(100, 1, 0.9, -100, 0.8, 0.0);	

			d3.json("{% url 'download_workflow' workflow.uuid %}", function(error, data) {
				visualize_workflow(data, canvas)
			});

			return false;
		}


		/*
		 * toogle visibility of table via button click
		 * 
		 * id: id of the div element to be toggled
		 */
		function toggle_visibility (id) {
			var element = document.getElementById(id);
		
			if(element.style.display == "block")
				element.style.display = "none";
			else
				element.style.display = "block";
	   	}



	   	// #################################################################
		// ########## MAIN #################################################
		// #################################################################

		// globals
		var canvas 		= null,
			zoom_canvas = null,
	        shape_dim 	= null,
	        layout_prop = null,
	        table 		= null, // properties table
	        dataset 	= null, // actual dataset  
	        layout 		= document.getElementById('cb_layout_kind').value;
	        scale_wf	= document.getElementById('cb_scale_wf').checked;

		// initialize svg to body
		canvas 		= init_canvas("#vis_workflow", document.documentElement.clientWidth-100, document.documentElement.clientHeight-100);
		
		// initialize window and shape dimensions
		shape_dim 	= init_dimensions(60, 30, 50, 11, 50, 6);	

		// initialize force layout properties
		layout_prop = init_force_layout(100, 1, 0.9, -100, 0.8, 0.0);
		
		// process and visualize workflow data from JSON file
		d3.json("{% url 'download_workflow' workflow.uuid %}", function(error, data) {
			visualize_workflow(data, canvas)
		});

		</script>
{% endblock %}