<div ng-controller="NodeSetListApiCtrl">
  <select ui-select2 ng-model="nodesetIndex" ng-change="updateCurrentNodeSet()" style="width:100%" data-placeholder="Choose a file set">
    <option value=""></option>  <!-- required for showing placeholder text -->
    <option ng-repeat="nodeset in nodesetList" value="{{$index}}">{{nodeset.name}}</option>
  </select>
  <div>
    <p></p>
  </div>
  <div ng-controller="IgvCtrl">
  	<div ng-if="message">
  		<div class="alert alert-{{ messageType }}">{{message}}</div>
  	</div>
  	<p ng-if="isLoadingSpecies">
  		<i class="fa fa-refresh fa-spin" style="padding: 2px"></i> Detecting
      species ...
  	</p>
	<select
    class="form-control"
    ng-show="speciesList.length > 1"
    ng-model="selectedSpecies"
    ng-options="species as species.name for species in speciesList">
		<option value="">Choose a species</option>
    <!-- required for showing placeholder text -->
	</select>
    <p></p>
    <button class="btn btn-warning" ng-click="launchIgv()"
      ng-disabled="speciesList.length == 0" style="width: 100%"><i
      class="fa fa-bar-chart-o"></i>&nbsp;&nbsp;Launch IGV</button>
  </div>
</div>
