<div ng-controller="NodeSetListApiCtrl">
  <select
    class="form-control"
    ng-model="nodesetIndex"
    ng-change="updateCurrentNodeSet()">
    <option value="" selected disabled>Choose a file set</option>
    <option ng-repeat="nodeset in nodesetList" value="{{$index}}">
      {{nodeset.name}}
    </option>
  </select>
  <div>
    <p></p>
  </div>
  <div ng-controller="IgvCtrl">
  	<div ng-if="message">
  		<div class="alert alert-{{ messageType }}">{{message}}</div>
  	</div>
  	<p ng-if="isLoadingSpecies">
  		<i class="fa fa-refresh fa-spin" style="padding: 2px"></i> Detecting
      species ...
  	</p>
	<ui-select
    ng-show="speciesList.length > 1"
    append-to-body="true"
    ng-model="selectedSpecies">
    <ui-select-match placeholder="Select or type species">
        <span ng-bind="$select.selected.name"></span>
    </ui-select-match>
    <ui-select-choices repeat="species in (speciesList | filter: $select.search)">
        <span ng-bind="species.name"></span>
    </ui-select-choices>
	</ui-select>
    <br>
    <button class="btn btn-warning" ng-click="launchIgv()"
      ng-disabled="speciesList.length == 0" style="width: 100%"><i
      class="fa fa-bar-chart-o"></i>&nbsp;&nbsp;Launch IGV</button>
  </div>
</div>

