<div class="dataSetTabContent" id="files">
  <div class="row">
    <div class="col-md-offset-2 col-md-3">
      <rp-file-browser-node-group>
      </rp-file-browser-node-group>
       <rp-file-browser-node-group-buttons>
       </rp-file-browser-node-group-buttons>
    </div>
    <div class="col-md-offset-3 col-md-2">
      <rp-select-workflow></rp-select-workflow>
    </div>
    <div class="col-md-1">
      <rp-analysis-launch></rp-analysis-launch>
    </div>
  </div>

  <div class="row y-scrollable">
    <div class="col-md-2">
      <rp-file-browser-assay-filters>
      </rp-file-browser-assay-filters>
    </div>
    <div class="col-md-10" id="main-area">
      <rp-file-display></rp-file-display>
    </div>
  </div>
</div>
