<div class="dataSetTabContent" id="files">
  <div class="row">
    <div class="col-md-2">
      <rp-file-display></rp-file-display>
      <!--<div ng-if="FBCtrl.isOwner">-->
      <i class="fa fa-wrench fa-border"
        rp-assay-files-util-modal ng-click="open()">
      </i>
      <a
        id="help-view-selector"
        popover-placement="right"
        uib-popover="The collection of files in this data set can be displayed using different representations."
        popover-title="Select File Display Mode"
        popover-trigger="focus"
        popover-append-to-body="true"
        tabindex="0">
        <i class="fa fa-question-circle fa-lg"></i>
      </a>
      <!--</div>-->
    </div>
    <div class="col-md-3">
      <rp-select-nodes-count></rp-select-nodes-count>
      <rp-file-browser-node-group-reset>
      </rp-file-browser-node-group-reset>
       <a
         popover-placement="bottom"
         uib-popover=" The number of files currently selected. Use facet
         attribute filters and individual file selection check boxes to modify
         the current selection."
         popover-title="Current File Selection"
         popover-trigger="focus"
         tabindex="0">
           <i class="fa fa-question-circle fa-lg"></i>
        </a>
    </div>
    <div class="col-md-2">
      <rp-file-browser-node-group>
      </rp-file-browser-node-group>
      </div>
    <div class="col-md-1">
      <rp-file-browser-node-group-save>
      </rp-file-browser-node-group-save>
    </div>
    <div class="col-md-offset-1 col-md-2">
      <rp-select-workflow></rp-select-workflow>
    </div>
    <div class="col-md-1">
      <rp-analysis-launch></rp-analysis-launch>
    </div>
  </div>

  <div class="row y-scrollable">
    <div class="col-md-2">
      <rp-file-browser-assay-filters>
      </rp-file-browser-assay-filters>
    </div>
    <div class="col-md-10" id="main-area">
      <rp-file-browser-assay-files></rp-file-browser-assay-files>
    </div>
  </div>
</div>
