<div class="navbar-text pull-right" id="navbar-right">
  <!--add pointer-->
  <a href="/dashboard" tabindex=1
    ng-class="{'navLinkDisabled':'dashboard'===$ctrl.path, 'pointer':'dashboard'===$ctrl.path}">
    <i id="refinery-logout" class="fa fa-tachometer icon-only"></i>&nbsp;
    <span class="nav-icon-text">
      My Dashboard
    </span>
  </a>
  &nbsp;&nbsp;&nbsp;&nbsp;

  <span>
   <a rp-analysis-monitor-global-status-tooltip-hider tabindex=2>
     <span>
       <rp-analysis-monitor-global-status>
       </rp-analysis-monitor-global-status>
     </span>
   </a>
  </span>
  &nbsp;&nbsp;&nbsp;&nbsp;

  <a
   class="pointer"
   popover-placement="bottom"
   popover-trigger="'outsideClick'"
   uib-popover-template="dynamicPopover.templateUrl"
   tabindex=2>
   <i class="fa fa-question-circle"></i>
   <span id="help-icon-text" class="nav-icon-text">
      Tutorial
   </span>
  </a>
  &nbsp;&nbsp;&nbsp;&nbsp;

  <a href="/about"
   ng-class="{'navLinkDisabled':'about'===$ctrl.path, 'pointer':'about'===$ctrl.path}"
   tabindex=3>
    <i class="fa fa-info-circle icon-only"></i>
      <span class="nav-icon-text">
        About
      </span>
  </a>
  &nbsp;&nbsp;&nbsp;&nbsp;

  <span id="user-nav">
    <span ng-if="!$ctrl.userProfileUUID.length">
      <a href="/accounts/register"
        ng-class="{'navLinkDisabled':'register'===$ctrl.path, 'pointer':'dashboard'===$ctrl.path}"
        tabindex=4>
        <i class="fa fa-pencil"></i>
        <span>
          Register
        </span>
      </a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/accounts/login/?next=/"
        ng-class="{'navLinkDisabled':'login'===$ctrl.path, 'pointer':'dashboard'===$ctrl.path}"
        tabindex=5>
        <i class="fa fa-sign-in"></i>
        <span>
          Login
        </span>
      </a>
    </span>
    <span ng-if="$ctrl.userProfileUUID.length">
      <a id="refinery-user"
        ng-class="{'navLinkDisabled':'users'===$ctrl.path, 'pointer':'dashboard'===$ctrl.path}"
        ng-href="/users/{{ $ctrl.userProfileUUID }}"
        class="p-r-1-3"
        tabindex=4>
        <i class="fa fa-user"></i>
        <span id="login-name-icon-text" class="nav-icon-text">
          {{ $ctrl.userName }}
        </span>
      </a>
      <span uib-dropdown tabindex=5>
        <a href id="simple-dropdown" uib-dropdown-toggle>
          <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right"
          uib-dropdown-menu
          aria-labelledby="simple-dropdown">
          <li>
            <a
              href="/accounts/logout/?next=/"
              refinery-tooltip
              refinery-tooltip-container="body"
              refinery-tooltip-placement="bottom"
              title="Logout dropdown menu.">
              <i id="refinery-logout" class="fa fa-sign-out icon-only"></i>
                Logout
            </a>
          </li>
        </ul>
      </span>
    </span>
  </span>
</div>
