<div id="data-set-summary" class="content-container" ng-class="{'hidden': !preview.active}">
  <div ng-if="preview.active">
  <!-- Intro.js Data Set Summary -->
  <div
    ng-intro-options="preview.introsSatoriDataSetSummary.options"
    ng-intro-method="preview.introsSatoriDataSetSummary._start"
    ng-intro-exit-method="preview.introsSatoriDataSetSummary._exit"
    ng-intro-onbeforechange="preview.introsSatoriDataSetSummary.beforeChangeEvent"
    ng-intro-autostart="preview.introsSatoriDataSetSummary.autoStart"
    ng-intro-oncomplete="preview.introsSatoriDataSetSummary.complete"
    ng-intro-onexit="preview.introsSatoriDataSetSummary.exit">
  <div
    id="data-set-summary-topbar"
    class="refinery-panel-topbar"
    ng-class="{'allow-overflow': preview.animationFinished}">
    <div
      class="floatbox"
      ng-class="{'allow-overflow': preview.animationFinished}">
      <div class="floatbox-min-right">
        <button
          class="close-preview btn"
          ng-click="preview.close()">
          <i class="fa fa-angle-double-left"></i>
          Close
        </button>
      </div>
      <div class="floatbox-max-left">
        <button
          id="back-to-satori"
          class="btn btn-super-important clickable"
          ng-click="preview.close()"
          ng-if="preview.exploration">
          <i class="fa fa-angle-double-left"></i>
          Back to exploration
        </button>
        <span class="separator" ng-if="preview.exploration">&middot;</span>
        <a
          id="view-in-file-browser"
          class="btn btn-important"
          ng-show="!preview.settings.djangoApp.satoriDemo"
          ng-href="data_sets/{{ preview.dataSetUuid }}">
          <i class="fa fa-folder-open-o"></i>
          View content in File Browser
        </a>
        <a
          id="view-in-file-browser"
          class="btn btn-important is-not-allowed"
          ng-show="preview.settings.djangoApp.satoriDemo"
          ng-click="dashboard.openFileBrowserDisabled()">
          <i class="fa fa-folder-open-o"></i>
          View content in File Browser
        </a>
        <span class="separator">&middot;</span>
        <button
          id="intro-js-satori-data-set-summary-start"
          class="btn clickable"
          ng-click="preview.introsSatoriDataSetSummary.start()"
          ng-if="preview.exploration">
          <span class="fa fa-info-circle"></span>
          Tour
        </button>
        <button
          class="btn clickable spinnable"
          title="Import this shared data set into your own space to run analyses"
          ng-if="!preview.dataSetDetails.is_owner && preview.dataSetDetails
          .isa_archive && app.settings.djangoApp.userId != undefined &&
          (preview.userPerms === 'change' || preview.userPerms === 'read')"
          ng-class="{
            'disabled': preview.importStatus[preview.dataSetUuid].isDataSetReImporting,
            'btn-success': preview.importStatus[preview.dataSetUuid].isDataSetReImportSuccess,
            'btn-danger': preview.importStatus[preview.dataSetUuid].isDataSetReImportFail
          }"
          ng-disabled="preview.importDataSetStarted"
          ng-click="preview.importDataSet()"
          refinery-tooltip
          refinery-tooltip-container="body"
          refinery-tooltip-placement="top"
          refinery-tooltip-delay-show="750"
          refinery-tooltip-delay-hide="150"
          refinery-tooltip-hide-when="preview.importDataSetStarted">
          <div
            class="refinery-spinner-bg"
            ng-if="preview.importStatus[preview.dataSetUuid].isDataSetReImporting">
            <div class="refinery-spinner"></div>
          </div>
          <span ng-if="!preview.importStatus[preview.dataSetUuid].isDataSetReImportSuccess &&
                       !preview.importStatus[preview.dataSetUuid].isDataSetReImportFail">
            <i class="fa fa-cloud-download" aria-hidden="true"></i>
            Import into Own Space
          </span>
          <span ng-if="preview.importStatus[preview.dataSetUuid].isDataSetReImportSuccess">
            <i class="fa fa-check" aria-hidden="true"></i>
            Import successful!
          </span>
          <span ng-if="preview.importStatus[preview.dataSetUuid].isDataSetReImportFail">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            Import failed!
          </span>
        </button>
        <button
          class="btn"
          disabled="disabled"
          ng-if="preview.dataSetDetails.is_owner">
          <i class="fa fa-check" aria-hidden="true"></i>
          Imported
        </button>
        <button
          class="btn clickable spinnable"
          ng-disabled="!preview.dataSetDetails.is_owner"
          ng-click="preview.openPermissionEditor()">
          <div
            class="refinery-spinner-bg"
            ng-if="preview.permissionsLoading !== false">
            <div class="refinery-spinner"></div>
          </div>
          <i class="fa fa-share-square-o"></i>
          Share
        </button>
      </div>
    </div>
  </div>
  <div class="refinery-global-notifier" ng-if="preview.loading !== false">
    <div class="refinery-notifier-icon refinery-spinner"></div>
  </div>
  <div class="content scrollable">
    <div>
      <div id="data-set-summary-summary">
      <h5 class="refinery-subheader">Summary</h5>
      <div class="inline-container">
        <p class="stronger" ng-bind-html="preview.dataSetDetails.title"></p>
      </div>
      <div
        class="inline-container">
        <h6>Description</h6>
        <p ng-if="preview.dataSetDetails.description">
          {{ preview.dataSetDetails.description }}
        </p>
        <p ng-if="!preview.dataSetDetails.description">
          <em>None</em>
        </p>
        <button
          class="is-mirrorable icon-only"
          ng-if="preview.dataSetDetails.description.length > preview.settings.dashboard.preview.defaultLengthDescription"
          ng-click="preview.toggleDescription()"
          ng-class="{'is-mirrored': preview.descLength > preview.dataSetDetails.description.length }">
          <i class="fa fa-chevron-right"></i>
        </button>
      </div>
      <div class="inline-container" ng-if="preview.numAssays > 0">
        <h6>Technology &amp; Measurement</h6>
        <ul class="badge-list">
          <li ng-repeat="assay in preview.assays | limitTo: preview.maxBadges track by $index">
            <div ng-if="assay.technology">
              {{ assay.technology }}
              <span
                class="badge-characteristic"
                ng-if="assay.measurement.length > 0">
                {{ assay.measurement }}
              </span>
            </div>
            <div ng-if="!assay.technology">
              <em>None</em>
            </div>
          </li>
        </ul>
        <button
          class="is-mirrorable icon-only"
          ng-if="preview.maxBadges < this.infinity && preview.maxBadges < preview.studies.sources.length"
          ng-click="preview.toggleBadges()"
          ng-class="{'is-mirrored': preview.maxBadges > preview.studies.sources.length}">
          <i class="fa fa-chevron-right"></i>
        </button>
      </div>
      <div class="inline-container" ng-if="preview.studies.sources.length">
        <h6>Sources</h6>
        <ul class="badge-list">
          <li ng-repeat="source in preview.studies.sources | limitTo: preview.maxBadges track by $index">
            {{ source.name }}
            <span
              class="badge-characteristic"
              ng-if="source.attributes.length">
              {{ source.attributes[0].value }}
            </span>
          </li>
        </ul>
        <button
          class="is-mirrorable icon-only"
          ng-if="preview.maxBadges < this.infinity && preview.maxBadges < preview.studies.sources.length"
          ng-click="preview.toggleBadges()"
          ng-class="{'is-mirrored': preview.maxBadges > preview.studies.sources.length}">
          <i class="fa fa-chevron-right"></i>
        </button>
      </div>
      <div class="inline-container">
        <h6>Number of files (total file size)</h6>
        <p>{{ preview.dataSetDetails.file_count }} ({{ preview.totalFileSize }})</p>
      </div>
      <div class="inline-container">
        <h6>Owner</h6>
        <p ng-if="preview.dataSetDetails.is_owner">You</p>
        <p ng-if="!preview.dataSetDetails.is_owner">
          <a
            ng-if="preview.userName"
            ng-href="/users/{{ preview.dataSetDetails.owner }}/">
            {{ preview.userName }}
          </a>
          <a
            ng-if="!preview.userName"
            ng-href="/users/{{ preview.dataSetDetails.owner }}/">
            {{ preview.dataSetDetails.owner }}
          </a>
        </p>
      </div>
      <div class="inline-container" ng-if="preview.dataSetDetails.accession">
        <h6>Accession</h6>
        <p>{{ preview.dataSetDetails.accession }}</p>
      </div>
    </div>
    <div id="data-set-summary-analyses">
      <h5 class="refinery-subheader">
        Analyses
        <span
          class="badge"
          title="Total number"
          refinery-tooltip
          refinery-tooltip-container="body"
          refinery-tooltip-placement="top"
          refinery-tooltip-delay-show="750"
          refinery-tooltip-delay-hide="150">
          {{ preview.numAnalyses }}
        </span>
      </h5>
      <ol
        class="no-list-style"
        ng-if="preview.numAnalyses">
        <li ng-repeat="analysis in preview.analyses | limitTo:preview.maxAnalyses">
          <i
            class="analyses-status {{ analysis.status | analysisStatusIcon }}"
            title="{{ analysis.status | analysisStatusTitle }}"
            refinery-tooltip
            refinery-tooltip-container="body"
            refinery-tooltip-placement="left">
          </i>
          <span ng-if="analysis.status === 'SUCCESS'">
            <a
              ng-href='/data_sets/{{analysis.data_set__uuid}}/#/files/?{"{{analysis.facet_name}}":"{{analysis.name}}"}'>
              {{ analysis.name }}
             </a>
          </span>
          <span ng-if="analysis.status !== 'SUCCESS'">
            <a ng-href="/data_sets/{{ analysis.data_set__uuid }}/#/analyses/">
              {{ analysis.name }}
            </a>
          </span>
        </li>
        <li ng-if="preview.numAnalyses > preview.maxAnalyses">
          <a ng-href="/data_sets/{{ preview.dataSetUuid }}/#/analyses/">View all analyses</a>
        </li>
      </ol>
      </div>
      <div id="data-set-summary-references">
      <h5 class="refinery-subheader">
        References
        <span
          class="badge"
          title="Total number"
          refinery-tooltip
          refinery-tooltip-container="body"
          refinery-tooltip-placement="top"
          refinery-tooltip-delay-show="750"
          refinery-tooltip-delay-hide="150">
          {{ preview.studies.publications.length }}
        </span>
      </h5>
      <ul
        class="no-list-style references"
        ng-if="preview.studies.publications.length && !preview.citationError">
        <li ng-repeat="publication in preview.studies.publications track by $index">
          <span
            class="refinery-spinner"
            ng-if="publication.citation.isLoading !== false"></span>
          <div ng-if="publication.citation.isLoading === false">
            <span class="title">{{ publication.citation.title }}</span>
            <span class="authors">{{ publication.citation.authors }}</span>
            <span class="journal">
              <em>{{ publication.citation.journal }}</em>
              ({{ publication.citation.year }}),
              {{ publication.citation.volume }},
              {{ publication.citation.issue }},
              {{ publication.citation.pages }}
            </span>
            <span class="links">
              <a
                target="_blank"
                ng-if="publication.doi"
                ng-href="http://dx.doi.org/{{ publication.doi }}">
                <i class="fa fa-external-link-square" aria-hidden="true"></i>
                Source
              </a>
              <a
                target="_blank"
                ng-if="publication.pubmed_id"
                ng-href="http://www.ncbi.nlm.nih.gov/pubmed/{{ publication.pubmed_id }}">
                <i class="fa fa-external-link-square" aria-hidden="true"></i>
                PubMed
              </a>
            </span>
            <span class="abstract inline-container">
              <h6>Abstract</h6>
              <p>{{ publication.citation.abstract | cut:true:publication.citation.abstractLength }}</p>
              <button
                class="is-mirrorable icon-only"
                ng-if="publication.citation.abstract.length > preview.settings.dashboard.preview.defaultLengthAbstract"
                ng-click="preview.toggleAbstract(publication.citation)"
                ng-class="{'is-mirrored': publication.citation.abstractLength > preview.settings.dashboard.preview.defaultLengthAbstract}">
                <i class="fa fa-chevron-right"></i>
              </button>
            </span>
          </div>
        </li>
      </ul>
      <div class="refinery-error" ng-if="preview.citationError">
        <i class="fa fa-exclamation-triangle"></i>
        Could not load reference. The service might have timed out. Please try again later.
      </div>
      </div>
      <div id="data-set-summary-protocols">
      <h5 class="refinery-subheader">
        Protocols
        <span
          class="badge"
          title="Total number of steps"
          refinery-tooltip
          refinery-tooltip-container="body"
          refinery-tooltip-placement="top"
          refinery-tooltip-delay-show="750"
          refinery-tooltip-delay-hide="150">
          {{ preview.studies.protocols.length }}
        </span>
      </h5>
      <ol
        class="numbered-list protocols"
        ng-if="preview.studies.protocols.length">
        <li ng-repeat="protocol in preview.studies.protocols track by $index">
          <h6>{{ protocol.name }}</h6>
          <p class="description" ng-if="protocol.description.length">
            {{ protocol.description }}
          </p>
        </li>
      </ol>
      </div>
    </div>
    <div
      class="multiStudies"
      ng-if="preview.numStudies > 1">
      <p>Multiple studies per data set are not supported yet.</p>
    </div>
  </div>
  </div>
</div>
