<div class="content-container" ng-class="{'hidden': !explorationWrapper.active}">
  <div ng-if="explorationWrapper.active">
    <div
      class="refinery-panel-topbar"
      ng-class="{'allow-overflow': explorationWrapper.ready}">
      <div
        class="floatbox"
        ng-class="{'allow-overflow': explorationWrapper.ready}">
        <div class="floatbox-min-right"></div>
        <div class="floatbox-max-left">
          <h4>Repository exploration</h4>
        </div>
      </div>
    </div>
    <div class="refinery-global-spinner" ng-if="explorationWrapper.loading !== false">
      <div class="refinery-spinner"></div>
    </div>
    <div class="content">
      <treemap ng-if="explorationWrapper.ready"></treemap>
    </div>
  </div>
</div>
