<div
  id="exploration-view"
  class="content-container"
  ng-class="{'hidden': !visWrapper.active, 'invisible': visWrapper.invisible}">
  <div ng-if="visWrapper.active">
    <!-- Intro.js Overview of SATORI's list graph -->
    <div
      ng-intro-options="visWrapper.introsSatoriListGraph.options"
      ng-intro-method="visWrapper.introsSatoriListGraph._start"
      ng-intro-exit-method="visWrapper.introsSatoriListGraph._exit"
      ng-intro-onbeforechange="visWrapper.introsSatoriListGraph.beforeChangeEvent"
      ng-intro-autostart="visWrapper.introsSatoriListGraph.autoStart"
      ng-intro-oncomplete="visWrapper.introsSatoriListGraph.complete"
      ng-intro-onexit="visWrapper.introsSatoriListGraph.exit"></div>
    <!-- Intro.js Overview of SATORI's treemap -->
    <div
      ng-intro-options="visWrapper.introsSatoriTreemap.options"
      ng-intro-method="visWrapper.introsSatoriTreemap._start"
      ng-intro-exit-method="visWrapper.introsSatoriTreemap._exit"
      ng-intro-onbeforechange="visWrapper.introsSatoriTreemap.beforeChangeEvent"
      ng-intro-autostart="visWrapper.introsSatoriTreemap.autoStart"
      ng-intro-oncomplete="visWrapper.introsSatoriTreemap.complete"
      ng-intro-onexit="visWrapper.introsSatoriTreemap.exit"></div>

    <div
      class="refinery-panel-topbar"
      ng-class="{'allow-overflow': visWrapper.ready}">
      <ul id="query-terms" class="no-list-style flex-c flex-js flex-ac query-terms">
        <li class="no-query-terms" ng-if="visWrapper.queryTerms.length === 0">
          Query terms&hellip;
        </li>
        <li
          class="badge"
          ng-repeat="query in visWrapper.queryTerms.list track by query.uri">
          <span
            class="mode"
            ng-click="visWrapper.toggleQuery(query.uri)">{{ query.mode }}</span>
          <span class="name">{{ query.label }}</span>
          <span
            class="close fa fa-times-circle"
            aria-hidden="true"
            ng-click="visWrapper.clearQuery(query.uri)"></span>
        </li>
      </ul>
    </div>
    <div class="full-without-topbar">
      <div
        id="list-graph-wrapper"
        class="top-half"
        ng-class="{ 'is-maximized': visWrapper.treemapIsMinimized, 'is-minimized': visWrapper.treemapIsMaximized }">
        <div class="refinery-global-notifier" ng-if="visWrapper.loading !== false">
          <div class="refinery-notifier-icon refinery-spinner"></div>
        </div>
        <div class="refinery-global-notifier" ng-if="visWrapper.noData === true">
          <div class="refinery-notifier-icon-text refinery-info">
            <i class="fa fa-info-circle"></i>
            No data available!
          </div>
        </div>
        <div class="refinery-global-notifier" ng-if="visWrapper.error === true">
          <div class="refinery-notifier-icon-text refinery-error">
            <i class="fa fa-exclamation-triangle"></i>
            Oh no, something went terribly wrong. Please send an angry email to the developers.
          </div>
        </div>
        <div class="content">
          <list-graph
            ng-if="visWrapper.ready"
            graph="visWrapper.graph"
            value-property-name="visWrapper.propertyValue"
            custom-topbar-buttons="visWrapper.customTopbarButtons"
            init-vis="visWrapper.initVis"></list-graph>
        </div>
      </div>
      <div
        id="treemap-wrapper"
        class="bottom-half"
        ng-class="{ 'is-maximized': visWrapper.treemapIsMaximized, 'is-minimized': visWrapper.treemapIsMinimized }">
        <div class="refinery-global-notifier" ng-if="visWrapper.loading !== false">
          <div class="refinery-notifier-icon refinery-spinner"></div>
        </div>
        <div class="refinery-global-notifier" ng-if="visWrapper.noData === true">
          <div class="refinery-notifier-icon-text refinery-info">
            <i class="fa fa-info-circle"></i>
            No data available!
          </div>
        </div>
        <div class="refinery-global-notifier" ng-if="visWrapper.error === true">
          <div class="refinery-notifier-icon-text refinery-error">
            <i class="fa fa-exclamation-triangle"></i>
            Oh no, something went terribly wrong. Please send an angry email to the developers.
          </div>
        </div>
        <div class="content">
          <treemap
            ng-if="visWrapper.ready"
            graph="visWrapper.treemap"
            intro-js="visWrapper.introsSatoriTreemap"></treemap>
        </div>
      </div>
    </div>
  </div>
</div>
