<div class="content-container" ng-class="{'hidden': !visWrapper.active, 'invisible': visWrapper.invisible}">
  <div ng-if="visWrapper.active">
    <div
      class="refinery-panel-topbar"
      ng-class="{'allow-overflow': visWrapper.ready}">
      <div
        class="floatbox"
        ng-class="{'allow-overflow': visWrapper.ready}">
        <div class="floatbox-min-right">
          <ul class="help no-list-style horizontal-list">
            <li>
              Highlight:
              <span class="inputs">
                <kbd
                  title="Hover with mouse"
                  refinery-tooltip
                  refinery-tooltip-container="body"
                  refinery-tooltip-placement="top">
                  <svg class="icon-cursor-default">
                    <use
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      xlink:href="/static/images/icons.svg#cursor-default"></use>
                  </svg>
                </kbd>
              </span>
            </li>
            <li>
              Lock:
              <span class="inputs">
                <kbd
                  title="Click with mouse"
                  refinery-tooltip
                  refinery-tooltip-container="body"
                  refinery-tooltip-placement="top">
                  <svg class="icon-cursor-click">
                    <use
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      xlink:href="/static/images/icons.svg#cursor-click"></use>
                  </svg>
                </kbd>
              </span>
            </li>
            <li>
              Query:
              <span class="inputs">
                <span
                  title="Hold Command Key and click with mouse"
                  refinery-tooltip
                  refinery-tooltip-container="body"
                  refinery-tooltip-placement="top">
                  <kbd>&#8984;</kbd> +
                  <kbd>
                    <svg class="icon-cursor-click">
                      <use
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xlink:href="/static/images/icons.svg#cursor-click"></use>
                    </svg>
                  </kbd>
                </span> or
                <kbd
                  title="Double click with mouse"
                  refinery-tooltip
                  refinery-tooltip-container="body"
                  refinery-tooltip-placement="top">
                  <svg class="icon-cursor-dblclick">
                    <use
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      xlink:href="/static/images/icons.svg#cursor-dblclick"></use>
                  </svg>
                </kbd>
              </span>
            </li>
          </ul>
        </div>
        <div class="floatbox-max-left">
          <h4>Repository exploration</h4>
        </div>
      </div>
    </div>
    <div class="full-without-topbar">
      <div class="top-half">
        <div class="refinery-global-notifier" ng-if="visWrapper.loading !== false">
          <div class="refinery-notifier-icon refinery-spinner"></div>
        </div>
        <div class="refinery-global-notifier" ng-if="visWrapper.noData === true">
          <div class="refinery-notifier-icon-text refinery-info">
            <i class="fa fa-info-circle"></i>
            No data available!
          </div>
        </div>
        <div class="refinery-global-notifier" ng-if="visWrapper.error === true">
          <div class="refinery-notifier-icon-text refinery-error">
            <i class="fa fa-exclamation-triangle"></i>
            Oh no, something went terribly wrong. Please send an angry email to the developers.
          </div>
        </div>
        <div class="content">
          <list-graph
            ng-if="visWrapper.ready"
            graph="visWrapper.graph"
            value-property-name="visWrapper.propertyValue"></list-graph>
        </div>
      </div>
      <div class="bottom-half">
        <div class="refinery-global-notifier" ng-if="visWrapper.loading !== false">
          <div class="refinery-notifier-icon refinery-spinner"></div>
        </div>
        <div class="refinery-global-notifier" ng-if="visWrapper.noData === true">
          <div class="refinery-notifier-icon-text refinery-info">
            <i class="fa fa-info-circle"></i>
            No data available!
          </div>
        </div>
        <div class="refinery-global-notifier" ng-if="visWrapper.error === true">
          <div class="refinery-notifier-icon-text refinery-error">
            <i class="fa fa-exclamation-triangle"></i>
            Oh no, something went terribly wrong. Please send an angry email to the developers.
          </div>
        </div>
        <div class="content">
          <treemap
            ng-if="visWrapper.ready"
            graph="visWrapper.treemap"></treemap>
        </div>
      </div>
    </div>
  </div>
</div>
