{% extends "refinery_repository/base.html" %}

{% block head_html %}
<link href="{{ STATIC_URL }}js/bootstrap/css/bootstrap-combobox.css" rel="stylesheet">
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/bootstrap/js/bootstrap-combobox.js"></script>

{% endblock %}

{% block subheader %}
Available Samples
{% endblock %}

{% block content %}	

	<button class="btn btn-danger pull-right" id="update_workflow_btn">
		Update Workflow(s)
	</button>
	
    
	{% if results %}
	<!-- <form action="/refinery_repository/analysis_run/" id="sampleForm" method="post">  -->
	<form id="sampleForm" method="post">
    {% csrf_token %}
    
    <div class="span4">
		<div class="control-group input-prepend ">
			<span class="add-on">Workflow</span>
			<select class="combobox pull-left" name="workflow_choice" id="workflow_choice">
	      		<option></option>
	      		{% for work in workflows %}
	      			<option value="{{work.uuid}}">{{work.name}}</option>
	       		{% endfor %}
	    	</select>
		</div>
	</div>
    
	<table class="table table-bordered table-condensed dataTable" id="samples1">
		<thead>	<tr> 
			<th>options</th>
		{% for field in order %}
			{% if field != "raw_data_file" and field != "assay_id" and field != "uuid" %}
				<th> {{ field }} </th>
			{% endif %}
		{% endfor %}
    		</tr>
  		</thead>
  		
		{% for result in results.object_list %}

		<tr>
			<td>
				<select name="assay_{{ result.uuid }}" id="webmenu" class="OGcombobox">
    				<option></option>
  				</select>
			</td>
			
			<td>
			{% if result.investigation_id == None  %}
				<br>
			{% else %}
				{{ result.investigation_id }} 
			{% endif %}
			</td>
			
			<td>
			{% if result.assay_name == None  %}
				<br>
			{% else %}
				{{ result.assay_name }} 
			{% endif %}
			</td>
			
			<td>
			{% if result.species == None  %}
				<br>
			{% else %}
				{{ result.species }} 
			{% endif %}
			</td>
			
			<td>
			{% if result.description == None  %}
				<br>
			{% else %}
				{{ result.description }} 
			{% endif %}
			</td>
			
			<td>
			{% if result.chip_antibody == None  %}
				<br>
			{% else %}
				{{ result.chip_antibody }} 
			{% endif %}
			</td>
			
			<td>
			{% if result.antibody == None  %}
				<br>
			{% else %}
				{{ result.antibody }} 
			{% endif %}
			</td>
			
			<td>
			{% if result.tissue == None  %}
				<br>
			{% else %}
				{{ result.tissue }} 
			{% endif %}
			</td>
			
			<td>
			{% if result.genotype == None  %}
				<br>
			{% else %}
				{{ result.genotype }} 
			{% endif %}
			</td>
			
			<td>
			{% if result.file == None  %}
				<br>
			{% else %}
				{{ result.file }} 
			{% endif %}
			</td>
		</tr>
			
  
		{% endfor %}
	</table>
    	<!-- <button input type="submit" class="btn btn-primary btn-large" id="submitSamplesBtn">  -->
    	<button class="btn btn-primary btn-large" id="submitSamplesBtn">
    	<i class="icon-road"></i>
    	Run Workflow
    	</button>
    </form>
	
	<div class="pagination">
			<div class="btn-group">
			{% if results.has_previous %} 
				<a class="btn btn-inverse" href="?page={{results.previous_page_number}}"><i class="icon-arrow-left icon"></i> previous </a> 
			{% endif %} 
				<span class="current"> Page {{results.number}} of {{results.paginator.num_pages}} </span> 
			{% if results.has_next %} 
				<a class="btn btn-inverse" href="?page={{results.next_page_number}}"><i class="icon-arrow-right icon"></i> next </a> 
				{% endif %} 
				</div>
	</div>
	
	
	{% else %}
	<p>
		No available files
	</p>
	{% endif %}
	

	<script>
	
	// function for updating available workflows
	$("#workflow_choice").change(function(  ) {
		var temp_url = "/refinery_repository/workflow_inputs/" + $("#workflow_choice").val() + "/";
		 $.ajax({
		     url:temp_url,
		     type:"POST",
		     dataType: "json",
		     data: {csrfmiddlewaretoken: "{{ csrf_token }}" },
		     success: function(result){
		     	// emptys all dropdown menus with current inputs
		     	$(".OGcombobox").empty();
		     	$('.OGcombobox').append('<option></option>');
		     	// adds options for the specified workflow
		     	for (var i = 0; i < result.length; i++) { 
              		$('.OGcombobox').append('<option value="'+ result[i].fields["name"] + '">' + result[i].fields["name"] + '</option>');
          		}
			}
			});
	});
	
	// validate form inputs: To ensure a workflow is chosen
	$("#submitSamplesBtn").click( function() {
		event.preventDefault(); // cancel default behavior
		// getting currently selected workflow
		var temp_value = $("#workflow_choice").val();
		if (temp_value != "") {
			document.getElementById('sampleForm').action='/refinery_repository/analysis_run/'; // Where to go
			document.getElementById('sampleForm').submit(); // Send POST data and go there
		}
		else { 
			alert("Please Select a Workflow");
		}
  	});
  	
	// Button to update available workflows from galaxy
	$("#update_workflow_btn").click( function() {
    	$.ajax({
		     url:"/refinery_repository/update_workflows/",
		     type:"POST",
		     dataType: "json",
		     data: {csrfmiddlewaretoken: "{{ csrf_token }}" },
		     success: function(result){
		     	//console.log(result);
		     	//$("#workflow_choice").empty();
		     	//$('.dropdown-menu').empty();
		     	//$('.combobox').combobox();
		     	
		     	/*
		     	for (var i = 0; i < result.length; i++) { 
		     		console.log(result[i].fields.name);
		     		console.log(result[i].fields.uuid);
		     	}
		     	*/
		     	
		     	alert("SUCCESSFULLY UPDATED WORKFLOWS"); 	
   				}
			});
		});

  	$(document).ready(function() {
	    $('#samples1').dataTable( {
	    	"sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
	        "aaSorting": [[ 1, "desc" ]],
	        "bPaginate": false,
	        "bFilter" : false,
	        "aoColumnDefs":[
				{"aTargets":[0],"bSortable":false}]
	    } );
	
	    $('.combobox').combobox();
	    //console.log($("#workflow_choice").val());
	    //$('.combobox').prop('selectedIndex', -1)
	} );

  </script>
{% endblock %} 