{% extends "refinery_repository/base.html" %}

{% block head_html %}
<link href="{{ STATIC_URL }}js/bootstrap/css/bootstrap-combobox.css" rel="stylesheet">
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/bootstrap/js/bootstrap-combobox.js"></script>
{% endblock %}

{% block subheader %}
ISA-Tab import
{% endblock %}

{% block content %}
<p>Upload an ISA-Tab file as a Zip archive</p>
{% if form.errors %}
	<p style="color:red;">
		Please correct the error {{ form.errors|pluralize }} below.
	</p>
{% endif %}
<form id="isaTabImportForm" enctype="multipart/form-data" action="" method="post">{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Import" />
</form>
{% endblock %}
