{% extends "base.html" %}

{% block title %}
{{ block.super }} - Investigation
{% endblock %}

{% block subheader %}
 Investigation
{% endblock %}

{% block content %}
{% if investigation %}
	<div class="label">Title</div>
	<p>{{ investigation.study_title }}</p>
	
	<div class="label">Description</div>
	<p>{{ investigation.study_description }}</p>

	<div class="label">UUID</div>
	<p class="fixed">{{ investigation.investigation_uuid }}</p>		
{% else %}
    <p>Not a valid investigation.</p>
{% endif %}

{% endblock %}
