{% extends "refinery_repository/base.html" %}

{% block head_html %}
<SCRIPT language="javascript">
$(function(){
 
    // add multiple select / deselect functionality
    $("#selectall").click(function () {
          $('.case').attr('checked', this.checked);
    });
 
    // if all checkbox are selected, check the selectall checkbox
    // and viceversa
    $(".case").click(function(){
 
        if($(".case").length == $(".case:checked").length) {
            $("#selectall").attr("checked", "checked");
        } else {
            $("#selectall").removeAttr("checked");
        }
 
    });
});
</SCRIPT>
{% endblock %}

{% block subheader %}
Available Samples
{% endblock %}

{% block content %}		
	{% if results %}
	<form action="/refinery_repository/download/" method="post">
    {% csrf_token %}
	<table class="table table-bordered table-condensed dataTable" id="samples1">
		<!-- ['investigation_id', 'assay_name', 'species', 'chip_antibody', 'antibody', 'tissue', 'genotype', 'raw_data_file'] -->
		<thead>	<tr> <th><input type="checkbox" id="selectall"/></th>
		{% for field in order %}
			{% if field != "raw_data_file"  %}
				<th> {{ field }} </th>
			{% endif %}
		{% endfor %}
    		</tr>
  		</thead>
  		
		{% for result in results.object_list %}

		<tr>
			<td>
				<input type="checkbox" name="{{result.investigation_id}},{{result.raw_data_file}}" id="{{result.raw_data_file}} {{result.investigation_id}}" class="case" />
			</td>
			
			<td>
			{% if result.investigation_id == None  %}
				<br>
			{% else %}
				{{ result.investigation_id }} 
			{% endif %}
			</td>
			
			<td>
			{% if result.assay_name == None  %}
				<br>
			{% else %}
				{{ result.assay_name }} 
			{% endif %}
			</td>
			
			<td>
			{% if result.species == None  %}
				<br>
			{% else %}
				{{ result.species }} 
			{% endif %}
			</td>
			
			<td>
			{% if result.description == None  %}
				<br>
			{% else %}
				{{ result.description }} 
			{% endif %}
			</td>
			
			<td>
			{% if result.chip_antibody == None  %}
				<br>
			{% else %}
				{{ result.chip_antibody }} 
			{% endif %}
			</td>
			
			<td>
			{% if result.antibody == None  %}
				<br>
			{% else %}
				{{ result.antibody }} 
			{% endif %}
			</td>
			
			<td>
			{% if result.tissue == None  %}
				<br>
			{% else %}
				{{ result.tissue }} 
			{% endif %}
			</td>
			
			<td>
			{% if result.genotype == None  %}
				<br>
			{% else %}
				{{ result.genotype }} 
			{% endif %}
			</td>
			
			<td>
			{% if result.file == None  %}
				<br>
			{% else %}
				{{ result.file }} 
			{% endif %}
			</td>
		</tr>
			
		
<!--		
		{# {% for result in results.object_list %} #}
	
			
	<tr>
			
			{% for row in result %} 
			<td>
			{% if row == None  %}
			<br>
			{% else %}
			{{ row }} 
			{% endif %}
			</td>
			{% endfor %}
			
		</tr>
		
	-->
		
		
  
		{% endfor %}
	</table>
    	<button input type="submit" class="btn btn-primary btn-large"> 
    	<i class="icon-road"></i>
    	Run Workflow
    	</button>
    </form>
	
	<div class="pagination">
			<div class="btn-group">
			{% if results.has_previous %} 
				<a class="btn btn-inverse" href="?page={{results.previous_page_number}}"><i class="icon-arrow-left icon"></i> previous </a> 
			{% endif %} 
				<span class="current"> Page {{results.number}} of {{results.paginator.num_pages}} </span> 
			{% if results.has_next %} 
				<a class="btn btn-inverse" href="?page={{results.next_page_number}}"><i class="icon-arrow-right icon"></i> next </a> 
				{% endif %} 
				</div>
	</div>
	
	
	{% else %}
	<p>
		No available files
	</p>
	{% endif %}

	<script>
  //$(document).ready(function() {
   // $("#samples1").draggable();
   // $("#droppable").droppable({
   //   drop: function() { alert('dropped'); }
   // });
  //});
 
  
  $(document).ready(function() {
    $('#samples1').dataTable( {
    	"sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "aaSorting": [[ 1, "desc" ]],
        "bPaginate": false,
        "bFilter" : false,
        "aoColumnDefs":[
			{"aTargets":[0],"bSortable":false}]
    } );
} );


  </script>
{% endblock %} 