{
  "ADMINS": [
    ["Refinery Admin", "admin@example.org"]
  ],
  "DATABASES": {
    "default": {
        "ENGINE": "django.db.backends.postgresql_psycopg2",
        "NAME": "refinery",
        "USER": "vagrant",
        "PASSWORD": "",
        "HOST": "",
        "PORT": ""
    }
  },
  "BROKER_URL": "amqp://guest:guest@localhost:5672//",
  "TIME_ZONE": "America/New_York",
  "LANGUAGE_CODE": "en-us",
  "USE_I18N": true,
  "USE_L10N": true,
  "MEDIA_ROOT": "/vagrant/media",
  "MEDIA_URL": "/media/",
  "STATIC_ROOT": "/vagrant/static",
  "STATIC_URL": "/static/",
  "ADMIN_MEDIA_PREFIX": "/static/admin/",
  "SECRET_KEY": "SECRET",
  "DEFAULT_FROM_EMAIL": "webmaster@localhost",
  "EMAIL_HOST": "localhost",
  "EMAIL_PORT": 25,
  "SERVER_EMAIL": "root@localhost"
  "ACCOUNT_ACTIVATION_DAYS": 7,
  "REGISTRATION_OPEN": true,
  "REFINERY_REGISTRATION_CLOSED_MESSAGE": ""
}
