{
  "ADMINS": [
    ["Refinery Admin", "admin@example.org"]
  ],
  "DATABASES": {
    "default": {
        "ENGINE": "django.db.backends.postgresql_psycopg2",
        "NAME": "refinery",
        "USER": "vagrant",
        "PASSWORD": "",
        "HOST": "",
        "PORT": ""
    }
  },
  "BROKER_URL": "amqp://guest:guest@localhost:5672//",
  "SECRET_KEY": "SECRET"
}
