; Sample config file for managing Celery, Solr and Django dev server processes
; using Supervisor.
; Requires $SOLR and $WORKON_HOME environment variables
; Copy to refinery-platform/refinery/supervisord.conf and customize to match
; your environment.

[supervisord]
logfile = /tmp/supervisord.log
logfile_maxbytes = 1MB
logfile_backups = 4
pidfile = /tmp/supervisord.pid
nocleanup = true
childlogdir = %(here)s

[inet_http_server]         ; inet (TCP) server disabled by default
port = 127.0.0.1:9001        ; (ip_address:port specifier, *:port for all iface)
username = refinery
password = test

[supervisorctl]
;serverurl = unix:///tmp/supervisor.sock ; use a unix:// URL  for a unix socket
serverurl = http://127.0.0.1:9001 ; use an http:// url to specify an inet socket
username = refinery            ; should be same as http_username if set
password = test                ; should be same as http_password if set

; the below section must remain in the config file for RPC
; (supervisorctl/web interface) to work, additional interfaces may be
; added by defining them in separate rpcinterface: sections
[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[program:solr]
command = java -Djava.awt.headless=true -Dsolr.solr.home=%(here)s/solr/ -jar start.jar
directory = %(ENV_SOLR)s/example
stdout_logfile = /tmp/solr.log
stdout_logfile_maxbytes = 1MB
stdout_logfile_backups = 4
stderr_logfile = /tmp/solr.log
redirect_stderr = true
autostart = true
autorestart = true
startsecs = 10

[program:celeryd]
command = %(ENV_WORKON_HOME)s/refinery-platform/bin/python %(here)s/manage.py celeryd -E --purge --discard
environment = PYTHONPATH=%(here)s
stdout_logfile = /tmp/celeryd.log
stdout_logfile_maxbytes = 1MB
stdout_logfile_backups = 4
stderr_logfile = /tmp/celeryd.log
redirect_stderr = true
autostart = true
autorestart = true
startsecs = 5
; Need to wait for currently executing tasks to finish at shutdown.
; Increase this if you have very long running tasks.
;stopwaitsecs = 60
priority = 995

[program:celerycam]
command = %(ENV_WORKON_HOME)s/refinery-platform/bin/python %(here)s/manage.py celerycam
environment = PYTHONPATH=%(here)s
stdout_logfile = /tmp/celerycam.log
stdout_logfile_maxbytes = 1MB
stdout_logfile_backups = 4
stderr_logfile = /tmp/celerycam.log
redirect_stderr = true
autostart = true
autorestart = true
startsecs = 3
priority= 995

[program:runserver]
command = %(ENV_WORKON_HOME)s/refinery-platform/bin/python %(here)s/manage.py runserver --noreload
environment = PYTHONPATH=%(here)s
stdout_logfile = /tmp/refinery.log
stdout_logfile_maxbytes = 1MB
stdout_logfile_backups = 4
stderr_logfile = /tmp/refinery.log
redirect_stderr = true
autostart = true
autorestart = true
startsecs = 3
stopwaitsecs = 0
priority = 999
