<div>
  <div class="row">
    <div id="vis_workflow" class="col-md-12"></div>
    <div class="col-md-12">
    </div>
  </div>
  <div class="refinery-subheader">
    <h4>Select Node to See Details</h4>
  </div>
  <p>
    <div id="node_table"></div>
  </p>

  <div class="refinery-subheader">
    <h4>Layout</h4>
  </div>
  <div>
    <label class="block label-block lavel-text-left p-l-1-3">
      <input type="radio" name="optionsRadios" value="cb_layout_kind_refinery"
        ng-change="$ctrl.reloadWorkflow()"
        ng-model="$ctrl.workflowGraph.selected">
        Refinery
      </input>
    </label>
    <label class="block label-block lavel-text-left p-l-1-3">
      <input type="radio" name="optionsRadios" value="cb_layout_kind_galaxy"
        ng-change="$ctrl.reloadWorkflow()"
        ng-model="$ctrl.workflowGraph.selected">
        Galaxy
      </input>
    </label>
  </div>
</div>
