language: python
cache: pip
addons:
  firefox: "49.0.1"
python:
  - 2.7
services:
  - postgresql
  - neo4j
install:
  - pip install -r requirements.txt --quiet
  # Install geckodriver required for selenium testing
  - TAR=geckodriver-v0.11.1-linux64.tar
  - wget https://github.com/mozilla/geckodriver/releases/download/v0.11.1/$TAR.gz
  - gunzip $TAR.gz
  - tar -xvf $TAR
  - chmod a+x geckodriver
  - export PATH=$PATH:`pwd`
env:
  global:
    # These env vars are available to every build
    - REDUCE_TEST_OUTPUT=true
    - PYTHONPATH=$PYTHONPATH:../refinery:../refinery/config
    - DJANGO_SETTINGS_MODULE=config.settings.prod

before_script:
  - createuser --createdb --no-superuser --no-createrole vagrant
  - createdb -O vagrant refinery
  - cd refinery
# See http://www.stuartellis.eu/articles/erb/#running-erb-from-the-command-line
  - erb config/config.json.erb > config/config.json
  - python manage.py syncdb --noinput
  - python manage.py migrate registration
  - python manage.py migrate core
  - python manage.py migrate guardian
  - python manage.py create_public_group
  - python manage.py syncdb --migrate --noinput
  - npm install -g grunt-cli@0.1.13 bower@1.7.7 --progress false --quiet
  - cd ui
  - npm install --progress false --quiet
  - bower install --config.interactive=false --quiet
  - cd ../
script:
  - set -e # Any error will cause travis to exit early and report a failure.

  - flake8 --exclude=migrations,ui ..

  - echo 'travis_fold:start:grunt'
  - pushd ui && grunt && popd
  - echo 'travis_fold:end:grunt'

  - echo 'travis_fold:start:django-tests'
  - coverage run manage.py test --liveserver=localhost:1234
  - echo 'travis_fold:end:django-tests'

  - set +e # Currently, codecov does not always exit with 0, but that should not cause travis to fail.

after_success:
  - codecov
  - npm run codecov
notifications:
  slack:
    secure: nDs9Oj08nRizuD0edl6WcrSgaTPMyITQjZc4qPZpt+yOxUehWbrAmVhqYypfyvdj4qSi1E72rPTXftuBB1E1IZBgX4CCkrCkWGLgIxHaaValTd64oOX66eC3BbSehQxuJB7w1DWw54xBUkTy6+ufjAqiwhLpoEUeE296urAWYHU=
