sudo: required

language: python
cache: pip
addons:
  firefox: "53.0.3"
  apt:
    packages:
      - xvfb

python:
  - 2.7

services:
  - postgresql
  - neo4j
  - docker

install:
  - node --version
  - npm --version
  - npm install -g npm@3.10.10
  - npm --version
  - pip install -r requirements.txt --quiet
  # Install geckodriver required for selenium testing
  - GECKODRIVER_VERSION=v0.17.0
  - TAR=geckodriver-$GECKODRIVER_VERSION-linux64.tar
  - wget https://github.com/mozilla/geckodriver/releases/download/$GECKODRIVER_VERSION/$TAR.gz
  - gunzip $TAR.gz
  - tar -xvf $TAR
  - chmod a+x geckodriver
  - export PATH=$PATH:`pwd`
env:
  global:
    # These env vars are available to every build
    - PYTHONPATH=$PYTHONPATH:../refinery:../refinery/config
    - DJANGO_SETTINGS_MODULE=config.settings.prod

before_script:
  - createuser --createdb --no-superuser --no-createrole vagrant
  - createdb -O vagrant refinery
  - cd refinery
# See http://www.stuartellis.eu/articles/erb/#running-erb-from-the-command-line
  - erb config/config.json.erb > config/config.json
  - python manage.py migrate --noinput
  - npm install -g grunt-cli@0.1.13 bower@1.7.7 n --progress false --quiet || ( cat npm-debug.log && false )
  - node --version
  - n 6.11.1
  - node --version
  - cd ui
  - npm install --progress false --quiet || ( cat npm-debug.log && false )
  - bower install --config.interactive=false --quiet
  - cd ../
script:
  - set -e # Any error will cause travis to exit early and report a failure.

  # TODO: Not the same behavior as pre-commit hook.
  # https://github.com/refinery-platform/refinery-platform/issues/1851
  - flake8 --exclude=migrations,ui ..

  - echo 'travis_fold:start:grunt'
  - pushd ui && grunt && popd
  - echo 'travis_fold:end:grunt'

  - echo 'travis_fold:start:django-tests'
  - coverage run manage.py test
  - echo 'travis_fold:end:django-tests'

  - set +e # Currently, codecov does not always exit with 0, but that should not cause travis to fail.

after_success:
  - echo 'travis_fold:start:codecov'
  - codecov
  - npm run codecov
  - echo 'travis_fold:end:codecov'
notifications:
  slack:
    secure: nDs9Oj08nRizuD0edl6WcrSgaTPMyITQjZc4qPZpt+yOxUehWbrAmVhqYypfyvdj4qSi1E72rPTXftuBB1E1IZBgX4CCkrCkWGLgIxHaaValTd64oOX66eC3BbSehQxuJB7w1DWw54xBUkTy6+ufjAqiwhLpoEUeE296urAWYHU=
