# Copy this file to ~/.fabricrc and customize to match your environment
# Note: these settings are not used if deploying locally with Vagrant

# some defaults for deploying to AWS
project_user=ubuntu
refinery_project_dir=/srv/refinery-platform
refinery_virtualenv_name=refinery-platform

# deployment hosts
dev_host=refinery-dev.example.org
test_host=ec2-54-92-185-133.compute-1.amazonaws.com
prod_host=refinery-prod.example.org

# codebase branches to be used for deployment to corresponding hosts
dev_branch=develop
test_branch=release-1.7.1
prod_branch=master
