<div class="modal-header">
  <h3>{{ modal.config.title }}</h3>
</div>
<div id="check_availability_overflow" class="modal-body" ng-if="modal.config.items.length">
  <p>
    The following files are listed in the <strong>Data File Column</strong>
    of your metadata file, but have not yet been uploaded to Refinery.
  	<ul>
  		<li ng-repeat="item in modal.config.items track by $index">{{ ::item }}</li>
	</ul>
  </p>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="modal.ok()">OK</button>
</div>
