<div id="dataUploadTutorialStep7" class="tab-pane" id="data">
  <form id="fileupload" method="POST" enctype="multipart/form-data"
        data-file-upload="FileCtrl.options"
        ng-class="{'fileupload-processing': processing()}">

    <!-- Redirect browsers with JavaScript disabled to the origin page -->
    <noscript>
      <input type="hidden" name="redirect" value="/">
    </noscript>

    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
    <div class="row fileupload-buttonbar v-centered-row">
      <div class="col-lg-12">
         <label class="block label-block label-text-left p-b-1-4">
           <span class="label-text label-left min-width-75">
             Local files:
           </span>
          <div
            class="refinery-base btn btn-default btn-sm fileinput-button"
            ng-class="{ 'disabled': disabled, 'banned': FileCtrl.isNodeUpdate && queue.length >= 1}"
            ng-disabled="FileCtrl.isNodeUpdate && queue.length >= 1">
            <i class="fa fa-plus"></i>
            <span ng-if="!FileCtrl.isNodeUpdate">Add files &hellip;</span>
            <span ng-if="FileCtrl.isNodeUpdate">Add file</span>
            <input
              class="refinery-base"
              ng-disabled="disabled"
              type="file"
              name="files[]"
              multiple>
          </div>
          <button
            class="active-group refinery-base btn btn-default btn-sm start m-l-1-3"
            ng-class="{'banned': FileCtrl.isNodeUpdate && queue[0].name !== FileCtrl.fileName}"
            ng-click="submit()"
            ng-disabled="FileCtrl.numUnfinishedUploads() === 0 || processing() ||
                        FileCtrl.overallFileStatus != 'queuing' ||
                        (FileCtrl.isNodeUpdate && queue[0].name !== FileCtrl.fileName)">
            <i class="fa fa-upload"></i>
            <span>Start upload</span>
          </button>
          <button
            class="refinery-base btn btn-default btn-sm cancel m-l-1-3"
            ng-class="{'banned': FileCtrl.numUnfinishedUploads() === 0}"
            ng-click="cancel()"
            ng-disabled="FileCtrl.numUnfinishedUploads() === 0">
            <i class="fa fa-ban"></i>
            <span>Cancel upload</span>
          </button>
         </label>
        </div>
      <span class="text-warning"
        ng-if="FileCtrl.isNodeUpdate && queue[0].name !== FileCtrl.fileName
        && queue.length == 1">
        <i class="fa fa-warning" aria-hidden="true"></i>
         The name of the file to add must match the existing filename in
         the data set. <strong>Cancel upload</strong> and add a file named
        <em>{{ FileCtrl.fileName }}</em>.
      </span>
      <!-- Removed global progress state, issue #1300 -->
    </div>
    <!-- The table listing the files available for upload/download -->
    <div class="container-fluid">
      <div
        class="row bordered-row v-centered-row"
        ng-repeat="file in queue"
        ng-class="{
          'processing': file.$processing(),
          'bg-danger': file.error
        }">
        <div class="col-xs-4">
          <div class="v-center">
            <p class="name">
              <strong>{{ file.name }}</strong>
              ({{ file.size | formatFileSize }})
            </p>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="v-center">
            <div
              class="progress progress-striped active"
              ng-class="{ 'progress-striped active': !file.uploaded && !file.error }"
              file-upload-progress="file.$progress()">
              <div
                class="progress-bar"
                role="progressbar"
                ng-class="{ 'progress-bar-success': file.uploaded, 'progress-bar-danger': file.error }"
                ng-style="{ width: num + '%' }">
                <span ng-show="num > 0" ng-if="!file.error">{{ num + '%' }}</span>
                <i class="fa fa-exclamation-triangle" ng-if="file.error"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div ng-if="!file.uploaded && !file.error">
            <button
              class="active-group refinery-base btn btn-default btn-sm start"
              ng-click="file.$submit()"
              ng-hide="!file.$submit || FileCtrl.options.autoUpload || FileCtrl.isNodeUpdate"
              ng-disabled="file.$state() == 'pending' ||
                 file.$state() == 'rejected' ||
                 FileCtrl.fileCache[file.name].status != 'queued'">
              <i class="fa fa-upload"></i>
              <span>Start</span>
            </button>
            <button
              class="refinery-base btn btn-default btn-sm cancel"
              ng-click="file.$cancel()"
              ng-hide="!file.$cancel || FileCtrl.isNodeUpdate"
              ng-disabled="FileCtrl.fileCache[file.name].status == 'waitingOnMD5'">
              <i class="fa fa-ban"></i>
              <span>Cancel</span>
            </button>
            <button
              class="btn btn-danger btn-sm destroy"
              ng-controller="RefineryFileDestroyCtrl"
              ng-click="file.$destroy()"
              ng-hide="!file.$destroy">
              <i class="fa fa-trash"></i>
              <span>Delete</span>
            </button>
          </div>
          <div class="v-center" ng-if="file.uploaded && !FileCtrl.isNodeUpdate">
            <i class="fa fa-check-circle success"></i>
            <strong>Uploaded</strong>
          </div>
          <div class="v-center" ng-if="file.error">
            <strong
              class="error text-danger"
              ng-if="file.error"
              ng-bind="file.error">
            </strong>
          </div>
          <div class="v-center" ng-if="FileCtrl.isNodeUpdate">
             <span class="text-warning" ng-if="FileCtrl.addFileStatus=='error'">
               <i class="fa fa-warning" aria-hidden="true"></i>
               Error adding file to data set.
             </span>
            <span class="text-success"
              ng-if="file.uploaded && FileCtrl.addFileStatus=='success'">
               <i class="fa fa-check-circle success"></i>
                File successfully added to data set.
            </span>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
