<div>
  <label class="block label-block label-text-left p-b-1-4">
    <span class="label-text label-left min-width-75">
      Remote files:
    </span>
    <button
      class="refinery-base btn btn-default btn-sm"
      ng-click="$ctrl.launchCommandLineModal()" data-toggle="modal">
      <i class="fa fa-terminal"></i>
      <span>Get upload command</span>
    </button>
    <span class="p-l-1-3">
      <a
        popover-placement="right"
        uib-popover-html="'If your files are on a remote server, copy and
        paste the provided command into your terminal window to directly
        upload them. Note, this script requires AWS CLI tool to be installed.'"
        popover-title="Upload Remote Data Files"
        popover-trigger="'outsideClick'"
        popover-append-to-body="true">
          <i class="fa fa-question-circle info-icon icon-only"></i>
      </a>
    </span>
  </label>
</div>
