<div class="p-b-1">
  <label class="block label-block label-text-left">
    <span class="label-text label-left">
      Upload from Remote:
    </span>
    <button
      class="refinery-base btn btn-default btn-sm"
      ng-click="$ctrl.launchCommandLineModal()" data-toggle="modal">
      <i class="fa fa-plus"></i>
      <span class="p-l-1-4">Add files from command line</span>
    </button>
    <span class="p-l-1-3">
      <a
        popover-placement="right"
        uib-popover-html="'Display a script that will allow
        you to upload files from the command line.'"
        popover-title="Upload Files"
        popover-trigger="'outsideClick'"
        popover-append-to-body="true">
          <i class="fa fa-question-circle info-icon icon-only"></i>
      </a>
    </span>
  </label>
</div>
