<div id="isa-tab-import-form">
  <div id="dataUploadTutorialStep6">
    <div>
      <p>
        Please provide <code>.zip</code> archive containing an investigation, study, and assay
        file.
      </p>
    </div>

    <div class="relative">
      <div
        class="refinery-max z-1 refinery-spinner-bg"
        ng-if="isaTabImport.isImporting">
        <div class="refinery-spinner-center">
          <div class="refinery-spinner"></div>
        </div>
      </div>

      <div
        class="refinery-max z-1 refinery-bg-success text-success"
        ng-if="isaTabImport.isSuccessfullyImported">
        <div class="text-centered">
          <i class="fa fa-check" aria-hidden="true"></i>
          Data set has been successfully imported. You will be redirected shortly.
          Otherwise click <a ng-href="/data_sets/{{ isaTabImport.importedDataSetUuid }}/">here</a>.
        </div>
      </div>

      <div
        class="refinery-max z-1 refinery-bg-danger text-danger"
        ng-if="isaTabImport.isErrored">
        <div class="text-centered">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          <span ng-if="isaTabImport.errorMessage">
             {{ isaTabImport.errorMessage }}
          </span>
            <span ng-if="!isaTabImport.errorMessage">
              Import of this data set failed.
          </span>
          <p>
            <a class="pointer" ng-click="isaTabImport.closeError()">
              Return to IsaTab Import Form
            </a>
          </p>
        </div>
      </div>

      <label class="block label-block label-text-left">
        <span class="label-text label-left min-width-200">Select local ISA-Tab archive:</span>
        <input
          id="id_isa_tab_file"
          name="isa_tab_file"
          type="file"
          ng-disabled="!!isaTabImport.urlToFile"
          file-model="isaTabImport.file"
          clear-file-input="isaTabFile"
          clear-file-input-model="isaTabImport.file">
        <button
          class="icon-only"
          ng-if="isaTabImport.file"
          ng-click="isaTabImport.clearFile()">
          <i
            class="refinery-warning fa fa-times-circle"
            aria-hidden="true"
            title="Clear selected file"
            refinery-tooltip
            refinery-tooltip-container="body"
            refinery-tooltip-placement="top"
            refinery-tooltip-delay-show="750"
            refinery-tooltip-delay-hide="150"
            refinery-tooltip-hide-on-click="true">
          </i>
        </button>
      </label>

      <div class="text-muted m-t-1-2 m-b-1-2">or</div>

      <label class="block label-block label-text-left">
        <span class="label-text min-width-200">URL to remote ISA-Tab archive:</span>
        <input
          id="id_isa_tab_url"
          name="isa_tab_url"
          size="37"
          type="text"
          placeholder="e.g. http://example.com/isa-tab.zip"
          ng-model="isaTabImport.urlToFile"
          ng-disabled="!!isaTabImport.file">
      </label>

      <div class="refinery-subheader m-t-1">
        <h1>Complete Submission</h1>
      </div>
      <div class="row m-t-1-4 m-b-1-4">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="m-t-1 m-b-1">
            Would you like to upload data files?
            <label class="p-l-1-2">
              <input
                type="radio"
                ng-value="false"
                ng-model="isaTabImport.showFileUpload"
                checked>
              No
            </label>
            <label class="p-l-1-2">
              <input
                type="radio"
                ng-value="true"
                ng-model="isaTabImport.showFileUpload">
              Yes
            </label>
          </div>

          <div class="m-t-1 m-b-1" ng-if="isaTabImport.showFileUpload">
            <rp-file-upload></rp-file-upload>
          </div>
        </div>
      </div>

      <button
        id="isa-import-button"
        class="block refinery-base btn btn-default"
        ng-click="isaTabImport.startImport()"
        ng-if="isaTabImport.file || isaTabImport.urlToFile"
        ng-disabled="isaTabImport.isSuccessfullyImported || !isaTabImport.checkImportOption">
        Start Import
      </button>
    </div>
  </div>
</div>
