<div id="group-collab">

    <div class="span4">
        <div class="refinery-panel">
            <div class="refinery-header">
                <span class="refinery-header-left">
                    <h3>
                        <i class="m-r-1-4 icon-group"></i>Groups
                    </h3>
                    {{test.groupList.length}}
                </span>
                <span class="refinery-header-right">
                    <a ng-href="#/{{activeGroup.uuid}}/" ng-click="openAddGroup()"><i class="icon-plus"></i></a>
                </span>
            </div>

            <div class="refinery-panel-content scrollable jquery-full-height">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="90%">Name</th>
                            <th width="10%">Edit</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="group in groupList">
                        <tr>
                            <td ng-class="{'active-group':group.active}">
                                <a ng-href="#/{{group.uuid}}/" ng-click="setActiveGroup(group)">
                                    {{group.name}}
                                </a>
                                <span ng-if="group.can_edit" style="float:right;color:red">
                                    manager
                                </span>
                            </td>
                            <td>
                                <a ng-href="#/{{group.uuid}}/" ng-click="openGroupEditor(group)">
                                    <i class="icon-cog"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="span4">
        <div class="refinery-panel">
            <div class="refinery-header">
                <span class="refinery-header-left">
                    <h3>
                        <i class="m-r-1-4 icon-user"></i>Members
                    </h3>
                </span>
                <span ng-if="activeGroup.can_edit" class="refinery-header-right">
                    <a href="#/{{ activeGroup.uuid }}/" ng-click="openEmailInvite()"><i class="icon-plus"></i></a>
                </span>
            </div>

            <div class="refinery-panel-content scrollable jquery-full-height">
                <ul class="nav nav-list scrollable">
                    <li ng-repeat="member in activeGroup.member_list">
                        <!-- <span> -->
                            <span ng-if="member.first_name !== '' && member.last_name !== ''" style="display=inline">
                                {{member.first_name}} {{member.last_name}} ({{member.username}})
                            </span>
                            <span ng-if="member.first_name === '' || member.last_name === ''" style="display=inline">
                                {{member.username}}
                            </span>
                        <!-- </span> -->
                        
                        <span style="float:right" ng-if="activeGroup.can_edit">
                            <span ng-if="member.is_manager" style="float:left;color:red" font-size="5px">
                                manager
                            </span>
                            <a href="#/{{ activeGroup.uuid }}/" ng-click="openMemberEditor(member)" style="margin-left:10px">
                                <i class="icon-cog"></i>
                            </a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="span4">
        <div class="refinery-panel">
            <div class="refinery-header">
                <span class="refinery-header-left">
                    <h3>
                        <i class="m-r-1-4 icon-envelope"></i>Pending Invitations
                    </h3>
                </span>
                <span class="refinery-header-right">
                </span>
            </div>

            <div class="refinery-panel-content scrollable jquery-full-height">

                <ul class="nav nav-list scrollable">
                    <li ng-repeat="invite in activeGroupInviteList">
                        {{ invite.recipient_email }}
                        <span>
                            <span style="float:right;margin-left:10px">
                                <a href="#/{{ activeGroup.uuid }}/" ng-click="revokeInvitation(invite)">Revoke</a>
                            </span>
                            <span style="float:right">
                                <a href="#/{{ activeGroup.uuid }}/" ng-click="resendInvitation(invite)">Resend</a>
                            </span>
                        </span>
                        <br>
                        <span>
                            Created: {{ invite.created }}
                            <br>
                            Expires: {{ invite.expireDuration }} on {{ invite.expires }}
                        </span>
                        <hr>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

