<div onload="chart.plot('/media/file_store/7c/85/1_data_file.txt')">
  <span>
    <a href="#/per_base_sequence_quality/" ng-click="chart.plot('/media/file_store/7c/85/1_data_file.txt')">Per Base Sequence Quality</a>
    <br>
    <a href="#/per_sequence_quality_scores/" ng-click="chart.plot('/media/file_store/7c/85/1_data_file.txt')">Per Sequence Quality Scores</a>
    <br>
    <a href="#/per_base_sequence_content/" ng-click="chart.plot('/media/file_store/7c/85/1_data_file.txt')">Per Base Sequence Content</a>
    <br>
    <a href="#/per_sequence_gc_content/" ng-click="chart.plot('/media/file_store/7c/85/1_data_file.txt')">Per Sequence GC Content</a>
    <br>
    <a href="#/per_base_n_content/" ng-click="chart.plot('/media/file_store/7c/85/1_data_file.txt')">Per Base N Content</a>
    <br>
    <a href="#/sequence_duplication_level/" ng-click="chart.plot('/media/file_store/7c/85/1_data_file.txt')">Duplicate Sequences</a>
  </span>
  <hr>
  <p ng-click="chart.plot('/media/file_store/7c/85/1_data_file.txt')">CLICK TO PLOT</p>

  <div class="fastqc-chart-drawspace jquery-full-height" onload="chart.plot('/media/file_store/7c/85/1_data_file.txt')">

  </div>
</div>