<div>
  <span>
    <a href="#/per_base_sequence_quality/">Per Base Sequence Quality</a>
    <br>
    <a href="#/per_sequence_quality_scores/">Per Sequence Quality Scores</a>
    <br>
    <a href="#/per_base_sequence_content/">Per Base Sequence Content</a>
    <br>
    <a href="#/per_sequence_gc_content/">Per Sequence GC Content</a>
    <br>
    <a href="#/per_base_n_content/">Per Base N Content</a>
    <br>
    <a href="#/sequence_duplication_level/">Duplicate Sequences</a>
  </span>

  <div class="fastqc-chart-drawspace jquery-full-height">

  </div>
</div>