<div>
  <span>
    <a href="#/e597063b-e469-45c3-bd04-43f14acaac8c/per_base_sequence_quality/">Per Base Sequence Quality</a>
    <br>
    <a href="#/e597063b-e469-45c3-bd04-43f14acaac8c/per_sequence_quality_scores/">Per Sequence Quality Scores</a>
    <br>
    <a href="#/e597063b-e469-45c3-bd04-43f14acaac8c/per_base_sequence_content/">Per Base Sequence Content</a>
    <br>
    <a href="#/e597063b-e469-45c3-bd04-43f14acaac8c/per_sequence_gc_content/">Per Sequence GC Content</a>
    <br>
    <a href="#/e597063b-e469-45c3-bd04-43f14acaac8c/per_base_n_content/">Per Base N Content</a>
    <br>
    <a href="#/e597063b-e469-45c3-bd04-43f14acaac8c/sequence_length_distribution/">Sequence Length Distribution</a>
    <br>
    <a href="#/e597063b-e469-45c3-bd04-43f14acaac8c/sequence_duplication_levels/">Sequence Duplication Level</a>
    <br>
    <a href="#/e597063b-e469-45c3-bd04-43f14acaac8c/overrepresented_sequences/">Overrepresented Sequences</a>
    <br>
    <a href="#/e597063b-e469-45c3-bd04-43f14acaac8c/adapter_content/">Adapter Content</a>
    <br>
    <a href="#/e597063b-e469-45c3-bd04-43f14acaac8c/kmer_content/">Kmer Content</a>
  </span>
  <hr>
  <p ng-click="chart.plot('/media/file_store/7c/85/1_data_file.txt')">CLICK TO PLOT</p>

  <div class="fastqc-chart-drawspace jquery-full-height" onload="chart.plot('/media/file_store/7c/85/1_data_file.txt')">

  </div>
</div>