<div class="vis-wrapper">
  <div class="top-bar">
    <div class="left">
      <ul class="root-path left no-list-style"></ul>
    </div>
    <div class="right floatbox">
      <label for="f-visible-depth" class="floatbox-min-left">Depth:</label>
      <div class="floatbox-max-right">
        <input
          id="f-visible-depth"
          type="number"
          ng-model="treemap.visibleDepth"
          ng-disabled="treemap.loadingVisibleDepth"
          focus-on="visibleDepthInput">
        <div class="refinery-global-notifier"
          ng-if="treemap.loadingVisibleDepth">
          <div class="refinery-spinner"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="treemap">
    <svg class="d3"></svg>
  </div>
</div>
