<div class="modal-header">
   <h3> Data Set Table Configuration </h3>
   <p>
     Edit expose and facet parameters for nonselected attribute filters only.
   </p>
</div>
<div class="modal-body fileUtilModal">

  <div class="row">
    <div class="col-xs-2 col-xs-offset-6">
      <h4
        refinery-tooltip
        refinery-tooltip-container=".modal-body"
        refinery-tooltip-placement="top"
        title="Expose attribute to dataSet Users">
          Expose
       </h4>
    </div>
    <div class="col-xs-2">
      <h4
        refinery-tooltip
        refinery-tooltip-container=".modal-body"
        refinery-tooltip-placement="top"
        title="Select attribute as facet for dataSet Users">
        Facet
      </h4>
    </div>
    <div class="col-xs-2">
      <h4
        refinery-tooltip
        refinery-tooltip-container=".modal-body"
        refinery-tooltip-placement="top"
        title="Set Attribute Default for dataSet">
        Default
      </h4>
    </div>
  </div>

  <ul dnd-list="AFUMCtrl.assayAttributeOrder">
    <li
      ng-repeat="attributeObj in AFUMCtrl.assayAttributeOrder"
      track by solr_field
      dnd-draggable="attributeObj"
      dnd-moved="AFUMCtrl.updateAttributeRank(attributeObj, $index)"
      dnd-effectllowed="move"
      ng-if="attributeObj.display_name != 'uuid'">
      <div class="row">
        <div class="col-xs-1 col-xs-offset-1">
          <i
            class="fa fa-bars fa-lg p-t-3-4"
            aria-hidden="true"
            refinery-tooltip
            refinery-tooltip-container=".modal-body"
            refinery-tooltip-placement="top"
            title="Drag row to reorder column positions"></i>
        </div>
        <div class="col-xs-4">
          <h4>
            {{ attributeObj.display_name }}
          </h4>
        </div>
        <div class="col-xs-2">
          <h4 ng-if="attributeObj.display_name != 'Analysis'">
          <div
            class="checkbox"
            id="util-{{attributeObj.solr_field}}-expose">
              <label>
                <input
                  type="checkbox"
                  name="utilsCheckboxes"
                  ng-model= "attributeObj.is_exposed"
                  ng-change="AFUMCtrl.updateAssayAttributes(attributeObj)"
                  value="{{ attributeObj.is_exposed }}"
                  ng-disabled="AFUMCtrl.isAttributeSelected(attributeObj.solr_field)">
              </label>
            </div>
          </h4>
          </div>
          <div class="col-xs-2">
            <h4 ng-if="attributeObj.display_name != 'Analysis'">
              <div
                class="checkbox"
                id="util-{{attributeObj.solr_field}}-facet">
                <label>
                  <input
                    type="checkbox"
                    ng-model="attributeObj.is_facet"
                    ng-change="AFUMCtrl.updateAssayAttributes(attributeObj)"
                    value="{{ attributeObj.is_facet }}"
                    ng-disabled="AFUMCtrl.isAttributeSelected(attributeObj.solr_field)">
                </label>
              </div>
             </h4>
          </div>
          <div class="col-xs-2">
            <h4>
              <div class="checkbox"
                 id="util-{{AFUMCtrl.solr_field}}-default">
                <label>
                  <input
                    type="checkbox"
                    ng-model="attributeObj.is_active"
                    ng-change="AFUMCtrl.updateAssayAttributes
                    (attributeObj)"
                    value={{ attributeObj.is_active }}>
                </label>
              </div>
             </h4>
          </div>
        </div>
    </li>
  </ul>

</div>
<div class="modal-footer">
  <button class="refinery-base btn btn-primary" ng-click="AFUMCtrl.close()">
    Save
  </button>
</div>

