<div class="dropdown">
  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-wrench"
       refinery-tooltip
       refinery-tooltip-container="body"
       refinery-tooltip-placement="right"
       title="Table Utilities">
    </i>
    <span class="caret"></span>
  </button>

  <ul class="dropdown-menu"
    aria-labelledby="dLabel" style="width:500px">
    <div class="row">
      <div class="col-xs-2 col-xs-offset-5">
        <h5>Expose to User</h5>
      </div>
      <div class="col-xs-2">
        <h5>Use as a Facet</h5>
      </div>
      <div class="col-xs-2">
        <h5>Show by Default</h5>
      </div>
    </div>
    <li ng-repeat="attributeObj in FBCtrl.assayAttributeOrder"
        track by solr_field>
      <div class="row">
        <div class="col-xs-4 col-xs-offset-1">
          <h4>
            {{ attributeObj.display_name }}
          </h4>
        </div>
        <div class="col-xs-2">
          <h4>
            <div class="checkbox" id="util-{{solr_field}}-expose">
            <label>
              <input
                type="checkbox"
                name="utilsCheckboxes"
                ng-model= "attributeObj.is_facet"
                ng-change="FBCtrl.updateAssayAttributes(attributeObj)"
                value="{{ attributeObj.is_exposed }}">
            </label>
            </div>
          </h4>
        </div>
        <div class="col-xs-2" id="util-{{solr_field}}-facet">
           <h4>
             <div class="check">
              <label>
                <input type="checkbox"
                  ng-model="attributeObj.is_facet"
                  ng-change="FBCtrl.updateAssayAttributes(attributeObj)"
                  value={{ attributeObj.is_facet }}>
              </label>
            </div>
           </h4>
        </div>
        <div class="col-xs-2">
           <h4>
             <div class="checkbox" id="util-{{solr_field}}-default">
              <label>
                <input
                  type="checkbox"
                  ng-model="attributeObj.is_active"
                  ng-change="FBCtrl.updateAssayAttributes(attributeObj)"
                  value={{ attributeObj.is_active }}>
              </label>
            </div>
           </h4>
        </div>
      </div>
    </li>
  </ul>

</div>
