{{ FBCtrl.selectNodes.length }} of {{ FBCtrl.nodeCount }} files selected.
 <a href="#" id="help-selection-button" style="height: 20px; width: 20px;">
   <i class="fa fa-question-circle" style="font-size: 20px; margin-left: 5px; margin-right: 5px; position: relative; top: 5px;"></i></a>

<div ng-if="FBCtrl.isOwner">
  <i class="fa fa-wrench fa-border"
   rp-assay-files-util-modal ng-click="open()">
  </i>
</div>
<div id="grid1"
  ui-grid="FBCtrl.gridOptions"
  ui-grid-selection
  ui-grid-infinite-scroll
  ui-grid-resize-columns
  class="grid">
</div>
