<div ng-if="FBCtrl.attributeFilter">
  <div class="panel-group" id="attribute-filter" role="tablist"
    aria-multiselectable="true">
    <h4>Attribute Filter</h4>
    <div
      ng-repeat="(attribute, fields) in FBCtrl.attributeFilter track by $index"
      ng-init="attributeIndex = $index">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
          <div
            role="button"
            data-toggle="collapse"
            data-parent="#attribute-filter"
            ng-click="dropAttributePanel($event, attribute)"
            aria-expanded="true"
            aria-controls="{{ attribute }}">
             {{ attribute }}
          </div>
          </h4>
        </div>
      <div id="{{attribute | replaceWhiteSpaceWithHyphen}}" class="panel-collapse
      collapse"
        role="tabpanel"
        aria-labelledby="{{ attribute }}">
        <div class="panel-body">
          <div ng-repeat="(field, value) in fields.facetObj">
            <div class="checkbox" id="attribute-filter-{{ field }}">
              <label>
                <input
                  type="checkbox"
                  name="optionsCheckboxes"
                  ng-model="FBCtrl.selectedField[field]"
                  ng-change="FBCtrl.attributeSelectionUpdate(
                  fields.internal_name, field)"
                  value="{{ value }}">
                  {{ field }}: {{ value }}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-if="FBCtrl.analysisFilter">
  <div class="panel-group" id="analysis-filter" role="tablist"
    aria-multiselectable="true">
    <h4>Analysis Filter</h4>
    <div ng-repeat="(analysis, fields) in FBCtrl.analysisFilter">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="{{ analysis }}">
          <h4 class="panel-title">
          <div
            role="button"
            data-toggle="collapse"
            data-parent="#analysis-filter"
            ng-click="dropAttributePanel($event, 'Analysis')"
            aria-expanded="true"
            aria-controls="Analysis">
            {{ analysis }}
          </div>
          </h4>
        </div>
        <div
          id="Analysis"
          class="panel-collapse collapse"
          role="tabpanel"
          aria-labelledby="{{ analysis }}">
          <div class="panel-body">
            <div ng-repeat="(field, value) in fields.facetObj">
              <div class="checkbox">
                <label>
                  <input
                    type="checkbox"
                    name="optionsCheckboxes"
                    ng-model="FBCtrl.selectedField[field]"
                    ng-change="FBCtrl.attributeSelectionUpdate(
                    fields.internal_name, field)"
                    id="analysis-filter-{{ field }}"
                    value="{{ value }}">
                    {{ field }}: {{ value }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
