<!--<div id="view-selector-div">-->
<div class="refinery-subheader m-t-1">
  <h2>
    File Display
  </h2>
</div>
<select id="view-selector">
  <option value="table-view-tab">Table View</option>
<!--  <option value="pivot-view-tab">Matrix View</option>
  <option value="provenance-view-tab">Provenance View</option>-->
</select>
<!--</div>-->

 <a
  id="help-view-selector"
  popover-placement="right"
  uib-popover="The collection of files in this data set can be displayed using different representations."
  popover-title="Select File Display Mode"
  popover-trigger="'outsideClick'"
  popover-append-to-body="true"
  tabindex="0">
  <i
    class="fa fa-question-circle info-icon icon-only"
    id="config-question-icon"></i>
</a>
