<div class="ngCellText grid-input-groups">
  <div
    ng-if="grid.appScope.nodeSelectCollection[row.entity.uuid].groupList.length > 0"
    class="selected-node"
    title="{{grid.appScope.nodeSelectCollection[row.entity.uuid].groupList}}">
    <div
      class="paragraph ui-grid-cell-contents"
      ng-if="grid.appScope.nodeSelectCollection[row.entity.uuid].groupList[0].length > 0">
      <span ng-repeat="group in grid.appScope.nodeSelectCollection[row.entity.uuid].groupList track by $index">
        <span ng-style="{
        'color':grid.appScope.inputFileTypeColor[grid.appScope.nodeSelectCollection[row.entity.uuid].inputTypeList[$index]],
        'border-color':grid.appScope.inputFileTypeColor[
        grid.appScope.nodeSelectCollection[row.entity.uuid].inputTypeList[$index]
        ]}">
          <span
            class="p-r-1-3"
            ng-if="grid.appScope.currentTypes[grid.appScope.currentTypes.length-1]=='PAIR'">
            <i class="fa fa-link current-type-border" aria-hidden="true">
            &nbsp {{group[group.length - 1] + 1}}
            </i>
          </span>
          <span
            class="p-r-1-3"
            ng-if="grid.appScope.currentTypes[grid.appScope.currentTypes.length-1]=='LIST'">
            <i class="fa fa-list current-type-border" aria-hidden="true">
            &nbsp {{group[group.length - 1] + 1}}
            </i>
          </span>
        </span>
      </span>
    </div>
  </div>
</div>
