<div class="sub-group-panel">
  <div class="refinery-subheader m-t-1">
    <h2>
      Filtered Nodes
    </h2>
  </div>
  <span>
    <ui-select
      append-to-body="true"
      ng-model="FBNGCtrl.nodeGroups.selected"
      on-select="FBNGCtrl.selectCurrentNodeGroupNodes()"
      theme="select2"
      class="ui-select-drop">
    <ui-select-match placeholder="Select a node group">
      <span ng-bind="$select.selected.name"></span>
    </ui-select-match>
    <ui-select-choices
      position="down"
      repeat="nodeGroup in FBNGCtrl.nodeGroups.groups | filter: $select.search
       track by nodeGroup.uuid">
      <span ng-bind-html="nodeGroup.name | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </span>
  <div class="p-l-1-3 p-t-1-2 inline">
    <button
      ng-disabled="FBNGCtrl.isNodeGroupSelectionEmpty()"
      class="btn btn-primary btn-xs p-r-1-3"
      rp-file-browser-node-group-modal
      refinery-tooltip
      refinery-tooltip-container="body"
      refinery-tooltip-placement="right"
      title="Save a new node group"
      disabled="disabled">
     Save
    </button>
    <rp-file-browser-selection-reset></rp-file-browser-selection-reset>
      <a
        popover-placement="right"
        uib-popover=" Use facet attribute filters to save a new node group.
        Reset node filters."
        popover-title="Current File Selection"
        popover-trigger="focus"
        popover-append-to-body="true"
        tabindex="0">
          <i class="fa fa-question-circle info-icon"></i>
      </a>
  </div>
</div>
