<div class="node-input-group">
  <ul>
    <form name="myForm">
      <li ng-repeat="fileSlot in NSPCtrl.inputFileTypes track by $index">
        <div class="checkbox">
          <label>
            <input
              type="checkbox"
              value="{{fileSlot.uuid}}"
              ng-click="NSPCtrl.selectNode(fileSlot.uuid, fileSlot.uuid)"
              ng-model="NSPCtrl.selectionObj[fileSlot.uuid]">
            {{ fileSlot.name }}
          </label>
        </div>
        <div ng-if="$index < NSPCtrl.inputFileTypes.length - 1">
          <hr>
        </div>
      </li>
    </form>
  </ul>
  <hr>
  Controller panel
  <hr>
  <div>
    <button class="btn btn-warning" ng-click="closeSelectionPopover()">Close</button>
  </div>
</div>
