<ui-select
    append-to-body="true"
    ng-model="NGCtrl.selectedNodeGroup.select"
    on-select="NGCtrl.updateCurrentNodeGroup()"
    theme="select2"
    class="ui-select-drop">
     <ui-select-match placeholder="Select a node group">
       <span ng-bind="$select.selected.name"></span>
     </ui-select-match>
    <ui-select-choices
      position="down"
      repeat="nodeGroup in (NGCtrl.nodeGroupList | filter: $select.search)">
      <span ng-bind="nodeGroup.name"></span>
    </ui-select-choices>
</ui-select>
