<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "styles/galaxy-connector.css" %}" />
    <title>Refinery Galaxy Connector {% block title %}{% endblock %}</title>
</head>

<body>
    <div id="header">
        <h1>Refinery Galaxy Connector</h1>
    </div>
    <div id="subheader">
        <h3>{% block subheader %}{% endblock %}</h3>
    </div>
    <div id="navigation">
        {% block navigation %}
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        <small>Copyright &copy; 2012 Park Lab | Center for Biomedical Informatics at Harvard Medical School. All rights reserved.</small>
    </div>
</body>
</html>
