{% extends "base.html" %}

{% block title %}
{{ block.super }} - Histories
{% endblock %}

{% block subheader %}
{{ instance }} &gt; <a href="../../..">Histories</a> &gt; <a href="../..">{{ history.name }}</a> &gt; <a href="">{{ content.name }}</a>  
{% endblock %}

{% block content %}
{% if content %}	
    <ul>
    	<li><a href="{{data_url}}/{{ content.id }}">{{ content.name }} ({{
                content.file_ext }}, {{ content.file_size}} bytes)</a></li>
	</ul>
{% else %}
    <p>No contents available.</p>
{% endif %}
{% endblock %}
