<div class="modal"></div>
  <div class="modal-header" id="modal-launch-analysis-header">
    Enter an Analysis Name
  </div>
  <div class="modal-body bootboxAnalysisWidth" id="modal-launch-analysis-body">
    Name: <input type="text" ng-model="dataObj.name">
  </div>
  <div class="modal-footer" id="modal-launch-analysis-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel Analysis</button>
    <button class="btn btn-primary" ng-click="ok()">Launch Analysis</button>
  </div>
</div>

