<div>
  <ui-select
    append-to-body="true"
    ng-model="DSCtrl.selectedAttribute.select"
    on-select="DSCtrl.updateAttribute($item)"
    theme="select2"
    class="text-left p-l-1 p-b-1">
     <ui-select-match placeholder="Select an attribute">
       {{$select.selected.name }}
     </ui-select-match>
    <ui-select-choices
      position="down"
      repeat="attribute in DSCtrl.attributes | orderBy:'name' track by $index">
      <span ng-bind-html="attribute.name"></span>
    </ui-select-choices>
  </ui-select>
  <canvas id="files-bar-chart"></canvas>
</div>
