<div id="video-carousel-section" ng-if="videoList.length">
  <div class="refinery-header">
    <h3>
      Features at a Glance
    </h3>
  </div>
  <div id="home-video-carousel" class="carousel slide youtube-carousel"
    data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
      <div id="video-list"
        class="video-container item" ng-class="{active: !$index}"
        ng-repeat="video in videoList track by $index">
        <div class="youtube-video" id="{{ video.source_id }}"></div>
        <div class="carousel-caption">
          {{ video.caption }}
        </div>
      </div>
    </div>
    <div class="controls">
      <a class="left carousel-control" ng-click="navPrev()">
        <div class="left-button">
          <i class="fa fa-chevron-left"></i>
        </div>
      </a>
      <a class="right carousel-control" ng-click="navNext()">
        <div class="right-button">
          <i class="fa fa-chevron-right"></i>
        </div>
      </a>
    </div>
  </div>
</div>
