<div class="row">
  <ui-select
  append-to-body="true"
  ng-model="selectedSpecies.select"
  theme="select2"
  class="ui-select-drop text-left">
  <ui-select-match placeholder="Select a species">
      {{$select.selected.name}}
  </ui-select-match>
  <ui-select-choices
    repeat="species in (speciesList | filter: $select.search)">
      {{species.name}}
  </ui-select-choices>
</ui-select>
  <button
    class="btn btn-primary btn-xs"
    ng-click="launchIgvJs()"
    ng-disabled="ICtrl.areSelectedNodesEmpty() && speciesList.length == 0">
    Launch Visualization
  </button>
</div>
