<div class="row">
  <ui-select
  append-to-body="true"
  ng-model="selectedVisualization.select"
  theme="select2"
  class="ui-select-drop text-left">
  <ui-select-match placeholder="Select a species">
      {{$select.selected}}
  </ui-select-match>
  <ui-select-choices
    repeat="visualization in (visualizations | filter: $select.search)">
      {{visualization}}
  </ui-select-choices>
</ui-select>
  <button
    class="btn btn-primary btn-xs"
    ng-click="launchVisualization()">
    Launch Visualization
  </button>
</div>
