{% extends "base.html" %}

{% block title %}
{{ block.super }} - Unauthorized User
{% endblock %}

{% block subheader %}
<div class="page-header">
<h1>Unauthorized User</h1>	
</div>
{% endblock %}

{% block content %}
<div class="refinery-panel refinery-panel-content scrollable">
	<div class="row">
		<div class="refinery-header">
			<span class="refinery-header-left">
				<h3>Unauthorized User</h3>
			</span>
		</div>
		<p>
      You must be logged in to perform this action.<br /><br />
			If you believe you reached this page in error, please contact your
            <a href='mailto:{{ADMIN_EMAIL}}?Subject=Refinery%20Error' target='_top'>System Administrator</a>.
		</p>
	</div>
</div>
{% endblock %}
