{% extends "base.html" %}

{% block title %}
{{ block.super }} - Access Forbidden
{% endblock %}

{% block subheader %}
<div class="page-header">
<h1>Access Forbidden</h1>	
</div>
{% endblock %}

{% block content %}
<div class="refinery-panel refinery-panel-content scrollable">
	<div class="row-fluid">
		<div class="refinery-header">
			<span class="refinery-header-left">
				<h3>Access Forbidden</h3>
			</span>
		</div>
		<p>
			We're sorry, but you do not have permission to view this page.<br />
			{{msg}}<br /><br />
			If you believe you reached this page in error, please contact {{REFINERY_CONTACT_EMAIL}}
		</p>
	</div>
</div>
{% endblock %}