{% extends "base.html" %}

{% block title %}
{{ block.super }} - Access Forbidden
{% endblock %}

{% block subheader %}
<div class="page-header">
<h1>Access Forbidden</h1>	
</div>
{% endblock %}

{% block content %}
<div class="refinery-panel refinery-panel-content scrollable">
	<div class="row">
		<div class="refinery-header">
			<span class="refinery-header-left">
				<h3>Access Forbidden</h3>
			</span>
		</div>
		<p>
			We're sorry, but user {{user.username}} is not allowed to {{msg}}.<br /><br />
			If you would like to {{msg}}, click <a href="{% url 'django.contrib.auth.views.logout' %}?next={% url 'django.contrib.auth.views.login' %}?next={% if request.path %}{{ request.path|safe }}{% else %}{% url 'home' %}{% endif %}">here</a> to log out and log in again as a different user.
			<br /><br />
			If you believe you reached this page in error, please contact your
            <a href='mailto:{{ADMIN_EMAIL}}?Subject=Refinery%20Error' target='_top'>System Administrator</a>.
		</p>
	</div>
</div>
{% endblock %}
