{% extends "base.html" %}

{% block title %}
{{ block.super }} - Page Not Found
{% endblock %}

{% block subheader %}
<div class="page-header">
<h1>Page Not Found</h1>	
</div>
{% endblock %}

{% block content %}
<div class="refinery-panel refinery-panel-content scrollable">
	<div class="row">
		<div class="refinery-header">
			<span class="refinery-header-left">
				<h3>Page Not Found</h3>
			</span>
		</div>
		<p>
			We're sorry, but we couldn't find this page.  You may have used an outdated link or typed in the URL incorrectly.<br /><br />
			If you think you reached this page in error, then please contact
            your <a href='mailto:{{ADMIN_EMAIL}}?Subject=Refinery%20Error' target='_top'>System Administrator</a>.
		</p>
	</div>
</div>
{% endblock %}
