{% extends "base.html" %}

{% block title %}
{{ block.super }} - Server Problem
{% endblock %}

{% block subheader %}
<div class="page-header">
<h1>Server Problem</h1>
</div>
{% endblock %}

{% block content %}
<div class="refinery-panel refinery-panel-content scrollable">
	<div class="row">
		<div class="refinery-header">
			<span class="refinery-header-left">
				<h3>Server Problem</h3>
			</span>
		</div>
		<p>
			The server encountered an internal error or misconfiguration and was unable to complete your request.<br /><br />
			Please contact your <a href='mailto:{{ADMIN_EMAIL}}?Subject=Refinery%20Error' target='_top'>System Administrator</a> if this is a recurring problem and describe
            anything you might have done that may have caused the error.
		</p>
	</div>
</div>
{% endblock %}
