<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}/style.css" />
    <title>Refinery {% block title %}{% endblock %}</title>
</head>

<body>
	<div id="auth_area">
        {% block authentication %}        
		{% if user.is_authenticated %}       
        	{{ user.get_full_name }} | <a href="/users/{{user.username}}">Profile</a> | <a href="{% url django.contrib.auth.views.logout %}">Logout</a>
        {% else %}
			<a href="{% url django.contrib.auth.views.login %}?next={% firstof request.path '/' %}">Login</a>
        {% endif %}		
        {% endblock %}
	</div>
	
    <div id="header_area">
		<h1><a href="/">Refinery</a></h1>		
    </div>
    <div id="subheader_area">
        <h3>{% block subheader %}{% endblock %}</h3>
    </div>
    <div id="navigation_area">
        {% block navigation %}        
        {% endblock %}
    </div>

    <div id="content_area">
        {% block content %}{% endblock %}
    </div>
    
    <div id="footer_area">
        Copyright &copy; 2012 Park Lab | Center for Biomedical Informatics at Harvard Medical School. All rights reserved.
    </div>
</body>
</html>
