<div ng-class="span{{ spanSize }}">
  <div class="refinery-panel refinery-panel-content scrollable">
    <div class="refinery-header">
      <span class="refinery-header-left">
        <h3><i class="m-r-1-4" ng-class="icon-{{ headerIcon }}"></i>{{ headline }}</h3>
      </span>
      <span class="refinery-header-right" ng-if="sharingEnabled">
        <a href="./data_set_manager/import/isa-tab-form/" class="no-underline-hover">
          <i class="icon-plus-sign"></i>
        </a>
      </span>
    </div>

    {% if data_sets %}
    <div class="scrollable">
      <ul ng-if="">
        <li></li>
      </ul>
      <span class="alert alert-info" ng-if="">
        No data sets imported.
      </span>
    </div>
      <table id="dataset-table" class="table table-condensed">
        <thead>
          <tr>
            <th colspan="2">
              Name
            </th>
            {% if REFINERY_REPOSITORY_MODE %}
            <th>
              Description
            </th>
            {% endif %}
            {% if user.is_authenticated %}
                <th>
                  Share
                </th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for data_set in data_sets %}
              <tr>
                <td width="0">
              {% if data_set.get_owner == user %}
                <i class="icon-user"></i>
              {% else %}
                {% if data_set.is_public %}
                  <i class="icon-globe"></i>
                {% else %}
                  <i class="icon-group"></i>
                {% endif %}
              {% endif %}
            </td>
              <td width="100%">
              <a href="{% url "data_set" data_set.uuid %}">{{ data_set.name }}</a>
              <div class="dataset-uuid-entry" style="display:none;">{{ data_set.uuid }}</div>
              {% if data_set.download_set.all|length > 0 %}
                <table class="table-condensed" width="100%">
                  {% for download in data_set.download_set.all %}
                  <tr>
                    <td>
                      <i class="icon-download"></i>
                    </td>
                    <td>
                      <a href="{{download.file_store_item.get_full_url}}">{{ download.name }}</a>
                    </td>
                    <td>
                      {{ download.file_store_item.get_file_size|filesizeformat }}
                    </td>
                  </tr>
                  {% endfor %}
                </table>
              {% endif %}
                </td>
                {% if user.is_authenticated %}
                    <td width="0%" class="text-align-center">
                        <div style="display:none;">
                            <a ng-click="openPermissionEditor('dataset_sharing', '{{ data_set.uuid }}')" class="icon-only">
                              <i class="icon-edit icon-bigger p-a-1-4"></i>
                            </a>
                        </div>
                    </td>
                {% endif %}
            {% if REFINERY_REPOSITORY_MODE %}
              <td width="100%">
              {{ data_set.summary }}
            </td>
            {% endif %}
              </tr>
          {% endfor %}
        </tbody>
      </table>

    {% else %}
      <div class="alert alert-info">
        {% if user.is_authenticated %}
          No data sets available.
        {% else %}
          No public data sets available.
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
