# Template YAML file that adds local configuration
#
# Values supplied here cannot be defaulted or derived.
# You must pick suitable values.
#
# Either copy this file to 50local.yaml or rename it.

# The identifier for the AWS volume to use for the data.
VOLUME: "must be supplied"

# Email addresses. It's usual to make these all the same.
ADMIN: "refinery-registration@example.org"
DEFAULT_FROM_EMAIL: "refinery-registration@example.org"
SERVER_EMAIL: "refinery-registration@example.org"
