<div class="refinery-header">
  <div class="refinery-header-left">
    <h3>{{ ADCtrl.dataSet.accession }}: {{ ADCtrl.dataSet.title }}</h3>
    <span ng-if="ADCtrl.dataSet.is_owner">
      <a
        ng-click="ADCtrl.isCollapsed.title = !ADCtrl.isCollapsed.title"
        data-target=" #dataSetTitle">
         <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </a>
    </span>
  </div>
  <div
    id="dataSetAccession"
    uib-collapse="ADCtrl.isCollapsed.title">
    <div class="vertical-align">
      <form
        ng-submit="ADCtrl.updateDataSet(
        'accession', ADCtrl.updatedField.accession
        )"
        name="dataSetAccessionForm"
        class="navbar-form text-align-center float-left">
      <input
        autofocus
        type="text"
        name="dataSetAccession"
        class="form-control"
        placeholder="update accession"
        ng-model="ADCtrl.updatedField.accession"
        ng-minlength="3"
        ng-maxlength="32"
        required>
      </form>

      <button
        type="button"
        class="btn btn-default btn-xs"
        ng-click="ADCtrl.cancel('accession')">
        Cancel
      </button>
      <button
        type="submit"
        class="btn btn-xs btn-primary"
        ng-click="ADCtrl.updateDataSet(
        'accession', ADCtrl.updatedField.accession)"
        ng-disabled="!dataSetAccessionForm.$valid">
        Save
      </button>
      <span
        class='p-l-1-2 text-warning'
        ng-show="dataSetAccessionForm.dataSetAccession.$error.minlength ||
        dataSetAccessionForm.dataSetAccession.$error.required">
        <i class="fa fa-warning" aria-hidden="true"></i>
        Accession must be 3 characters long.
      </span>
      <span
        class='p-l-1-2 text-warning'
        ng-show="dataSetAccessionForm.dataSetAccession.$error.maxlength">
        <i class="fa fa-warning" aria-hidden="true"></i>
        Accession must be less than 32 characters long.
      </span>
    </div>
  </div>

  <div
    id="dataSetTitle"
    uib-collapse="ADCtrl.isCollapsed.title">
    <div class="vertical-align">
      <form
        ng-submit="ADCtrl.updateDataSet('title', ADCtrl.updatedField.title)"
        name="dataSetTitleForm"
        class="navbar-form text-align-center float-left">
      <input
        autofocus
        type="text"
        name="dataSetTitle"
        class="form-control"
        placeholder="update data set title"
        ng-model="ADCtrl.updatedField.title"
        ng-minlength="3"
        ng-maxlength="250"
        required>
      </form>

      <button
        type="button"
        class="btn btn-default btn-xs"
        ng-click="ADCtrl.cancel('title')">
        Cancel
      </button>
      <button
        type="submit"
        class="btn btn-xs btn-primary"
        ng-click="ADCtrl.updateDataSet('title', ADCtrl.updatedField.title)"
        ng-disabled="!dataSetTitleForm.$valid">
        Save
      </button>
      <span
        class='p-l-1-2 text-warning'
        ng-show="dataSetTitleForm.dataSetTitle.$error.minlength ||
        dataSetTitleForm.dataSetTitle.$error.required">
        <i class="fa fa-warning" aria-hidden="true"></i>
        Title must be 3 characters long.
      </span>
      <span
        class='p-l-1-2 text-warning'
        ng-show="dataSetTitleForm.dataSetTitle.$error.maxlength">
        <i class="fa fa-warning" aria-hidden="true"></i>
        Title must be less than 250 characters long.
      </span>
    </div>
  </div>
</div>

<div class="refinery-subheader">
  <h4>Summary</h4>
  <span ng-if="ADCtrl.dataSet.is_owner">
    <a
      ng-click="ADCtrl.isCollapsed.summary = !ADCtrl.isCollapsed.summary"
      data-target=" #dataSetSummary">
       <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </a>
  </span>
</div>
<div ng-if="ADCtrl.dataSet.summary.length > 0">
    {{ ADCtrl.dataSet.summary }}
  </div>
<div ng-if="!ADCtrl.dataSet.summary" class="emphasized">
     None provided.
  </div>
<div id="dataSetSummary" uib-collapse="ADCtrl.isCollapsed.summary">
  <div class="vertical-align">
    <form
      ng-submit="ADCtrl.updateDataSet('summary', ADCtrl.updatedField.summary)"
      name="dataSetSummaryForm"
      class="navbar-form text-align-center float-left">
      <textarea
        autofocus
        name="dataSetSummary"
        class="form-control"
        placeholder="update data set summary"
        ng-model="ADCtrl.updatedField.summary"
        ng-minlength="3"
        ng-maxlength="1000"
        required>
      </textarea>
    </form>

    <button
      type="button"
      class="btn btn-default btn-xs"
      ng-click="ADCtrl.cancel('summary')">
      Cancel
    </button>
    <button
      type="submit"
      class="btn btn-xs btn-primary"
      ng-click="ADCtrl.updateDataSet('summary', ADCtrl.updatedField.summary)"
      ng-disabled="!dataSetSummaryForm.$valid">
      Save
    </button>
    <span
      class='p-l-1-2 text-warning'
      ng-show="dataSetSummaryForm.dataSetSummary.$error.minlength ||
      dataSetSummaryForm.dataSetSummary.$error.required">
      <i class="fa fa-warning" aria-hidden="true"></i>
      Summary must be 3 characters long.
    </span>
    <span
      class='p-l-1-2 text-warning'
      ng-show="dataSetSummaryForm.dataSetSummary.$error.maxlength">
      <i class="fa fa-warning" aria-hidden="true"></i>
      Summary must be less than 1000 characters long.
    </span>
  </div>
</div>

  <div class="refinery-subheader">
    <h4>Description</h4>
    <span ng-if="ADCtrl.dataSet.is_owner">
     <a
      ng-click="ADCtrl.isCollapsed.description = !ADCtrl.isCollapsed.description"
      data-target=" #dataSetDescription">
       <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </a>
    </span>
  </div>
  <div ng-if="ADCtrl.dataSet.description">
    {{ ADCtrl.dataSet.description }}
  </div>
  <div ng-if="!ADCtrl.dataSet.description" class="emphasized">
     None provided.
  </div>

<div id="dataSetDescription" uib-collapse="ADCtrl.isCollapsed.description">
  <div class="vertical-align">
    <form
      ng-submit="ADCtrl.updateDataSet('description', ADCtrl.updatedField.description)"
      name="dataSetDescriptionForm"
      class="navbar-form text-align-center float-left">
      <textarea
        autofocus
        name="dataSetDescription"
        class="form-control"
        placeholder="update data set description"
        ng-model="ADCtrl.updatedField.description"
        ng-minlength="3"
        ng-maxlength="5000"
        required>
      </textarea>
    </form>

    <button
      type="button"
      class="btn btn-default btn-xs"
      ng-click="ADCtrl.cancel('description')">
      Cancel
    </button>
    <button
      type="submit"
      class="btn btn-xs btn-primary"
      ng-click="ADCtrl.updateDataSet('description', ADCtrl.updatedField.description)"
      ng-disabled="!dataSetDescriptionForm.$valid">
      Save
    </button>
    <span
      class='p-l-1-2 text-warning'
      ng-show="dataSetDescriptionForm.dataSetDescription.$error.minlength ||
      dataSetDescriptioForm.dataSetDescription.$error.required">
      <i class="fa fa-warning" aria-hidden="true"></i>
      Description must be 3 characters long.
    </span>
    <span
      class='p-l-1-2 text-warning'
      ng-show="dataSetDescriptionForm.dataSetDescription.$error.maxlength">
      <i class="fa fa-warning" aria-hidden="true"></i>
      Description must be less than 5000 characters long.
    </span>
  </div>
</div>

<div class="refinery-subheader">
  <h4>Shortcut Name</h4>
  <span ng-if="ADCtrl.dataSet.is_owner">
    <a
      ng-click="ADCtrl.isCollapsed.slug = !ADCtrl.isCollapsed.slug"
      data-target=" #dataSetSlug">
       <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </a>
  </span>
</div>
<div ng-if="ADCtrl.dataSet.slug">
  {{ ADCtrl.dataSet.slug }}
</div>
<div ng-if="!ADCtrl.dataSet.slug" class="emphasized">
   None provided.
</div>
<div id="dataSetSlug" uib-collapse="ADCtrl.isCollapsed.slug">
  <div class="vertical-align">
    <form
      ng-submit="ADCtrl.updateDataSet('slug', ADCtrl.updatedField.slug)"
      name="dataSetSlugForm"
      class="navbar-form text-align-center float-left">
      <input
        type="text"
        autofocus
        name="dataSetSlug"
        class="form-control"
        placeholder="update data set slug"
        ng-model="ADCtrl.updatedField.slug"
        ng-minlength="3"
        ng-maxlength="250"
        required>
    </form>

    <button
      type="button"
      class="btn btn-default btn-xs"
      ng-click="ADCtrl.cancel('slug')">
      Cancel
    </button>
    <button
      type="submit"
      class="btn btn-xs btn-primary"
      ng-click="ADCtrl.updateDataSet('slug', ADCtrl.updatedField.slug)"
      ng-disabled="!dataSetSlugForm.$valid">
      Save
    </button>
    <span
      class='p-l-1-2 text-warning'
      ng-show="dataSetSlugForm.dataSetSlug.$error.minlength ||
      dataSetSlugForm.dataSetSlug.$error.required">
      <i class="fa fa-warning" aria-hidden="true"></i>
      Shortcut name must be 3 characters long.
    </span>
    <span
      class='p-l-1-2 text-warning'
      ng-show="dataSetSlugForm.dataSetSlug.$error.maxlength">
      <i class="fa fa-warning" aria-hidden="true"></i>
      Shortcut name must be less than 250 characters long.
    </span>
  </div>
</div>


<div class="refinery-header m-t-1-2">
  <span class="refinery-header-left">
      <h3>Studies</h3>
  </span>
</div>

<div ng-repeat="study in ADCtrl.studies track by $index">
  <span ng-if="study.identifier">
    <strong>{{study.identifier}}</strong>
  </span>
  <span ng-if="study.title">
    : {{study.title}}
  </span>

  <ul ng-repeat="assay in ADCtrl.assays[study.uuid] track by $index">
    Assay -
    <span ng-if="assay.measurement">
      Measurement: {{ assay.measurement }},
    </span>
    <span ng-if="assay.measurement_accession">
      Measurement Accession: {{ assay.measurement_accession }}
    </span>
    <span ng-if="assay.measurement_source">
      Measurement Source: {{ assay.measurement_source }},
    </span>
    <span ng-if="assay.technology">
      Technology: {{ assay.technology }},
    </span>
    <span ng-if="assay.technology_accession">
      Technology Accession: {{ assay.technology_accession }},
    </span>
    <span ng-if="assay.technology_source">
      Technology Source: {{ assay.technology_source }},
    </span>
    <span ng-if="assay.platform">
      Platform: {{ assay.platform }},
    </span>
    <span ng-if="assay.file_name">
      File name: {{ assay.file_name }}
    </span>
  </ul>
</div>

<div class="refinery-header">
  <span class="refinery-header-left">
    <h3>Files</h3>
  </span>
</div>

<span class="refinery-subheader">
  <h3>Meta Data</h3>
</span>
<div ng-if="ADCtrl.dataSet.isa_archive">
<p>
   <a href="{{ADCtrl.fileStoreItem.datafile && ADCtrl.fileStoreItem.datafile}}">
    {{ADCtrl.fileStoreItem.datafile | isaArchiveName}}
  </a>
    - {{ADCtrl.fileStoreItem.file_size | fileSizeFormat}}
</p>
</div>
<div ng-if="ADCtrl.dataSet.pre_isa_archive && ADCtrl.fileStoreItem.datafile">
  <p>
    <a href="{{ADCtrl.fileStoreItem.datafile}}">
    {{ADCtrl.fileStoreItem.datafile | isaArchiveName}}
    </a>
    - {{ADCtrl.fileStoreItem.file_size | fileSizeFormat}}
  </p>
</div>
<div ng-if="!(ADCtrl.dataSet.isa_archive || ADCtrl.dataSet.pre_isa_archive)">
<p class="emphasized">Not available.</p>
</div>

<span class="refinery-subheader">
  <h3>Data Files</h3>
</span>
<p>
  {{ ADCtrl.dataSet.file_count }} files
  <div ng-if="ADCtrl.dataSet.file_size > 0">
   - {{ ADCtrl.dataSet.file_size | fileSizeFormat }}
  </div>
</p>

<div class="refinery-header">
  <span class="refinery-header-left">
    <h3>History</h3>
  </span>
</div>
<p>
  Current version <span class="emphasized">{{ ADCtrl.dataSet.version }}</span>.
  Data set created <span class="emphasized">{{ ADCtrl.dataSet.creation_date }}</span>.
  Last modified <span class="emphasized">{{ ADCtrl.dataSet.modification_date }}</span>.
</p>
