<div class="modal-content">
  <div class="modal-header">
    <a class="float-right modal-close" ng-click="$ctrl.close()">
      <i class="fa fa-times close" aria-hidden="true"></i>
    </a>
    <h3 class="modal-title">
      Invite New Member
    </h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <form
        ng-submit="$ctrl.sendInvite()"
        name="inviteNewMemberForm"
        class="navbar-form float-left">
         <label class="refinery-label" for="recipientEmail">
          Recipient's email
        </label>
        <input
          id="recipientEmail"
          autofocus
          type="email"
          class="form-control"
          placeholder="user_email@domain.com"
          ng-model="$ctrl.form.email"
          name="recipientEmail"
          required>
      </form>
    </div>
    <div
      class='p-t-1-2 text-warning'
      ng-show="inviteNewMemberForm.recipientEmail.$error.required">
      <i class="fa fa-warning" aria-hidden="true"></i>
        Email address required.
    </div>
    <div
      class='p-t-1-2 text-warning'
      ng-show="inviteNewMemberForm.recipientEmail.$error.email">
      <i class="fa fa-warning" aria-hidden="true"></i>
        Incorrect format for email address: name@example.com
    </div>
  </div>

  <div class="modal-footer">
     <div class="refinery-spinner" ng-if="$ctrl.isLoading"></div>
    <div
      class='p-t-1-2'
      ng-show="$ctrl.responseMessage">
       <div class="alert alert-{{ $ctrl.alertType }} text-center">
         {{$ctrl.responseMessage}}
       </div>
    </div>
    <button
      type="button"
      class="refinery-base btn btn-default"
      ng-click="$ctrl.close()"
      ng-disabled="$ctrl.isLoading">
      Close
    </button>
    <button
      type="submit"
      class="btn btn-primary"
      ng-click="$ctrl.sendInvite(email)"
      ng-disabled="!inviteNewMemberForm.$valid || $ctrl.isLoading">
      Send Invite
    </button>
  </div>
</div>
