<div class="modal-content">
  <div class="modal-header">
    <a class="float-right modal-close" ng-click="$ctrl.close()">
      <i class="fa fa-times close" aria-hidden="true"></i>
    </a>
    <h3 class="modal-title">Add new groups</h3>
    <p class="p-t-1">No two groups in Refinery may have the same name.</p>
  </div>
  <div class="modal-body">
    <div class='row'>
      <form
        ng-submit="$ctrl.createGroup()"
        name="groupCreationForm"
        class="navbar-form text-align-center float-left">
        <input
          autofocus
          type="text"
          class="form-control"
          name="groupName"
          placeholder="Group name"
          ng-model="$ctrl.groupName"
          ng-minlength="3" required>
      </form>
    </div>
    <div
      class='p-t-1-2 text-warning'
      ng-show="groupCreationForm.groupName.$error.minlength ||
      groupCreationForm.groupName.$error.required">
      <i class="fa fa-warning" aria-hidden="true"></i>
      Names must be at least 3 characters long.
    </div>
  </div>

  <div class="modal-footer">
    <div class="refinery-spinner" ng-if="$ctrl.isLoading"></div>
    <div
      class='p-t-1-2'
      ng-if="$ctrl.responseMessage">
       <div class="alert alert-{{ $ctrl.alertType }} text-center">
         {{$ctrl.responseMessage}}
       </div>
    </div>
     <button
        type="button"
        class="refinery-base btn btn-default"
        ng-click="$ctrl.cancel()"
        ng-disabled="$ctrl.isLoading">
        Close
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        ng-click="$ctrl.createGroup()"
        ng-disabled="!groupCreationForm.$valid || $ctrl.isLoading">
        Create group
      </button>
  </div>
</div>
