 <a
  popover-placement="right"
  uib-popover-html="'Sharing an owned data set with a new user, requires
  creating a new group or inviting the user to an existing group,
  <a href=/collaboration> on the collaboration page.</a>. Then, update the
  data set permissions in the <a href=/#> dashboard data set preview, </a>
  click the sharing button. '"
  popover-title="How to Share a Data Set"
  popover-trigger="focus"
  popover-append-to-body="true"
  tabindex="0">
    <i class="fa fa-question-circle info-icon icon-only"></i>
</a>
