 <a
  popover-placement="bottom"
  uib-popover-html="'Only data set owners can change sharing options. Sharing
  with an authenticated user requires creating a new group or inviting
  the user to an existing group <a href=/collaboration> on the collaboration
  page.</a> The owner can update the data set permissions (including making it
  public) on the <a href=/#> dashboard data set preview </a> by clicking the
  sharing button.'"
  popover-title="Share a Data Set"
  popover-trigger="focus"
  popover-append-to-body="true"
  tabindex="0"
  class="popover-top">
    <i class="fa fa-question-circle info-icon icon-only"></i>
</a>
