<div
  class="span4 expandable"
  ng-class="{'full-width': dashboard.expandDataSetPanel}">
  <div class="refinery-panel">
    <div class="refinery-header">
      <span class="refinery-header-left">
        <h3>
          <a ui-sref="dataSetsExploration">
            <i class="m-r-1-4 icon-file"></i>Data Sets
          </a>
        </h3>
      </span>
      <span class="refinery-header-right">
        <button
          class="no-underline-hover"
          ng-click="dashboard.toggleDataSetsExploration()">
          <i class="icon-compass" title="Explore data sets"></i>
        </button>
        <a
          href="./data_set_manager/import/isa-tab-form/"
          class="no-underline-hover"
          ng-if="dashboard.userIsAuthenticated">
          <i class="icon-plus-sign"></i>
        </a>
      </span>
    </div>

    <form class="navbar-search" ng-if="dashboard.dataSets.total > 0">
      <i class="icon-search"></i>
      <i
        class="icon-remove-sign"
        ng-if="dashboard.searchQueryDataSets"
        ng-click="dashboard.resetDataSetSearch()"></i>
      <input
        type="text"
        class="search-query"
        placeholder="Search"
        ng-model="dashboard.searchQueryDataSets"
        ng-change="dashboard.searchDataSets(dashboard.searchQueryDataSets)">
    </form>

    <div class="refinery-panel-header">
      <div class="floatbox">
        <div class="floatbox-min-right">
          <h4>Share</h4>
        </div>
        <div class="floatbox-max-left">
          <h4>Name</h4>
        </div>
      </div>
    </div>
    <div
      class="refinery-panel-content scrollable"
      ui-scroll-viewport
      refinery-dashboard-panel>
      <ul
        class="results no-list-style"
        ng-if="dashboard.dataSets.total > 0">
        <li
          ui-scroll="dataSet in dashboard.dataSets"
          adapter="dashboard.dataSetsAdapter">
          <ul class="controls no-list-style">
            <li>
              <button
                ng-click="launchPad.openPermissionEditor('dataset_sharing', dataSet.uuid)">
                <i class="icon-edit"></i>
              </button>
            </li>
          </ul>
          <i
            class="icon-user"
            title="You own this data set"
            ng-if="dataSet.is_owner"></i>
          <i
            class="icon-group"
            title="This data set is shared with you"
            ng-if="!dataSet.is_owner"></i>
          <i
            class="icon-globe"
            title="This file is publicly available"
            ng-if="dataSet.public"></i>
          <a
            ng-href="data_sets/{{ dataSet.uuid }}"
            ng-if="!dashboard.searchDataSet">{{ dataSet.name }}</a>
          <a
            ng-href="data_sets/{{ dataSet.uuid }}"
            ng-if="dashboard.searchDataSet"
            ng-bind-html="dataSet.title"></a>
          <p
            ng-if="dataSet.description"
            ng-bind-html="dataSet.description"></p>
        </li>
      </ul>
      <div
        class="refinery-request-loading"
        ng-if="dashboard.dataSetsAdapter.isLoading">
        <span class="refinery-spinner"></span>
      </div>
      <span
        class="alert alert-info"
        ng-if="dashboard.dataSets.total == 0">
        No data sets found.
      </span>
    </div>
  </div>
</div>

<div class="span4">
  <div class="refinery-panel">
    <div class="refinery-header">
      <span class="refinery-header-left">
        <h3>
          <span>
            <i class="m-r-1-4 icon-folder-open"></i>Projects
          </span>
        </h3>
      </span>
    </div>
    <div class="refinery-panel-header">
      <div class="floatbox">
        <div class="floatbox-min-right">
          <h4>Share</h4>
        </div>
        <div class="floatbox-max-left">
          <h4>Name</h4>
        </div>
      </div>
    </div>
    <div class="refinery-panel-content scrollable">
      <ul
        class="no-list-style"
        ng-if="dashboard.allAnalyses.meta.total_count > 0">
        <li ng-repeat="analysis in dashboard.allAnalyses.objects">
          <span ng-if="analysis.status == 'SUCCESS'">
            <i class="icon-ok-sign"></i>
            <a ng-href="data_sets/{{ analysis.data_set__uuid }}/analysis/{{ analysis.uuid }}">{{ analysis.name }}</a>
          </span>
          <span ng-if="analysis.status == 'FAILURE'">
            <i class="icon-warning-sign"></i>
            <a ng-href="analysis_manager/{{ analysis.uuid }}">{{ analysis.name }}</a>
          </span>
        </li>
      </ul>
      <div
        class="refinery-request-loading"
        ng-if="dashboard.analysisServiceLoading">
        <span class="refinery-spinner"></span>
      </div>
      <div class="separator"></div>
      <ul
        class="no-list-style"
        ng-if="dashboard.allProjects.meta.total_count > 0">
        <li ng-repeat="project in dashboard.allProjects.objects">
          <i class="icon-user"></i>
          <a ng-href="projects/{{ project.uuid }}">{{ project.name }}</a>
        </li>
      </ul>
      <div
        class="refinery-request-loading"
        ng-if="dashboard.projectServiceLoading">
        <span class="refinery-spinner"></span>
      </div>
      <span
        class="alert alert-info"
        ng-if="dashboard.allProjects.meta.total_count == 0">
        No projects found.
      </span>
    </div>
  </div>
</div>

<div class="span4">
  <div class="refinery-panel">
    <div class="refinery-header">
      <span class="refinery-header-left">
        <h3><i class="m-r-1-4 icon-cog"></i>Workflows</h3>
      </span>
      <span class="refinery-header-right" ng-if="sharingEnabled">
        <a
          href="./data_set_manager/import/isa-tab-form/"
          class="no-underline-hover">
          <i class="icon-plus-sign"></i>
        </a>
      </span>
    </div>

    <div class="refinery-panel-header">
      <div class="floatbox">
        <div class="floatbox-max-left">
          <h4>Name</h4>
        </div>
      </div>
    </div>
    <div class="refinery-panel-content scrollable">
      <ul
        class="no-list-style"
        ng-if="dashboard.allWorkflows.meta.total_count > 0">
        <li ng-repeat="workflow in dashboard.allWorkflows.objects">
          <a ng-href="workflows/{{ workflow.uuid }}">{{ workflow.name }}</a>
        </li>
      </ul>
      <div
        class="refinery-request-loading"
        ng-if="dashboard.workflowServiceLoading">
        <span class="refinery-spinner"></span>
      </div>
      <span
        class="alert alert-info"
        ng-if="dashboard.allWorkflows.meta.total_count == 0">
        No workflows found.
      </span>
    </div>
  </div>
</div>
