<div
  class="span4"
  refinery-expandable-panel>
  <div class="refinery-panel">
    <div class="refinery-header">
      <span class="refinery-header-left">
        <h3>
          <i class="m-r-1-4 icon-file"></i>Data Sets
        </h3>
      </span>
      <span class="refinery-header-right">
        <!--
        <button
          class="no-underline"
          ng-click="dashboard.toggleDataSetsExploration()">
          <i class="icon-compass" title="Explore data sets"></i>
        </button>
        -->
        <a
          href="./data_set_manager/import/"
          class="no-underline"
          ng-if="dashboard.userIsAuthenticated">
          <i class="icon-plus-sign"></i>
        </a>
      </span>
    </div>

    <div
      class="refinery-sub-panel"
      ng-class="{'border': dashboard.dataSetPreviewBorder}"
      refinery-width-fixer>
      <form class="navbar-search">
        <i class="icon-search"></i>
        <i class="icon-remove-sign"
          ng-if="dashboard.searchQueryDataSets"
          ng-click="dashboard.resetDataSetSearch()"></i>
        <input
          type="text"
          class="search-query"
          placeholder="Search"
          ng-model="dashboard.searchQueryDataSets"
          ng-change="dashboard.searchDataSets(dashboard.searchQueryDataSets)">
      </form>

      <div class="refinery-panel-header">
        <div class="refinery-notification">
          <div
            class="refinery-notification-info"
            ng-show="dashboard.searchQueryDataSets.length === 1">
            <strong>Too short!</strong>
            2 characters needed to search.
          </div>
          <div
            class="refinery-notification-alert"
            ng-show="dashboard.dataSets.total === 0 && dashboard.searchQueryDataSets.length > 1">
            <strong>No luck!</strong>
            No data sets found.
          </div>
          <div
            class="refinery-notification-info"
            ng-show="dashboard.dataSets.total === 0 && dashboard.searchQueryDataSets.length === 0">
            <strong>Info</strong>
            No data sets are available.
          </div>
        </div>
        <div class="floatbox">
          <div class="floatbox-min-right">
          </div>
          <div class="floatbox-max-left">
            <h4>
              {{ dashboard.dataSets.totalReadable }}
              {{ dashboard.searchQueryDataSets.length > 1 ? 'results' : 'data sets' }}
            </h4>
          </div>
        </div>
      </div>
      <div
        class="refinery-panel-content scrollable jquery-full-height"
        ui-scroll-viewport
        refinery-dashboard-panel>
        <ul
          class="results no-list-style"
          ng-class="{'search': dashboard.searchDataSet}">
          <li
            ui-scroll="dataSet in dashboard.dataSets"
            adapter="dashboard.dataSetsAdapter"
            ng-class="{'previewing': dataSet.preview}">
            <button
              class="preview"
              ng-click="dashboard.showDataSetPreview(dataSet, $index)">
              <i
                class="icon-double-angle-right is-mirrorable"
                ng-class="{'is-mirrored': dataSet.preview}"></i>
            </button>
            <i
              class="icon-user"
              title="You own this data set"
              ng-if="dataSet.is_owner"></i>
            <i
              class="icon-group"
              title="This data set is shared with you"
              ng-if="!dataSet.is_owner"></i>
            <i
              class="icon-globe"
              title="This file is publicly available"
              ng-if="dataSet.public"></i>
            <a
              class="title"
              ng-href="data_sets/{{ dataSet.uuid }}"
              ng-bind-html="dataSet.title"></a>
            <p
              class="snippet"
              ng-if="dataSet.description"
              ng-bind-html="dataSet.description"></p>
          </li>
          <li
            ng-if="dashboard.dataSetsAdapter.isLoading">
            <div
              class="refinery-request-loading"
              ng-if="dashboard.dataSetsAdapter.isLoading">
              <span class="refinery-spinner"></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <refinery-data-set-preview
      class="preview-container"
      close="dashboard.hideDataSetPreview()">
    </refinery-data-set-preview>
  </div>
</div>

<div
  class="span4 shadowPanel"
  ng-if="dashboard.dataSetPreviewBorder">
</div>

<div
  class="span4 pushable"
  ng-class="{'pushed': dashboard.dataSetPreview}">
  <div class="refinery-panel">
    <div class="refinery-header">
      <span class="refinery-header-left">
        <h3>
          <span>
            <i class="m-r-1-4 icon-bar-chart"></i>Analyses
          </span>
        </h3>
      </span>
      <span class="refinery-header-right">
<!--         <a
          href="./projects/new/"
          class="no-underline"
          ng-if="dashboard.userIsAuthenticated">
          <i class="icon-plus-sign"></i>
        </a> -->
      </span>
    </div>
    <div class="refinery-panel-header">
      <div class="floatbox">
        <div class="floatbox-min-right">
        </div>
        <div class="floatbox-max-left">
          <h4>Name</h4>
        </div>
      </div>
    </div>
    <div class="refinery-panel-content scrollable jquery-full-height">
      <ul
        class="no-list-style"
        ng-if="dashboard.allAnalyses.meta.total_count > 0">
        <li ng-repeat="analysis in dashboard.allAnalyses.objects">
          <span class="spinner"><i class="{{analysis.status | analysesStatusIcon}} analyses-status"
               rp-analyses-status-tooltip></i>
          </span>
          <span ng-switch on="analysis.status">
            <span ng-switch-when="UNKNOWN">
              {{ analysis.name }}
            </span>
            <span ng-switch-default>
              <a ng-href="/data_sets/{{analysis.data_set__uuid}}/analysis/{{analysis.uuid}}">
                {{ analysis.name }}
              </a>
            </span>
          </span>
        </li>
      </ul>
      <div
        class="refinery-request-loading"
        ng-if="dashboard.analysisServiceLoading">
        <span class="refinery-spinner"></span>
      </div>
      <div class="separator"></div>
      <ul
        class="no-list-style"
        ng-if="dashboard.allProjects.meta.total_count > 0">
        <li ng-repeat="project in dashboard.allProjects.objects">
          <i class="icon-user"></i>
          <a ng-href="projects/{{ project.uuid }}">{{ project.name }}</a>
        </li>
      </ul>
      <div
        class="refinery-request-loading"
        ng-if="dashboard.projectServiceLoading">
        <span class="refinery-spinner"></span>
      </div>
      <span
        class="alert alert-info"
        ng-if="dashboard.allProjects.meta.total_count === 0 && dashboard.allAnalyses.meta.total_count === 0">
        No projects found.
      </span>
    </div>
  </div>
</div>

<div
  class="span4 pushable"
  ng-class="{'pushed': dashboard.dataSetPreview}">
  <div class="refinery-panel">
    <div class="refinery-header">
      <span class="refinery-header-left">
        <h3><i class="m-r-1-4 icon-cog"></i>Workflows</h3>
      </span>
    </div>

    <div class="refinery-panel-header">
      <div class="floatbox">
        <div class="floatbox-max-left">
          <h4>Name</h4>
        </div>
      </div>
    </div>
    <div class="refinery-panel-content scrollable jquery-full-height">
      <ul
        class="no-list-style"
        ng-if="dashboard.allWorkflows.meta.total_count > 0">
        <li ng-repeat="workflow in dashboard.allWorkflows.objects">
          <a ng-href="workflows/{{ workflow.uuid }}">{{ workflow.name }}</a>
        </li>
      </ul>
      <div
        class="refinery-request-loading"
        ng-if="dashboard.workflowServiceLoading">
        <span class="refinery-spinner"></span>
      </div>
      <span
        class="alert alert-info"
        ng-if="dashboard.allWorkflows.meta.total_count == 0">
        No workflows found.
      </span>
    </div>
  </div>
</div>
