<div id="launch-pad" class="span4 expandable" ng-class="{'full-width': dashboard.expandDataSetPanel}">
  <div class="refinery-panel">
    <div class="refinery-header">
      <span class="refinery-header-left">
        <h3><i class="m-r-1-4 icon-file"></i>Data Sets</h3>
      </span>
      <span class="refinery-header-right" ng-if="sharingEnabled">
        <a href="./data_set_manager/import/isa-tab-form/" class="no-underline-hover">
          <i class="icon-plus-sign"></i>
        </a>
      </span>
    </div>

    <form class="navbar-search">
      <i class="icon-search"></i>
      <input
        type="text"
        class="search-query"
        placeholder="Search"
        ng-model="dashboard.searchQueryDataSets"
        ng-change="dashboard.searchDataSets(dashboard.searchQueryDataSets)">
    </form>

    <div class="refinery-panel-content scrollable">
      <ul>
        <li ng-repeat="dataSet in launchPad.dataSets.objects">{{ dataSet.resource_uri }}</li>
      </ul>
    </div>
  </div>
</div>

<div class="span4">
  <div class="refinery-panel">
    <div class="refinery-header">
      <span class="refinery-header-left">
        <h3><i class="m-r-1-4 icon-folder-open"></i>Projects</h3>
      </span>
      <span class="refinery-header-right" ng-if="sharingEnabled">
        <a href="./data_set_manager/import/isa-tab-form/" class="no-underline-hover">
          <i class="icon-plus-sign"></i>
        </a>
      </span>
    </div>

    <div class="refinery-panel-content scrollable">
      <span class="alert alert-info">
        No projects found.
      </span>
    </div>
  </div>
</div>

<div class="span4">
  <div class="refinery-panel">
    <div class="refinery-header">
      <span class="refinery-header-left">
        <h3><i class="m-r-1-4 icon-cog"></i>Workflows</h3>
      </span>
      <span class="refinery-header-right" ng-if="sharingEnabled">
        <a href="./data_set_manager/import/isa-tab-form/" class="no-underline-hover">
          <i class="icon-plus-sign"></i>
        </a>
      </span>
    </div>

    <div class="refinery-panel-content scrollable">
      <span class="alert alert-info">
        No workflows imported.
      </span>
    </div>
  </div>
</div>
</div>
