<div>
  <p id="doiTitle">Degree-Of-Interest</p>
  <div id="doiVis" style="width:100%; height: 300px">
    <div id="doiCanvas" style="width:70px; float: left;">
      <svg height="300" width="100" class="m-t-0 m-l-0 p-a-0"
        pointer-events="all">
        <g>
          <g transform="translate(0,0)">
            <g></g>
          </g>
        </g>
      </svg>
    </div>
  </div>
  <button
    id="prov-doi-view-apply"
    class="btn btn-primary"
    type="button"
    style="position: absolute; left: 0px; top: 340px;">
    Apply
  </button>
  <label
    id="prov-doi-trigger"
    class="prov-doi-view-show-checkbox"
    style="display: flex; position: absolute; left: 75px; top: 340px;
    margin-top: 5px;">
    <input id="prov-doi-view-trigger-input" type="checkbox"
      style="margin-right: 3px">
    Auto Update
  </label>
  <label
    id="prov-doi-view-show"
    class="prov-doi-view-show-checkbox"
    style="display: flex; position: absolute; left: 180px; top: 340px;
    margin-top: 5px">
    <input
      id="prov-doi-view-show-input"
      type="checkbox"
      style="margin-right:3px">
    Show DOI
  </label>
</div>
