<div ng-controller="provvisNavbarController as $ctrl">
  <div id="provenance-controls">
    <div id="prov-ctrl-node-btn-group" class="btn-group">
      <label
        id="prov-ctrl-layers-click"
        class="btn btn-xs btn-primary"
        ng-model="$ctrl.provView"
        uib-btn-radio="'Layers'">
        <i class="fa fa-bars"></i>&nbsp;Layers
      </label>
      <label
        id="prov-ctrl-analyses-click"
        class="btn btn-xs btn-primary"
        ng-model="$ctrl.provView"
        uib-btn-radio="'Analyses'">
        <i class="fa fa-cogs"></i>&nbsp;Analyses
      </label>
      <label
        id="prov-ctrl-subanalyses-click"
        class="btn btn-xs btn-primary"
        ng-model="$ctrl.provView"
        uib-btn-radio="'Analysis-Groups'">
        <i class="fa fa-cog"></i>&nbsp;Analysis Groups
      </label>
      <label
        id="prov-ctrl-workflows-click"
        class="btn btn-xs btn-primary"
        ng-model="$ctrl.provView"
        uib-btn-radio="'Workflows'">
        <i class="fa fa-sitemap rotate-icon-90"></i>&nbsp;Workflows
      </label>
    </div>

    <div id="prov-ctrl-node-labeling-btn-group" class="btn-group">
      <!-- Attributes -->
      <div id="prov-ctrl-visible-attribute"
              class="refinery-base dropdown">
        <button class="refinery-base btn btn-default btn-xs dropdown-toggle"
           data-toggle="dropdown"
            aria-expanded="true">
          <i class="fa fa-wrench"></i>&nbsp;Attributes&nbsp;<i
            class="fa fa-caret-down"></i>
        </button>
        <ul id="prov-ctrl-visible-attribute-list"
            class="dropdown-menu scrollable-menu"></ul>
        <script>
          /* Stop dropdown menu from closing on click. */
          $("#prov-ctrl-visible-attribute-list").bind("click",
              function (e) {
                e.stopPropagation();
              });
        </script>
      </div>
    </div>

    <label style="display: inline; margin-top: 3px; margin-right: 5px;">
      Filter
    </label>

    <div id="prov-ctrl-filter-action" class="btn-group"
         data-toggle="buttons">
      <label class="refinery-base btn btn-default btn-xs active">
        <input type="radio" id="prov-ctrl-filter-action-blend"
               name="Blend" value="blend" /> Blend
      </label>
      <label class="refinery-base btn btn-default btn-xs">
        <input type="radio" id="prov-ctrl-filter-action-hide"
               name="Hide" value="hide" /> Hide
      </label>
    </div>

    <input id="prov-ctrl-toggle-sidebar"
           type="checkbox"
           style="margin-top: 0px;
           vertical-align: middle;" />

    <label id="prov-ctrl-toggle-sidebar-label"
           style="margin-right: 20px;">Info panel</label>

    <input id="prov-ctrl-toggle-fit"
           type="checkbox"
           checked="checked"
           style="margin-top: 0px;
           vertical-align: middle;" />

    <label id="prov-ctrl-toggle-fit-label"
           style="margin-right: 20px;">Scale graph</label>

    <a
      id="help-provenance-button"
      popover-placement="bottom"
      uib-popover-html="'<div>
      <div class=refinery-subheader><h4>Node and path specific:</h4></div>
      <ul class=list-unstyled>
      <li><strong>(Un)Select</strong> Left click</li>
      <li><strong>Highlightpredecessors</strong> Left click on left anchor</li>
      <li><strong>Highlight successors</strong> Left click on right anchor</li>
      <li><strong>Collapse Node</strong> Left click on enclosing bounding
      box</li>
      <li><strong>Expand Node</strong> Double click on node</li></ul>
      <div class=refinery-subheader>
      <h4>Global:</h4></div>
      <ul class=list-unstyled>
      <li><strong>Clear highlighting</strong> Left click on background</li>
      <li><strong>Fit graph to screen</strong> Left double click on
      background</li>
      </ul><div>'"
      popover-title="Provenance Visualization Info"
      popover-trigger="'outsideClick'"
      popover-append-to-body="true"
      tabindex="0">

      <i class="fa fa-question-circle info-icon icon-only"
         style="font-size: 19px; margin-left: 5px; margin-right: 5px;
         position: relative; top: 3px;"></i>
    </a>
  </div>
</div>
