{% extends "refinery_repository/base.html" %}

<!-- 
{% block title %}
{{ block.super }} - Home : 
{% endblock %}

{% block subheader %}
	{% if user.is_authenticated  %}
		ANALYSIS STATUS
	{% else %}
		ANALYSIS STATUS
	{% endif %}
{% endblock %}
-->

{% block content %}
	
{% if statuses %}
<div class="row-fluid">

	<ul>
    <li> Analysis: {{ statuses.analysis_uuid }}<br>
       	{{ statuses.preprocessing_taskset_id }} | {{ statuses.execution_taskset_id }} | {{ statuses.postprocessing_taskset_id }}<br>
        {{ statuses.current }}
    </li>
    </ul>
 </div>
 
    
    <div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  Preprocessing
                </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                  {{ statuses.preprocessing_status }}
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                  Execution
                </a>
              </div>
              <div id="collapseTwo" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                  {{ statuses.execution_status }}
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading ">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
                  Postprocessing
                </a>
              </div>
              <div id="collapseThree" class="accordion-body in" style="height: auto; ">
                <div class="accordion-inner">
                  {{ statuses.postprocessing_status }}
                  {{ statuses.cleanup }}
                </div>
              </div>
            </div>
          </div>
          

          
<script>
$(".collapse").collapse("show")
</script>
{% endif %}

{% endblock %}
