{% extends "base.html" %}

{% block subheader %}
<div class="page-header">
	{% if REFINERY_REPOSITORY_MODE %}
	<h1>Download&nbsp;<small>{{ analysis.name }}</small></h1>
	{% else %}
	<h1>Analysis&nbsp;<small>{{ analysis.name }}</small></h1>
	{% endif %}
</div>
{% endblock %}

{% block content %}
<div class="refinery-panel refinery-panel-content scrollable">
	<div class="row-fluid">		
	
	{% if status %}
	
		<div class="row-fluid">
			<div class="span12">
				<h3>
					Status
				</h3>
				{% if REFINERY_REPOSITORY_MODE %}
				<p>
					<i class="icon-time"></i>&nbsp;Preparing archive ({{analysis.name}}) for download.
				</p>
				{% else %}
				<p>
					<i class="icon-cog"></i>&nbsp;<a href="{% url 'workflow' status.analysis.workflow.uuid %}">{{ status.analysis.workflow.name }}</a> started on {{ status.analysis.modification_date }}.
				</p>
				
				<p>
					<button type="button" class="btn btn-danger" id="cancel-analysis-button">Cancel Analysis</button>															
					<button type="button" class="btn" id="view-in-galaxy-button" disabled="disabled">View in Galaxy</button>
				</p>
				{% endif %}
			</div> <!-- column -->
		</div> <!-- row -->
		
		<div class="row-fluid">
			<div class="span4">

	        	<h4>Preprocessing</h4>
	        	
	        	<div id="preprocessing-status" class="">						        		
	        	</div>
			            
 			</div> <!-- column -->
 			<div class="span4">
 
              <h4>Execution</h4>

	        	<div id="execution-status" class="">						        		
	        	</div>
            
			 </div> <!-- column -->
			 <div class="span4">
			            
              <h4>Postprocessing</h4>

	        	<div id="postprocessing-status" class="">						        		
	        	</div>
            
			</div> <!-- column --> 
		</div> <!-- row -->
                  
	{% endif %}
</div>
</div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/refinery/analysis_manager/analysis_monitor.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootbox/bootbox.min.js"></script>
	
	<script>
  $(document).ready(function() {

		var history_id = null;

    var getHistoryIntervalID = window.setInterval(getHistoryID, 1000);
    function getHistoryID() {
      if (history_id == null) {
        $.ajax({
          url: "/api/v1/analysis/{{ uuid }}/?format=json",
          success: function(data) {
            if (history_id == null && data.history_id != null) {
              // a history id has become available
              history_id = data.history_id;
              $("#view-in-galaxy-button").removeAttr("disabled");
              window.clearInterval(getHistoryIntervalID);
            }
          },
          dataType: "json",
          timeout: 5000
        });
      }
    }		

    monitor = new AnalysisMonitor(
      "{{ uuid }}",
      document.location.protocol + "//" + document.location.host,
      "{% url 'data_set_analysis' status.analysis.data_set.uuid status.analysis.uuid %}",
      "{{ csrf_token }}"
    );
		monitor.getUpdate();
		
		var timerId = setInterval( function(){ monitor.getUpdate(); }, 3000 );
		
		$("#cancel-analysis-button").click( function(event) {
				bootbox.confirm(
	   				"<h3>Cancel Analysis?</h3>" +
					"<p>" +
					"Are you sure you want to cancel this analysis?" +
					"</p>",
					function(result) {
						if ( result ) {
							monitor.cancelAnalysis( 
								function( result ) {
									alert( "Successfully canceled analysis." );
									window.location = "{% url 'data_set' status.analysis.data_set.uuid %}";
									// redirect to dataset page?
								},
								function( result ) {
									alert( "Cancelling analysis failed." );
								}
							 );							
						}
					}
				); 				
			});

    $("#view-in-galaxy-button").click(function(event) {
      // open Galaxy history in a new window
      galaxyHistoryUrl = "{{ status.analysis.workflow.workflow_engine.instance.base_url }}";
      galaxyHistoryUrl += "/history/view?id=";
      galaxyHistoryUrl += history_id;
      window.open(galaxyHistoryUrl, '_blank');
    });
  });    		
  </script>
{% endblock %}
