<div ng-if="!(analysesCtrl.isEmptyAnalysesGlobalList())">
  <ul id="analyses-popover" ng-repeat ="analysis in analysesCtrl.analysesGlobalList track by $index">
     <li>

       &nbsp;
      <span ng-switch on="analysis.status">
          <span ng-switch-when="UNKNOWN">
            <i class="{{analysis.status | analysesStatusIcon}} analyses-status"></i>
             {{ analysis.name }}
          </span>
          <span ng-switch-when="RUNNING">
            <a class="btn btn-sm" href="#" id="analysis-popover-btn">
             <i class="{{analysesCtrl.analysesGlobalDetail[analysis.uuid]|analysesRunningStatusBtn}}"></i>
              {{analysesCtrl.analysesGlobalDetail[analysis.uuid]|analysesRunningStatusPercent}}
              &nbsp;
            </a>
            <a id="analyses-popover-links" ng-href="/data_sets/{{analysis.data_set__uuid}}/#/analyses">
               {{ analysis.name }}
            </a>
          </span>
          <span ng-switch-default>
            <i class="{{analysis.status | analysesStatusIcon}} analyses-status"></i>
            <a id="analyses-popover-links" ng-href="/data_sets/{{analysis.data_set__uuid}}/analysis/{{analysis.uuid}}">
              {{ analysis.name }}
            </a>
          </span>
        </span>
     </li>
  </ul>
</div>
<div ng-if="analysesCtrl.isEmptyAnalysesGlobalList()">
  <p>
    No analyses performed.
  </p>
</div>
