 <div class="row-fluid analysis-header">
    <div class="span1 analysis-icon" id="header">
      <a class="analysis-header" ng-click="order('status')">
        <strong>Status</strong>
        <span class="sortorder" ng-show="predicate === 'status'"
          ng-class="{reverse:reverse}">
           <i ng-class="analysisIcon"></i>
        </span>
      </a>
    </div>
    <div class="span4 analysis-name">
      <a class="analysis-header" ng-click="order('name')">
        <strong>Name</strong>
        <span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}">
          <i ng-class="analysisIcon"></i>
        </span>
      </a>
    </div>
    <div class="span2">
     <a class="analysis-header" ng-click="order('time_start')">
       <strong>Start Time</strong>
       <span class="sortorder" ng-show="predicate === 'time_start'"
         ng-class="{reverse:reverse}">
          <i ng-class="analysisIcon"></i>
       </span>
     </a>
    </div>
    <div class="span2">
      <a class="analysis-header" ng-click="order('time_end')">
        <strong>End Time</strong>
        <span class="sortorder" ng-show="predicate === 'time_end'"
          ng-class="{reverse:reverse}">
           <i ng-class="analysisIcon"></i>
        </span>
      </a>
    </div>
    <div class="span3">
    </div>

  <ul class="analysesList">
      <li class="analysesListItems" ng-repeat="analysis in AnalysesCtrl
      .analysesList | orderBy:predicate:reverse |
      analysesOffset:currentPage*itemsPerPage | limitTo: itemsPerPage track by
      analysis.uuid">

         <div class="row-fluid">
          <div class="span1 analysis-icon">
             <span ng-if="analysis.status=='RUNNING' || analysis.status=='INITIALIZED'">
                <a ng-click="isCollapsed = !isCollapsed" data-toggle="collapse" data-target="#{{analysis.uuid}}">
                  <i ng-class="{'icon-caret-right icon-large analyses-collapse':
                  isCollapsed,'icon-caret-down icon-large analyses-collapse':!isCollapsed}"></i>
                </a>
             </span>
            &nbsp;
           <span class="spinner"><i class="
           {{analysis.status | analysesStatusIcon}} analyses-status"
             rp-analyses-status-tooltip></i>
           </span>
          </div>

          <div class="span4 analysis-name">
            <span ng-switch on="analysis.status">
                <span ng-switch-when="UNKNOWN">
                   {{ analysis.name }}
                </span>
              <span ng-switch-default>
                  <a ng-href="/data_sets/{{analysis.data_set__uuid}}/analysis/{{analysis.uuid}}">
                    {{ analysis.name }}
                  </a>
              </span>
            </span>
          </div>

           <div class="span2">
            {{analysis.time_start | date: 'medium'}}
           </div>

           <div class="span2">
           {{analysis.time_end | date: 'medium'}}
           </div>

           <div ng-if="analysis.status=='RUNNING'"  class="span1">
             <a rp-analyses-cancel-confirm confirmed-click="AnalysesCtrl.cancelAnalysis(analysis.uuid)" rp-analyses-cancel-tooltip>
               <i class="icon-remove analyses-cancel"></i>
             </a>
           </div>

           <div class="span2"></div>

          <span ng-if="analysis.status=='RUNNING' || analysis.status=='INITIALIZED'">

            <div class="span1">
              &nbsp;
            </div>
            <div class="span11 analysis-running">
              <span ng-if="AnalysesCtrl.analysesDetail[analysis.uuid].cancelingAnalyses == true">
                <div class="alert alert-danger" id="analyses-cancel-notice">
                  Canceling Analysis in Progress
                </div>
              </span>

              <div id="{{analysis.uuid}}" class="collapse in">

                <div ng-hide="AnalysesCtrl.isAnalysisDetailLoaded(analysis.uuid)"
                  class="ng-hide">
                  <div class = "analysis-retrieving">
                     <span class="refinery-spinner analyses-view"></span>
                    &nbsp;Retrieving analysis details.
                   </div>
                </div>

                <div ng-show="AnalysesCtrl.isAnalysisDetailLoaded(analysis.uuid)">
                  <ul class="analysisRunningList">
                    <li class="analysisRunningListItem">
                      Input File Import
                      <span rp-analyses-input-tooltip>
                        <i class="icon-question-sign"></i>
                      </span>
                      <div ng-switch on="AnalysesCtrl.analysesDetail[analysis.uuid]
                      .preprocessing">
                        <div ng-switch-when="SUCCESS">
                          <div class="alert alert-success">
                            {{ AnalysesCtrl.analysesDetail[analysis.uuid].preprocessing }}
                          </div>
                        </div>
                        <div ng-switch-when="RETRY">
                          <div class="progress progress-striped active">
                            <div class="bar" id="preprocessing-
                          {{ analysis.uuid }}" style="width:
                            {{AnalysesCtrl.analysesDetail[analysis.uuid]
                            .executionPercentDone}}">
                              <span class="progress-analyses-text">
                                {{AnalysesCtrl.analysesDetail[analysis.uuid].preprocessingPercentDone}}
                              </span>
                            </div>
                          </div>
                        </div>
                        <div ng-switch-when="FAILURE">
                          <div class="alert alert-warning">
                            {{ AnalysesCtrl.analysesDetail[analysis.uuid].preprocessing }}
                            </div>
                        </div>
                        <div ng-switch-default>
                          <div class="alert alert-info">
                            PENDING
                          </div>
                        </div>
                      </div>
                    </li>

                    <li class="analysisRunningListItem">
                      Execution
                      <span rp-analyses-execution-tooltip>
                        <i class="icon-question-sign"></i>
                      </span>
                      <div ng-switch on="AnalysesCtrl.analysesDetail[analysis.uuid].execution">
                        <div ng-switch-when="SUCCESS">
                          <div class="alert alert-success">
                            {{ AnalysesCtrl.analysesDetail[analysis.uuid].execution }}
                          </div>
                        </div>
                        <div ng-switch-when="RETRY">
                          <div class="progress  progress-striped  active">
                            <div class="bar" id="execution-{{ analysis.uuid }}" style="width:{{AnalysesCtrl.analysesDetail[analysis.uuid].executionPercentDone}}">
                              <span class="progress-analyses-text">
                                {{AnalysesCtrl.analysesDetail[analysis.uuid].executionPercentDone}}
                              </span>
                            </div>
                          </div>
                        </div>
                        <div ng-switch-when="FAILURE">
                          <div class="alert alert-warning">
                            {{ AnalysesCtrl.analysesDetail[analysis.uuid].execution }}
                            </div>
                        </div>
                        <div ng-switch-default>
                          <div class="alert alert-info">
                            PENDING
                          </div>
                        </div>
                      </div>
                    </li>

                    <li class="analysisRunningListItem">
                      Output File Import
                      <span rp-analyses-output-tooltip>
                        <i class="icon-question-sign"></i>
                      </span>
                      <div ng-switch on="AnalysesCtrl.analysesDetail[analysis.uuid].postprocessing">
                        <div ng-switch-when="SUCCESS">
                          <div class="alert alert-success">
                            {{ AnalysesCtrl.analysesDetail[analysis.uuid].postprocessing }}
                          </div>
                        </div>
                        <div ng-switch-when="FAILURE">
                          <div class="alert alert-warning">
                            {{ AnalysesCtrl.analysesDetail[analysis.uuid].postprocessing }}
                          </div>
                        </div>
                        <div ng-switch-when="RETRY">
                          <div class="progress progress-striped active">
                            <div class="bar" id="postprocessing-
                          {{ analysis.uuid }}" style="width:
                            {{AnalysesCtrl.analysesDetail[analysis.uuid]
                            .executionPercentDone}}">
                              <span class="progress-analyses-text">
                                {{AnalysesCtrl.analysesDetail[analysis.uuid].postprocessingPercentDone}}
                                </span>
                            </div>
                          </div>
                        </div>
                         <div ng-switch-default>
                          <div class="alert alert-info">
                            PENDING
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </span>
        </div>
      </li>
    </ul>

    <br>
    <br>

    <div ng-if="AnalysesCtrl.analysesList.length > itemsPerPage" class="pagination analyses">
      <ul>
        <li ng-class="prevPageDisabled()">
          <a ng-click="prevPage()">«</a>
        </li>
        <li ng-repeat="pageNum in range()" ng-class="{active:pageNum==currentPage}"
          ng-click="setPage(pageNum)">
          <a> {{ pageNum }}  </a>
        </li>
        <li ng-class="nextPageDisabled()">
          <a href ng-click="nextPage()">»</a>
        </li>
      </ul>
    </div>
   </div>
  </div>
