<div class="tab-pane fade active in" id="metadata">
  <div class="row refinery-header">
    <span class="refinery-header-left">
      <h3>Option 1. Tabular file</h3></span>
  </div>

  <metadata-table></metadata-table>

  <!-- ISA archive form -->
  <div class="row">
    <span class="refinery-header-left">
      <h3 id="isa-header">Option 2. ISA Archive</h3>
    </span>
  </div>

  <div class="row">
    <p class="col-md-12">
      Please provide a ZIP archive containing an investigation, study, and assay files.
    </p>
    <form id="isaTabImportForm" enctype="multipart/form-data"
          action="{% url "process_isa_tab" %}" method="post">
      {% csrf_token %}

      <p>{{ form.non_field_errors }}</p>
      <p>{{ error }}</p>

      <div class="refinery-subheader">
        <h4>Option A. Upload from local computer</h4>
      </div>
      <p>
        {{ form.isa_tab_file.errors}}
        {{ form.isa_tab_file }}
      </p>

      <div class="refinery-subheader">
        <h4>Option B. Provide a URL</h4>
      </div>
      <p>
        {{ form.isa_tab_url.errors }}
        {{ form.isa_tab_url }}
      </p>
      <input style="float: left;" class="refinery-base btn btn-default"
        id="isa-import-button"
             type="submit" value="Import"/>
      <div style="margin-left: 15px; padding: 15px; float: left;
                  display: block; height: 22px; width: 22px;"
           id="isa-spinner">
      </div>
    </form>
  </div>
  <!-- end ISA archive form -->
</div>
