<div class="tab-pane fade active in" id="metadata">
  <div class="fade-out-able" ng-class="{ 'disabled': import.isDisabledTabularImport }">
    <h3 id="fileUploadStep3" class="refinery-header">Option 1. Tabular
      file</h3>
    <metadata-table import-option="import.option"></metadata-table>
  </div>
  <div class="fade-out-able" ng-class="{ 'disabled': import.isDisabledIsaTabImport }">
    <h3 id="fileUploadStep5" class="refinery-header">Option 2. ISA Archive</h3>
    <isa-tab-import import-option="import.option"></isa-tab-import>
  </div>
</div>
