<div id="isa-tab-import-form">
  <p>
    Please provide a ZIP archive containing an investigation, study, and assay
    file.
  </p>

  <div class="relative">
    <div
      class="refinery-max refinery-spinner-bg"
      ng-if="isaTabImport.isImporting">
      <div class="refinery-spinner-center">
        <div class="refinery-spinner"></div>
      </div>
    </div>

    <div
      class="refinery-max refinery-bg-success text-success"
      ng-if="isaTabImport.isSuccessfullyImported">
      <div class="text-centered">
        <i class="fa fa-check" aria-hidden="true"></i>
        Data set has been successfully imported. You will be redirected sortly.
        Otherwise click <a ng-href="/data_sets/{{ isaTabImport.importedDataSetUuid }}">here</a>.
      </div>
    </div>

    <label class="block label-block label-text-left">
      <span class="label-text label-left min-width-200">Select local ISA-Tab archive:</span>
      <input
        id="id_isa_tab_file"
        name="isa_tab_file"
        type="file"
        ng-disabled="!!isaTabImport.urlToFile"
        file-model="isaTabImport.file">
    </label>

    <div class="text-muted m-t-1-2 m-b-1-2">or</div>

    <label class="block label-block label-text-left">
      <span class="label-text min-width-200">URL to remote ISA-Tab archive:</span>
      <input
        id="id_isa_tab_url"
        name="isa_tab_url"
        size="37"
        type="text"
        placeholder="e.g. http://example.com/isa-tab.zip"
        ng-model="isaTabImport.urlToFile"
        ng-disabled="!!isaTabImport.file">
    </label>

    <button
      id="isa-import-button"
      class="block refinery-base btn btn-default"
      ng-click="isaTabImport.startImport()"
      ng-disabled="
        (
          !isaTabImport.file &&
          !isaTabImport.urlToFile
        ) ||
        isaTabImport.isSuccessfullyImported
      ">
      Start Import
    </button>
  </div>
</div>
