<span class="control-label"">
  <b>{{ $ctrl.groupIndex + 1 }}</b> of
  <b>{{ $ctrl.groups.length }} </b> groups
</span>

<div>
  <button
    class="btn btn-default btn-xs outline"
    ng-disabled="$ctrl.groupIndex == 0"
    ng-click="$ctrl.navLeft()">
    <i class="fa fa-backward"></i>
  </button>
  <button
    class="btn btn-default btn-xs outline"
    ng-disabled="$ctrl.groupIndex == $ctrl.groups.length - 1"
    ng-click="$ctrl.navRight()">
    <i class="fa fa-forward"></i>
  </button>
  <button
    class="btn btn-default btn-xs outline"
    ng-disabled="$ctrl.groups.length == 0"
    ng-click="$ctrl.removeGroup()">
    Remove
  </button>
  <button
    class="btn btn-default btn-xs outline"
    ng-disabled="$ctrl.groups.length == 0"
    ng-click="$ctrl.removeAllGroups()">
    Remove All
  </button>
</div>

<hr>
<rp-single-input-group-cart></rp-single-input-group-cart>
