<div class="modal-header">
    <h3>Delete Analysis</h3>
</div>
<div class="modal-body">
  <h5><b>Title:</b> {{modal.analysis.name}}</h5>
  <h5><b>Status:</b> {{modal.analysis.status}}</h5>
</div>

<div class="modal-footer">
  <div class="text-align-left">
    <p class="deletion-message" ng-if="modal.deletionMessage != null">
      <b id="deletion-message-text">{{modal.deletionMessage}}</b>
    </p>
    <div class="refinery-spinner" ng-if="modal.isDeleting"></div>
  </div>
  <div class="text-align-right">
    <button
      class="refinery-base btn btn-default"
      ng-if="modal.deletionMessage != null"
      ng-click="modal.cancel()">
      Close
    </button>
    <button id="analysis-delete-cancel-button"
      class="refinery-base btn btn-default"
      ng-if="modal.deletionMessage == null"
      ng-click="modal.cancel()">
      Cancel
    </button>
    <button id="analysis-delete-button"
      class="btn btn-danger"
      ng-if="modal.deletionMessage == null"
      ng-click="modal.delete()">
      Delete
    </button>
  </div>
</div>