<div class="refinery-panel" id="dashboard-data-set-card">
  <div class="refinery-header">
    <h3>
      <i class="m-r-1-4 fa fa-database"></i>Data Sets
      <span class="float-right">
        <a
          href="/files/"
          class="no-underline btn btn-sm">
          <i class="fa fa-list"></i> List
        </a>
        <!--ToDo: check perms first -->
        <a
          href="/data_set_manager/import/"
          class="btn btn-sm btn-primary p-l-1-2"
          id="import-button">
          <i class="fa fa-plus-circle"></i> Upload
        </a>
      </span>
    </h3>
  </div>
  <div class="refinery-sub-panel">
    <div class="card-sub-header">
      <div
        id="search-interface-dashboard"
        class="form-group navbar-search col-md-3"
        ng-form="metadataSearch"
        ng-class="{'has-warning': metadataSearch.searchQuery.$error.minlength}">
        <i class="fa fa-search"></i>
        <i class="fa fa-times-circle"
          ng-if="$ctrl.searchQueryDataSets"
          ng-click="$ctrl.resetDataSetSearch()"></i>
        <!--The 'metadata-search' id below is used to define custom
          styling to address a padding issue observed in Firefox-->
        <input
          id="metadata-search"
          type="text"
          class="search-query form-control"
          placeholder="Search"
          ng-model="$ctrl.searchQueryDataSets"
          ng-change="$ctrl.searchDataSets($ctrl.searchQueryDataSets)"
          ng-minlength="2"
          name="searchQuery">
      </div>
      <div class="col-md-6">
        <div class="refinery-base btn btn-default btn-sm"
          ng-model="$ctrl.groupFilter['owned']"
          ng-change="$ctrl.filterDataSets('owned')"
          uib-btn-checkbox>
          <span ng-if="$ctrl.groupFilter.owned">
            <i class="fa fa-check"></i>
          </span>
          Owned
        </div>
        <div class="float-left m-l-1" uib-dropdown auto-close="outsideClick">
          <span
            class="refinery-base btn btn-default btn-sm"
            id="btn-append-to-single-button"
            uib-dropdown-toggle
            ng-disabled="disabled">
            <span ng-if="$ctrl.groupFilter.group > 0">
              <i class="fa fa-check=="></i>
            </span>
            Groups <i class="fa fa-caret-down"></i>
          </span>
          <ul class="dropdown-menu radio-drop-down" uib-dropdown-menu role="menu"
            aria-labelledby="btn-append-to-single-button">
            <li role="menuitem">
              <label>
                <input type="radio"
                  ng-model="$ctrl.groupFilter.selectedName"
                  ng-change="$ctrl.filterDataSets(0)"
                  value="All">
                  All
              </label>
            </li>
            <li ng-repeat="group in $ctrl.groups" role="menuitem">
               <span ng-if="group.name !== 'Public'">
                  <label>
                    <input type="radio"
                      ng-model="$ctrl.groupFilter.selectedName"
                      ng-change="$ctrl.filterDataSets(group.id)"
                      value="{{ group.name }}">
                    {{ group.name }}
                  </label>
               </span>
            </li>
          </ul>
        </div>
        <div
          class="refinery-base btn btn-default btn-sm m-l-1"
          ng-model="$ctrl.groupFilter['public']"
          ng-change="$ctrl.filterDataSets('public')"
          uib-btn-checkbox>
          <span ng-if="$ctrl.groupFilter.public">
            <i class="fa fa-check"></i>
          </span>
          Public
        </div>
      </div>
    </div>
    <div
      class="refinery-sub-panel-notice">
      <div
        ng-messages="metadataSearch.searchQuery.$error"
        role="alert">
        <div ng-message="minlength" class="text-warning notice">
          <i class="fa fa-warning" aria-hidden="true"></i>
          <strong>Too short!</strong>: Enter at least 2 characters to search.
        </div>
        <div
          ng-show="$ctrl.dataSets.length === 0 && $ctrl.searchQueryDataSets.length > 1 && !$ctrl.dataSetsError"
          class="text-warning notice">
          <i class="fa fa-warning" aria-hidden="true"></i>
          <strong>Info</strong>: No data sets found.
        </div>
        <div
          ng-show="$ctrl.dataSets.length === 0 && $ctrl.searchQueryDataSets.length === 0 && !$ctrl.dataSetsError"
          class="text-info notice">
          <strong>Info</strong>: No data sets available.
        </div>
        <div
            id="launchpad_warning"
            ng-show="$ctrl.searchQueryDataSets.length > 1 && $ctrl.dataSetsError"
            class="text-error notice">
            <strong>Error: </strong>
            Please contact your <a ng-href="mailto:{{ app.settings.djangoApp.admins }}?Subject=Refinery%20Error">System Administrator</a>.
        </div>
      </div>
      <div id="dashboard-total-datasets">
        <span ng-if="$ctrl.dataSets.length">
          {{ $ctrl.dataSets.length }} data sets
        </span>
      </div>
    </div>
  </div>
  <div id="dashboard-data-set-list">
    <div class="refinery-panel-content">
      <ul class="results list-unstyled">
        <li ng-repeat="dataSet in $ctrl.dataSets">
          <a href="/data_sets/{{ dataSet.uuid }}" class="data-set-name">
            {{ dataSet.title }}&nbsp;
            <span
               class="fa-stack file-browser-go-icon"
               refinery-tooltip
               refinery-tooltip-container="body"
               refinery-tooltip-placement="right"
               title="View data set's files, tools, and details">
               <i class="fa fa-long-arrow-right fa-stack-1x"></i>
               <i class="fa fa-folder-o stack-left-center"></i>
             </span>
          </a>
           <div class="flex-box indicators">
             <ul class="flex-item-two flex-left no-list-style p-b-1-2">
               <li ng-if="dataSet.is_owner"
                 class="indicator"
                  title="You own this data set"
                  refinery-tooltip
                  refinery-tooltip-container="body"
                  refinery-tooltip-placement="top">
                  <i class="fa fa-user"></i>
                </li>
                <li ng-if="dataSet.public"
                  class="indicator"
                  title="Data set is public"
                  refinery-tooltip
                  refinery-tooltip-container="body"
                  refinery-tooltip-placement="top">
                  <i class="fa fa-globe"></i>
                </li>
               <li class="indicator"
                  title="Modification Date"
                  refinery-tooltip
                  refinery-tooltip-container="body"
                  refinery-tooltip-placement="top">
                  <i class="fa fa-calendar-o"></i>
                  {{ dataSet.modification_date | utcToReadableDate}}
                </li>
               <li ng-if="dataSet.is_owner">
                 <span class="separator">&middot;</span>
               </li>
               <li ng-if="dataSet.is_owner">
                 <a
                    ng-click="$ctrl.openDataSetDeleteModal(dataSet)"
                    class="pointer"
                    refinery-tooltip
                    refinery-tooltip-container="body"
                    refinery-tooltip-placement="bottom"
                    refinery-tooltip-hide-on-click="true
                    title="Delete data set">
                  <i class="fa fa-trash-o">
                  </i>
                 Delete
                 </a>
                </li>
               <li><span class="separator">&middot;</span></li>
               <li ng-if="dataSet.is_owner">
                 <a
                    class="pointer"
                    ng-click="$ctrl.openPermissionEditor(dataSet.uuid)"
                    refinery-tooltip
                    refinery-tooltip-container="body"
                    refinery-tooltip-placement="bottom"
                    title="Update the data set's permissions">
                    <i class="fa fa-share-square-o"></i>
                    Share
                  </a>
               </li>
             </ul>
           </div>
        </li>
      </ul>
    </div>
  </div>
</div>
