<div class="refinery-panel">
  <div class="refinery-header">
    <div>
      <h3>
        <i class="m-r-1-4 fa fa-list"></i> Events
      </h3>
    </div>
  </div>
  <div
    id="events-panel"
    class="refinery-sub-panel">
     <ul>
       <li ng-repeat="tool in $ctrl.tools">
         <span ng-if="tool.tool_definition === 2">
           <a ng-href="/data_sets/{{ tool.data_set.uuid }}/#/analyses">
             {{ tool.modification_date | date:"MM/dd/yyyy' at 'h:mma":timezone }}
             <i class="fa fa-cogs"></i>
             {{ tool.name }} is currently
             <span ng-show="tool.is_running"> running.</span>
             <span ng-show="tool.is_running"> running.</span>
           </a>
         </span>
         <span ng-if="tool.tool_definition === 1">
           <a ng-href="/data_sets/{{ tool.data_set.uuid }}/#/visualizations">
             {{ tool.modification_date | date:"MM/dd/yyyy 'at' h:mma":timezone }}
             <i class="fa fa-bar-chart"></i>
             {{ tool.name }}
           </a>
         </span>
       </li>
     </ul>
  </div>
</div>
