<div class="modal-header">
  <h3 class="text-align-center strong">This is the end&hellip;</h3>
</div>
<div class="modal-body">
  <p>Thank you for showing so much excitement. Unfortunately this is where you would leave SATORI and start analyzing the data with Refinery Platform, which is disabled for this demo.</p>
  <p>If you want to learn more about Refinery Platform in general please got to <a href="http://beta.stemcellcommons.org" target="_blank">http://beta.stemcellcommons.org</a> for a fully-fledged beta version.</p>
</div>
<div class="modal-footer">
  <div class="float-left"></div>
  <div class="float-right">
    <button class="btn btn-primary" ng-click="modal.cancel()">
        Go back to SATORI
    </button>
  </div>
</div>
