<div class="btn-group" uib-dropdown dropdown-append-to-body>
    <button id="split-button" type="button"
      class="refinery-base btn btn-default btn-xs">
        <a href="#">
          Choose Primary Group
        </a>
    </button>
    <button type="button" class="refinery-base  btn btn-default btn-xs"
      uib-dropdown-toggle>
      <i class="caret"></i>
      <span class="sr-only">Primary Group</span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
      <li role="menuitem">
        <a>
         Park Lab
        </a>
      </li>
      <li role="menuitem"><a href="#">
        Test Private Group
      </a></li>
      <li role="menuitem"><a href="#">
        Zebra Lab
      </a></li>
    </ul>
 </div>

