<div class="btn-group" uib-dropdown dropdown-append-to-body>
    <button id="split-button" type="button"
      class="btn btn-primary btn-xs" title="Join a group">
      Set Primary Group
    </button>
    <button type="button" class="btn btn-primary btn-xs" uib-dropdown-toggle>
      <i class="caret"></i>
      <span class="sr-only">Primary Group</span>
    </button>
  <span ng-if="!$ctrl.primary_group">
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
      <li role="menuitem">
        <a>
         Park Lab
        </a>
      </li>
      <li role="menuitem"><a href="#">
        Test Private Group
      </a></li>
      <li role="menuitem"><a href="#">
        Zebra Lab
      </a></li>
    </ul>
  </span>
 </div>

