<div ng-if="$ctrl.primaryGroup.name === 'None'" class="float-left">
  <div class="btn-group" uib-dropdown dropdown-append-to-body>
    <button id="split-button" type="button"
      class="btn btn-primary btn-xs" title="Join a group">
      Set Primary Group
    </button>
    <button type="button"
      ng-if="$ctrl.primaryGroup.name !== 'None'"
      class="btn btn-primary btn-xs" title="Filter data sets by primary group">
      <span ng-if="$ctrl.primaryGroupButton.selected">
      <i class="fa fa-check p-r-1-3"></i>
    </span>
      Primary Group: {{ $ctrl.primaryGroup.name }}
    </button>
    <button type="button" class="btn btn-primary btn-xs" uib-dropdown-toggle>
      <i class="caret"></i>
      <span class="sr-only">Primary Group</span>
    </button>
    <ul class="dropdown-menu"
      uib-dropdown-menu role="menu"
      aria-labelledby="split-button">
      <li role="menuitem" ng-repeat="group in $ctrl.groups">
        <a ng-click="$ctrl.updatePrimaryGroup(group)" ng-if="group.name !== 'Public'">
         {{ group.name }}
        </a>
      </li>
    </ul>
 </div>
</div>

<div class="float-left p-l-1-3">
  <a
    popover-placement="right"
    uib-popover-html="'This is your <strong>Primary Group</strong>. Once selected, data
    sets shared with this group will be displayed by default. To change your Primary Group
    selection, use the <strong>Collaboration</strong> card.'"
    popover-title="Title"
    popover-trigger="'outsideClick'"
    popover-append-to-body="true"
    tabindex="0">
      <i class="fa fa-question-circle info-icon icon-only"></i>
  </a>
</div>
