<i ng-show="systemStatusOk" class="icon-circle text-success"
  tool-tip tool-tip-container="body" tool-tip-placement="left"
  title="View System Tool Status" id="global-tool-icon-success"></i>
<i ng-show="systemStatusWarning" class="icon-adjust text-warning"
  tool-tip tool-tip-container="body" tool-tip-placement="left"
  title="View System Tool Status" id="global-tool-icon-warning"></i>
<i ng-show="systemStatusError" class="icon-circle-blank text-error"
  tool-tip tool-tip-container="body" tool-tip-placement="left"
  title="View System Tool Status" id="global-tool-icon-error"></i>
<i ng-show="systemStatusUnknown" class="icon-warning-sign"
  tool-tip tool-tip-container="body" tool-tip-placement="left"
  title="View System Tool Status" id="global-tool-icon-unknown"></i>
