<div ng-switch on="$ctrl.visLoadingFlag">
  <span ng-switch-when="ERROR">
    <em>Error loading visualizations. </em>
  </span>
  <span ng-switch-when="EMPTY">
    <em>No visualizations performed. </em>
  </span>
  <span ng-switch-when="LOADING">
      <span class="refinery-spinner analyses-view"></span>
      &nbsp;<em>Retrieving visualization list.</em>
  </span>
  <span ng-switch-default>
    <div class="row analysis-header">
      <div class="col-md-1 analysis-icon" id="header">
        <a class="analysis-header">
          <strong>Status</strong>
          <span>
             <i ng-class="analysisIcon"></i>
          </span>
        </a>
      </div>
      <div class="col-md-5 analysis-name">
        <a class="analysis-header" ng-click="order('name')">
          <strong>Name</strong>
        </a>
      </div>

      <div class="col-md-2">
       <a class="analysis-header">
         <strong>Creation Time</strong>
         </span>
       </a>
      </div>
      <div class="col-md-4">
        <strong>Owner Name</strong>
      </div>
    </div>

    <ul class="analysesList">
      <li class="analysesListItems" ng-repeat="vis in $ctrl.visualizations">
        <div class="row">
          <div class="col-md-1 analysis-icon">
            <span class="spinner">
              <span ng-if="vis.is_running">
                <i class="fa fa-cog analyses-status"
                 refinery-tooltip
                 refinery-tooltip-container="body"
                 refinery-tooltip-placement="right"
                 title="Visualization is running.">
                </i>
                Running
              </span>
              <span ng-if="!vis.is_running">
                <i class="fa fa-pause-circle analyses-status"
                 refinery-tooltip
                 refinery-tooltip-container="body"
                 refinery-tooltip-placement="right"
                 title="Visualization is paused.">
                </i>
                Paused
              </span>
            </span>
          </div>
          <div class="col-md-5 analysis-name">
            {{ vis.name }}
          </div>

          <div class="col-md-2">
            {{vis.humanizeCreateTime }}
          </div>
           <div class="col-md-2">
              <a ng-href="/users/{{ vis.owner.user_profile_uuid }}">
                <!-- avoid error with white spaces or single letter names-->
                <span ng-if="vis.owner.full_name.length > 2">
                  {{ vis.owner.full_name }}
                </span>
                <span ng-if="vis.owner.full_name.length <= 2">
                  {{ vis.owner.username }}
                </span>
              </a>
          </div>
           <div class="col-md-2">
              <span ng-if="$ctrl.isOwner(vis.owner.user_profile_uuid)">
                <span ng-if="!vis.is_running">
                  <button
                    class="btn btn-primary btn-xs"
                    ng-click="$ctrl.relaunchTool(vis.relaunch_url)">
                    Relaunch
                  </button>
                </span>
                <span ng-if="vis.is_running">
                  <a
                    class="refinery-base btn btn-default btn-xs"
                    ng-href="{{ vis.container_url }}" target="_blank">
                    View
                  </a>
                </span>
              </span>
          </div>
        </div>
      </li>
    </ul>

    <br>
    <br>

    <div ng-if="$ctrl.visualizations.length > itemsPerPage">
      <ul class="pagination analyses">
        <li ng-class="prevPageDisabled()">
          <a ng-click="prevPage()">«</a>
        </li>
        <li ng-repeat="pageNum in range()" ng-class="{active:pageNum==currentPage}"
          ng-click="setPage(pageNum)">
          <a> {{pageNum + 1}}  </a>
        </li>
        <li ng-class="nextPageDisabled()">
          <a ng-click="nextPage()">»</a>
        </li>
      </ul>
    </div>
  </span>
</div>
