@import "variables.less";

@top-bar-height: 24px;

.visWrapper .top-bar {
  position: relative;
  top: -5px;
  left: 0;
  width: 100%;
  height: 100%;
  height: @top-bar-height + 1px;
  color: #444;
  box-shadow: inset 0 -1px 0 0 lighten(@gray-light, 25%);

  label {
    margin: 0;
    padding: 0;
    line-height: @top-bar-height;
  }

  .floatbox-max-right {
    height: 100%;
  }
}

.visWrapper .top-bar ul {
  white-space: nowrap;

  &.right {
    text-align: right;
  }

  li {
    display: inline-block;
    position: relative;
    line-height: @top-bar-height;

    &:first-child {
      margin-left: 0;
    }
  }

  svg {
    position: relative;
    display: inline-block;
    top: 0;
    width: 0.66em;
    height: 0.66em;
  }

  .text {
    display: inline-block;
    line-height: @top-bar-height;
  }

  .icon-arrow-left {
    color: @gray-light;
  }

  .current-root {
    .text {
      position: relative;
      padding: 0 0.25em;
      color: #000;
      font-weight: bold;

      &:before {
        position: absolute;
        display: block;
        content: '';
        bottom: -1px;
        left: 4px;
        right: 4px;
        height: 1px;
        background: fade(@blue-shadow, 50%);
        box-shadow: 0 0 8px 0 @blue-shadow;
      }
    }
  }

  a {
    display: block;
    line-height: @top-bar-height;
    padding: 0 0.25em;
    transition: all @fast-transition-speed @ease-in-out-cubic;
    cursor: pointer;

    &:hover {
      .text {
        color: @black;
        text-decoration: underline;
      }
    }
  }
}

.visWrapper .top-bar > div {
  line-height: @top-bar-height;
}

.visWrapper .top-bar > .left {
  position: absolute;
  top: 0;
  left: 0;
  right: 20%;
  bottom: 0;
  margin: 0 0.5em 0 0;
  overflow: hidden;
}

.visWrapper .top-bar > .right {
  position: absolute;
  top: 0;
  left: 80%;
  right: 0;
  bottom: 0;
  padding-left: 0.5em;
  overflow: hidden;
}

.visWrapper .top-bar > .right:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  width: 1px;
  background: lighten(@gray-light, 25%);
}

.visWrapper .top-bar input,
.visWrapper .top-bar button {
  display: block;
  margin: 0;
  padding: 0 0.25em;
  color: inherit;
  font-size: 1em;
  font-weight: 300;
  line-height: @top-bar-height;
  border: 0;
  background: transparent;
  border-radius: 0;
  box-shadow: none;
}

.visWrapper .top-bar button {
  cursor: pointer;
}

.visWrapper .top-bar button.active {
  font-weight: 700;
  text-decoration: underline;
  background: #000;
}

.visWrapper .top-bar button:hover,
.visWrapper .top-bar button:focus {
  outline: none;
}

.visWrapper .top-bar button:active,
.visWrapper .top-bar button:focus {
  outline: none;
}

.visWrapper .top-bar input {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  transition: all @fast-transition-speed @ease-in-out-cubic;
}

.visWrapper .top-bar input:hover {
  box-shadow: inset 0 -1px 0 0 fade(@blue-shadow, 50%);
}

.visWrapper .top-bar input:focus,
.visWrapper .top-bar input:active {
  outline: none;
  box-shadow: inset 0 -1px 0 0 fade(@blue-shadow, 50%), inset 10px 0 8px -8px white, inset -10px 0 8px -8px white, inset 0 -8px 8px -8px @blue-shadow;
}

.treemap {
  position: absolute;
  top: @top-bar-height + 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
}

.list-graph {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  .top-bar {
    position: relative;
    z-index: 1;
    top: 0;
    left: 5px;
    right: 5px;
    height: @top-bar-height + 1;
    border-bottom: 0;
    overflow: hidden;
    background: #fff;
  }

  .top-bar.details .global-controls {
    margin-top: -@top-bar-height + 1;
  }

  .controls {
    opacity: 1 !important;
  }

  .top-bar .local-controls .controls {
    float: none;
    opacity: 1 !important;
  }

  .controls li {
    font-size: 12px;
    line-height: @top-bar-height;
    background: transparent;
    max-width: none;
  }

  .controls [class*=' icon-'],
  .controls [class^=icon-] {
    top: 4px;
    right: 4px;
    width: 16px;
    height: 16px;
  }

  .controls .icon-gear {
    top: 6px;
    right: 6px;
    width: 14px;
    height: 14px;
  }

  .controls .expandable-label {
    line-height: @top-bar-height;
  }

  .top-bar .global-controls .control-btn,
  .top-bar .controls {
    box-shadow: 1px 0 0 0 #d9d9d9;
  }

  .top-bar .control-switch {
    background: #fff;
    box-shadow: inset 1px 0 0 0 #d9d9d9, inset 0 -1px 0 0 #d9d9d9;
  }

  .top-bar .control-btn {
    font-size: 12px;
    line-height: 24px;
  }

  .control-btn .wrapper {
    top: 0;
  }

  .top-bar .control-btn [class*=' icon-'],
  .top-bar .control-btn [class^=icon-] {
    top: 4px;
    right: 4px;
    width: 16px;
    height: 16px;
  }

  .wrapper {
    position: absolute;
    z-index: 0;
    top: @top-bar-height + 1;
    right: 5px;
    bottom: 0;
    left: 5px;
  }

  svg.base {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
  }

  .label {
    display: block;
    padding: 0;
    font-weight: normal;
    font-size: 1em;
    line-height: 24px;
    color: inherit;
    text-align: left;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
  }

  .node .label {
    font-size: 1em;
  }

  // Adjust highlight color
  .bar-border {
    stroke: mix(lighten(@orange, 20%), #fff, 25%);
  }

  .bar.highlight .bar-magnitude {
    fill: lighten(@orange, 20%);
  }

  .top-bar .sort-precision:hover,
  .top-bar .sort-recall:hover,
  .top-bar .sort-name:hover {
    background: @orange;
  }

  .node .bg-border {
    fill: @orange;
    stroke: @orange;
  }

  .node.focus-directly .bg {
    fill: @orange;
  }

  .node.focus-directly .border,
  .column.active .node.focus-directly .border {
    stroke: @orange;
  }

  .link .link-bg {
    stroke: @orange;
  }

  .node.highlight-label .label,
  .column.active .node.highlight-label .label {
    color: darken(@orange, 5%);
    text-shadow: 0 0 3px fadeout(@orange, 50%);
  }
}

.preview {
  .content-container {
    transition: opacity @fast-transition-speed @ease-in-out-cubic;

    &.invisible {
      opacity: 0;
    }
  }
}
