@import "variables.less";

#refinery-home {
  background-color: @white;
  height: 100vh !important;
  margin-top: -@navbar-height;
  margin-left: -10px;
  margin-right: -10px;

  #home-component {
    .nav-btn-series {
      margin: 1em 2em 1em 0;
    }
  }
}

