@bootstrap-path: 'bower_components/bootstrap/less';
@import '@{bootstrap-path}/variables.less'; // Modify this for custom colors, font-sizes, etc
@import "variables.less";

@card-full-view:  ~"calc(100vh - @{navbar-height} - 2em)";
#refinery-home {
  background-color: @white;
  height: @card-full-view;
  margin-top: -30px;

  #home-component {
    height: @card-full-view;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .8em;
    .nav-btn-series {
      margin: 1em 2em 1em 0;
    }

    .cardless-col {
      height:  ~"calc(@{card-full-view} - 1.1em)";
      overflow: scroll;
      .col-content {
        height:  ~"calc(@{card-full-view} - 1.5em)";
      }
    }
    .section-content {
      padding: .5em .5em 0 1em;
      margin-top: .5em;
    }
  }

  #home-chart-ui-select {
    padding-bottom: .3em;
    float: right;
    .ui-select-label {
      display: inline;
      color: @gray-light;;
      font-weight: 700;
      padding-right: .3em;
      padding-top: .2em;
    }
  }

  #home-twitter-feed {
    height:  ~"calc(@{card-full-view} - 1.5em)";
    width: 100%;
    overflow: scroll;
    border-bottom: 1px solid #eee;

    .twitter-timeline {
      width: 100%;
    }
  }


//******* you-tube carousel css ********//
  #home-video-carousel {
    position: relative;
  }

  .youtube-carousel {
    border: 4px solid @black;
    height: 100%;
  }

  .video-container {
   // position: relative; /* keeps the aspect ratio */
    padding-bottom: 56.25%; /* fine tunes the video positioning */
    padding-top: 60px;
    overflow: hidden;
    margin-bottom: -1px;
    margin-right: -1px;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .carousel-control {
    bottom: auto !important;
  }

  .carousel-control .fa-chevron-left {
    position: absolute;
    left: 15%;
    margin: 0;
  }

  .carousel-control .fa-chevron-right {
    position: absolute;
    left: 33%;
    margin: 0;
  }

  .carousel-control.left, .carousel-control.right {
    background-image: none;
    color: #ffffff;
    top: 30%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    opacity: 1;
  }

  .carousel-control:hover {
    text-decoration: none;
    filter: alpha(opacity=60);
    outline: 0;
    opacity: 0.6;
  }

  .carousel-caption {
    bottom: -15px; // overwrite bootstrap default
    padding-left: 10px;
    padding-right: 10px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    opacity: 1;
    z-index: 11;
    pointer-events: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

// custom to fix alignment issue with buttons pre-default screen
@media (max-width: 1170px) {
  .minimize-button-text {
    display: none;
  }
}

@media (max-width: @screen-xs-max) {
  #refinery-home {
    font-size: .9em;
    overflow: scroll;
    #home-component {
      margin-left: .5em;
      padding-right: 0;
      .cardless-col {
        height: auto !important;
        padding-top: 2em;
        .col-content {
          height: auto !important;
        }
      }
    }
  }
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  #refinery-home {
    font-size: 1.0em;
    overflow: scroll;
    #home-component {
      padding-left: .5em;
      padding-right: 0;
      .cardless-col {
        height: auto !important;
        padding-top: 2em;
        .col-content {
          height: auto !important;
        }
      }
    }
  }
}
@media (min-width: @screen-md-min) and (max-width: 1440px) {
  #refinery-home {
    font-size: 1.1em;
  }
}
@media (min-width: 1441px) {
  #refinery-home {
    font-size: 1.2em;
  }
}
