region = "us-east-1"

// should match COGNITO_IDENTITY_POOL_NAME in deployment/aws-config/config.yaml
identity_pool_name = "Prod Refinery Platform"

// temp workaround, should match STACK_NAME in deployment/aws-config/config.yaml
stack_name = "ProdRefineryPlatform"
