/**
 * Provenance Visualization CSS Styles
 *
 * @author sluger Stefan Luger https://github.com/sluger
 */

.provvis-legend-cell {
    width: auto;
    height: 45px;
    padding: 0px;
    margin: 0px;
    display: inline-block;
}

.provvis-legend-cell-canvas {
    width: 500px;
    height: 45px;
    padding: 0px;
    margin: 0px;
}

.provvis-legend-cell text {
    text-align: left;
}

#legend-modal {
    max-height: 500px;
}

#legend-body {
    max-height: 460px;
}

#provenance-canvas {
    position: relative;
    overflow: hidden;
}

#provenance-controls {
    margin-bottom: 5px;
}

#prov-ctrl-node-labeling-btn-group, #prov-ctrl-global-btn-group, #prov-ctrl-nodeinfo-click, #prov-ctrl-sidebar-click, #prov-ctrl-help {
    margin-left: 15px;
}

#prov-ctrl-visible-attribute, #prov-ctrl-filter, #prov-ctrl-colorcoding {
    padding-left: 0;
    padding-right: 0;
}

#provenance-sidebar {
    position: absolute;
    top: 0;
    right: -320px;
    width: 315px;
    height: 100%;
    background-color: #ffffff;
}

#provenance-table {
    position: absolute;
    left: 0;
    right: 0;
    top: -155px;
    width: 100%;
    max-height: 150px;
    overflow-y: scroll;
    background-color: #ffffff;
    border-style: solid;
    border-color: lightgray;
    border-width: 1.0px;
}

#provenance-colorcoding-view {
    position: absolute;
    left: 0;
    right: 0;
    top: -165px;
    width: 100%;
    max-height: 160px;
    overflow-y: scroll;
    background-color: #ffffff;
    border-style: solid;
    border-color: lightgray;
    border-width: 1.0px;
}

#provenance-table-content {
    background-color: #ffffff;
}

#provenance-timeline-view {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 130px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #ffffff;
}

#provenance-doi-view {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 370px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #ffffff;
}

/* btn-group tweaks as by: http://stackoverflow.com/a/13766206 */
.btn-group.btn {
    border: 0;
    padding: 0;
}

.btn-group.btn > .btn {
    border-radius: 0
}

.btn-group.btn > .dropdown-menu {
    text-align: left;
}

.btn-group.btn:first-child > .btn {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.btn-group.btn:last-child > .btn {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.scrollable-menu {
    max-height: 300.0px;
    overflow: hidden;
    overflow-y: auto;
}

.canvas {
}

.analysis, .layer {
}

.node, .aNode, .saNode, .lNode {
    stroke: #136382;
    stroke-width: 0.5px;
    stroke-opacity: 1.0;
    display: none;
}

.link, .saLink {
    stroke: #136382;
    stroke-width: 1.0px;
    stroke-opacity: 1.0;
    fill: none;
    display: none;
}

.aLink, .lLink {
    stroke: #136382;
    stroke-width: 1.0px;
    stroke-opacity: 1.0;
    fill: none;
    display: none;
}

.hLink, .aHLink, .saHLink {
    stroke-width: 6.0px;
    opacity: 1.0;
    fill: none;
    stroke: #ed7407;
    display: none;
}

.selectedNode rect, .selectedNode circle {
    stroke-width: 1.5px;
    /*stroke: #ed7407;*/
    stroke-opacity: 1.0;
}

.filteredNode:hover {
    stroke: #ed7407;
    stroke-width: 1.0px;
    stroke-opacity: 1.0;
}


.glAnchor:hover, .grAnchor:hover {
    stroke: #ed7407;
    stroke-width: 1.0px;
    stroke-opacity: 1.0;
    fill: #ed7407;
    fill-opacity: 1.0;
}

.filteredNode, .filteredLink {
    display: inline;
    opacity: 1.0;
}

.blendedNode, .blendedLink {
    display: inline;
    opacity: 0.15;
}

.hiddenNode, .hiddenLink {
    display: none;
}

.brect {
    fill: #ffffff;
}

.nodeDoiLabel {
    fill: #ed7407;
    stroke: #ed7407;
    stroke-width: 0.5px;
    font-size: 15px;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: default;
    text-anchor: middle;
    alignment-baseline: middle;
}

.subanalysisLabel, .analysisLabel {
    fill: #000000;
    fill-opacity: 1.0;
    stroke: #000000;
    stroke-width: 0.0px;
    font-size: 13px;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: default;
    text-anchor: middle;
    alignment-baseline: middle;
}

.nodeAttrLabel {
    fill: #000000;
    fill-opacity: 1.0;
    stroke: #000000;
    stroke-width: 0.0px;
    font-size: 13px;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: default;
    text-anchor: start;
    alignment-baseline: middle;
}

.aBBoxLabel, .saBBoxLabel {
    fill: #000000;
    fill-opacity: 1.0;
    stroke: #000000;
    stroke-width: 0.0px;
    font-size: 13px;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: default;
    text-anchor: left;
    alignment-baseline: middle;
}

.layerLabel {
    fill: #136382;
    fill-opacity: 1.0;
    stroke: #136382;
    stroke-width: 0.0px;
    font-size: 7px;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: default;
    text-anchor: middle;
    alignment-baseline: middle;
}

.aLine {
    fill: #ffffff;
    fill-opacity: 1.0;
    stroke: #ffffff;
    stroke-width: 0.3px;
}

.lLine {
    fill: #136382;
    fill-opacity: 1.0;
    stroke: #136382;
    stroke-width: 0.3px;
}

.saLabel, .aLabel, .lLabel, .wfLabel, .anLabel, .sanLabel, .anwfLabel, .sanwfLabel {
    fill: #ffffff;
    fill-opacity: 1.0;
    stroke: #ffffff;
    stroke-width: 0.0px;
    font-size: 5px;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: default;
    text-anchor: middle;
    alignment-baseline: middle;
}

.lsaAnchor, .rsaAnchor, .laAnchor, .raAnchor, .llAnchor, .rlAnchor, .lnAnchor, .rnAnchor {}

.glAnchor, .grAnchor {
    stroke-opacity: 1.0;
    fill-opacity: 1.0;
    fill: #136382;
    stroke-width: 0.5;
}

.mouseoverNode text {}

.saBBox {
    fill-opacity: 0.0;
    stroke: #ffffff;
    stroke-width: 1.0px;
    stroke-opacity: 0.5;
    cursor: default;
    stroke-dasharray: 3, 3;
}

.aBBox {
    fill: lightgray;
    fill-opacity: 0.6;
}

.lBBox {
    fill: lightgray;
    fill-opacity: 0.6;
    stroke: #136382;
    stroke-width: 0.5px;
    stroke-opacity: 0.5;
    cursor: default;
    stroke-dasharray: 3, 3;
}

.hiddenBBox {
    display: none;
}

.mouseoverBBox rect {
    stroke-opacity: 0.0;
    fill-opacity: 0.5;
    fill: #136382;
}

.mouseoverTlBBox rect {
    stroke-opacity: 0.0;
    fill-opacity: 0.5;
    fill: #ed7407;
}

.mouseoverBBox .nodeAttrLabel, .mouseoverBBox .subanalysisLabel, .mouseoverBBox .analysisLabel, .mouseoverBBox .layerLabel,
.mouseoverBBox .aBBoxLabel, .mouseoverBBox .saBBoxLabel {
    fill-opacity: 1.0;
    text-anchor: left;
    alignment-baseline: middle;
}

.hiddenLabel {
    display: none;
}

.timeMarker {
    fill: #136382;
    stroke: #136382;
    stroke-width: 1px;
}

.startTimeline, .endTimeline {
    stroke: #136382;
    stroke-width: 1px;
}

.mouseoverTimeline {
    cursor: col-resize;
}

#tlTitle, #doiTitle {
    font-style: italic;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: darkgray;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

#tlTitle {
    margin-bottom: 5px;
}

#tlCanvas {
    margin-bottom: 0px;
}

#tlThreshold {
    color: #136382;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.tlAnalysis {
    fill: #ed7407;
    stroke: #ed7407;
    stroke-width: 3px;
}

.blendedTLAnalysis {
    fill-opacity: 0.15;
    stroke-opacity: 0.15;
}

.doiComp {
    stroke-opacity: 1.0;
    stroke-width: 0.3px;
    stroke: #ffffff;
}

/* Styles from http://codepen.io/Thomas-Lebeau/pen/csHqx */
.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 10px;
    vertical-align: middle;
    display: table-cell;
}

.input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
    position: absolute;
    top: 0;
    left: 4px;
}

/* Spectrum color picker overrides. */
.sp-replacer {
    border: none;
    background: none;
}

.sp-preview {
    border: none;
    border-style: solid;
    border-color: lightgray;
    border-width: 1.0px;
    width: 15px;
    height: 15px;
    margin: 0px;
}

.sp-dd, .sp-button-container {
    display: none;
}

.sp-container {
    font-size: 13px;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: none;
    background-color: #ffffff;
    border-style: solid;
    border-color: lightgray;
    border-width: 1.0px;
}

.sp-color, .sp-hue, .sp-alpha-inner {
    border-style: solid;
    border-color: lightgray;
    border-width: 1.0px;
}

.sp-slider, .sp-alpha-handle {
    border-style: solid;
    border-color: black;
    border-width: 1.0px;
    background: transparent;
}

.provvis-cc-label {
    padding-left: 15px;
}

.rotate-icon-90:before {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
}

.l-node-type-icon, .an-node-type-icon, .san-node-type-icon {
    fill: #ffffff;
    fill-opacity: 1.0;
    stroke: #ffffff;
    stroke-width: 0.0px;
    cursor: default;
    text-anchor: middle;
    dominant-baseline: central;
    font-family: FontAwesome;
    font-size: 7px;
}