/**
 * Provenance Visualization CSS Styles
 *
 * @author sluger Stefan Luger https://github.com/sluger
 */

.provvis-legend-cell {
    width: auto;
    height: 45px;
    padding: 0px;
    margin: 0px;
    display: inline-block;
}

.provvis-legend-cell-canvas {
    width: 500px;
    height: 45px;
    padding: 0px;
    margin: 0px;
}

.provvis-legend-cell text {
    text-align: left;
}

#legend-modal {
    max-height: 500px;
}

#legend-body {
    max-height: 460px;
}

#provenance-vis {
    position: relative;
}

#provenance-canvas {
}

#provenance-table {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    display: none;
    background-color: #ffffff;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
}

#provenance-table-content {
    background-color: #ffffff;
}

#provenance-support-view {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 110px;
    height: 130px;
    display: none;
    margin-top: 5px;
    background-color: #ffffff;
}

#provenance-support-view-content {
    background-color: dimgray;
}

/* btn-group tweaks as by: http://stackoverflow.com/a/13766206 */
.btn-group.btn {
    border: 0;
    padding: 0;
}

.btn-group.btn > .btn {
    border-radius: 0
}

.btn-group.btn > .dropdown-menu {
    text-align: left;
}

.btn-group.btn:first-child > .btn {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.btn-group.btn:last-child > .btn {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.scrollable-menu {
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
}

#curTime {
    color: #136382;
}

.canvas {
}

.analysis {
    display: none;
}

.node, .aNode, .saNode {
    stroke-width: 1.5px;
    stroke: #000000;
}

.link, .saLink {
    stroke: gray;
    stroke-width: 1.5px;
    stroke-opacity: 1.0;
    fill: none;
}

.aLink {
    stroke: gray;
    stroke-width: 1.5px;
    stroke-opacity: 1.0;
    fill: none;
    display: none;
}

.hLink, .aHLink {
    stroke-width: 10px;
    opacity: 1.0;
    fill: none;
    stroke: #ed7407;
    display: none;
}

.selectedNode {
    stroke-width: 1.5px;
    stroke: #ed7407;
}

.mouseoverNode {
    stroke-width: 3px;
    stroke: #136382;
}

.filteredNode, .filteredLink {
    display: inline;
    opacity: 1.0;
}

.blendedNode, .blendedLink {
    display: inline;
    opacity: 0.15;
}

.hiddenNode, .hiddenLink {
    display: none;
}

.brect {
    fill: #ffffff;
}

.cell {
    fill: none;
}

.vLine, .hLine {
    stroke-width: 1px;
    stroke: lightgray;
    opacity: 1;
}

.nodeDoiLabel {
    fill: #ed7407;
    stroke: #ed7407;
    stroke-width: 0.5px;
    font-size: 15px;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: default;
}

.nodeAttrLabel, .subanalysisLabel, .analysisLabel, .aBBoxLabel, .saBBoxLabel {
    fill: #000000;
    fill-opacity: 1.0;
    stroke: #000000;
    stroke-width: 0.0px;
    font-size: 13px;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: default;
}

.mouseoverNode text {
    fill: #136382;
    stroke: #136382;
    stroke-width: 0.5px;
    display: inline;
}

.saBBox, .aBBox, .BBox {
    fill: #000000;
    fill-opacity: 0.2;
    display: inline;
    cursor: default;
}

.hiddenBBox {
    display: none;
}

.mouseoverBBox rect {
    stroke-width: 2px;
    stroke: #136382;
    display: inline;
}

.mouseoverBBox .nodeAttrLabel, .mouseoverBBox .subanalysisLabel, .mouseoverBBox .analysisLabel,
.mouseoverBBox .aBBoxLabel, .mouseoverBBox .saBBoxLabel {
    fill: #136382;
    stroke: #136382;
    fill-opacity: 1.0;
    stroke-width: 0.5px;
}

.hiddenLabel {
    display: none;
}