<div
  class="node-input-group"
  role="tablist"
  aria-multiselectable="true">
  <ul>
    <li
      ng-style="{'color': $ctrl.inputFileTypeColor[$ctrl.displayInputFile.uuid],
      'border-color': $ctrl.inputFileTypeColor[$ctrl.displayInputFile.uuid]}">
        {{ $ctrl.displayInputFile.name }}:
        <
        <div
          class='fileTypes'
          ng-repeat="fileObj in $ctrl.displayInputFile.allowed_filetypes">
          {{fileObj.name}}
          <span ng-if="$index < $ctrl.displayInputFile.allowed_filetypes.length - 1">
            ,
          </span>
        </div>
        >
        <br>
        <em>{{ $ctrl.displayInputFile.description }}</em>
    </li>
  </ul>
</div>
