<div
  class="panel-group"
  id="input-group-nav"
  role="tablist"
  aria-multiselectable="true">

  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title">
        <div
          role="button"
          data-toggle="collapse"
          data-parent="#input-group-nav"
          ng-click="$ctrl.isNavCollapsed = !$ctrl.isNavCollapsed"
          aria-expanded="true"
          aria-controls="{{ $ctrl.tool.name }}">
            <i
              ng-class="$ctrl.isNavCollapsed ? 'fa fa-caret-right' : 'fa fa-caret-down'"
              class="fa-pull-left"
              id=""
              aria-hidden="true"></i>
           Tool Input Group
        </div>
      </h4>
    </div>
    <div
      id="tool-launch-body"
      class="panel-collapse"
      uib-collapse="$ctrl.isNavCollapsed"
      role="tabpanel"
      aria-labelledby="tool-body">
      <div class="panel-body" id="categoryTree">
        <div ng-if="$ctrl.tool.file_relationship.input_files.length == 0">
          <ul>
            <li
              ng-repeat="element in $ctrl.tool.file_relationship.nested_elements"
              ng-include="'categoryTree'">
              <div ng-if="$ctrl.tool.file_relationship.input_files.length > 0">
                {{ $ctrl.tool.file_relationship.input_files }}
              </div>
            </li>
          </ul>
        </div>
        <div ng-if="$ctrl.tool.file_relationship.input_files.length > 0">
          {{ $ctrl.tool.file_relationship.input_files }}
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/ng-template" id="categoryTree">
  <div ng-if="element.input_files.length > 0">
    <ul>
      <li ng-repeat="inputFile in element.input_files">
        <ul>
          <strong>{{ inputFile.name }}:</strong> {{ inputFile.description }}
          <span class="p-l-1-2">
            <br>
            <strong> Allowed Filetypes:</strong>
          </span>
          <li ng-repeat="fileType in inputFile.allowed_filetypes">
            {{ fileType.name }}
          </li>
        </ul>
      </li>
    </ul>
  </div>
    <ul ng-if="$ctrl.tool.file_relationship.nested_elements.length > 0">
        <li
          ng-repeat="element in element.nested_elements"
          ng-include="'categoryTree'">
        </li>
    </ul>
</script>
