<div
  class="panel-group"
  id="input-group-nav"
  role="tablist"
  aria-multiselectable="true">

  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title">
        <div
          role="button"
          data-toggle="collapse"
          data-parent="#input-group-nav"
          ng-click="$ctrl.isNavCollapsed = !$ctrl.isNavCollapsed"
          aria-expanded="true"
          aria-controls="{{ $ctrl.tool.name }}">
            <i
              ng-class="$ctrl.isNavCollapsed ? 'fa fa-caret-right' : 'fa fa-caret-down'"
              class="fa-pull-left"
              id=""
              aria-hidden="true"></i>
           Tool Input Group
        </div>
      </h4>
    </div>
    <div
      id="tool-launch-body"
      class="panel-collapse"
      uib-collapse="$ctrl.isNavCollapsed"
      role="tabpanel"
      aria-labelledby="tool-body">
      <div class="panel-body">
        <div ng-if="$ctrl.toolType == 'singleInputWorkflow'">
           <rp-single-input-group-nav></rp-single-input-group-nav>
        </div>
        <div ng-if="$ctrl.toolType == 'pairedInputWorkflow'">
           Add directive for the paired analysis work panel
        </div>
        <div ng-if="$ctrl.toolType == 'webIGV'">
           Add directive for the web based IGV
        </div>

      </div>

      <ul class="list-group">
        <li class="list-group-item">Add directives for the single display.</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>


  </div>
</div>
