<div
  class="panel-group"
  id="tool-input-control"
  role="tablist"
  aria-multiselectable="true">

  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title">
        <div
          role="button"
          data-toggle="collapse"
          data-parent="#tool-input-control"
          ng-click="$ctrl.isToolInputControlCollapsed = !$ctrl
          .isToolInputControlCollapsed">
            <i
              ng-class="$ctrl.isToolInputControlCollapsed ? 'fa fa-caret-right' : 'fa fa-caret-down'"
              class="fa-pull-left"
              aria-hidden="true"></i>
            Tool Input Control
        </div>
      </h4>
    </div>
    <div
      id="tool-launch-body"
      class="panel-collapse p-a-0"
      uib-collapse="$ctrl.isToolInputControlCollapsed"
      role="tabpanel"
      aria-labelledby="tool-body">
      <div class="panel-body p-a-0">
        <div class="p-a-0">
          <div
            ng-repeat="groupType in $ctrl.currentTypes|orderBy:'$index':true track by $index"
            id="control-panel-list">
            <div ng-if="$index == 0" class="p-a-1-2">
              <rp-input-group></rp-input-group>
            </div>

            <div
              ng-if="$index > 0"
              class="tree-panel"
              ng-style="{'margin-left': 10*$index+'px'}">
              <hr>
              <div>
                <h5>
                  <b>{{ $ctrl.currentGroup[$ctrl.currentGroup.length-$index] }}</b>
                  of groups in {{ groupType }}
                </h5>
              </div>
              <div>
                <button
                  class="btn btn-default btn-xs outline"
                  ng-disabled="$ctrl.currentGroup[$ctrl.currentGroup.length-$index] == 0"
                  ng-click="$ctrl.navLeft($ctrl.currentGroup.length-$index)">
                  <i class="fa fa-backward"></i>
                </button>
                <button
                  class="btn btn-default btn-xs outline"
                  ng-disabled="$ctrl.currentGroup[$ctrl.currentGroup.length-$index] == 1"
                  ng-click="$ctrl.navRight($ctrl.currentGroup.length-$index)">
                  <i class="fa fa-forward"></i>
                </button>
              </div>
            </div>
          </div>
         </div>
      </div>
    </div>
  </div>
</div>
