<div>
  <div
    class="tree-panel"
    ng-if="member.value_type=='LIST'">
    <h5>
      <span ng-if="treeCtrl.groups.length == 0">
        <b>0</b> of
      </span>
      <span ng-if="treeCtrl.groups.length > 0">
        <b>{{ treeCtrl.groupIndex + 1 }}</b> of
      </span>
      <b>{{ treeCtrl.groups.length }} </b> groups in list
    </h5>
    <div>
      <button
        class="btn btn-default btn-xs outline"
        ng-disabled="treeCtrl.groupIndex == 0"
        ng-click="treeCtrl.navLeft()">
        <i class="fa fa-backward"></i>
      </button>
      <button
        class="btn btn-default btn-xs outline"
        ng-disabled="treeCtrl.groupIndex == treeCtrl.groups.length - 1 ||
        treeCtrl.groups.length== 0"
        ng-click="treeCtrl.navRight()">
        <i class="fa fa-forward"></i>
      </button>
      <button
        class="btn btn-default btn-xs outline"
        ng-disabled="treeCtrl.groups.length == 0"
        ng-click="treeCtrl.removeGroup(treeCtrl.groupIndex)">
        Remove
      </button>
      <button
        class="btn btn-default btn-xs outline"
        ng-disabled="treeCtrl.groups.length == 0"
        ng-click="treeCtrl.removeAllGroups()">
        Remove All
      </button>
    </div>
  </div>
  <div
    class="tree-panel-pair"
    ng-if="member.value_type=='PAIR'">
    <h5>
      <span ng-if="treeCtrl.groups.length == 0">
        <b>0</b> of
      </span>
      <span ng-if="treeCtrl.groups.length > 0">
        <b>{{ treeCtrl.groupIndex + 1 }}</b> of
      </span>
      <b> 2 </b> groups in pair
    </h5>

    <div>
      <button
        class="btn btn-default btn-xs outline"
        ng-disabled="treeCtrl.groupIndex == 0"
        ng-click="treeCtrl.navLeft()">
        <i class="fa fa-backward"></i>
      </button>
      <button
        class="btn btn-default btn-xs outline"
        ng-disabled="treeCtrl.groupIndex == treeCtrl.groups.length - 1 ||
        treeCtrl.groups.length == 0"
        ng-click="treeCtrl.navRight()">
        <i class="fa fa-forward"></i>
      </button>
      <button
        class="btn btn-default btn-xs outline"
        ng-disabled="treeCtrl.groups.length == 0"
        ng-click="treeCtrl.removeGroup(treeCtrl.groupIndex)">
        Remove
      </button>
      <button
        class="btn btn-default btn-xs outline"
        ng-disabled="treeCtrl.groups.length == 0"
        ng-click="treeCtrl.removeAllGroups()">
        Remove All
      </button>
    </div>
  </div>
  <span ng-if="member.file_relationship[0].file_relationship.length > 0">
    <rp-input-control-nav collection="member.file_relationship[0]"></rp-input-control-nav>
  </span>
</div>
