<div>
  <div
    class="tree-panel p-a-0"
    ng-if="member.value_type=='LIST'">
    <h5>
      <b>{{ treeCtrl.currentPosition[depth] + 1 }}</b> of
      <b>{{ treeCtrl.groups.length }} </b> groups in list
    </h5>
    <div>
      <button
        class="btn btn-default btn-xs outline"
        ng-disabled="treeCtrl.currentPosition[depth] == 0"
        ng-click="treeCtrl.navLeft(depth)">
        <i class="fa fa-backward"></i>
      </button>
      <button
        class="btn btn-default btn-xs outline"
        ng-click="treeCtrl.navRight(depth)">
        <i class="fa fa-forward"></i>
      </button>
      <button
        class="btn btn-default btn-xs outline"
        ng-disabled="treeCtrl.groups.length == 0"
        ng-click="treeCtrl.removeGroup(treeCtrl.groupIndex)">
        Remove
      </button>
    </div>
  </div>
  <div
    class="tree-panel-pair p-a-0"
    ng-if="member.value_type=='PAIR'">
    <h5>
      <b>{{ treeCtrl.currentPosition[depth] + 1 }}</b> of
      <b>2</b> groups in pair
    </h5>

    <div>
      <button
        class="btn btn-default btn-xs outline"
        ng-disabled="treeCtrl.currentPosition[depth] == 0"
        ng-click="treeCtrl.navLeft(depth)">
        <i class="fa fa-backward"></i>
      </button>
      <button
        class="btn btn-default btn-xs outline"
        ng-disabled="treeCtrl.currentPosition[depth] == 1"
        ng-click="treeCtrl.navRight(depth)">
        <i class="fa fa-forward"></i>
      </button>
      <button
        class="btn btn-default btn-xs outline"
        ng-disabled="treeCtrl.groups.length == 0"
        ng-click="treeCtrl.removeGroup(treeCtrl.groupIndex)">
        Remove
      </button>
    </div>
  </div>
  <span ng-if="member.file_relationship[0].file_relationship.length > 0">
    <rp-input-control-nav
      collection="member.file_relationship[0]"
      counter="depth+1">
    </rp-input-control-nav>
  </span>
  <span ng-if="member.file_relationship[0].file_relationship.length == 0">
    <div
      class="tree-panel p-a-0"
      ng-if="member.file_relationship[0].value_type=='LIST'">
      List:
        <rp-input-group></rp-input-group>
    </div>
    <div
      class="tree-panel p-a-0"
      ng-if="member.file_relationship[0].value_type=='PAIR'">
      Pair:
      <br>
        <rp-input-group></rp-input-group>
    </div>
    <hr>
    <button
      class="btn btn-default btn-xs outline"
      ng-disabled="treeCtrl.groups.length == 0"
      ng-click="treeCtrl.removeAllGroups()">
      Remove All
    </button>
  </span>
</div>
