<div ng-repeat="group in $ctrl.currentTypes|orderBy:-$index track by $index">

  <div ng-if="$index == 0">
    <rp-input-group></rp-input-group>
    <button
      class="btn btn-default btn-xs outline"
      ng-disabled="$ctrl.groups.length == 0"
      ng-click="$ctrl.removeGroup($ctrl.groupIndex)">
      Remove
    </button>
    <button
      class="btn btn-default btn-xs outline"
      ng-disabled="$ctrl.groups.length == 0"
      ng-click="$ctrl.removeAllGroups()">
      Remove All
    </button>
  </div>

  <div ng-if="$index > 0">
    <div
    class="tree-panel p-a-0"
    ng-if="group=='LIST'">
    <h5>
      <b>{{ $ctrl.currentGroup[$ctrl.currentTypes.length-$index] + 1 }}</b>
      of groups in list
    </h5>
    </div>
    <div
      class="tree-panel-pair p-a-0"
      ng-if="group=='PAIR'">
      <h5>
        <b>{{ $ctrl.currentGroup[$ctrl.currentTypes.length-$index] + 1 }}</b> of
        <b>2</b> groups in pair
      </h5>
    </div>
    <div>
      <button
        class="btn btn-default btn-xs outline"
        ng-disabled="$ctrl.currentGroup[$ctrl.currentTypes.length-$index] == 0"
        ng-click="$ctrl.navLeft($ctrl.currentTypes.length-$index)">
        <i class="fa fa-backward"></i>
      </button>
      <button
        class="btn btn-default btn-xs outline"
        ng-disabled="$ctrl.currentGroup[$ctrl.currentTypes.length-$index] == 1"
        ng-click="$ctrl.navRight($ctrl.currentTypes.length-$index)">
        <i class="fa fa-forward"></i>
      </button>
    </div>
  </div>
</div>
