<div
  class="panel-group"
  id="input-group-nav"
  role="tablist"
  aria-multiselectable="true">

  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title">
        <div
          role="button"
          data-toggle="collapse"
          data-parent="#input-group-nav"
          ng-click="$ctrl.isNavCollapsed = !$ctrl.isNavCollapsed"
          aria-expanded="true"
          aria-controls="{{ $ctrl.tool.name }}">
            <i
              ng-class="$ctrl.isNavCollapsed ? 'fa fa-caret-right' : 'fa fa-caret-down'"
              class="fa-pull-left"
              id=""
              aria-hidden="true"></i>
           Tool Input Group
        </div>
      </h4>
    </div>
    <div
      id="tool-launch-body"
      class="panel-collapse"
      uib-collapse="$ctrl.isNavCollapsed"
      role="tabpanel"
      aria-labelledby="tool-body">
      <div class="panel-body">
        <div ng-if="$ctrl.tool.file_relationship.file_relationship.length > 0">
         <input-group-cart collection='$ctrl.tool.file_relationship'></input-group-cart>
        </div>
        <div ng-if="$ctrl.tool.file_relationship.file_relationship.length == 0">
          <ul>
            <li ng-repeat="inputFile in $ctrl.tool.file_relationship.input_files track by $index">
              {{ inputFile.name }}:
              <
              <div
                class='fileTypes'
                ng-repeat="fileObj in inputFile.allowed_filetypes">
                {{fileObj.name}}
                <span ng-if="$index < inputFile.allowed_filetypes.length - 1">
                  ,
                </span>
              </div>
              >
              <br>
              <em>{{ inputFile.description }}</em>
              <div ng-if="$index < $ctrl.tool.file_relationship.input_files.length - 1">
                <hr>
              </div>
            </li>
          </ul>
          </div>
      </div>
    </div>
  </div>
</div>
