<div
  class="panel-group"
  id="tool-input-control"
  role="tablist"
  aria-multiselectable="true">

  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title">
        <div
          role="button"
          data-toggle="collapse"
          data-parent="#tool-input-control"
          ng-click="$ctrl.isToolInputControlCollapsed = !$ctrl
          .isToolInputControlCollapsed"
          aria-expanded="true"
          aria-controls="{{ $ctrl.tool.name }}">
            <i
              ng-class="$ctrl.isToolInputControlCollapsed ? 'fa fa-caret-right' : 'fa fa-caret-down'"
              class="fa-pull-left"
              aria-hidden="true"></i>
            Tool Input Control
        </div>
      </h4>
    </div>
    <div
      id="tool-launch-body"
      class="panel-collapse"
      uib-collapse="$ctrl.isToolInputControlCollapsed"
      role="tabpanel"
      aria-labelledby="tool-body">
      <div class="panel-body">
        <h5>
          <span ng-if="$ctrl.groups.length == 0">
            <b>0</b> of
          </span>
          <span ng-if="$ctrl.groups.length > 0">
            <b>{{ $ctrl.groupIndex + 1 }}</b> of
          </span>
          <b>{{ $ctrl.groups.length }} </b> groups
        </h5>

        <div>
          <button
            class="btn btn-default btn-xs outline"
            ng-disabled="$ctrl.groupIndex == 0"
            ng-click="$ctrl.navLeft()">
            <i class="fa fa-backward"></i>
          </button>
          <button
            class="btn btn-default btn-xs outline"
            ng-disabled="$ctrl.groupIndex == $ctrl.groups.length - 1 || $ctrl.groups.length == 0"
            ng-click="$ctrl.navRight()">
            <i class="fa fa-forward"></i>
          </button>
          <button
            class="btn btn-default btn-xs outline"
            ng-disabled="$ctrl.groups.length == 0"
            ng-click="$ctrl.removeGroup($ctrl.groupIndex)">
            Remove
          </button>
          <button
            class="btn btn-default btn-xs outline"
            ng-disabled="$ctrl.groups.length == 0"
            ng-click="$ctrl.removeAllGroups()">
            Remove All
          </button>
        </div>

        <hr>
        <div
          ng-if="$ctrl.groups.length != 0"
          class="wrap-word">
          {{ $ctrl.groups[$ctrl.groupIndex].entity[$ctrl.attributes.Name] }}
          <{{ $ctrl.groups[$ctrl.groupIndex].entity[$ctrl.attributes['File Type']] }}>
        </div>
      </div>
    </div>
  </div>
</div>
