<div
  class="panel-group"
  id="tool-info-display"
  role="tablist"
  aria-multiselectable="true">

  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title">
        <div
          role="button"
          data-toggle="collapse"
          data-parent="#tool-info-display"
          ng-click="$ctrl.isToolParamsCollapsed = !$ctrl.isToolParamsCollapsed"
          aria-expanded="true">
            <i
              ng-class="$ctrl.isToolParamsCollapsed ? 'fa fa-caret-right' : 'fa fa-caret-down'"
              class="fa-pull-left"
              aria-hidden="true"></i>
            Parameters
        </div>
      </h4>
    </div>
    <div
      id="tool-launch-body"
      class="panel-collapse"
      uib-collapse="$ctrl.isToolParamsCollapsed"
      role="tabpanel"
      aria-labelledby="tool-body">
      <div class="panel-body">
       <ul class="paragraph">
         <form name="toolParamForm">
           <li ng-repeat="param in $ctrl.params">
             <div class="refinery-subheader">
               <div>
                 <h4>
                   Name:
                 </h4>
                 {{ param.name}}
               </div>
               <div>
                 <h4>
                   Description:
                 </h4>
                 {{ param.description }}
               </div>
               <div>
                 <h4>
                   Galaxy Workflow Step:
                 </h4>
                 {{ param.galaxy_workflow_step }}
               </div>
               <div>
                 <h4>
                   Default Value:
                 </h4>
                {{ param.default_value }}
               </div>
             <div ng-if="param.is_user_adjustable">
                <div class="vertical-align">
                  <h4>
                    Update Value:
                  </h4>
                  <input
                    autofocus
                    type="text"
                    name="toolParamsForm"
                    class="form-control"
                    placeholder="{{ param.default_value }}"
                    ng-model="$ctrl.paramsForm[param.uuid]"
                    ng-minlength="1"
                    ng-maxlength="32"
                    required>
                </div>
             </div>
           </li>
         </form>
       </ul>
      </div>
    </div>
  </div>
</div>
