<ui-select
  id="tool-select-drop-down"
  append-to-body="true"
  ng-model="$ctrl.selectedTool.select"
  on-select="$ctrl.updateTool($item)"
  theme="select2"
  class="ui-select-drop text-left select2-allowclear">
   <ui-select-match placeholder="Select a tool" allow-clear="true">
     <i class="{{$select.selected.tool_type|toolTypeIcon}} p-r-1-4" aria-hidden="true"></i>
     {{$select.selected.name }}
   </ui-select-match>
  <ui-select-choices
    position="down"
    repeat="tool in $ctrl.tools | filter: $select.search">
    <i class="{{tool.tool_type|toolTypeIcon}} p-r-1-4" aria-hidden="true"></i>
    <span ng-bind-html="tool.name | highlight: $select.search"></span>
  </ui-select-choices>
</ui-select>


