<div
  class="panel-group"
  id="tool-info-display"
  role="tablist"
  aria-multiselectable="true">

  <div class="panel panel-default">
    <div
      id="tool-launch-body"
      class="panel-collapse"
      role="tabpanel"
      aria-labelledby="tool-body">
      <div class="panel-heading" role="tab">
        <h4 class="panel-title">
          {{ $ctrl.toolType }}
          Name
          &nbsp
           <a
            popover-placement="right"
            uib-popover="Update the {{ $ctrl.toolType }} display name. The name
            needs to be unique."
            popover-title="Display Name"
            popover-trigger="'outsideClick'"
            popover-append-to-body="true"
            tabindex="0">
              <i class="fa fa-question-circle info-icon icon-only"></i>
          </a>
        </h4>
      </div>
      <div class="panel-body">
        <form
          id="tool-launch-name"
          name="toolLaunchNameForm"
          class="navbar-form">
        <input
          autofocus
          class="form-control"
          placeholder="{{ $ctrl.selectedTool.name }}-creation_date-{{ $ctrl.userName }}"
          ng-model="$ctrl.form.name"
          ng-change="$ctrl.updateToolLaunchName($ctrl.form.name)"
          name="toolLaunchName"
          ng-maxlength="32"
          ng-minlength="3">
        </form>
        <div
          class='p-t-1-2 text-warning'
          ng-show="toolLaunchNameForm.toolLaunchName.$error.minlength">
          <i class="fa fa-warning" aria-hidden="true"></i>
          Names must be at least 3 characters long.
        </div>
       <div
          class='p-t-1-2 text-warning'
          ng-show="toolLaunchNameForm.toolLaunchName.$error.maxlength">
          <i class="fa fa-warning" aria-hidden="true"></i>
          Names must be shorter than 32 characters long.
        </div>
      </div>
    </div>
  </div>
</div>
