<div class="col-lg-10 col-md-10 col-sm-9" id="main-area">
    <div class="btn-toolbar p-b-1">
    </div>
    <div class="m-r-1">
      <div class="refinery-subheader grid_data_set_total">
        <h3>
          {{ $ctrl.nodesCount }} of {{ $ctrl.totalNodesCount }} files
        </h3>
        <rp-download-csv-button
          total-files="$ctrl.totalNodesCount"
          download-csv="$ctrl.downloadCsv">
        </rp-download-csv-button>
        <rp-download-files-button></rp-download-files-button>
        <rp-download-files-modal
          download-csv-query="$ctrl.downloadCsvQuery">
        </rp-download-files-modal>
      </div>
        <!-- Bootstrap col classes are using the window width, not our inner div.
             #table-filter has a margin-left, so do something similar on the other side -->
        <!-- TODO: Why isn't it full height? -->
        <div
          ui-grid="$ctrl.gridOptions"
          ui-grid-resize-columns
          class="grid">
        </div>
    </div>
</div>
