{% extends "base.html" %}
{% load static %}
{% block head_html %}
	<!-- 3rd party libraries -->
    <script type="text/javascript" src="{% static "js/d3/d3.v3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/json2/json2.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery/jquery-1.7.2.js" %}"></script>
    <script type="text/javascript" src="{% static "js/underscore/underscore.js" %}"></script>
    <script type="text/javascript" src="{% static "js/backbone/backbone.js" %}"></script>

  <!-- Le styles -->
  {% for css_file in REFINERY_CSS %}
  <link href="{% static css_file %}" rel="stylesheet">
  {% endfor %}

	<!-- Refinery libraries -->
    <script type="text/javascript" src="{% static "js/refinery/contents.js" %}"></script>

{% endblock %}

{% block title %}

{{ block.super }} - Contents
{% endblock %}

{% block subheader %}
	Contents
{% endblock %}

{% block content %}

  <div id="facetview">

    <section id="main">
      <ul id="facet"></ul>
    </section>

    <footer>
      <a id="clear-completed">Clear completed</a>
      <div id="todo-count"></div>
    </footer>

 </div>

   <!-- Templates -->

  <script type="text/template" id="facet-template">
    <div class="view">
      <input class="toggle" type="checkbox" />
      <label><%= name %> <%= count %></label>
    </div>
  </script>

{% endblock %}
