{% extends "base.html" %}
{% load static %}
{% block head_html %}

    <style type="text/css">

svg {
	background-color: none;
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.background {
  fill: #777;
}

line {
  stroke: #eee;
}

text.active {
  fill: red;
}

rect.frame {
  stroke: #f0f0f0;
}

rect.active {
  fill: red;
}

	.pivot-matrix {
		background-color: #f00;
	}


 	.facet-title {
 		cursor:pointer;
 	}

 	.facet-value {
 		cursor:pointer;
 	}

 	tr th {
 		cursor:pointer;
 	}

 	.field-name {
 		cursor:pointer;
 	}

 	#facet-view .active {
 		cursor:pointer;
 		background-color: #3A87AD;
 		color: #fff;
 		font-weight: bold;
 	}

 	#pager-view {
 		text-align:right;
 	}

 	#statistics-view {
 		text-align:right;
 	}
 	#url-view {
 		text-align:right;
 	}

 	.facet-value-list td {
 		padding: 2px;
 	}
 	.facet-value-list tr {
 		padding: 2px;
 	}

 	.facet-value-list.selected {
 	}

 	.facet-title {
 		margin-top: 10px;
 	}
    </style>
{% endblock %}

{% block title %}

{{ block.super }} - Contents
{% endblock %}

{% block subheader %}
<div class="page-header">
  	<h1>Assay <small>Files</small></h1>
</div>
{% endblock %}

{% block content %}
<div class="refinery-panel refinery-panel-content scrollable">
	<div class="row">

				<form id="sampleForm" method="post" class="form-inline">
    			{% csrf_token %}

    			<!-- pass study information into the receiving view when posting -->
    			<input type="hidden" name="study_uuid" value="{{ study_uuid }}"/>

<div class="row">
 	<div class="col-md-10">

 			<div class="row">
			<div>
				<select class="combobox" name="workflow_choice" id="workflow_choice">
					<option></option>
					{% for work in workflows %}
						<option value="{{work.uuid}}">{{work.name}}</option>
					{% endfor %}
				</select>

				<!-- <button class="btn btn-primary" id="submitSamplesBtn"><i class="icon-road"></i>Run</button> -->
				<a href="#" class="refinery-base btn btn-default"
          id="submitSamplesBtn">Apply</a>
        &nbsp;

				<!-- <a href="{% url 'igv_session' %}">IGV</a> -->
				<span class="label" style="margin-left: 50px;">View in</span>
				<a class="refinery-base btn btn-default" id="igv-session-link"
          href="#">IGV</a>

				<a class="refinery-base btn btn-default"
          id="profile-viewer-session-link"
          href="#">Profile</a>
				<!-- <a class="btn btn-info" id="igv-test" href="#">IGV Test</a> -->


				<span class="label" style="margin-left: 50px;">Show</span>
				<div class="btn-group annotation-buttons" data-toggle="buttons-radio">
				  	<button type="button" id="data-button" data-toggle="button"
              class="refinery-base btn btn-default active">Data</button>
				  	<button type="button" id="annotation-button" data-toggle="button"
              class="refinery-base btn btn-default">Annotation</button>
				</div>
			</div>

    	</div>
 	</div>
 	<div class="col-md-2">
		<div id="statistics-view"></div>
 	</div>
</div>

<div class="row">

 	<div class="col-md-2">
			<ul class="nav nav-pills" id="navigation-tabs">
			  <li class="active"><a href="#facet-view" data-toggle="pill">Facets</a></li>
			</ul>
			<div id="facet-view" class="panel-group"></div>
 	</div>

 	<div class="col-md-10">

		<div class="row">
		<div class="tabbable">
			<ul class="nav nav-pills" id="navigation-tabs">
			  <li class="active"><a href="#table-view-tab" data-toggle="pill">List</a></li>
			  <li><a href="#pivot-view-tab" data-toggle="pill">Matrix</a></li>
			</ul>

			<div class="tab-content">
			  <div class="tab-pane active fade in" id="table-view-tab">
				<div id="table-view"></div>
				<div id="pager-view"></div>
				<div id="field-view"></div>
			  </div>
			  <div class="tab-pane fade in" id="pivot-view-tab">
			  	<div id="pivot-view">
			  	</div>
			  	<div id="pivot-matrix">
			  		<!-- the matrix -->
			  	</div>
			  </div>
			</div>
		</div>
		</div>

	</div>

</div>

<div class="row">
 	<div class="col-md-12">
	 	<div id="url-view"></div>
 	</div>
</div>
</form>
</div>
</div>


{% endblock %}

{% block vendor_scripts %}
    <script type="text/javascript" src="{% static "js/d3/d3.v3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/d3/fisheye.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootbox/bootbox.min.js" %}"></script>

{% endblock %}

{% block script %}

	<!-- Refinery libraries -->
	<script type="text/javascript">
		var SOLR_BASE_URL = "{{ REFINERY_SOLR_BASE_URL }}"
	</script>
    <script type="text/javascript" src="{% static "js/refinery/viewers/pivot-matrix.js" %}"></script>
	<script type="text/javascript" src="{% static "js/refinery/contents_workflow.js" %}"></script>
    <script type="text/javascript" src="{% static "js/refinery/contents.js" %}"></script>

{% endblock %}
