{% extends "base.html" %}

{% block head_html %}
	<!-- 3rd party libraries -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap/bootstrap-collapse.js"></script>

	<!-- Refinery libraries -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/refinery/contents.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/refinery/contents_workflow.js"></script>

    <style type="text/css">
 	.facet-title {
 		cursor:pointer; 		
 	} 	

 	.facet-value {
 		cursor:pointer; 		
 	}
 	 	
 	.active {
 		cursor:pointer; 
 		background-color: #3A87AD;
 		color: #fff;
 		font-weight: bold;
 	} 	
    </style>
{% endblock %}

{% block title %}

{{ block.super }} - Contents
{% endblock %}

{% block subheader %}
	Contents
{% endblock %}

{% block content %}

<div id="url-view"></div>
<div id="statistics-view"></div>

<div class="row-fluid">
 	<div class="span2">
		<div id="facet-view"></div>
 	</div>	
 	<div class="span10">
		<div id="field-view"></div>

		<div id="table-view"></div>
 	</div>	

{% endblock %}
