{% extends "base.html" %}

{% load static from staticfiles %}

{% block head_html %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static "vendor/angular-ui-grid/ui-grid.min.css" %}">
<link
  rel="stylesheet"
  type="text/css"
  href="{% static "vendor/jquery-file-upload/css/jquery.fileupload.css" %}">
<link
  rel="stylesheet"
  type="text/css"
  href="{% static "vendor/jquery-file-upload/css/jquery.fileupload-ui.css" %}">
<link
  rel="stylesheet"
  type="text/css"
  href="{% static "vendor/intro-js/minified/introjs.min.css" %}">
{% endblock head_html %}

{% block title %}
{{ block.super }} - Data File Upload
{% endblock %}

{% block subheader %}
<div class="page-header">
  <h1>Data Set Import</h1>
</div>

{% endblock %}

{% block content %}
{% if not REFINERY_REPOSITORY_MODE or request.user.is_staff %}
{% verbatim %}

<div ng-controller="dataUploadTutorialCtrl2">

  <div ng-intro-options="dataUploadIntroOptions"
       ng-intro-method="dataUploadStart"
       ng-intro-oncomplete="dataUploadCompletedEvent"
       ng-intro-onexit="dataUploadExitEvent"
       ng-intro-onchange="dataUploadChangeEvent"
       ng-intro-onbeforechange="dataUploadBeforeChangeEvent"
       ng-intro-onafterchange="dataUploadAfterChangeEvent">

    <div class="refinery-panel-tabs">
      <div class="row">
        <div class="col-md-10">
          <ul class="nav nav-tabs" id="tabs">
            <li id="dataUploadTutorialStep1" ui-sref-active="active">
              <a ui-sref="import">Tabular Metadata</a>
            </li>
            <li id="dataUploadTutorialStep2" ui-sref-active="active">
              <a id="dataUploadTutorial_click"
                 ui-sref="isaTabImport">ISA-Tab Metadata</a>
            </li>
          </ul>

        </div>
      </div>
      <div class="refinery-panel refinery-panel-content scrollable jquery-full-height">
        <div ui-view></div>
      </div>
    </div>
  </div>
</div>
{% endverbatim %}
{% else %}
Sorry! Not allowed in repository mode. Cheers.
{% endif %}
{% endblock %}

{% block vendor_scripts %}
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{% static "vendor/jquery-file-upload/js/vendor/jquery.ui.widget.js" %}"></script>

<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{% static "vendor/jquery-file-upload/js/jquery.iframe-transport.js" %}"></script>

<!-- The basic File Upload plugin -->
<script src="{% static "vendor/jquery-file-upload/js/jquery.fileupload.js" %}"></script>

<!-- The File Upload processing plugin -->
<script src="{% static "vendor/jquery-file-upload/js/jquery.fileupload-process.js" %}"></script>

<!-- Calculate md5 -->
<script src="{% static "vendor/spark-md5/spark-md5.min.js" %}"></script>

{% endblock %}
