{% extends "base.html" %}

{% load static %}

{% block head_html %}
<!-- for tabular file upload -->
<link rel="stylesheet" type="text/css"
      href="{% static "vendor/angular-ui-grid/ui-grid.min.css" %}"
      xmlns="http://www.w3.org/1999/html"/>
<!-- end tabular file upload -->
<!-- for data file upload -->
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet"
      href="{% static "vendor/jquery-file-upload/css/jquery.fileupload.css" %}"/>
<link rel="stylesheet"
      href="{% static "vendor/jquery-file-upload/css/jquery.fileupload-ui.css" %}"/>
<style>
  /* Hide Angular JS elements before initializing */
  .ng-cloak {
    display: none;
  }
</style>
<!-- end data file upload -->
{% endblock head_html %}

{% block title %}
{{ block.super }} - Data File Upload
{% endblock %}

{% block subheader %}
<div class="page-header">
  <h1>Data Set Import&nbsp;
    <small id="import-message"></small>
  </h1>
</div>
{% endblock %}

{% block content %}
{% if not REFINERY_REPOSITORY_MODE or request.user.is_staff %}
<!-- Tab names -->
<div class="refinery-panel-tabs">
  <div class="row">
    <div class="col-md-10">
      <ul class="nav nav-tabs" id="tabs" ng-cloak>
        <li class="active">
          <a href="#metadata" data-toggle="tab">Step 1. Upload Metadata</a>
        </li>
        <li>
          <a href="#data" data-toggle="tab">Step 2. Upload Data (Optional)</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Tab contents -->
<div class="refinery-panel refinery-panel-content scrollable jquery-full-height">
  <div class="tab-content" ng-cloak>
    <!-- metadata import -->
    <div class="tab-pane fade active in" id="metadata">
      <!-- tabular file -->
      <div class="row refinery-header">
        <span class="refinery-header-left">
          <h3>Option 1. Tabular file</h3></span>
      </div>

      <div ng-controller="MetadataTableImportCtrl">
        <form name="importMetadataTableForm" enctype="multipart/form-data"
              action="{% url 'process_metadata_table' %}" method="post">
          {% csrf_token %}

          <p>Please select a file containing a metadata table in tab-delimited format.</p>
          <input type="file" class='refinery-base' ng-file-select="onFileSelect
          ($files)"
            name="file" required/>

          {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
          {% endif %}

          <div ng-if="selectedFile">
            <div class="gridStyle" ui-grid="gridOptions" ui-grid-resize-columns></div>

            <p>
              Please provide the following values (fields marked in
              <strong>bold</strong> are required):
            </p>

            <table>
              <colgroup>
                <col style="width: 12%"/>
              </colgroup>

              <tr>
                <td><strong>Title</strong></td>
                <td>
                  <input
                    type="text"
                    class="refinery-base"
                    name="title"
                    required
                    ng-model="title"/>
                </td>
                <td>name of this data set</td>
              </tr>

              <tr>
                <td><strong>Source Column Index</strong></td>
                <td>
                  {% verbatim %}
                  <select
                    class="select-height"
                    name="source_column_index"
                    required
                    multiple
                    size="{{ metadataHeader.length || 10 }}"
                    ng-model="sourceColumnIndex"
                    ng-options="id as heading for (id, heading) in metadataHeader">
                  </select>
                  {% endverbatim %}
                </td>
                <td>
                  columns to be used for source grouping. Values in the columns
                  indicated by the list of columns provided for the Source
                  ColumnIndex will be concatenated to create an identifier for
                  the "source" of the sample.
                </td>
              </tr>

              <tr>
                <td><strong>Data File Column</strong></td>
                <td>
                  <select
                    name="data_file_column"
                    required
                    ng-model="data.dataFileColumn"
                    ng-options="heading for (id, heading) in metadataHeader track by id">
                    <!-- needed to make required option to work properly -->
                    <option></option>
                  </select>
                </td>
                <td>
                  column that contains the path to or the URL of the file
                  associated with this sample
                </td>
              </tr>

              <tr>
                <td>Auxiliary File Column</td>
                <td>
                    <select
                      name="aux_file_column"
                      ng-model="auxFileColumn"
                      ng-options="heading for heading in metadataHeader">
                    </select>
                </td>
                <td>
                  Column that contains the path to an auxiliary file (e.g. for
                  visualization) associated with the input file
                </td>
              </tr>

              <tr>
                <td>Species Column</td>
                <td>
                  <select
                    name="species_column"
                    ng-model="speciesColumn"
                    ng-options="heading for heading in metadataHeader">
                  </select>
                </td>
                <td>column containing species names or IDs</td>
              </tr>

              <tr>
                <td>Base path</td>
                <td>
                  <input
                    type="text"
                    class="refinery-base"
                    name="base_path"
                    ng-model="basePath">
                </td>
                <td>
                  base path of your data file paths if using relative locations
                </td>
              </tr>

              <tr>
                <td>Annotation column</td>
                <td>
                  <select
                    name="annotation_column"
                    ng-model="annotationColumn"
                    ng-options="heading for heading in metadataHeader">
                  </select>
                </td>
                <td>
                  column containing boolean flag to indicate whether the data
                  file in this row should be treated as an annotation file
                </td>
              </tr>

              <tr>
                <td>Genome build column</td>
                <td>
                  <select
                    name="genome_build_column"
                    ng-model="genomeBuildColumn"
                    ng-options="heading for heading in metadataHeader">
                  </select>
                </td>
                <td>column containing genome build IDs</td>
              </tr>

              <tr>
                <td>Slug</td>
                <td>
                  <input
                    type="text"
                    class="refinery-base"
                    name="slug"
                    ng-model="slug">
                </td>
                <td>
                  shortcut name for dataset URL; can only contain alpha-numeric
                  characters and _
                </td>
              </tr>
              <tr>

              <tr>
                <td>Data file permanent</td>
                <td>
                  <input
                    type="checkbox"
                    name="data_file_permanent"
                    ng-model="dataFilePermanent"/>
                </td>
                <td>
                  flag for whether data files should be permanently on the system
                  or cached
                </td>
              </tr>

              <tr>
                <td>Is public</td>
                <td>
                  <input
                    type="checkbox"
                    name="is_public"
                    ng-model="isPublic"/>
                </td>
                <td>
                  flag for whether this data set will be visible to the public
                </td>
              </tr>
            </table>

            <input
              style="float: left;"
              class="refinery-base btn btn-default"
              type="button"
              value="Check Files"
              ng-click="checkFiles()"
              ng-disabled="!data.dataFileColumn"/>
            <input
              style="float: left;"
              class="refinery-base btn btn-default"
              id="tabular-import-button"
              type="submit"
              value="Import"
              ng-disabled="importMetadataTableForm.$invalid"/>
            <div
              style="margin-left: 15px; padding: 15px; float: left;
                        display: block; height: 22px; width: 22px;"
              id="tabular-spinner">
            </div>
          </div>
        </form>
      </div>
      <!-- end tabular file -->
      <!-- ISA archive form -->
      <div class="row">
        <span class="refinery-header-left">
          <h3 id="isa-header">Option 2. ISA Archive</h3>
        </span>
      </div>

      <div class="row">
        <p class="col-md-12">
          Please provide a ZIP archive containing an investigation, study, and assay files.
        </p>
        <form id="isaTabImportForm" enctype="multipart/form-data"
              action="{% url "process_isa_tab" %}" method="post">
          {% csrf_token %}

          <p>{{ form.non_field_errors }}</p>
          <p>{{ error }}</p>

          <div class="refinery-subheader">
            <h4>Option A. Upload from local computer</h4>
          </div>
          <p>
            {{ form.isa_tab_file.errors}}
            {{ form.isa_tab_file }}
          </p>

          <div class="refinery-subheader">
            <h4>Option B. Provide a URL</h4>
          </div>
          <p>
            {{ form.isa_tab_url.errors }}
            {{ form.isa_tab_url }}
          </p>
          <input style="float: left;" class="refinery-base btn btn-default"
            id="isa-import-button"
                 type="submit" value="Import"/>
          <div style="margin-left: 15px; padding: 15px; float: left;
                      display: block; height: 22px; width: 22px;"
               id="isa-spinner">
          </div>
        </form>
      </div>
      <!-- end ISA archive form -->
    </div>
    <!-- end metadata import -->
    <!-- data upload -->
    <div class="tab-pane" id="data">
      <div class="refinery-header">
        <span class="refinery-header-left"><h3>Data file upload</h3></span>
      </div>
      <form id="fileupload" method="POST" enctype="multipart/form-data"
            ng-controller="RefineryFileUploadCtrl"
            data-file-upload="options"
            ng-class="{'fileupload-processing': processing() || loadingFiles}">
        {% csrf_token %}
        <!-- Redirect browsers with JavaScript disabled to the origin page -->
        <noscript>
          <input type="hidden" name="redirect" value="/">
        </noscript>
        {% verbatim %}
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar v-centered-row">
          <div class="col-lg-4">
            <!-- The fileinput-button span is used to style the file input field as button -->
            <span
              class="btn btn-success fileinput-button"
              ng-class="{ 'disabled': disabled }">
              <i class="fa fa-plus"></i>
              <span>Add files &hellip;</span>
              <input
                type="file"
                class="refinery-base"
                name="files[]"
                multiple
                ng-disabled="disabled">
            </span>
            <button
              class="btn btn-primary start"
              ng-click="submit()"
              ng-disabled="numUnfinishedUploads() === 0">
              <i class="fa fa-upload"></i>
              <span>Start upload</span>
            </button>
            <button
              class="btn btn-warning cancel"
              ng-click="cancel()"
              ng-disabled="numUnfinishedUploads() === 0">
              <i class="fa fa-ban"></i>
              <span>Cancel upload</span>
            </button>
            <!-- The global file processing state -->
            <!-- <span class="fileupload-process"></span> -->
          </div>
          <div class="col-lg-4">
            <div class="v-center" ng-if="processing() || loadingFiles">
              <span>Calculating MD5</span>
              <button class="icon-only" ng-click="openHelpMd5()">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
              </button>
              <span>:</span>
              <div class="refinery-spinner refinery-spinner-inline"></div>
            </div>
          </div>
          <!-- The global progress state -->
          <div
            class="col-lg-4"
            ng-show="queue.length">
            <div class="v-center">
              <!-- The global progress bar -->
              <div
                class="progress"
                ng-class="{ 'progress-striped': !allUploaded, 'active': uploadActive }"
                file-upload-progress="progress()">
                <div
                  class="progress-bar"
                  ng-repeat="file in queuedFiles track by file.name"
                  ng-class="{ 'progress-bar-success': file.uploaded && !file.error, 'progress-bar-danger': file.error }"
                  ng-style="{ 'width': globalToIndividualProgress(num, $index) + '%' }">
                  <span ng-if="queuedFiles.length <= 20">
                    <span
                      ng-if="globalReadableProgress(num, $index) > 0 && globalReadableProgress(num, $index) < 100">
                      {{ globalToIndividualProgress(num, $index) + '%' }}
                    </span>
                    <i
                      class="fa fa-check text-success"
                      aria-hidden="true"
                      ng-if="globalReadableProgress(num, $index) >= 100 && !file.error"></i>
                    <i
                      class="fa fa-exclamation-triangle text-danger"
                      aria-hidden="true"
                      ng-if="file.error"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        <div class="container-fluid">
          <div
            class="row bordered-row v-centered-row"
            ng-repeat="file in queue"
            ng-class="{
              'processing': file.$processing(),
              'bg-danger': file.error
            }">
            <div class="col-xs-4">
              <div class="v-center">
                <p class="name">
                  <strong>{{ file.name }}</strong>
                  ({{ file.size | formatFileSize }})
                </p>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="v-center">
                <div
                  class="progress progress-striped active"
                  ng-class="{ 'progress-striped active': !file.uploaded && !file.error }"
                  file-upload-progress="file.$progress()">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    ng-class="{ 'progress-bar-success': file.uploaded, 'progress-bar-danger': file.error }"
                    ng-style="{ width: num + '%' }">
                    <span ng-show="num > 0" ng-if="!file.error">{{ num + '%' }}</span>
                    <i class="fa fa-exclamation-triangle" ng-if="file.error"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-4">
              <div ng-if="!file.uploaded && !file.error">
                <button
                  class="btn btn-primary start"
                  ng-click="file.$submit()"
                  ng-hide="!file.$submit || options.autoUpload"
                  ng-disabled="file.$state() == 'pending' || file.$state() == 'rejected'">
                  <i class="fa fa-upload"></i>
                  <span>Start</span>
                </button>
                <button
                  class="btn btn-warning cancel"
                  ng-click="file.$cancel()"
                  ng-hide="!file.$cancel">
                  <i class="fa fa-ban"></i>
                  <span>Cancel</span>
                </button>
                <button
                  class="btn btn-danger destroy"
                  ng-controller="RefineryFileDestroyCtrl"
                  ng-click="file.$destroy()"
                  ng-hide="!file.$destroy">
                  <i class="fa fa-trash"></i>
                  <span>Delete</span>
                </button>
              </div>
              <div class="v-center" ng-if="file.uploaded">
                <i class="fa fa-check-circle success"></i>
                <strong>Uploaded</strong>
              </div>
              <div class="v-center" ng-if="file.error">
                <strong
                  class="error text-danger"
                  ng-if="file.error"
                  ng-bind="file.error">
                </strong>
              </div>
            </div>
          </div>
        </div>
        {% endverbatim %}
      </form>
    </div>
    <!-- end data upload -->
  </div>
</div>
{% else %}
Sorry! Not allowed in repository mode. Cheers.
{% endif %}
{% endblock %}

{% block vendor_scripts %}
<!-- for tabular archive upload -->
<script src="{% static "vendor/d3/d3.min.js" %}"></script>
<!-- end tabular file upload -->
<!-- for data file upload -->
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{% static "vendor/jquery-file-upload/js/vendor/jquery.ui.widget.js" %}"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{% static "vendor/jquery-file-upload/js/jquery.iframe-transport.js" %}"></script>
<!-- The basic File Upload plugin -->
<script src="{% static "vendor/jquery-file-upload/js/jquery.fileupload.js" %}"></script>
<!-- The File Upload processing plugin -->
<script src="{% static "vendor/jquery-file-upload/js/jquery.fileupload-process.js" %}"></script>
<!-- Calculate md5 -->
<script src="{% static "vendor/spark-md5/spark-md5.min.js" %}"></script>
<!-- end data file upload -->
<!-- spinner -->
<script language="javascript" type="text/javascript"
        src="{% static "js/spin/spin.min.js" %}"></script>
{% endblock %}

{% block script %}
<script language="javascript" type="text/javascript">
  var opts = {
    lines: 13, // The number of lines to draw
    length: 4, // The length of each line
    width: 2, // The line thickness
    radius: 6, // The radius of the inner circle
    corners: 1, // Corner roundness (0..1)
    rotate: 0, // The rotation offset
    color: '#000', // #rgb or #rrggbb
    speed: 1, // Rounds per second
    trail: 60, // Afterglow percentage
    shadow: false, // Whether to render a shadow
    hwaccel: false, // Whether to use hardware acceleration
    className: 'spinner', // The CSS class to assign to the spinner
    zIndex: 2e9, // The z-index (defaults to 2000000000)
    top: 'auto', // Top position relative to parent in px
    left: 'auto' // Left position relative to parent in px
  };
  $("#tabular-import-button").on( "click", function() {
    $("#import-errors").html( "");
    var target = document.getElementById('tabular-spinner');
    var spinner = new Spinner(opts).spin();
    target.appendChild(spinner.el);
    $("#import-message").html( "Running ...")
  });
  $("#isa-import-button").on( "click", function() {
    $("#import-errors").html( "");
    var target = document.getElementById('isa-spinner');
    var spinner = new Spinner(opts).spin();
    target.appendChild(spinner.el);
    $("#import-message").html( "Running ...")
  });
</script>
<!-- end spinner -->
{% endblock %}
