{% extends "base.html" %}

{% load static %}

{% block head_html %}
<link rel="stylesheet" type="text/css"
      href="{% static "vendor/angular-ui-grid/ui-grid.min.css" %}"
      xmlns="http://www.w3.org/1999/html"/>
{% endblock %}

{% block subheader %}
<div class="page-header">
    <h1>Create New Data Set&nbsp;<small id="import-message"></small></h1>
</div>
{% endblock %}

{% block content %}
<div class="refinery-panel refinery-panel-content scrollable">
  <div class="row">

    <div class="refinery-header">
      <span class="refinery-header-left"><h2>Metadata Table Import</h2></span>
    </div>

    <div ng-controller="MetadataTableImportCtrl">
      <form name="importMetadataTableForm" enctype="multipart/form-data"
            action="{% url 'process_metadata_table' %}"
            method="post">
        {% csrf_token %}

        <p>Please select a file containing a metadata table in tab-delimited format:</p>
        <input type="file" class="refinery-base" ng-file-select="onFileSelect
        ($files)"
          name="file"
               required/>

        {% if error_message %}
          <p><strong>{{ error_message }}</strong></p>
        {% endif %}

        <div ng-if="selectedFile">
          <div class="gridStyle" ui-grid="gridOptions"
            ui-grid-resize-columns></div>

          <p>
            Please provide the following values (fields marked in
            <strong>bold</strong> are required):
          </p>

          <table>
            <colgroup>
              <col style="width: 12%"/>
            </colgroup>

            <tr>
              <td><strong>Title</strong></td>
              <td>
                <input type="text" class="refinery-base"  ng-model="title" name="title" required/>
              </td>
              <td>name of this data set</td>
            </tr>

            <tr>
              <td><strong>Source Column Index</strong></td>
              <td>
                {% verbatim %}
                <select ng-model="sourceColumnIndex" name="source_column_index"
                        required multiple
                        size="{{ metadataHeader.length || 10 }}"
                        ng-options="id as heading for (id, heading) in metadataHeader">
                </select>
                {% endverbatim %}
              </td>
              <td>
                columns to be used for source grouping. Values in the columns
                indicated by the list of columns provided for the Source
                ColumnIndex will be concatenated to create an identifier for the
                "source" of the sample.
              </td>
            </tr>

            <tr>
              <td><strong>Data File Column</strong></td>
              <td>
                <select ng-model="dataFileColumn" name="data_file_column"
                        required
                        ng-options="heading for (id, heading) in metadataHeader track by id">
                  <!-- needed to make required option to work properly -->
                  <option></option>
                </select>
              </td>
              <td>
                column that contains the path to or the URL of the file
                associated with this sample
              </td>
            </tr>

            <tr>
              <td>Auxiliary File Column</td>
              <td>
                  <select ng-model="auxFileColumn" name="aux_file_column"
                          ng-options="heading for heading in metadataHeader">
                  </select>
              </td>
              <td>
                Column that contains the path to an auxiliary file (e.g. for
                visualization) associated with the input file
              </td>
            </tr>

            <tr>
              <td>Species Column</td>
              <td>
                  <select ng-model="speciesColumn" name="species_column"
                          ng-options="heading for heading in metadataHeader">
                  </select>
              </td>
              <td>column containing species names or IDs</td>
            </tr>

            <tr>
              <td>Base path</td>
              <td><input type="text" class="refinery-base"  ng-model="basePath"
                name="base_path"></td>
              <td>
                base path of your data file paths if using relative locations
              </td>
            </tr>

            <tr>
              <td>Annotation column</td>
              <td>
                <select ng-model="annotationColumn" name="annotation_column"
                        ng-options="heading for heading in metadataHeader">
                </select>
              </td>
              <td>
                column containing boolean flag to indicate whether the data file
                in this row should be treated as an annotation file
              </td>
            </tr>

            <tr>
              <td>Genome build column</td>
              <td>
                <select ng-model="genomeBuildColumn" name="genome_build_column"
                        ng-options="heading for heading in metadataHeader">
                </select>
              </td>
              <td>column containing genome build IDs</td>
            </tr>

            <tr>
              <td>Slug</td>
              <td><input type="text" class="refinery-base"  ng-model="slug" name="slug"></td>
              <td>
                shortcut name for dataset URL; can only contain alpha-numeric
                characters and _
              </td>
            </tr>
            <tr>

            <tr>
              <td>Make Import Permanent</td>
              <td>
                <input type="checkbox" ng-model="dataFilePermanent"
                       name="data_file_permanent"/>
              </td>
              <td>
                If selected, data files located on remote servers
                (referenced by URL) or located on the file system of the
                server (referenced by a relative or absolute path in
                addition to a filename) will be imported into the system upon
                creation of the data set. If not selected, such files will only
                be imported into the system if selected for analysis.
              </td>
            </tr>

            <tr>
              <td>Is public</td>
              <td>
                <input type="checkbox" ng-model="isPublic" name="is_public"/>
              </td>
              <td>
                flag for whether this data set will be visible to the public
              </td>
            </tr>
          </table>

          <input style="float: left;" class="refinery-base btn btn-default"
            type="button"
                 ng-click="checkFiles()" value="Check Files"
                 ng-disabled="!(dataFileColumn)"/>
          <input style="float: left;" class="refinery-base btn btn-default"
            id="import-button"
                 type="submit" value="Import"
                 ng-disabled="importMetadataTableForm.$invalid"/>
          <div style="margin-left: 15px; padding: 15px; float: left;
                      display: block; height: 22px; width: 22px;" id="spinner">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    // Check for the various File API support.
    if (window.File && window.FileReader && window.FileList && window.Blob) {
      // Great success! All the File APIs are supported.
    } else {
      alert('The File APIs are not fully supported in this browser.');
    }
  </script>

  <script src="{% static "vendor/d3/d3.min.js" %}"></script>
  <script src="{% static "js/spin/spin.min.js" %}"></script>

  <script type="text/javascript">
      var opts = {
      lines: 13, // The number of lines to draw
      length: 4, // The length of each line
      width: 2, // The line thickness
      radius: 6, // The radius of the inner circle
      corners: 1, // Corner roundness (0..1)
      rotate: 0, // The rotation offset
      color: '#000', // #rgb or #rrggbb
      speed: 1, // Rounds per second
      trail: 60, // Afterglow percentage
      shadow: false, // Whether to render a shadow
      hwaccel: false, // Whether to use hardware acceleration
      className: 'spinner', // The CSS class to assign to the spinner
      zIndex: 2e9, // The z-index (defaults to 2000000000)
      top: 'auto', // Top position relative to parent in px
      left: 'auto' // Left position relative to parent in px
      };

      $("#import-button").on( "click", function() {
        $("#import-errors").html( "")
        var target = document.getElementById('spinner');
        //var spinner = new Spinner(opts).spin(target);

      var spinner = new Spinner(opts).spin();
      target.appendChild(spinner.el);
        $("#import-message").html( "Running ...")
      });
  </script>
{% endblock %}
