<div class="modal-header">
    <h3>Permission Editor</h3>
    <h4 id="modal-description"></h4>
</div>
<div class="modal-body">
  <!--
  <table class="table" id="permission-table">
    <tr>
      <th>Group</th>
      <th>None</th>
      <th>Readonly</th>
      <th>Edit</th>
    </tr>
  </table>
  -->
  <p><em><h2>Coming back soon.</h2></em></p>
</div>
<div class="modal-footer">
  <button class="btn" ng-click="modal.cancel()">Cancel</button>
  <!-- <button class="btn btn-primary" ng-click="modal.save()">Save</button> -->
</div>
