{% extends "base.html" %}

{% block title %}
{{ block.super }} - Login
{% endblock %}

{% block subheader %}
<div class="page-header">
	<h1>Login</h1>
</div>
{% endblock %}


{% load url from future %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
{% endif %}
	<div class="row-fluid">
		<div class="span12">
			<div class="refinery-panel refinery-panel-content">
				<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
					{% csrf_token %}
					{% if form.errors %}
					<p>Your username and password didn't match. Please try again.</p>
					{% endif %}

					<div class="refinery-subheader">
						<h4>Username</h4>
					</div>		
					<p>{{ form.username }}</p>
					
					<div class="refinery-subheader">
						<h4>Password</h4>
					</div>
					<p>{{ form.password }}</p>
					
					<p>
						<input class="btn" type="submit" value="Login" />
						<input type="hidden" name="next" value="{{ next }}" />
						&nbsp;<a href="/accounts/password/reset/">Forgot password?</a>
					</p>
				</form>
				
				<p>
					If you don't have an account, you can <a href="/accounts/register/">sign up</a> for one.
				</p>
				
			</div>
		</div>
	</div>
{% endblock %}
