{% extends "base.html" %}
{% load i18n %}

{% block title %}
{{ block.super }} - Password Reset Successful
{% endblock %}

{% block subheader %}
<div class="page-header">
	<h1>Password reset successful</h1>	
</div>
{% endblock %}


{% block content %}
<div class="refinery-panel refinery-panel-content scrollable">
	<div class="row-fluid">
		<div class="refinery-header">
			<span class="refinery-header-left">
				<h3>
					We've e-mailed instructions for setting your password to the e-mail 
					address you submitted. You should be receiving it shortly.
				</h3>
			</span>
		</div>
	</div>
</div>
{% endblock %}
