{% extends "base.html" %}
{% load i18n %}

{% block title %}
{{ block.super }} - Password Change Successful
{% endblock %}

{% block subheader %}
<div class="page-header">
<h1>Password Change Successful</h1>	
</div>
{% endblock %}


{% block content %}
<div class="refinery-panel refinery-panel-content scrollable">
	<div class="row">
		<div class="refinery-header">
			<span class="refinery-header-left">
				<h3>Your password was changed</h3>
			</span>
		</div>
	</div>
</div>
{% endblock %}

{% block content-related %}

{% endblock %}
