{% extends "base.html" %}
{% load i18n %}

{% block title %}
{{ block.super }} - Reset Password
{% endblock %}

{% block subheader %}
<div class="page-header">
	<h1>Forgotten your password? <small>Reset your password</small></h1>	
</div>
{% endblock %}

{% block content %}
<div class="refinery-panel refinery-panel-content scrollable">
	<div class="row">
	    {% if REFINERY_EXTERNAL_AUTH %}
	        <p>{{ REFINERY_EXTERNAL_AUTH_MESSAGE|safe }}</p>
	    {% else %}
    		<form method="post" action="" class="wide" id="password-reset-form">
    			{% csrf_token %}
    			<div class="refinery-subheader">
    				<h4>Email</h4>
    			</div>
    			{% if form.email.errors %}
    				<p class="errors">{{ form.email.errors.as_text }}</p>
    			{% endif %}	
    			<p>{{ form.email }}</p>
    
    			<p class="submit"><input class="refinery-base btn btn-default"
            type="submit"
            value="Reset My Password"></p>
    		</form>
    	{% endif %}
	</div>
</div>
{% endblock %}
