{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"></div>{% endblock %}

{% block title %}
  {{ block.super }} - Password reset complete
{% endblock %}

  {% block subheader %}
    <div class="page-header">
      <h1>Password reset complete</h1>
    </div>
  {% endblock %}

{% block content %}
  <div class="refinery-panel refinery-panel-content scrollable">
    <div class="row">
      <div class="refinery-header">
        <span class="refinery-header-left">
          <h3>Password reset complete</h3>
        </span>
      </div>
      <div>
        <p class="p-t-1">Your password has been set.  You may go ahead and login now.</p>
        <p>
          <a
            class='btn btn-primary'
            href="{% url 'django.contrib.auth.views.login' %}?next={% url 'home' %}">
          {% trans 'Login' %}
          </a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}

{% block content-related %}

{% endblock %}
