{% extends "base.html" %}
{% load i18n %}

{% block title %}
{{ block.super }} - Password Reset Successful
{% endblock %}

{% block subheader %}
<div class="page-header">
	<h1>Password reset successful</h1>	
</div>
{% endblock %}


{% block content %}
<div class="refinery-panel refinery-panel-content scrollable">
	<div class="row">
		<div class="refinery-header">
			<span class="refinery-header-left">
				<h3>Check your email</h3>
			</span>
		</div>
		<p>
			Instructions for resetting your password have been sent to the email 
			address you supplied.
		</p>
	</div>
</div>
{% endblock %}
