{% extends "base.html" %}
{% load i18n %}

{% block title %}
{{ block.super }} - Reset Password
{% endblock %}

{% block subheader %}
<div class="page-header">
	<h1>Reset my password</h1>	
</div>
{% endblock %}

{% block content %}
<div class="refinery-panel refinery-panel-content scrollable">
	<div class="row">
		{% if validlink %}
		<div class="refinery-header">
			<span class="refinery-header-left">
				<h3>Enter New Password</h3>				
			</span>
		</div>
		<form method="post" action="" class="wide" id="password-reset-confirmation-form">
			{% csrf_token %}
  			{% if form.errors %}
  			<div class="alert alert-danger">
          Please correct the errors below.
          {{ form.non_field_errors }}
        </div>
  			{% endif %}

  			<div class="refinery-subheader">
				<h4>Password</h4>
			</div>
			{% if form.new_password1.errors %}
			<p class="errors">{{ form.new_password1.errors.as_text }}</p>
			{% endif %}		
			<p>{{ form.new_password1 }}</p>

			<div class="refinery-subheader">
				<h4>Confirm Password</h4>
			</div>
			{% if form.new_password2.errors %}
			<p class="errors">{{ form.new_password2.errors.as_text }}</p>
			{% endif %}		
			<p>{{ form.new_password2 }}</p>

			<p class="submit"><input class="refinery-base btn btn-default"
        type="submit"
        value="Change
			 My Password"></p>
		</form>
		{% else %}
		<div class="refinery-header">
			<span class="refinery-header-left">
				<h3>Password reset unsuccessful</h3>				
			</span>
		</div>

		<p>The password reset link was invalid, possibly because it has already been used.<br /><br />
			Please request a new password <a href="{% url 'django.contrib.auth.views.password_reset' %}">reset</a>.</p>
		{% endif %}
	</div>
</div>
{% endblock %}
