{% extends "base.html" %}
{% load i18n %}

{% block title %}
{{ block.super }} - Password change
{% endblock %}

{% block subheader %}
<div class="page-header">
	<h1>Change your Password</h1>	
</div>
{% endblock %}

{% block content %}
<div class="refinery-panel refinery-panel-content scrollable">
	<div class="row">
        {% if REFINERY_EXTERNAL_AUTH %}
            <p>{{ REFINERY_EXTERNAL_AUTH_MESSAGE|safe }}</p>
        {% else %}
    		<form method="post" action="" class="wide" id="password-change-form">
    			{% csrf_token %}				
    
    			<div class="refinery-subheader">
    				<h4>Old Password</h4>
    			</div>
    			{% if form.old_password.errors %}
    			<p class="errors">{{ form.old_password.errors.as_text }}</p>
    			{% endif %}		
    			<p>{{ form.old_password }}</p>
    
    			<div class="refinery-subheader">
    				<h4>New Password</h4>
    			</div>
    			{% if form.new_password1.errors %}
    			<p class="errors">{{ form.new_password1.errors.as_text }}</p>
    			{% endif %}		
    			<p>{{ form.new_password1 }}</p>
    
    			<div class="refinery-subheader">
    				<h4>Confirm Password</h4>
    			</div>
    			{% if form.new_password2.errors %}
    			<p class="errors">{{ form.new_password2.errors.as_text }}</p>
    			{% endif %}		
    			<p>{{ form.new_password2 }}</p>
    
    			<p class="submit"><input class="refinery-base btn btn-default"
            type="submit"
            value="Change My Password"></p>
    		</form>
    	{% endif %}
	</div>
</div>
{% endblock %}

{% block content-related %}

{% endblock %}
