{% extends "base.html" %}

{% block title %}
{{ block.super }} - Sign Up
{% endblock %}

{% block subheader %}
<div class="page-header">
	<h1>Sign Up <small>Register for an account</small></h1>
</div>
{% endblock %}

{% block content %}
<div class="refinery-panel refinery-panel-content scrollable">
	<div class="row">
		<form method="post" action="." class="wide" id="registration-form">
			{% csrf_token %}
  			{% if form.errors %}
  			<div class="alert alert-danger">
          Please correct the errors below.
          {{ form.non_field_errors }}
        </div>
  			{% endif %}
        <span class="registration_required"> Indicates a required field</span>
        <br>
  			<div class="refinery-subheader">
				<h4 class="registration_required">Username</h4>
			</div>
			{% if form.username.errors %}
			<p class="errors">{{ form.username.errors.as_text }}</p>
			{% endif %}
			<p>{{ form.username }}</p>

            <div class="refinery-subheader">
				<h4 class="registration_required">First Name</h4>
			</div>
			{% if form.first_name.errors %}
			<p class="errors">{{ form.first_name.errors.as_text }}</p>
			{% endif %}
			<p>{{ form.first_name }}</p>

            <div class="refinery-subheader">
				<h4 class="registration_required">Last Name</h4>
			</div>
			{% if form.last_name.errors %}
			<p class="errors">{{ form.last_name.errors.as_text }}</p>
			{% endif %}
			<p>{{ form.last_name }}</p>

            <div class="refinery-subheader">
				<h4 class="registration_required">Affiliation</h4>
			</div>
			{% if form.affiliation.errors %}
			<p class="errors">{{ form.affiliation.errors.as_text }}</p>
			{% endif %}
			<p>{{ form.affiliation }}</p>

			<div class="refinery-subheader">
				<h4 class="registration_required">Email Address</h4>
			</div>
			{% if form.email.errors %}
			<p class="errors">{{ form.email.errors.as_text }}</p>
			{% endif %}
			<p>{{ form.email }}</p>

            <div class="refinery-subheader">
				<h4 class="registration_required">Password</h4>
			</div>
			{% if form.password1.errors %}
			<p class="errors">{{ form.password1.errors.as_text }}</p>
			{% endif %}
			<p>{{ form.password1 }}</p>

			<div class="refinery-subheader">
				<h4 class="registration_required">Password (again)</h4>
			</div>
			{% if form.password2.errors %}
			<p class="errors">{{ form.password2.errors.as_text }}</p>
			{% endif %}
			<p>{{ form.password2 }}</p>


			{% comment %}
			<div class="refinery-subheader">
				<h4>Terms of Service</h4>
			</div>
			{% if form.tos.errors %}
			<p class="errors">{{form.tos.errors.as_text}}</p>
			{% endif %}
			<label class="checkbox">
			{{form.tos}}
			I have read and agree to the Terms of Service.
			</label>
			{% endcomment %}

			<p class="submit"><input class="refinery-base btn btn-default"
        type="submit"
        value="Register"></p>
		</form>
	</div>
</div>
{% endblock %}

{% block content-related %}
<p>Fill out the form to the left (all fields are required), and your
account will be created; you'll be sent an email with instructions on how
to finish your registration.</p>

<p>We'll only use your email to send you signup instructions. We hate spam
as much as you do.</p>

<p>This account will let you log into the ticket tracker, claim tickets,
and be exempt from spam filtering.</p>
{% endblock %}
