{% extends "base.html" %}

{% block title %}
{{ block.super }} - Registration Complete
{% endblock %}

{% block subheader %}
<div class="page-header">
	<h1>Registration complete</h1>
</div>
{% endblock %}

{% block content %}
<div class="refinery-panel refinery-panel-content scrollable">
	<div class="row">
		<div class="refinery-header">
			<span class="refinery-header-left">
				<h3>Thank you for registering!</h3>
			</span>
		</div>
		<p>
			Your account is currently pending approval. An activation link has
            been sent to the Administrator.
            <br><br>
            We generally attempt to approve accounts within 2 business days.
            If you do not hear from us within that time frame, please
            contact the Administrator: <a href="mailto:{{ ADMIN_EMAIL }}?Subject=Regarding my account activation" target="_top">{{ ADMIN_EMAIL }}</a> mentioning your
            username.
		</p>

		{% if EMAIL_BACKEND == "django.core.mail.backends.filebased.EmailBackend" %}
				<div class="alert alert-warning">
				Since no mail server has been configured yet, a copy of the email was saved to <i>{{ EMAIL_FILE_PATH }}.</i>
				</div>
		{% endif %}

		{% if EMAIL_BACKEND == "django.core.mail.backends.console.EmailBackend" %}
				<div class="alert alert-warning">
				Since no mail server has been configured yet, a copy of the email was written to the console.</i>
				</div>
		{% endif %}

	</div>
</div>
{% endblock %}
