<div
  class="refinery-panel refinery-panel-content jquery-full-height no-overflow"
  id="home-component">
  <div class="row">
    <div class="col-md-5 cardless-col">
      <div class="col-content scrollable-list">
        <div id="home-intro" class="section-content">
           <div class="refinery-header">
              <h3>
                Welcome
                <span ng-show="$ctrl.instanceName.length">
                  to {{ $ctrl.instanceName }}
                </span>
              </h3>
            </div>
            <div ng-bind-html="$ctrl.htmlIntro"></div>
        </div>
        <div id="home-nav-buttons" class="section-content">
          <span ng-if="!$ctrl.isLoggedIn">
            <a href="/accounts/register/"
              class="btn btn-primary nav-btn-series">
              <i class="fa fa-pencil"></i>
              <span class="minimize-button-text">
                Register
              </span>
            </a>
          </span>
          <span ng-if="$ctrl.isLoggedIn">
            <a href="/data_set_manager/import/"
              class="btn btn-primary nav-btn-series">
              <i class="fa fa-plus-circle"></i>
              <span class="minimize-button-text">
                Upload
              </span>
            </a>
          </span>
          <a href="/files"
            class="refinery-base btn btn-default nav-btn-series">
            <i class="fa fa-list"></i>
            <span class="minimize-button-text">
              Browse Files
            </span>
          </a>
          <a href="/explore"
            class="refinery-base btn btn-default nav-btn-series">
            <i class="fa fa-compass"></i>
            <span class="minimize-button-text">
              Explore Data Sets
            </span>
          </a>
        </div>
        <div class="section-content">
          <rp-video-carousel></rp-video-carousel>
        </div>
        <div>
          <div class="list-unstyled section-content">
            <div class="refinery-header">
              <h3>
                  About
              </h3>
            </div>
            <div ng-bind-html="$ctrl.htmlAbout"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 cardless-col">
      <div class="col-content scrollable-list">
        <rp-data-set-chart></rp-data-set-chart>
        <div class="section-content">
          <rp-tool-list></rp-tool-list>
        </div>
      </div>
    </div>
    <div class="col-md-2 cardless-col">
      <div class="section-content">
        <rp-twitter-feed></rp-twitter-feed>
      </div>
    </div>
  </div>
</div>
