<div
  class="refinery-panel refinery-panel-content jquery-full-height no-overflow"
  id="home-component">
  <div class="row">
    <div class="col-md-5 cardless-col">
      <div class="col-content scrollable-list">
        <ul id="home-intro" class="list-unstyled p-r-1 m-r-1">
           <div class="refinery-header">
              <h3>
                Welcome to the Stem Cell Commons
              </h3>
            </div>
          <li ng-repeat="htmlIntro in $ctrl.htmlIntros">
            <p ng-bind-html="htmlIntro"></p>
          </li>
        </ul>
        <div id="home-nav-buttons p-l-1 m-l-1">
          <span ng-if="!$ctrl.isLoggedIn">
            <a href="/accounts/register/"
              class="btn btn-primary nav-btn-series">
              <i class="fa fa-pencil"></i>
              <span class="minimize-button-text">
                Register
              </span>
            </a>
          </span>
          <a href="/files"
            class="refinery-base btn btn-default nav-btn-series">
            <i class="fa fa-list"></i>
            <span class="minimize-button-text">
              Browse Files
            </span>
          </a>
          <a href="/explore"
            class="refinery-base btn btn-default nav-btn-series">
            <i class="fa fa-compass"></i>
            <span class="minimize-button-text">
              Explore Data Sets
            </span>
          </a>
        </div>
        <div class="p-t-1 m-t-1">
          <rp-video-carousel></rp-video-carousel>
        </div>
        <div class="p-t-1 m-t-1">
          <li ng-repeat="htmlIntro in $ctrl.htmlAbout">
            <p ng-bind-html="htmlAbout"></p>
          </li>
        </div>
      </div>
    </div>
    <div class="col-md-5 cardless-col">
      <div class="col-content scrollable-list">
        <rp-data-set-chart></rp-data-set-chart>
        <div>
          <rp-tool-list></rp-tool-list>
        </div>
      </div>
    </div>
    <div class="col-md-2 cardless-col">
      <div>
        <rp-twitter-feed></rp-twitter-feed>
      </div>
    </div>
  </div>
</div>
