<div id="home-component">
  <div class="row first-row">
    <div class="col-md-6">
      <ul id="home-intro" class="list-unstyled">
        <li ng-repeat="htmlIntro in $ctrl.htmlIntros">
          <p ng-bind-html="htmlIntro"></p>
        </li>
      </ul>
      <rp-video-carousel></rp-video-carousel>
    </div>
    <div class="col-md-6">
      <rp-data-set-chart></rp-data-set-chart>
      <div id="home-nav-buttons">
        <a href="/accounts/register/"
          class="btn btn-lg btn-primary nav-btn-series">
          <i class="fa fa-user"></i> Register
        </a>
        <a href="/dashboard"
          class="refinery-base btn btn-lg btn-default nav-btn-series">
          <i class="fa fa-list"></i> View Data
        </a>
        <a href="/exploration"
          class="refinery-base btn btn-lg btn-default nav-btn-series">
          <i class="fa fa-compass"></i> Explore Data
        </a>
      </div>
    </div>
  </div>
  <div class="row p-t-1">
    <div class="col-md-6">
      <rp-twitter-feed></rp-twitter-feed>
    </div>
    <div class="col-md-6">
      <rp-tool-list></rp-tool-list>
    </div>
  </div>
</div>
