<div ng-repeat="analysis in AnalysesCtrl.analysesList track by analysis.uuid">
  <ul class="analysesList">
    <li class="analysesListItems">

     <span class="spinner"><i class="{{ analysis.status | analysesStatusIcon}}"></i>
     </span>
      &nbsp;
      {{ analysis.name }}

      <span ng-if= "analysis.status=='RUNNING' || analysis.status=='INITIALIZED'" ng-init="AnalysesCtrl.refreshAnalysesDetail()">

        &nbsp;
        <a rp-analyses-cancel-confirm confirmed-click="AnalysesCtrl
        .cancelAnalysis(analysis.uuid)" rp-analyses-cancel-tooltip>
          <i class="icon-remove"></i>
        </a>

        <ul class="analysisRunningList">
          <li class="analysisRunningListItem">
            Preprocessing
            <div ng-switch on="AnalysesCtrl.analysesDetail[analysis.uuid]
            .preprocessing">
              <div ng-switch-when="SUCCESS">
                <div class="alert alert-success">
                  {{ AnalysesCtrl.analysesDetail[analysis.uuid].preprocessing }}
                </div>
              </div>
              <div ng-switch-when="RETRY">
                <div class="progress progress-striped active">
                  <div class="bar" style="width: {{AnalysesCtrl.analysesDetail[analysis.uuid]
                  .executionPercentDone}}">{{AnalysesCtrl.analysesDetail[analysis.uuid]
                  .preprocessingPercentDone}}</div>
                </div>
              </div>
              <div ng-switch-when="FAILURE">
                <div class="alert alert-warning">
                  {{ AnalysesCtrl.analysesDetail[analysis.uuid].preprocessing }}
                  </div>
              </div>
              <div ng-switch-default>
                <div class="alert alert-info">
                  {{ AnalysesCtrl.analysesDetail[analysis.uuid].preprocessing }}
                  </div>
              </div>
            </div>
          </li>

          <li class="analysisRunningListItem">
            Execution
            <div ng-switch on="AnalysesCtrl.analysesDetail[analysis.uuid].execution">
              <div ng-switch-when="SUCCESS">
                <div class="alert alert-success">
                  {{ AnalysesCtrl.analysesDetail[analysis.uuid].execution }}
                </div>
              </div>
              <div ng-switch-when="RETRY">
                <div class="progress progress-striped active">
                  <div class="bar" style="width: {{AnalysesCtrl.analysesDetail[analysis.uuid]
                  .executionPercentDone}}">{{AnalysesCtrl.analysesDetail[analysis.uuid]
                  .executionPercentDone}}</div>
                </div>
              </div>
              <div ng-switch-when="FAILURE">
                <div class="alert alert-warning">
                  {{ AnalysesCtrl.analysesDetail[analysis.uuid].execution }}
                  </div>
              </div>
              <div ng-switch-default>
                <div class="alert alert-info">
                  {{ AnalysesCtrl.analysesDetail[analysis.uuid].execution }}
                </div>
              </div>
            </div>
          </li>

          <li class="analysisRunningListItem">
            Postprocessing
            <div ng-switch on="AnalysesCtrl.analysesDetail[analysis.uuid].postprocessing">
              <div ng-switch-when="SUCCESS">
                <div class="alert alert-success">
                  {{ AnalysesCtrl.analysesDetail[analysis.uuid].postprocessing }}
                </div>
              </div>
              <div ng-switch-when="FAILURE">
                <div class="alert alert-warning">
                  {{ AnalysesCtrl.analysesDetail[analysis.uuid].postprocessing }}
                </div>
              </div>
              <div ng-switch-when="RETRY">
                <div class="progress progress-striped active">
                  <div class="bar" style="width: {{AnalysesCtrl.analysesDetail[analysis.uuid]
                  .executionPercentDone}}">{{AnalysesCtrl.analysesDetail[analysis.uuid]
                  .postprocessingPercentDone}}</div>
                </div>
              </div>
              <div ng-switch-default>
                <div class="alert alert-info">
                  {{ AnalysesCtrl.analysesDetail[analysis.uuid].postprocessing }}
                </div>
              </div>
            </div>
          </li>
        </ul>
      </span>
    </li>
  </ul>
</div>
