<div id="group-collab">
  <div class="row-fluid">

    <div class="span6 well">
      <strong>Groups</strong>
      <span style="float:right;margin-left:5px">
        <a href="#" ng-click="openGroupEditor()"><i class="icon-cog"></i></a>
      </span>

      <ul class="nav nav-list scrollable">
        <li ng-repeat="group in groupList" ng-click="setGroupActive(group)" ng-class="group.group_id === activeGroup.group_id ? 'active' : ''">
          <a href="#">
            {{group.group_name}}
            <span style="float:right;color:red" font-size="10px" ng-if="group.can_edit">
              manager
            </span>
          </a>
        </li>
      </ul>
    </div>

    <div class="span6 well">
      <strong>Members</strong>
      <span style="margin-left:5px" ng-if="activeGroup.can_edit">
        <a href="#" ng-click="openEmailInvite()"><i class="icon-plus"></i></a>
      </span>

      <ul class="nav nav-list scrollable">
        <li ng-repeat="member in activeGroup.member_list">
          {{member.username}}
          <span style="float:right" ng-if="activeGroup.can_edit">
            <span ng-if="member.is_manager" style="float:left;color:red" font-size="5px">
              manager
            </span>
            <a href="#" ng-click="openMemberEditor(member)" style="margin-left:10px">
              <i class="icon-cog"></i>
            </a>
          </span>
        </li>
      </ul>
    </div>

  </div>
</div>