<div id="group-collab">
  <div class="row-fluid">

    <div class="span4 well">
      <strong>Groups</strong>
      <span style="float:right;margin-left:5px">
        <a href="#/{{activeGroup.group_id}}/" ng-click="openGroupEditor()"><i class="icon-cog"></i></a>
      </span>

      <ul class="nav nav-list scrollable">
        <li ng-repeat="group in groupList" ng-click="setGroupActive(group)" ng-class="group.group_id === activeGroup.group_id ? 'active' : ''">
          <a ng-href="#/{{group.group_id}}/">
            {{group.group_name}}
            <span style="float:right;color:red" font-size="10px" ng-if="group.can_edit">
              manager
            </span>
          </a>
        </li>
      </ul>
    </div>

    <div class="span4 well">
      <strong>Members</strong>
      <span style="margin-left:5px" ng-if="activeGroup.can_edit">
        <a href="#/{{activeGroup.group_id}}/" ng-click="openEmailInvite()"><i class="icon-plus"></i></a>
      </span>

      <ul class="nav nav-list scrollable">
        <li ng-repeat="member in activeGroup.member_list">
          {{member.first_name}} {{member.last_name }} - ({{member.username}})
          <span style="float:right" ng-if="activeGroup.can_edit">
            <span ng-if="member.is_manager" style="float:left;color:red" font-size="5px">
              manager
            </span>
            <a href="#/{{activeGroup.group_id}}/" ng-click="openMemberEditor(member)" style="margin-left:10px">
              <i class="icon-cog"></i>
            </a>
          </span>
        </li>
      </ul>
    </div>

    <div class="span4 well">
      <strong>Pending Invitations</strong>
      <ul class="nav nav-list scrollable">
        <li ng-repeat="invite in activeGroupInviteList">
          {{invite.recipient_email}}
          <span>
            <span style="float:right;margin-left:10px">
              <a href="#/{{activeGroup.group_id}}/" ng-click="revokeInvitation(invite)">Revoke</a>
            </span>
            <span style="float:right">
              <a href="#/{{activeGroup.group_id}}/" ng-click="resendInvitation(invite)">Resend</a>
            </span>
          </span>
          <br>
          <span>
            Created: {{invite.created}}
            <br>
            Expires: {{invite.expires}}
          </span>
          <hr>
        </li>
      </ul>
    </div>

  </div>
</div>