<div ng-controller="WorkflowListApiCtrl">
  <select ui-select2 ng-model="workflowIndex" ng-change="updateCurrentWorkflow()" style="width:100%" data-placeholder="Select a workflow">
    <option value=""></option>  <!-- required for showing placeholder text -->
    <option ng-repeat="workflow in workflowList" value="{{$index}}">{{workflow.name}}</option>
  </select>

  <div ng-show="currentWorkflow.isAvailable()">

    <div class="refinery-subheader">
      <h4>Name</h4>
    </div>
    <p>{{currentWorkflow.getName()}}</p>

    <div ng-show="currentWorkflow.getSummary()">
      <div class="refinery-subheader">
        <h4>Summary</h4>
      </div>
      <p>{{currentWorkflow.getSummary()}}</p>
    </div>
 
    <div class="refinery-subheader">
      <h4>Inputs ({{currentWorkflow.getCategory()}})</h4>
    </div>
    <div>
      <label style="color: #6A41AE;"><b><i>{{currentWorkflow.getInputSet(1)}}<br/></i></b></label>
      <label style="color: #278F63;" ng-hide="currentWorkflow.isSingleInput()"><b><i>{{currentWorkflow.getInputSet(2)}}<br/></i></b></label>
    </div>

    <div ng-controller="NodeSetListApiCtrl" ng-if="currentWorkflow.isSingleInput()">
      <select ui-select2 ng-model="nodesetIndex" ng-change="updateCurrentNodeSet()" style="width:100%" data-placeholder="Choose a file set">
        <option value=""></option>  <!-- required for showing placeholder text -->
        <option ng-repeat="nodeset in nodesetList" value="{{$index}}">{{nodeset.name}}</option>
      </select>
      <div>
        <p></p>
      </div>
      <div ng-controller="AnalysisCtrl">
      <!-- using external tool status for Galaxy -->
      <!--
        <button class="btn btn-warning" ng-click="launchAnalysis()" ng-disabled="!(currentNodeSet && currentNodeSet.node_count > 0 && galaxyStatus)" style="width: 100%">Launch Analysis</button>
        <div ng-hide="galaxyStatus">
          Galaxy is down!
        </div>  
      -->

      <!-- no external tool status monitoring -->
        <button class="btn btn-warning" ng-click="setAnalysisName()"
                ng-disabled="!(currentNodeSet && currentNodeSet.node_count > 0)" style="width: 100%">Launch Analysis</button>

      </div>
    </div>
    <div ng-controller="NodeRelationshipListCtrl" ng-if="!currentWorkflow.isSingleInput()">
      <select ui-select2 ng-model="nodeRelationshipIndex" ng-change="updateCurrentNodeRelationship()" style="width:100%" data-placeholder="Choose a file mapping">
        <option value=""></option>  <!-- required for showing placeholder text -->
        <option ng-repeat="nodeRelationship in nodeRelationshipList" value="{{$index}}">{{nodeRelationship.name}}</option>
      </select>

      <a class="btn btn-mini" ng-click="openNewMappingDialog()">New ...</a>
      <a class="btn btn-mini" ng-disabled="!(currentNodeRelationship && !currentNodeRelationship.is_current)" ng-click="openRenameMappingDialog(currentNodeRelationship)">Rename</a>
      <a class="btn btn-mini" ng-disabled="!(currentNodeRelationship && !currentNodeRelationship.is_current)" ng-click='openDeleteMappingDialog(currentNodeRelationship)'>Delete</a> 
      <div>
        <p></p>
      </div>
      <div ng-controller="AnalysisCtrl">
      <!-- using external tool status for Galaxy -->
      <!--      
        <button class="btn btn-warning" ng-click="launchAnalysis()" ng-disabled="!(currentNodeRelationship && currentNodeRelationship.node_pairs.length > 0 && galaxyStatus)" style="width: 100%">Launch Analysis</button>
        <div ng-hide="galaxyStatus">
          Galaxy is down!
        </div>
      -->
      <!-- no external tool status monitoring -->
        <button class="btn btn-warning" ng-click="setAnalysisName()" ng-disabled="!(currentNodeRelationship && currentNodeRelationship.node_pairs.length > 0 )" style="width: 100%">Launch Analysis</button>
      </div>
    </div>
  </div>
</div>
