<table class="table table-striped table-condensed">
	<tr>
		<td></td>
		<td class="refinery-dnd-dropzone refinery-workflow-input-{{setA.color}}"><b>{{setA["name"]}}</b></td>
		<td class="refinery-dnd-dropzone refinery-workflow-input-{{setB.color}}"><b>{{setB["name"]}}</b></td>
	</tr>
	<tr ng-repeat="attribute in diffAttributes">
		<td>{{attribute.name}}</td>
		<td><b>{{attribute.valueSetA}}</b></td>
		<td><b>{{attribute.valueSetB}}</b></td>
	</tr>
	<tr>
		<td>Shared</td>
		<td colspan="2"> <span ng-repeat="attribute in commonAttributes">{{attribute.name}}: <b>{{attribute.value}}</b>,&nbsp;</span>
	</tr>
</table>