<div ng-controller="provvisNavbarController">
<div id="provenance-controls">

<!-- Show all controls -->
<div id="prov-ctrl-node-btn-group" class="btn-group">
    <button id="prov-ctrl-layers-click" class="btn btn-mini"><i class="icon-reorder"></i>&nbsp;Layers</button>
    <button id="prov-ctrl-analyses-click" class="btn btn-mini"><i class="icon-cogs"></i>&nbsp;Analyses</button>
    <button id="prov-ctrl-subanalyses-click" class="btn btn-mini"><i class="icon-cog"></i>&nbsp;Subanalyses</button>
    <button id="prov-ctrl-workflows-click" class="btn btn-mini"><i class="icon-sitemap rotate-icon-90"></i>&nbsp;Workflows</button>
</div>

<!-- Refinery stored output labels -->
<div id="prov-ctrl-node-labeling-btn-group" class="btn-group">

    <!-- Attributes -->
    <button id="prov-ctrl-visible-attribute" class="btn btn-mini">
        <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown-toggle" href="#">
            <i class="icon-wrench"></i>&nbsp;Attributes&nbsp;<i class="icon-caret-down"></i>
        </a>
        <ul id="prov-ctrl-visible-attribute-list" class="dropdown-menu scrollable-menu">
        </ul>
        <script>
            /* Stop dropdown menu from closing on click. */
            $("#prov-ctrl-visible-attribute-list").bind("click", function (e) {
                e.stopPropagation();
            });
        </script>
    </button>

    <!-- Filter action -->
    <button id="prov-ctrl-filter" class="btn btn-mini">
        <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown-toggle" href="#">
            Filter&nbsp;<i class="icon-caret-down"></i>
        </a>
        <ul id="prov-ctrl-filter-list" class="dropdown-menu">
            <!-- TODO: with angular -->
            <li id="prov-ctrl-filter-list-blend">
                <a href="#" class="field-name">
                    <label class="radio"><input type="radio" checked>Blend</label>
                </a>
            </li>
            <li id="prov-ctrl-filter-list-hide">
                <a href="#" class="field-name">
                    <label class="radio"><input type="radio">Hide</label>
                </a>
            </li>
            <script>
                /* Stop dropdown menu from closing on click. */
                $("#prov-ctrl-filter-list").bind("click", function (e) {
                    e.stopPropagation();
                });
            </script>
        </ul>
    </button>

    <!-- Color coding -->
    <button id="prov-ctrl-colorcoding" class="btn btn-mini" type="button" rel="tooltip"
            data-placement="bottom" data-documents="Colorcoding" data-html="true">
        <a id="prov-ctrl-colorcoding-click" class="btn btn-mini dropdown-toggle" data-toggle="dropdown-toggle" href="#">
            Color coding&nbsp;<i class=icon-caret-down></i>
        </a>
    </button>
</div>

    <!-- Help. -->
    <div id="help-modal" class="modal hide fade bs-example-modal-sm-help" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div id="help-dialog" class="modal-dialog modal-sm">
            <div id="help-content" class="modal-dialog">
                <div class="modal-body">
                    <h3>Command Shortcut List</h3>
                    <ul>
                        <li>
                            <div class="refinery-subheader">
                                <h4>Node and path specific:</h4>
                            </div>
                        </li>
                        <ul>
                            <li>(Un)Select: Left click</li>
                            <li>Highlight predecessors: Left click on left anchor</li>
                            <li>Highlight successors: Left click on right anchor</li>
                            <li>Collapse Node: Left click on enclosing bounding box</li>
                            <li>Expand Node: Double click on node</li>
                        </ul>
                        <br>
                        <li>
                            <div class="refinery-subheader">
                                <h4>Global:</h4>
                            </div>
                        </li>
                        <ul>
                            <li>Clear highlighting: Left click on background</li>
                            <li>Fit graph to screen: Left double click on background</li>
                        </ul>
                    </ul>
                </div>
                <div id="help-footer" class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <button id="prov-ctrl-help" class="btn btn-mini" type="button" rel="tooltip" data-placement="bottom"
            data-toggle="modal"
            data-target="#help-modal" data-html="true">
        <i class=icon-question-sign></i>&nbsp;Help
    </button>

    <!-- Glyph legend. -->
    <div id="legend-modal" class="modal hide fade bs-example-modal-sm-legend" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div id="legend-dialog" class="modal-dialog modal-sm">
            <div id="legend-content" class="modal-dialog">
                <div class="modal-body">
                    <h3>Glyph legend</h3>
                    <div class="refinery-subheader"><h4>Node Types:</h4></div>
                    <div class="provvis-legend-cell" id="prov-ctrl-legend-types"></div>
                    <div class="refinery-subheader"><h4>Time Encoding:</h4></div>
                    <div class="provvis-legend-cell" id="prov-ctrl-legend-time"></div>
                    <div class="refinery-subheader"><h4>Layering:</h4></div>
                    <div class="provvis-legend-cell" id="prov-ctrl-legend-layering"></div>
                    <div class="refinery-subheader"><h4>Aggregation:</h4></div>
                    <div class="provvis-legend-cell" id="prov-ctrl-legend-aggregation"></div>
                    <div class="refinery-subheader"><h4>Stratification:</h4></div>
                    <div class="provvis-legend-cell" id="prov-ctrl-legend-stratification"></div>
                </div>
                <div id="legend-footer" class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <button id="prov-ctrl-legend" class="btn btn-mini" type="button" rel="tooltip" data-placement="bottom"
            data-toggle="modal" data-target="#legend-modal" data-html="true">
        Glyph legend
    </button>

<!-- Nodeinfo toggle -->
<div id="prov-ctrl-nodeinfo-btn-group" class="btn-group">
    <button id="prov-ctrl-nodeinfo-click" class="btn btn-mini" type="button" rel="tooltip"
            data-placement="bottom" data-documents="Nodeinfo" data-html="true">
        <i class="icon-info-sign"></i>&nbsp;Node info&nbsp;<i class=icon-caret-down></i>
    </button>
</div>

<!-- Sidebar toggle -->
<div id="prov-ctrl-sidebar-btn-group" class="btn-group">
    <button id="prov-ctrl-sidebar-click" class="btn btn-mini" type="button" rel="tooltip"
            data-placement="bottom" data-documents="Sidebar" data-html="true">
        <i class=icon-filter></i>&nbsp;Sidebar&nbsp;<i class=icon-caret-left></i>
    </button>
</div>
</div>
</div>