<div ng-controller="provvisCanvasController">
    <div id="provenance-canvas">
        <div id="provenance-sidebar">
            <div class="refinery-panel-tabs tabbable">
                <div class="row-fluid">
                    <div class="span12">
                        <ul id="provvis-sidebar-tabs" class="nav nav-tabs">
                            <li class="active">
                                <a href="#provvis-filter-doi-tab" data-toggle="tab">Filter & DOI</a>
                            </li>
                            <li><a href="#provvis-nodeinfo-tab" data-toggle="tab">Node Info</a></li>
                            <li><a href="#provvis-colorcoding-tab" data-toggle="tab">Colors</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="provvis-sidebar-content" class="refinery-panel refinery-panel-content scrollable tab-content">
                <div class="tab-pane active" id="provvis-filter-doi-tab">

                </div>
                <div class="tab-pane" id="provvis-nodeinfo-tab">
                    <div class="nodeInfoHeader">
                        <h3 id="nodeInfoTitle">
                            Select a node: -
                        </h3>
                        <a id="nodeInfoTitleLink"></a>
                    </div>
                    <div id="provenance-table-content"></div>
                </div>
                <div class="tab-pane" id="provvis-colorcoding-tab">
                    <div id="provenance-colorcoding-view">

                        <div class="accordion" id="provvis-color-accordion-edges">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse"
                                       data-parent="#provvis-color-accordion-edges" href="#pv-edges">
                                        Edges and Highlighting
                                    </a>
                                </div>
                                <div id="pv-edges" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <td id="prov-ctrl-cc-strokes">
                                                    <label class="provvis-cc-label">
                                                        <input type='text' id="provvis-cc-strokes"/>Edges
                                                        <em id='provvis-cc-strokes-hex' class="provvis-cc-hide-hex">#136382</em>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td id="prov-ctrl-cc-highlight">
                                                    <label class="provvis-cc-label">
                                                        <input type='text' id="provvis-cc-highlight"/>Highlighting
                                                        <em id='provvis-cc-highlight-hex' class="provvis-cc-hide-hex">#ed7407</em>
                                                    </label>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion" id="provvis-color-accordion">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" id="prov-ctrl-cc-none-acc" data-toggle="collapse"
                                       data-parent="#provvis-color-accordion" href="#pv-none"
                                       class="provvis-panel-href">
                                        None
                                    </a>
                                </div>
                                <div id="pv-none" class="accordion-body collapse">
                                    <div class="accordion-inner">White nodes with black labels.</div>
                                </div>
                            </div>
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" id="prov-ctrl-cc-time-acc" data-toggle="collapse"
                                       data-parent="#provvis-color-accordion" href="#pv-time"
                                       class="provvis-panel-href">
                                        Analysis Execution Time
                                    </a>
                                </div>
                                <div id="pv-time" class="accordion-body collapse">
                                    <div class="accordion-inner">Nodes are colored based on their execution date and
                                        time.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" id="prov-ctrl-cc-workflow-acc" data-toggle="collapse"
                                       data-parent="#provvis-color-accordion" href="#pv-wf" class="provvis-panel-href">
                                        Workflows
                                    </a>
                                </div>
                                <div id="pv-wf" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <table>
                                            <tbody id="prov-ctrl-cc-workflow-content">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" id="prov-ctrl-cc-nodetype-acc" data-toggle="collapse"
                                       data-parent="#provvis-color-accordion" href="#pv-nt" class="provvis-panel-href">
                                        Node types
                                    </a>
                                </div>
                                <div id="pv-nt" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <label class="provvis-cc-label">
                                                        <input type='text' id="provvis-cc-layer"/>Layer
                                                        <em id='provvis-cc-layer-hex' class="provvis-cc-hide-hex">#1f77b4</em>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="provvis-cc-label">
                                                        <input type='text' id="provvis-cc-analysis"/>Analysis
                                                        <em id='provvis-cc-analysis-hex' class="provvis-cc-hide-hex">#2ca02c</em>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="provvis-cc-label">
                                                        <input type='text' id="provvis-cc-subanalysis"/>Subanalysis
                                                        <em id='provvis-cc-subanalysis-hex' class="provvis-cc-hide-hex">#d62728</em>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="provvis-cc-label">
                                                        <input type='text' id="provvis-cc-dt"/>Data Transformation
                                                        <em id='provvis-cc-dt-hex'
                                                            class="provvis-cc-hide-hex">#7f7f7f</em>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="provvis-cc-label">
                                                        <input type='text' id="provvis-cc-intermediate"/>Intermediate
                                                        <em id='provvis-cc-intermediate-hex'
                                                            class="provvis-cc-hide-hex">#bcbd22</em>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="provvis-cc-label">
                                                        <input type='text' id="provvis-cc-stored"/>Stored
                                                        <em id='provvis-cc-stored-hex' class="provvis-cc-hide-hex">#8c564b</em>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="provvis-cc-label">
                                                        <input type='text' id="provvis-cc-special"/>Special
                                                        <em id='provvis-cc-special-hex' class="provvis-cc-hide-hex">#17becf</em>
                                                    </label>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
