<div class="row-fluid">
    <div class="span4 well">
        <h1>{{ data_sets }}</h1>
        <h3>Data Sets</h3>
        <div id="data-set-table">
            <!-- this is a reliable metric if workflow-table and project-table do not have unique css modifiers -->
            <div id="size-test" style="display: hidden; position: absolute; height: auto; width: auto"></div>
        </div>
    </div>

    <div class="span4 well">
        <h1>{{ workflows }}</h1>
        <h3>Workflows</h3>
        <div id="workflow-table"></div>
    </div>

    <div class="span4 well">
        <h1>{{ projects }}</h1>
        <h3>Projects</h3>
        <div id="project-table"></div>
    </div>
</div>
