<div class="modal-header">
    <h3>Permission Editor</h3>
    <h4>{{ user.username }}</h4>
    <p>TestTest</p>
</div>
<div class="modal-body">
    <p>More body tests</p>
    <table class="table" id="permission-table">
        <tr>
            <th>Group</th>
            <th>None</th>
            <th>Readonly</th>
            <th>Edit</th>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button class="btn" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="save()">Save</button>
</div>
