    <div ng-controller="WorkflowListApiCtrl">
      <select ui-select2 ng-model="workflowIndex" ng-change="updateCurrentWorkflow()" style="width:25%" data-placeholder="Select a workflow">
        <option value=""></option>  <!-- required for showing placeholder text -->
        <option ng-repeat="workflow in workflowList" value="{{$index}}">{{workflow.name}}</option>
      </select>
      <div ng-cloak ng-show="currentWorkflow">
        <p><strong>Name:</strong></p>
        <p>{{currentWorkflow.name}}</p>
        <p><strong>Inputs:</strong></p>
        Sample mapping: {{currentWorkflow.input_relationships[0].category}}<br/>
        {{currentWorkflow.input_relationships[0].set1}}<br/>
        {{currentWorkflow.input_relationships[0].set2}}<br/>
        <strong>Summary:</strong><br/>
        <p>{{currentWorkflow.summary}}</p>
        <strong>Author:</strong>
        <p>{{currentWorkflow.author}}</p>
        <hr />
        <div ng-controller="NodeSetListApiCtrl" ng-show="isCurrentWorkflowSingleInput()">
          <h4>Sets</h4>
          <select ui-select2 ng-model="nodesetIndex" style="width:25%" data-placeholder="Choose input set">
            <option value=""></option>  <!-- required for showing placeholder text -->
            <option ng-repeat="nodeset in nodesetList" value="{{$index}}">{{nodeset.name}}</option>
          </select>
        </div>
      </div>
    </div>
