<div class="modal-header">
  <div class="float-right">
    <a ng-click="modal.close()">
      <i class="fa fa-times close" aria-hidden="true"></i>
    </a>
  </div>
  <h3 class="text-left">Member Editor</h3>
  <p>If you are the last manager in a group, you must delete the group in order to remove yourself or assign another manager first.</p>
</div>

<div class="modal-body">
  <h4 class="text-left">
    Member Username
  </h4>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-1 text-left">
      {{modal.member.username}}
    </div>

    <div class="col-sm-2 col-sm-offset-3">
      <button
        type="button"
        class="refinery-base btn btn-warning"
        ng-click="modal.remove()"
        ng-disabled="modal.totalMembers===1">
        Remove
      </button>
    </div>
    <div col-sm-2>
      <button
        ng-if="modal.member.is_manager"
        type="button"
        class="refinery-base btn btn-default"
        ng-click="modal.demote()"
        ng-disabled="modal.totalMembers===1">
        Demote
      </button>

      <button
        ng-if="!modal.member.is_manager"
        type="button"
        class="refinery-base btn btn-primary"
        ng-click="modal.promote()"
        ng-disabled="modal.totalMembers===1">
        Promote
      </button>
    </div>
  </div>
</div>
<div class="modal-footer">
   <div
    class='p-t-1-2'
    ng-show="modal.responseMessage">
     <div class="alert alert-{{ modal.alertType }} text-center">
       {{modal.responseMessage}}
     </div>
  </div>
</div>
