<div class="modal-header">
  <h3>Group Editor</h3>
  <p>To leave groups with only one member left, you must delete it.</p>
</div>
<div class="modal-body">
  <table class="table table-hover" id="group-table">
    <thead>
      <tr>
        <th>Group</th>
        <th></th>
        <th>{{ collaboration.myFancyCounter }}</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        {{ modal.group.name }}
      </td>
      <td>
        <button
          class="refinery-base btn btn-default"
          style="float:right"
          ng-click="modal.leaveGroup()"
          ng-class="{ disabled: modal.group.member_list.length===1 }"}>
          Leave
        </button>
      </td>
      <td>
        <button
          class="refinery-base btn btn-default"
          style="float:right"
          ng-click="modal.deleteGroup()"
          ng-disabled="!modal.group.can_edit">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
