<div class="modal-header">
  <h3>Add new groups</h3>
  <p>No two groups in Refinery may have the same name.</p>
</div>
<div class="modal-body">
  <form class="navbar-form" style="text-align:center">
    <input type="text" class="form-control" placeholder="Group name" ng-model="groupName">
      <button type="submit" class="btn btn-default" ng-click="$close()">Cancel</button>
    <button type="submit" class="btn btn-primary" ng-click="modal.createGroup
    (groupName)">Create group</button>
  </form>
</div>