<div class="modal-header">
  <div class="float-right">
    <a ng-click="modal.close()">
      <i class="fa fa-times close" aria-hidden="true"></i>
    </a>
  </div>
  <h3 class="text-left">Member Editor</h3>
  <p>If you are the last manager in a group, you must delete the group in order to remove yourself or assign another manager first.</p>
</div>
<div class="modal-body">
  <div class="p-a-1/2">
    {{modal.member.username}}

    <button type="button" class="refinery-base btn btn-default"
      ng-click="modal.remove()" style="float:right;margin-left:10px">Remove</button>
    
    <button ng-if="modal.member.is_manager" type="button"
      class="refinery-base btn btn-default" ng-click="modal.demote()" style="float:right">Demote</button>
    
    <button ng-if="!modal.member.is_manager" type="button"
      class="refinery-base btn btn-default"ng-click="modal.promote()" style="float:right">Promote</button>
    
  </div>
</div>
