{% if investigation_list %}
    <table>
    {% for investigation in investigation_list %}
    	<tr>
        	<td>
        		<a href="/isa_tab/{{ investigation.accession }}/">
        			{{ investigation.accession }}
        		</a>
        	</td>
        	<td>
        		<p>{{ investigation.title }}</p>
        	</td>
        	<td>
        		<p>{{ investigation.description }}</p>
        	</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No investigations are available.</p>
{% endif %}