<div class="modal hide"></div>
  <div ng-switch on="analysisStartFlag">
    <span ng-switch-when="NOCALL">
      <div class="modal-header">
        Enter an Analysis Name
      </div>
      <ng-form name="analysisStartForm" novalidate>
        <div class="modal-body bootboxAnalysisWidth">
          Name: <input type="text" name="startName" ng-model="dataObj.name"
          ng-minlength="3" required>
          <span ng-show="analysisStartForm.startName.$error.minlength ||
          analysisStartForm.startName.$error.required">
            Names must be 3 characters long.
          </span>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" ng-click="cancel()">Cancel Analysis</button>
          <button class="btn btn-primary"
            ng-click="ok()"
            ng-disabled="!analysisStartForm.$valid">
              Start Analysis
          </button>
        </div>
      </ng-form>
    </span>
    <span ng-switch-when="LOADING">
      <div class="modal-header">
        Analysis Start Status Loading
      </div>
      <div class="modal-body bootboxAnalysisWidth">
        <span class="refinery-spinner analyses-view"></span>
        &nbsp;<em>Retrieving analyses list.</em>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Cancel Analysis</button>
      </div>
    </span>
    <span ng-switch-default>
      <div class="modal-header">
        Analysis Start Status
      </div>
      <div ng-if="analysisStartFlag=='SUCCESS'">
        <div class="modal-body bootboxAnalysisWidth">
          Analysis Start Successful.
        </div>
        <div class="modal-footer" id="modal-start-analysis-footer">
          <button class="btn btn-warning" ng-click="close()">Close</button>
          <button class="btn btn-primary" ng-click="view()">View Analysis</button>
        </div>
      </div>
      <div ng-if="analysisStartFlag=='FAILED'">
        <div class="modal-body bootboxAnalysisWidth">
          Analysis Start Failed.
        </div>
        <div class="modal-footer" id="modal-start-analysis-footer">
          <button class="btn btn-warning" ng-click="close()">Close</button>
        </div>
      </div>
    </span>
  </div>
</div>
