<div class="row">
  <div class="col-md-8">
    <div class="refinery-panel refinery-panel-content scrollable jquery-full-height">
				Data sets
    </div>
  </div>
   <div class="col-md-4">
    <div class="refinery-panel refinery-panel-content scrollable jquery-full-height">
				Stats
    </div>
  </div>
</div>
<div class="row p-t-1">
  <div class="col-md-8">
    <div class="refinery-panel refinery-panel-content scrollable jquery-full-height">
				events
    </div>
  </div>
   <div class="col-md-4">
    <div class="refinery-panel refinery-panel-content scrollable jquery-full-height">
				groups
    </div>
  </div>
</div>
