<div class="row">
  <div class="refinery-dashboard">
    <div class="col-md-8">
      <rp-data-sets-card></rp-data-sets-card>
    </div>
    <div class="col-md-4">
      <div class="refinery-panel">
        <div class="refinery-header">
          <div>
            <h3>
              <i class="m-r-1-4 fa fa-bar-chart">Statistics</i>
            </h3>
          </div>
        </div>
        <div id="statistics-panel" class="refinery-sub-panel">
          1000 data sets
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row p-t-1">
  <div class="refinery-dashboard">
    <div class="col-md-8">
      <div class="refinery-panel">
        <div class="refinery-header">
          <div>
            <h3>
              <i class="m-r-1-4 fa fa-list"></i> Events
            </h3>
          </div>
        </div>
        <div
          id="events-panel"
          class="refinery-sub-panel">
           - Move events -Another Event
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="refinery-panel">
        <div class="refinery-header">
          <div>
            <h3>
              <i class="m-r-1-4 fa fa-users"></i> Groups
            </h3>
          </div>
        </div>
        <div
          id="events-panel"
          class="refinery-sub-panel">
           Groups
        </div>
      </div>
    </div>
  </div>
</div>

