<div
  class="span4"
  refinery-expandable-panel>
  <div class="refinery-panel">
    <div class="refinery-header">
      <span class="refinery-header-left">
        <h3>
          <i class="m-r-1-4 icon-file"></i>Data Sets
        </h3>
      </span>
      <span class="refinery-header-right">
        <button
          class="no-underline btn"
          ng-click="dashboard.toggleDataSetsExploration()">
          <i class="icon-compass" title="Explore data sets"></i>
        </button>
      </span>
    </div>

    <div
      class="refinery-sub-panel"
      ng-class="{'border': dashboard.dataSetPreviewBorder}"
      refinery-width-fixer>
      <form class="navbar-search">
        <i class="icon-search"></i>
        <i class="icon-remove-sign"
          ng-if="dashboard.searchQueryDataSets"
          ng-click="dashboard.resetDataSetSearch()"></i>
        <input
          type="text"
          class="search-query"
          placeholder="Search"
          ng-model="dashboard.searchQueryDataSets"
          ng-change="dashboard.searchDataSets(dashboard.searchQueryDataSets)">
      </form>

      <div class="refinery-panel-header">
        <div
          class="refinery-notification"
          ng-class="{'active': dashboard.searchQueryDataSets.length > 0 || dashboard.dataSets.total === 0}">
          <div
            class="refinery-notification-info"
            ng-show="dashboard.searchQueryDataSets.length === 1">
            <strong>Too short!</strong>
            Enter at least 2 characters to search.
          </div>
          <div
            class="refinery-notification-alert"
            ng-show="dashboard.dataSets.total === 0 && dashboard.searchQueryDataSets.length > 1 && !dashboard.dataSets.error">
            <strong>No luck!</strong>
            No data sets found.
          </div>
          <div
            class="refinery-notification-info"
            ng-show="dashboard.dataSets.total === 0 && dashboard.searchQueryDataSets.length === 0 && !dashboard.dataSets.error">
            <strong>Info</strong>
            No data sets available.
          </div>
          <div
            class="refinery-notification-error"
            ng-show="dashboard.searchQueryDataSets.length > 1 && dashboard.dataSets.error">
            <strong>Error</strong>
            Something went wrong! Please contact the <a ng-href="mailto:{{ dashboard.adminMail }}">admin</a>.
          </div>
        </div>
        <div class="floatbox">
          <div class="floatbox-min-right">
            <button
              class="icon-only icon-filter"
              title="Filter &amp; Sort"
              ng-class="{'showing': dashboard.showDataSetsFilterSort, 'active': dashboard.dataSetsFilterSort}"
              ng-click="dashboard.showDataSetsFilterSort = !!!dashboard.showDataSetsFilterSort"
              ng-if="!dashboard.searchQueryDataSets.length"
              close-on-outer-click-external-trigger="dashboard.dataSetsfilterSort"
              tool-tip
              tool-tip-container="body"
              tool-tip-placement="right">
            </button>
          </div>
          <div class="floatbox-max-left">
            <h4>
              {{ dashboard.dataSets.totalReadable }}
              {{ dashboard.searchQueryDataSets.length > 1 ? 'results' : 'data sets' }}
            </h4>
          </div>
        </div>
      </div>
      <div
        class="refinery-filter-sort"
        ng-show="dashboard.showDataSetsFilterSort"
        close-on-outer-click="dashboard.showDataSetsFilterSort"
        close-on-outer-click-id="dashboard.dataSetsfilterSort">
        <h5 ng-if="dashboard.userIsAuthenticated">Filter by</h5>
        <div class="entry" ng-if="dashboard.userIsAuthenticated">
          <label class="checkbox">
            <input
              type="checkbox"
              ng-model="dashboard.dataSetsFilterOwner"> Own
          </label>
        </div>
        <div class="entry" ng-if="dashboard.userIsAuthenticated">
          <label class="checkbox">
            <input
              type="checkbox"
              ng-model="dashboard.dataSetsFilterPublic"> Public
          </label>
        </div>
        <h5>Sort by</h5>
        <div
          class="entry"
          ng-repeat="sorting in dashboard.dataSetsSorting track by $index">
          <label class="radio radio-button-hide">
            <input
              type="radio"
              value="{{ sorting.djangoAttribute }}"
              ng-click="dashboard.toggleSortOrder('dataSets')"
              ng-model="dashboard.dataSetsSortBy">
              <i
                class="sort-icon sort-active"
                ng-if="sorting.djangoAttribute === dashboard.dataSetsSortBy"
                ng-class="{'icon-sort-up': !dashboard.dataSetsSortDesc, 'icon-sort-down': dashboard.dataSetsSortDesc}"></i>
              <i
                class="sort-icon icon-sort"
                ng-if="sorting.djangoAttribute !== dashboard.dataSetsSortBy"></i>
              {{ sorting.label }}
          </label>
        </div>
      </div>
      <div
        class="refinery-panel-content scrollable jquery-full-height"
        ui-scroll-viewport
        refinery-dashboard-panel>
        <ul
          class="results no-list-style"
          ng-class="{'search': dashboard.searchDataSet}">
          <li
            ui-scroll="dataSet in dashboard.dataSets"
            adapter="dashboard.dataSetsAdapter"
            ng-class="{'previewing': dataSet.preview}">
            <button
              class="preview"
              ng-click="dashboard.showDataSetPreview(dataSet, $index)">
              <i
                class="icon-double-angle-right is-mirrorable"
                ng-class="{'is-mirrored': dataSet.preview}"></i>
            </button>
            <i
              class="icon-user"
              title="You own this data set"
              ng-if="dataSet.is_owner"
              tool-tip
              tool-tip-container="body"
              tool-tip-placement="top"></i>
            <i
              class="icon-group"
              title="This data set is shared with you"
              ng-if="!dataSet.is_owner"
              tool-tip
              tool-tip-container="body"
              tool-tip-placement="top"></i>
            <i
              class="icon-globe"
              title="This file is publicly available"
              ng-if="dataSet.public"
              tool-tip
              tool-tip-container="body"
              tool-tip-placement="top"></i>
            <a
              class="title"
              ng-href="data_sets/{{ dataSet.uuid }}"
              ng-bind-html="dataSet.title"></a>
            <p
              class="snippet"
              ng-if="dataSet.description && dashboard.searchDataSet"
              ng-bind-html="dataSet.description"></p>
          </li>
          <li ng-if="dashboard.dataSetsAdapter.isLoading">
            <div class="refinery-request-loading">
              <span class="refinery-spinner"></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <treemap
      class="preview-container"
      close="dashboard.hideDataSetPreview()">
    </treemap>
  </div>
</div>
