<div id="launch-pad"
  class="col-md-4"
  refinery-expandable-panel>
  <div class="refinery-panel">
    <div class="refinery-header flex-c flex-ac flex-sb">
      <div>
        <h3>
          <i class="m-r-1-4 fa fa-file"></i>Data Sets
        </h3>
      </div>
      <div
        class="flex-g-1 flex-c flex-jc"
        ng-if="dashboard.dataSetExploration">
        <span
          id="intro-js-satori-overview-start"
          class="btn"
          ng-click="dashboard.introsSatoriOverview.start()">
          <span class="fa fa-info-circle"></span>
          Intro Tour
        </span>
        <span class="separator">&middot;</span>
        <span class="help-item">
          <span class="f-box">Highlight:</span>
          <span
            class="f-box"
            title="Hover with mouse"
            refinery-tooltip
            refinery-tooltip-container="body"
            refinery-tooltip-placement="{{ dashboard.settings.djangoApp.satoriDemo ? 'bottom' : 'top' }}">
            <svg class="svg-icon icon-cursor-default">
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href=""
                ng-attr-xlink:href="{{ dashboard.icons + '#cursor-default' }}"></use>
            </svg>
          </span>
        </span>
        <span class="help-item">
          <span class="f-box">Lock:</span>
          <span
            class="f-box"
            title="Click with mouse"
            refinery-tooltip
            refinery-tooltip-container="body"
            refinery-tooltip-placement="{{ dashboard.settings.djangoApp.satoriDemo ? 'bottom' : 'top' }}">
            <svg class="svg-icon icon-cursor-click">
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href=""
                ng-attr-xlink:href="{{ dashboard.icons + '#cursor-click' }}"></use>
            </svg>
          </span>
        </span>
        <span class="help-item">
          <span class="f-box">Query:</span>
          <span
            class="f-box"
            title="Hold Command Key and click with mouse"
            refinery-tooltip
            refinery-tooltip-container="body"
            refinery-tooltip-placement="{{ dashboard.settings.djangoApp.satoriDemo ? 'bottom' : 'top' }}">
            <span class="f-box m-l-1-4">&#8984; + </span>
            <svg class="svg-icon icon-cursor-click">
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href=""
                ng-attr-xlink:href="{{ dashboard.icons + '#cursor-click' }}"></use>
            </svg>
          </span>
          <span class="f-box">or</span>
          <span
            class="f-box"
            title="Double click with mouse"
            refinery-tooltip
            refinery-tooltip-container="body"
            refinery-tooltip-placement="{{ dashboard.settings.djangoApp.satoriDemo ? 'bottom' : 'top' }}">
            <svg class="svg-icon icon-cursor-dblclick">
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href=""
                ng-attr-xlink:href="{{ dashboard.icons + '#cursor-dblclick' }}"></use>
            </svg>
          </span>
        </span>
      </div>
      <div>
        <div ng-controller="dataUploadTutorialCtrl">
          <div ng-intro-options="dataUploadIntroOptions"
               ng-intro-method="dataUploadStart"
               ng-intro-oncomplete="dataUploadCompletedEvent" ng-intro-onexit="dataUploadExitEvent"
               ng-intro-onchange="dataUploadChangeEvent" ng-intro-onbeforechange="dataUploadBeforeChangeEvent"
               ng-intro-onafterchange="dataUploadAfterChangeEvent">
            <div>
              <span>
                <a
                  href="/files/"
                  class="no-underline btn">
                  <i class="fa fa-list"></i> List
                </a>
              </span>
              <button
                class="no-underline btn"
                ng-class="{'active': dashboard.dataSetExploration}"
                ng-click="dashboard.toggleDataSetsExploration()"
                ng-if="dashboard.explorationEnabled && !dashboard.settings.djangoApp.satoriDemo">
                <i class="fa fa-compass" title="Explore data sets"></i>
                Explor{{ dashboard.dataSetExploration ? 'ing' : 'e' }}
              </button>
              <button
                class="no-underline btn"
                ng-click="dashboard.toggleDataSetsExploration()"
                ng-if="dashboard.explorationEnabled && dashboard.settings.djangoApp.satoriDemo">
                <i class="fa fa-{{ dashboard.dataSetExploration ? 'arrow-circle-left' : 'compass' }}" title="Explore data sets"></i>
                {{ dashboard.dataSetExploration ? 'Back Home' : 'Start Exploring' }}
              </button>
              <span id="dataUploadTutorialStep0">
               <a
                href="./data_set_manager/import/"
                class="no-underline btn"
                id="import-button"
                ng-if="dashboard.showUploadButton()">
                <i class="fa fa-plus-circle"></i> Upload
              </a>
             </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      id="data-set-panel"
      class="refinery-sub-panel"
      ng-class="{'border': dashboard.expandedDataSetPanelBorder}"
      refinery-width-fixer>
      <form
        id="search-interface"
        class="navbar-search form-group">
        <i class="fa fa-search"></i>
        <i class="fa fa-times-circle"
          ng-if="dashboard.searchQueryDataSets"
          ng-click="dashboard.resetDataSetSearch()"></i>
        <!--The 'metadata-search' id below is used to define custom
          styling to address a padding issue observed in Firefox-->
        <input
          id="metadata-search"
          type="text"
          class="search-query form-control"
          placeholder="Search"
          ng-model="dashboard.searchQueryDataSets"
          ng-change="dashboard.searchDataSets(dashboard.searchQueryDataSets)">
      </form>

      <div
        id="data-set-panel-header"
        class="refinery-panel-header">
        <div
          class="refinery-notification"
          ng-class="{'active': dashboard.showNotification() }">
          <div
            class="refinery-notification-info"
            ng-show="dashboard.searchQueryDataSets.length === 1">
            <strong>Too short!</strong>
            Enter at least 2 characters to search.
          </div>
          <div
            class="refinery-notification-alert"
            ng-show="dashboard.dataSets.total === 0 && dashboard.searchQueryDataSets.length > 1 && !dashboard.dataSets.error">
            <strong>No luck!</strong>
            No data sets found.
          </div>
          <div
            class="refinery-notification-info"
            ng-show="dashboard.dataSets.total === 0 && dashboard.searchQueryDataSets.length === 0 && !dashboard.dataSets.error">
            <strong>Info</strong>
            No data sets available.
          </div>
          <div
            id="launchpad_warning" class="refinery-notification-error"
            ng-show="dashboard.searchQueryDataSets.length > 1 && dashboard.dataSets.error">
            <strong>Error: </strong>
            Please contact your <a ng-href="mailto:{{ app.settings.djangoApp.admins }}?Subject=Refinery%20Error">System Administrator</a>.
          </div>
        </div>
        <div class="floatbox">
          <div
            id="data-cart-filter-sort"
            class="floatbox-min-right">
            <button
              class="fa fa-info-circle icon-only"
              title="Introduction to the Data Set View"
              ng-click="dashboard.introsSatoriDataSetView.start()"
              ng-if="dashboard.dataSetExploration"
              refinery-tooltip
              refinery-tooltip-container="body"
              refinery-tooltip-placement="left"
              refinery-tooltip-delay-show="750"
              refinery-tooltip-delay-hide="150"
              refinery-tooltip-hide-on-click="true">
            </button>
            <button
              class="fa fa-shopping-cart is-mirrored icon-only disabled-default"
              title="Data Cart"
              ng-class="{ 'enabled': dashboard.dataCart.length, 'showing': dashboard.showDataCart }"
              ng-click="dashboard.toggleDataCart()"
              refinery-tooltip
              refinery-tooltip-container="body"
              refinery-tooltip-placement="top"
              refinery-tooltip-delay-show="750"
              refinery-tooltip-delay-hide="150"
              refinery-tooltip-hide-on-click="true">
              <span ng-if="dashboard.dataCart.length" class="is-mirrored is-mirrored-text is-icon-text">
                {{ dashboard.dataCart.length }}
              </span>
            </button>
             <span ng-if="dashboard.userIsAuthenticated">
              <button
                class="fa fa-filter icon-only"
                title="Filter data sets"
                ng-class="{'showing': dashboard.showDataSetsFilter, 'is-glowing-yellow-text': dashboard.dataSetsFilter}"
                ng-click="dashboard.toggleDataSetsFilter()"
                ng-if="!dashboard.searchQueryDataSets.length"
                close-on-outer-click-external-trigger="dashboard.dataSetsFilter"
                refinery-tooltip
                refinery-tooltip-container="body"
                refinery-tooltip-placement="top"
                refinery-tooltip-delay-show="750"
                refinery-tooltip-delay-hide="150"
                refinery-tooltip-hide-on-click="true">
              </button>
             </span>
            <button
              class="fa fa-sort icon-only"
              title="Sort data sets"
              ng-class="{'showing': dashboard.showDataSetsSort, 'is-glowing-yellow-text': dashboard.dataSetsSort}"
              ng-click="dashboard.showDataSetsSort = !!!dashboard.showDataSetsSort"
              ng-if="!dashboard.searchQueryDataSets.length"
              close-on-outer-click-external-trigger="dashboard.dataSetsSort"
              refinery-tooltip
              refinery-tooltip-container="body"
              refinery-tooltip-placement="right"
              refinery-tooltip-delay-show="750"
              refinery-tooltip-delay-hide="150"
              refinery-tooltip-hide-on-click="true">
            </button>
          </div>
          <div class="floatbox-max-left">
            <h4 id="total-datasets">
              <span ng-if="dashboard.searchQueryDataSets.length">
                Found
              </span>
              <span
                id="total-datasets"
                ng-if="dashboard.dataSets.totalUpperBound">
                {{ dashboard.dataSets.totalReadable }} of
                <abbr title="approximately">~</abbr>
                {{ dashboard.dataSets.totalUpperBound }}
              </span>
              <span ng-if="!dashboard.dataSets.totalUpperBound">
                <strong>{{ dashboard.dataSets.totalReadable }}</strong>
              </span>
              <span ng-if="dashboard.oldTotalDs">
                out of <strong>{{ dashboard.oldTotalDs }}</strong>
              </span>
              data sets
            </h4>
            <span class="separator">&middot;</span>
            <div class="data-cart-indicator">
              <i class="fa fa-star is-glowing-yellow-text pointer"
                title="All added to data cart. Click to remove."
                ng-if="dashboard.allCurrentDataSetsInDataCart === 2"
                ng-click="dashboard.removeAllCurrentToDataCart()"
                refinery-tooltip
                refinery-tooltip-container="body"
                refinery-tooltip-placement="top"
                refinery-tooltip-hide-on-click="true"></i>
              <i class="fa fa-star-half-o is-glowing-yellow-text pointer"
                title="Add remaining to data cart"
                ng-if="dashboard.allCurrentDataSetsInDataCart === 1"
                ng-click="dashboard.addAllCurrentToDataCart()"
                refinery-tooltip
                refinery-tooltip-container="body"
                refinery-tooltip-placement="top"
                refinery-tooltip-hide-on-click="true"></i>
              <i class="fa fa-star-o pointer"
                title="Add all to data cart"
                ng-if="!dashboard.allCurrentDataSetsInDataCart"
                ng-click="dashboard.addAllCurrentToDataCart()"
                refinery-tooltip
                refinery-tooltip-container="body"
                refinery-tooltip-placement="top"
                refinery-tooltip-hide-on-click="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div
        class="refinery-filter-sort"
        ng-show="dashboard.showDataSetsFilter"
        close-on-outer-click="dashboard.showDataSetsFilter"
        close-on-outer-click-id="dashboard.dataSetsFilter">
        <h5 ng-if="dashboard.userIsAuthenticated">Filter by</h5>
        <div class="entry" ng-if="dashboard.userIsAuthenticated">
          <label class="checkbox">
            <input
              type="checkbox"
              ng-model="dashboard.dataSetsFilterOwner"> Own
          </label>
        </div>
        <div class="entry" ng-if="dashboard.userIsAuthenticated">
          <label class="checkbox">
            <input
              type="checkbox"
              ng-model="dashboard.dataSetsFilterPublic"> Public
          </label>
        </div>
        <div class="separator"></div>
        <div class="entry" ng-if="dashboard.userIsAuthenticated">
          <label class="select">
            <select
              name="filterDataSetByGroup"
              ng-model="dashboard.dataSetsFilterGroup"
              ng-options="group as group.group_name for group in dashboard.membership track by group.group_id">
              <option value="">---</option>
            </select>
            <span class="label-text">Group</span>
          </label>
        </div>
      </div>
      <div
        class="refinery-filter-sort"
        ng-show="dashboard.showDataSetsSort"
        close-on-outer-click="dashboard.showDataSetsSort"
        close-on-outer-click-id="dashboard.dataSetsSort">
        <div
          class="entry"
          ng-repeat="sorting in dashboard.dataSetsSorting track by $index">
          <label class="radio radio-button-hide">
            <input
              type="radio"
              value="{{ sorting.djangoAttribute }}"
              ng-click="dashboard.toggleSortOrder('dataSets')"
              ng-model="dashboard.dataSetsSortBy">
              <i
                class="sort-icon sort-active"
                ng-if="sorting.djangoAttribute === dashboard.dataSetsSortBy"
                ng-class="{'fa fa-sort-asc': !dashboard.dataSetsSortDesc,
                'fa fa-sort-desc': dashboard.dataSetsSortDesc}"></i>
              <i
                class="sort-icon fa fa-sort"
                ng-if="sorting.djangoAttribute !== dashboard.dataSetsSortBy"></i>
              {{ sorting.label }}
          </label>
        </div>
      </div>
      <div
        id="data-set-list"
        refinery-panel-ref-offset>
        <div
          class="data-cart"
          ng-class="{ 'active': dashboard.showDataCart }"
          refinery-panel
          refinery-panel-id="dataCart"
          refinery-panel-get-rel-height="dashboard.getDataCartPanelHeight()">
          <div class="bg"></div>
          <div class="refinery-panel-header">
            <div class="floatbox">
              <div class="floatbox-min-right">
                <button
                  class="fa fa-trash-o btn"
                  title="Clear data cart"
                  ng-click="dashboard.clearDataCart()"
                  refinery-tooltip
                  refinery-tooltip-container="body"
                  refinery-tooltip-placement="top"
                  refinery-tooltip-delay-show="750"
                  refinery-tooltip-delay-hide="150"
                  refinery-tooltip-hide-on-click="true">
                  <span class="is-icon-text">
                    Clear
                  </span>
                </button>
              </div>
              <div class="floatbox-max-left">
                <h4>Data Cart:</h4>
                <span class="num-data-sets">
                  {{ dashboard.dataCart.length }} data sets
                </span>
              </div>
            </div>
          </div>
          <div
            class="refinery-panel-content scrollable adjustable-height">

            <ul
              class="results no-list-style">
              <li
                ng-repeat="dataSet in dashboard.dataCart.dataSets | orderBy : $index : true"
                adapter="dashboard.dataCartAdapter"
                ng-class="{'hovered': dataSet.hovered, 'locked': dataSet.locked, 'previewing': dashboard.dataSetIsPreviewed(dataSet.uuid)}"
                ng-mouseenter="dashboard.dataSetMouseEnter(dataSet)"
                ng-mouseleave="dashboard.dataSetMouseLeave(dataSet)">

                <a
                  class="preview is-not-allowed"
                  title="View content in File Browser"
                  ng-if="dashboard.settings.djangoApp.satoriDemo"
                  ng-click="dashboard.openFileBrowserDisabled()"
                  refinery-tooltip
                  refinery-tooltip-container="body"
                  refinery-tooltip-placement="right"
                  refinery-tooltip-hide-on-click="true">
                  <i class="primary-text-color fa fa-folder-open-o"></i>
                </a>
                <a
                  class="preview"
                  title="View content in File Browser"
                  ng-href="data_sets/{{ dataSet.uuid }}"
                  ng-if="!dashboard.settings.djangoApp.satoriDemo"
                  refinery-tooltip
                  refinery-tooltip-container="body"
                  refinery-tooltip-placement="right"
                  refinery-tooltip-hide-on-click="true">
                  <i class="primary-text-color fa fa-folder-open-o"></i>
                </a>
                <button
                  class="zoom-out"
                  title="Zoom out to show all annotations in the list graph to the right"
                  ng-class="{'activated': dashboard.dataSetExploration && !dashboard.dataSetExplorationTempHidden, 'active': dashboard.listGraphZoomedOut}"
                  ng-click="dashboard.toggleListGraphZoom(dataSet)"
                  refinery-tooltip
                  refinery-tooltip-container="body"
                  refinery-tooltip-placement="top"
                  refinery-tooltip-delay-show="750"
                  refinery-tooltip-delay-hide="150"
                  refinery-tooltip-hide-on-click="true">
                  <i class="fa fa-search-minus"></i>
                </button>
                <button
                  class="annotations-only"
                  title="Hide all unrelated nodes in the list graph to the right"
                  ng-class="{'activated': dashboard.dataSetExploration && !dashboard.dataSetExplorationTempHidden, 'active': dashboard.listGraphHideUnrelatedNodes}"
                  ng-click="dashboard.toggleListUnrelatedNodes(dataSet)"
                  refinery-tooltip
                  refinery-tooltip-container="body"
                  refinery-tooltip-placement="bottom"
                  refinery-tooltip-delay-show="750"
                  refinery-tooltip-delay-hide="150"
                  refinery-tooltip-hide-on-click="true">
                  <i class="fa fa-compress"></i>
                </button>
                <a
                  class="title one-line"
                  title="Expand data set preview"
                  ng-click="dashboard.expandDataSetPreview(dataSet.uuid)"
                  ng-bind-html="dataSet.titleHtml"></a>
                <div class="flex-box indicators">
                  <ul class="flex-item-two flex-left no-list-style">
                    <li class="indicator"
                      ng-if="dataSet.is_owner"
                      title="You own this data set"
                      refinery-tooltip
                      refinery-tooltip-container="body"
                      refinery-tooltip-placement="top">
                      <i class="fa fa-user"></i>
                    </li>
                    <li class="indicator"
                      ng-if="dataSet.is_shared && dataSet.is_owner"
                      title="You privately share this data set"
                      refinery-tooltip
                      refinery-tooltip-container="body"
                      refinery-tooltip-placement="top">
                      <i class="fa fa-users icon-shared-out"></i>
                    </li>
                    <li class="indicator"
                      ng-if="dataSet.is_shared && !dataSet.is_owner && dashboard.userIsAuthenticated"
                      title="This data set is shared with you"
                      refinery-tooltip
                      refinery-tooltip-container="body"
                      refinery-tooltip-placement="top">
                      <i class="fa fa-users icon-shared-in"></i>
                    </li>
                    <li class="indicator"
                      ng-if="dataSet.public && dashboard.userIsAuthenticated"
                      title="This file is publicly available"
                      refinery-tooltip
                      refinery-tooltip-container="body"
                      refinery-tooltip-placement="top">
                      <i class="fa fa-globe"></i>
                    </li>
                    <li class="indicator"
                      ng-if="dashboard.readableDate(dataSet, 'modificationDate')"
                      title="Modification Date"
                      refinery-tooltip
                      refinery-tooltip-container="body"
                      refinery-tooltip-placement="top">
                      <i class="fa fa-calendar-o"></i>
                      {{ dashboard.readableDate(dataSet, 'modificationDate') }}
                    </li>
                    <li class="separator">&middot;</li>
                    <li class="indicator" ng-if="dataSet.analyses.length > 0">
                      <a id="analyses-indicator" class="pointer"
                      ng-href="/data_sets/{{ dataSet.uuid }}/#/analyses/"
                      title="{{ dataSet.analyses.length }} {{ dataSet.analyses.length > 1 ? 'Analyses
                       have' : 'Analysis has' }} been run
                       on this Dataset"
                      refinery-tooltip
                      refinery-tooltip-container="body"
                      refinery-tooltip-placement="right">
                        <i class="fa fa-bar-chart-o"></i> {{ dataSet.analyses.length }}
                      </a>
                    </li>
                    <li class="indicator">
                      <i class="fa fa-star is-glowing-yellow-text pointer"
                        title="Added to data cart. Click to remove."
                        ng-if="dashboard.dataCart.added(dataSet)"
                        ng-click="dashboard.removeFromDataCart(dataSet)"
                        refinery-tooltip
                        refinery-tooltip-container="body"
                        refinery-tooltip-placement="top"
                        refinery-tooltip-hide-on-click="true"></i>
                      <i class="fa fa-star-o pointer"
                        title="Add to data cart"
                        ng-if="!dashboard.dataCart.added(dataSet)"
                        ng-click="dashboard.addToDataCart(dataSet)"
                        refinery-tooltip
                        refinery-tooltip-container="body"
                        refinery-tooltip-placement="top"
                        refinery-tooltip-hide-on-click="true"></i>
                    </li>
                    <li>
                      <i
                        class="fa fa-trash-o indicator dataset-delete pointer"
                        title="Delete Dataset"
                        ng-if="dataSet.is_owner"
                        ng-click="dashboard.openDataSetDeleteModal(dataSet)"
                        refinery-tooltip
                        refinery-tooltip-container="body"
                        refinery-tooltip-placement="right"
                        refinery-tooltip-hide-on-click="true">
                      </i>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div
          class="refinery-panel-content scrollable"
          ui-scroll-viewport
          refinery-panel
          refinery-panel-id="dataSets"
          refinery-panel-get-rel-height="dashboard.getDataSetsPanelHeight()">
          <ul
            class="results no-list-style infinite-scrolling"
            ng-class="{'search': dashboard.searchDataSet}">
            <li
              class="data-set-surrogate"
              ui-scroll="dataSet in dashboard.dataSets"
              buffer-size="50"
              adapter="dashboard.dataSetsAdapter"
              ng-class="{'hovered': dataSet.hovered, 'locked': dataSet.locked, 'previewing': dashboard.dataSetIsPreviewed(dataSet.uuid)}"
              ng-mouseenter="dashboard.dataSetMouseEnter(dataSet)"
              ng-mouseleave="dashboard.dataSetMouseLeave(dataSet)">
              <a
                class="preview is-not-allowed"
                title="View content in File Browser"
                ng-if="dashboard.settings.djangoApp.satoriDemo"
                ng-click="dashboard.openFileBrowserDisabled()"
                refinery-tooltip
                refinery-tooltip-container="body"
                refinery-tooltip-placement="right"
                refinery-tooltip-delay-show="750"
                refinery-tooltip-delay-hide="150"
                refinery-tooltip-hide-on-click="true">
                <i class="primary-text-color fa fa-folder-open-o"></i>
              </a>
              <a
                class="preview"
                title="View content in File Browser"
                ng-href="data_sets/{{ dataSet.uuid }}"
                ng-if="!dashboard.settings.djangoApp.satoriDemo"
                refinery-tooltip
                refinery-tooltip-container="body"
                refinery-tooltip-placement="right"
                refinery-tooltip-delay-show="750"
                refinery-tooltip-delay-hide="150"
                refinery-tooltip-hide-on-click="true">
                <i class="primary-text-color fa fa-folder-open-o"></i>
              </a>
              <button
                class="zoom-out"
                title="Zoom out to show all annotations in the list graph to the right"
                ng-class="{'activated': dashboard.dataSetExploration && !dashboard.dataSetExplorationTempHidden, 'active': dashboard.listGraphZoomedOut}"
                ng-click="dashboard.toggleListGraphZoom(dataSet)"
                refinery-tooltip
                refinery-tooltip-container="body"
                refinery-tooltip-placement="top"
                refinery-tooltip-delay-show="750"
                refinery-tooltip-delay-hide="150"
                refinery-tooltip-hide-on-click="true">
                <i class="fa fa-search-minus"></i>
              </button>
              <button
                class="annotations-only"
                title="Hide all unrelated nodes in the list graph to the right"
                ng-class="{'activated': dashboard.dataSetExploration && !dashboard.dataSetExplorationTempHidden, 'active': dashboard.listGraphHideUnrelatedNodes}"
                ng-click="dashboard.toggleListUnrelatedNodes(dataSet)"
                refinery-tooltip
                refinery-tooltip-container="body"
                refinery-tooltip-placement="bottom"
                refinery-tooltip-delay-show="750"
                refinery-tooltip-delay-hide="150"
                refinery-tooltip-hide-on-click="true">
                <i class="fa fa-compress"></i>
              </button>
              <a
                class="title"
                title="Expand data set preview"
                ng-click="dashboard.expandDataSetPreview(dataSet.uuid)"
                ng-bind-html="dataSet.titleHtml"></a>
              <div class="flex-box indicators">
                <ul class="flex-item-two flex-left no-list-style">
                  <li class="indicator"
                    ng-if="dataSet.is_owner"
                    title="You own this data set"
                    refinery-tooltip
                    refinery-tooltip-container="body"
                    refinery-tooltip-placement="top">
                    <i class="fa fa-user"></i>
                  </li>
                  <li class="indicator"
                    ng-if="dataSet.is_shared && dataSet.is_owner"
                    title="You privately share this data set"
                    refinery-tooltip
                    refinery-tooltip-container="body"
                    refinery-tooltip-placement="top">
                    <i class="fa fa-users icon-shared-out"></i>
                  </li>
                  <li class="indicator"
                    ng-if="dataSet.is_shared && !dataSet.is_owner && dashboard.userIsAuthenticated"
                    title="This data set is shared with you"
                    refinery-tooltip
                    refinery-tooltip-container="body"
                    refinery-tooltip-placement="top">
                    <i class="fa fa-users icon-shared-in"></i>
                  </li>
                  <li class="indicator"
                    ng-if="dataSet.public && dashboard.userIsAuthenticated"
                    title="This file is publicly available"
                    refinery-tooltip
                    refinery-tooltip-container="body"
                    refinery-tooltip-placement="top">
                    <i class="fa fa-globe"></i>
                  </li>
                  <li class="indicator"
                    ng-if="dashboard.readableDate(dataSet, 'modificationDate')"
                    title="Modification Date"
                    refinery-tooltip
                    refinery-tooltip-container="body"
                    refinery-tooltip-placement="top">
                    <i class="fa fa-calendar-o"></i>
                    {{ dashboard.readableDate(dataSet, 'modificationDate') }}
                  </li>
                  <li class="separator">&middot;</li>
                  <li class="indicator" ng-if="dataSet.analyses.length > 0">
                      <a id="analyses-indicator" class="pointer"
                      ng-href="/data_sets/{{ dataSet.uuid }}/#/analyses/"
                      title="{{ dataSet.analyses.length }} {{
                      dataSet.analyses.length > 1 ? 'Analyses
                       have' : 'Analysis has' }} been run
                       on this Dataset"
                      refinery-tooltip
                      refinery-tooltip-container="body"
                      refinery-tooltip-placement="right">
                        <i class="fa fa-bar-chart-o"></i> {{ dataSet
                        .analyses.length }}
                      </a>
                  </li>
                  <li class="indicator">
                    <i class="fa fa-star is-glowing-yellow-text pointer"
                      title="Added to data cart. Click to remove."
                      ng-if="dashboard.dataCart.added(dataSet)"
                      ng-click="dashboard.removeFromDataCart(dataSet)"
                      refinery-tooltip
                      refinery-tooltip-container="body"
                      refinery-tooltip-placement="top"
                      refinery-tooltip-hide-on-click="true"></i>
                    <i class="fa fa-star-o pointer"
                      title="Add to data cart"
                      ng-if="!dashboard.dataCart.added(dataSet)"
                      ng-click="dashboard.addToDataCart(dataSet)"
                      refinery-tooltip
                      refinery-tooltip-container="body"
                      refinery-tooltip-placement="top"
                      refinery-tooltip-hide-on-click="true"></i>
                  </li>
                  <li>
                    <i
                      class="fa fa-trash-o indicator dataset-delete pointer"
                      title="Delete Dataset"
                      ng-if="dataSet.is_owner"
                      ng-click="dashboard.openDataSetDeleteModal(dataSet)"
                      refinery-tooltip
                      refinery-tooltip-container="body"
                      refinery-tooltip-placement="right"
                      refinery-tooltip-hide-on-click="true">
                    </i>
                  </li>
                </ul>
              </div>
              <p
                class="snippet"
                ng-if="dataSet.descriptionHtml && dashboard.searchDataSet"
                ng-bind-html="dataSet.descriptionHtml"></p>
            </li>
            <li ng-if="dashboard.dataSetsAdapter.isLoading">
              <div class="refinery-request-loading">
                <span class="refinery-spinner"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <refinery-expansion-panel>
      <refinery-data-set-preview
        active="dashboard.dataSetPreview"
        close="dashboard.collapseDataSetPreview()"
        exploration="dashboard.dataSetExploration">
      </refinery-data-set-preview>
      <refinery-dashboard-vis-wrapper
        active="dashboard.dataSetExploration"
        ng-if="dashboard.explorationEnabled">
      </refinery-dashboard-vis-wrapper>
      <div
        ng-class="{ 'hidden': dashboard.dataSetExploration || dashboard.dataSetPreview }"
        ng-if="dashboard.repoMode">
        <div class="content-container">
          <div class="refinery-panel-topbar"></div>
          <div class="full-without-topbar" ng-class="{ 'custom-repo-mode-html': dashboard.customRepoModeHtml }">
            <div class="refinery-global-notifier" ng-if="!dashboard.customRepoModeHtml">
              <div class="refinery-repo-mode">
                <svg class="icon-refinery">
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    ng-attr-xlink:href="{{ dashboard.icons + '#refinery' }}"></use>
                </svg><br/>
                Repository Mode
              </div>
            </div>
            <div
              id="custom-repo-mode-html"
              ng-if="dashboard.customRepoModeHtml"
              ng-bind-html="dashboard.customRepoModeHtml">
            </div>
          </div>
        </div>
      </div>
    </refinery-expansion-panel>
  </div>
</div>

<div
  class="col-md-4 shadowPanel"
  ng-if="dashboard.expandedDataSetPanelBorder">
</div>

<div id="analyses-panel"
  class="col-md-4 pushable"
  ng-class="{'pushed': dashboard.expandDataSetPanel}"
  ng-if="!dashboard.repoMode">
  <div class="refinery-panel">
    <div class="refinery-header">
      <span class="refinery-header-left">
        <h3>
          <span>
            <i class="m-r-1-4 fa fa-bar-chart-o"></i>Analyses
          </span>
        </h3>
      </span>
      <span class="refinery-header-right">
<!--         <a
          href="./projects/new/"
          class="no-underline"
          ng-if="dashboard.userIsAuthenticated">
          <i class="icon-plus-sign"></i>
        </a> -->
      </span>
    </div>
    <div class="refinery-sub-panel">
      <!--
      <ul
        class="no-list-style"
        ng-if="dashboard.allProjects.meta.total_count > 0">
        <li ng-repeat="project in dashboard.allProjects.objects">
          <i class="icon-user"></i>
          <a ng-href="projects/{{ project.uuid }}">{{ project.name }}</a>
        </li>
      </ul>
      <div
        class="refinery-request-loading"
        ng-if="dashboard.projectServiceLoading">
        <span class="refinery-spinner"></span>
      </div>
      <span
        class="alert alert-info"
        ng-if="dashboard.allProjects.meta.total_count === 0 && dashboard.allAnalyses.meta.total_count === 0">
        No projects found.
      </span>
      -->

      <div class="refinery-panel-header">
        <div
          class="refinery-notification"
          ng-class="{'active': dashboard.analyses.total === 0}">
          <div
            class="refinery-notification-info"
            ng-show="dashboard.analyses.total === 0">
            <strong>Info</strong>
            No analyses available.
          </div>
        </div>
        <div class="floatbox">
          <div class="floatbox-min-right">
            <span ng-if="dashboard.userIsAuthenticated">
              <button
                class="icon-only fa fa-filter"
                title="Filter &amp; Sort"
                ng-class="{'showing': dashboard.showAnalysesFilterSort, 'active': dashboard.analysesFilterSort}"
                ng-click="dashboard.showAnalysesFilterSort = !!!dashboard.showAnalysesFilterSort"
                ng-if="dashboard.analysesIsFilterable"
                close-on-outer-click-external-trigger="dashboard.analysesFilterSort"
                refinery-tooltip
                refinery-tooltip-container="body"
                refinery-tooltip-placement="right">
              </button>
            </span>
          </div>
          <div class="floatbox-max-left">
            <h4 id="total-analyses">
              {{ dashboard.analyses.totalReadable }}
              {{ dashboard.analyses.totalReadable > 1 ? 'analyses' : 'analysis' }}
            </h4>
          </div>
        </div>
      </div>
      <div
        class="refinery-filter-sort"
        ng-show="dashboard.showAnalysesFilterSort"
        close-on-outer-click="dashboard.showAnalysesFilterSort"
        close-on-outer-click-id="dashboard.analysesFilterSort">
        <h5>Filter by</h5>
        <div class="entry">
          <label class="radio">
            <input
              type="radio"
              value="RUNNING"
              ng-click="dashboard.toogleRadio()"
              ng-model="dashboard.analysesFilterStatus">
              Running
              <i class="info-icon analyses-status fa fa-cog"></i>
          </label>
        </div>
        <div class="entry">
          <label class="radio">
            <input
              type="radio"
              value="SUCCESS"
              ng-click="dashboard.toogleRadio()"
              ng-model="dashboard.analysesFilterStatus">
              Successful
              <i class="info-icon analyses-status fa fa-check-circle"></i>
          </label>
        </div>
        <div class="entry">
          <label class="radio">
            <input
              type="radio"
              value="FAILURE"
              ng-click="dashboard.toogleRadio()"
              ng-model="dashboard.analysesFilterStatus">
              Failed
              <i class="info-icon analyses-status fa
              fa-exclamation-triangle"></i>
          </label>
        </div>
        <div class="entry">
          <label class="radio">
            <input
              type="radio"
              value="UNKNOWN"
              ng-click="dashboard.toogleRadio()"
              ng-model="dashboard.analysesFilterStatus">
              Unknown
              <i class="info-icon analyses-status fa fa-question-circle"></i>
          </label>
        </div>
        <h5>Sort by</h5>
        <div
          class="entry"
          ng-repeat="sorting in dashboard.analysesSorting track by $index">
          <label class="radio radio-button-hide">
            <input
              type="radio"
              value="{{ sorting.djangoAttribute }}"
              ng-click="dashboard.toggleSortOrder('analyses')"
              ng-model="dashboard.analysesSortBy">
              <i
                class="sort-icon sort-active"
                ng-if="sorting.djangoAttribute === dashboard.analysesSortBy"
                ng-class="{'fa fa-sort-asc': !dashboard.analysesSortDesc,
                'fa fa-sort-desc': dashboard.analysesSortDesc}"></i>
              <i
                class="sort-icon fa fa-sort"
                ng-if="sorting.djangoAttribute !== dashboard.analysesSortBy"></i>
              {{ sorting.label }}
          </label>
        </div>
      </div>
      <div
        class="refinery-panel-content scrollable jquery-full-height"
        ui-scroll-viewport>
        <ul
          class="results no-list-style infinite-scrolling">
          <li
            ui-scroll="analysis in dashboard.analyses"
            buffer-size="50"
            adapter="dashboard.analysesAdapter">
            <span ng-switch on="analysis.status">
              <span ng-if="SUCCESS">
                <a ng-href='/data_sets/{{analysis.data_set__uuid}}/#/files/?{"{{analysis.facet_name}}":"{{analysis.name}}"}'>
                  {{ analysis.name }}
                </a>
              </span>
              <span ng-if="!SUCCESS">
                <a
                ng-href="/data_sets/{{analysis.data_set__uuid}}/#/analyses/">
                {{ analysis.name }}
              </a>
              </span>
            </span>
            <div class="flex-box indicators">
                <ul class="flex-item-two flex-left no-list-style">
                  <li class="indicator">
                    <i
                      class="analyses-status {{ analysis.status | analysisStatusIcon }}"
                      title="{{ analysis.status | analysisStatusTitle }}"
                      refinery-tooltip
                      refinery-tooltip-container="body"
                      refinery-tooltip-placement="left">
                    </i>
                  </li>
                  <li class="indicator">
                    <i
                      class="fa fa-user"
                      title="You ran this analysis"
                      ng-if="analysis.is_owner"
                      refinery-tooltip
                      refinery-tooltip-container="body"
                      refinery-tooltip-placement="top"></i>
                    <i
                      class="fa fa-users icon-shared-in"
                      title="Some collaborator ran this analysis"
                      ng-if="!analysis.is_owner"
                      refinery-tooltip
                      refinery-tooltip-container="body"
                      refinery-tooltip-placement="top"></i>
                  </li>
                  <li class="indicator"
                    title="Modification Date"
                    refinery-tooltip
                    refinery-tooltip-container="body"
                    refinery-tooltip-placement="top">
                    <i class="fa fa-calendar-o"></i>
                    {{ dashboard.readableDate(analysis, 'modification_date') }}
                  </li>
                  <li class="separator" ng-if="analysis.is_owner">&middot;</li>
                  <li class="indicator" ng-if="analysis.is_owner">
                    <i class="fa fa-trash-o analysis-delete pointer"
                      title="Delete Analysis"
                      ng-click="dashboard.openAnalysisDeleteModal(analysis)"
                      refinery-tooltip
                      refinery-tooltip-container="body"
                      refinery-tooltip-placement="right"
                      refinery-tooltip-hide-on-click="true">
                    </i>
                  </li>
                </ul>
              </div>
          </li>
          <li ng-if="dashboard.analysesAdapter.isLoading">
            <div class="refinery-request-loading">
              <span class="refinery-spinner"></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="workflows-panel"
  class="col-md-4 pushable"
  ng-class="{'pushed': dashboard.expandDataSetPanel}"
  ng-if="!dashboard.repoMode">
  <div class="refinery-panel">
    <div class="refinery-header">
      <span class="refinery-header-left">
        <h3><i class="m-r-1-4 fa fa-cog"></i>Workflows</h3>
      </span>
    </div>
    <div class="refinery-sub-panel">
      <div class="refinery-panel-header">
        <div
          class="refinery-notification"
          ng-class="{'active': dashboard.workflows.total === 0}">
          <div
            class="refinery-notification-info"
            ng-show="dashboard.workflows.total === 0">
            <strong>Info</strong>
            No workflows available.
          </div>
        </div>
        <div class="floatbox">
          <div class="floatbox-min-right">
            <span ng-if="dashboard.userIsAuthenticated">
              <button
                class="icon-only fa fa-filter"
                title="Filter &amp; Sort"
                ng-class="{'showing': dashboard.showWorkflowsFilterSort, 'active': dashboard.workflowsFilterSort}"
                ng-click="dashboard.showWorkflowsFilterSort = !!!dashboard.showWorkflowsFilterSort"
                ng-if="dashboard.workflows.totalReadable"
                close-on-outer-click-external-trigger="dashboard.workflowsFilterSort"
                refinery-tooltip
                refinery-tooltip-container="body"
                refinery-tooltip-placement="left">
              </button>
            </span>
          </div>
          <div class="floatbox-max-left">
            <h4>
              {{ dashboard.workflows.totalReadable }}
              {{ dashboard.workflows.totalReadable > 1 ? 'workflows' : 'workflow' }}
            </h4>
          </div>
        </div>
      </div>
      <div
        class="refinery-filter-sort"
        ng-show="dashboard.showWorkflowsFilterSort"
        close-on-outer-click="dashboard.showWorkflowsFilterSort"
        close-on-outer-click-id="dashboard.workflowsFilterSort">
        <h5>Sort by</h5>
        <div
          class="entry"
          ng-repeat="sorting in dashboard.workflowsSorting track by $index">
          <label class="radio radio-button-hide">
            <input
              type="radio"
              value="{{ sorting.djangoAttribute }}"
              ng-click="dashboard.toggleSortOrder('workflows')"
              ng-model="dashboard.workflowsSortBy">
              <i
                class="sort-icon sort-active"
                ng-if="sorting.djangoAttribute === dashboard.workflowsSortBy"
                ng-class="{'fa fa-sort-up': !dashboard.workflowsSortDesc,
                'fa fa-sort-desc': dashboard.workflowsSortDesc}"></i>
              <i
                class="sort-icon fa fa-sort"
                ng-if="sorting.djangoAttribute !== dashboard.workflowsSortBy"></i>
              {{ sorting.label }}
          </label>
        </div>
      </div>
      <div
        class="refinery-panel-content scrollable jquery-full-height"
        ui-scroll-viewport>
        <ul
          class="results no-list-style infinite-scrolling">
          <li
            ui-scroll="workflow in dashboard.workflows"
            buffer-size="50"
            adapter="dashboard.workflowsAdapter">
            <a ng-href="workflows/{{ workflow.uuid }}">{{ workflow.name }}</a>
          </li>
          <li ng-if="dashboard.workflowsAdapter.isLoading">
            <div class="refinery-request-loading">
              <span class="refinery-spinner"></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Intro.js Overview of SATORI -->
<div
  ng-intro-options="dashboard.introsSatoriOverview.options"
  ng-intro-method="dashboard.introsSatoriOverview._start"
  ng-intro-exit-method="dashboard.introsSatoriOverview._exit"
  ng-intro-onbeforechange="dashboard.introsSatoriOverview.beforeChangeEvent"
  ng-intro-autostart="dashboard.introsSatoriOverview.autoStart"
  ng-intro-oncomplete="dashboard.introsSatoriOverview.complete"
  ng-intro-onexit="dashboard.introsSatoriOverview.exit"></div>

<!-- Intro.js Details of the Data Set View -->
<div
  ng-intro-options="dashboard.introsSatoriDataSetView.options"
  ng-intro-method="dashboard.introsSatoriDataSetView._start"
  ng-intro-exit-method="dashboard.introsSatoriDataSetView._exit"
  ng-intro-onbeforechange="dashboard.introsSatoriDataSetView.beforeChangeEvent"
  ng-intro-autostart="dashboard.introsSatoriDataSetView.autoStart"
  ng-intro-oncomplete="dashboard.introsSatoriDataSetView.complete"
  ng-intro-onexit="dashboard.introsSatoriDataSetView.exit">
